[2021-11-26 03:39] guo-jun-airwallex commented on #503
Hi @jgrandja
![image](https://user-images.githubusercontent.com/89910782/143522495-d38eb710-bc39-43b7-b3aa-2380e4f58ec0.png)
Plz check this line again:

					authorizationRequest.getState() : authorizationCodeRequestAuthentication.getState();

When redirectOnError but no redirect uri in authorizationCodeRequestAuthentication
Then in `isConsent` authorization request, it use the state in authorizat

[2021-11-26 04:36] phuongdpham commented on #266
@jgrandja yeah, so how can we logout or disable current session for user logged in right now? Thanks,

[2021-11-26 11:31] learnting commented on #508
According to the description in [rfc7519](https://datatracker.ietf.org/doc/html/rfc7519#section-2), "The value portion of a claim representation. A Claim Value can be any JSON value."
So it should be allowed to be set to null.
personally, I think that the null value should not be set in the access token, which can reduce the length of the access token
when decoding access token, if there is no cla

[2021-11-26 11:53] jgrandja commented on #436
Thanks again @markhobson for catching this regression before the release next week.

This should not be resolved via c418306.

Can you please confirm the fix has restored original behaviour for your deny consent flow?

[2021-11-26 12:04] jgrandja commented on #503
@guo-jun-airwallex The Authorization Consent flow you're simulating using Postman is not correct. Please review and run the [messages sample](https://github.com/spring-projects/spring-authorization-server/tree/main/samples) to understand the Authorization Request -> Authorization Consent flow.

FYI, this flow has been working for quite some time now. If you still feel there is a bug, then please r

[2021-11-26 16:29] maio commented on #508
Good point @learnting, in my case I can probably omit such key(s). Thanks.

[2021-11-26 20:26] markhobson commented on #436
Hi @sjohnr @jgrandja, thanks for the replies and the quick fix. I've tried `main` and the deny consent flow now works correctly. Thank you!

[2021-11-26 21:20] jgrandja commented on #436
Excellent ! Thanks for checking!

[2021-11-27 03:59] peng-my opened #509 "spring-authorization-server 0.2.0 How to support password mode"
**Expected Behavior**

Able to get token
**Current Behavior**

{
    "error_description": "OAuth 2.0 Parameter: grant_type",
    "error": "unsupported_grant_type",
    "error_uri": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2"
}
**Context**

java

[2021-11-27 04:06] phuongdpham commented on #266
@jgrandja

Thanks,

[2021-11-27 11:24] pxzxj commented on #509
See #349 and #466

[2021-11-27 15:26] endink opened #510 "WebResponseExceptionTranslator alternative for customizing error response."
how to customize error response ??

in old spring security oauth2 project, there is a WebResponseExceptionTranslator interface to do it

[2021-11-27 17:42] have1568 opened #511 "OAuth2Authorization field tokens"
**Expected Behavior**

`OAuth2Authorization` field `Map<Class<? extends OAuth2Token>, Token<?>> tokens`:

`JdbcOAuth2AuthorizationService`  has a lot of columns to describe 4 types token . Can it have multiple types of tokens at the same time?

**Current Behavior**

If only one can exist at the same time，I think, then you don't need so many fields to describe this attribute .

**Context**

When I

[2021-11-29 03:07] guo-jun-airwallex commented on #503
@jgrandja
Sorry to reply later in Monday.

Here is my test:
[code]

I only change the state in authorization request to null:
![image](https://user-images.githubusercontent.com/89910782/143802420-06ded1a0-caf3-4ae0-bd4f-e2b4d84be398.png)

Then the test result is
![image](https://user-images.githubusercontent.com/89910782/143802473-b47f99f9-291d-4bcc-bd4a-e39765c9729c.png)

[2021-11-29 08:15] #509 closed

[2021-11-29 14:18] shanzhaozhen commented on #482
When can it be updated to the release version? I look forward to it

[2021-11-29 14:39] jgrandja commented on #479
@lu-cheng @jvalkeal @markhobson I've been mulling over the solution provided via 666d569 as I'm not quite happy with it. So I decided to revert the change before the release this week.

Unfortunately, it won't make it into `0.2.1` but I do plan on merging the improvements next week.

[2021-11-29 16:37] guo-jun-airwallex commented on #503
Hi @jgrandja
Hope you can check my test when you are free.
The code of my test
`authenticateWhenConsentRequestNotApprovedAndStateIsNullInRequestThenThrowOAuth2AuthorizationCodeRequestAuthenticationException`
is same with `authenticateWhenConsentRequestNotApprovedThenThrowOAuth2AuthorizationCodeRequestAuthenticationException`

The only line I modified is commented

It should throw OAuth2Authorizati

[2021-11-29 21:01] sjohnr commented on #482
Hi @colin-riddell. Since that is not something that's happening out of the box (e.g. in the existing sample), probably not at this time. However, it may be required in the future. As a current example, when using the UserInfo endpoint you need to enable `oauth2ResourceServer().jwt()`. So it's very close to a core requirement, but not enabled out-of-the-box as of yet.

Awesome. Thanks for the heads

[2021-11-30 05:14] bingyanzhang opened #512 "Customize oidc discover endpoint"
**Expected Behavior**
Able to customize oidc discover endpoint. It seems there is no way to customize it for now. OidcProviderConfigurationEndpointFilter.DEFAULT_OIDC_PROVIDER_CONFIGURATION_ENDPOINT_URI.
**Current Behavior**
OidcProviderConfigurationEndpointFilter use default value "/.well-known/openid-configuration" and it seems there is no way to customize the URL.

[2021-11-30 11:45] Blackmail92 commented on #487
There is a way to get over that problem - this bean works for me:
[code]
Hope this helps!

[2021-11-30 16:21] learnting commented on #510
like this
[code]

[2021-11-30 16:48] endink commented on #510
@learnting The implementation of SimpleUrlAuthicFailureHandler takes into context configurations, such as the defaultFailureUrl property, if you implement it by yourself, it will invalidate some external methods，a simple error response interface should be provided to customizing the error return response.

[2021-11-30 18:25] #495 closed

[2021-11-30 20:25] jgrandja opened #513 "Update to Spring Framework 5.3.13"
Update to Spring Framework `5.3.13`

[2021-11-30 20:27] jgrandja opened #514 "Update to Spring Security 5.5.3"
Update to Spring Security `5.5.3`

[2021-11-30 20:28] jgrandja opened #515 "Update Reactor to 2020.0.13"
Update Reactor to `2020.0.13`

[2021-11-30 20:32] jgrandja opened #516 "Update to Spring Boot 2.5.7"
Update to Spring Boot `2.5.7`

[2021-11-30 20:35] jgrandja opened #517 "Update to jackson-bom 2.12.5"
Update to jackson-bom `2.12.5`

[2021-11-30 20:39] #513 closed

[2021-11-30 20:39] #514 closed

[2021-11-30 20:39] #515 closed

[2021-11-30 20:39] #516 closed

[2021-11-30 20:39] #517 closed

[2021-12-01 02:29] learnting commented on #510
@endink  `errorResponseHandler()` also accepts an interface `AuthenticationFailureHandler`
Compared with `WebResponseExceptionTranslator`, I think `AuthenticationFailureHandler ` can meet your requirements
see `OAuth2TokenEndpointFilter::doFilterInternal`

[2021-12-01 07:04] octopusthu commented on #508
I think @maio 's original proposal of allowing `null` Claim values makes a lot of sense.

A missing Claim and a Claim with a `null` value could possibly convey very different business meanings. If a Claim is present in an ID Token but has `null` as its value, it means the OIDC Provider support this Claim yet the current user does not have this information. However, if a Claim is simply omitted fro

[2021-12-01 12:56] guo-jun-airwallex commented on #503
Hi @jgrandja
Sorry to bother your, could you check my test and confirm it again?

[2021-12-01 13:15] jgrandja commented on #503
@guo-jun-airwallex Thanks for providing the test as it did reveal a validation check was missing in `OAuth2AuthorizationCodeRequestAuthenticationConverter`.

I'm about to push the fix just in time for today's release.
Thanks again for reporting this!

[2021-12-01 13:19] #503 closed

[2021-12-01 15:28] andrea-pellegatta opened #518 "Incompatibility with Spring Security 5.6"
**Describe the bug**
I've recently updated spring boot (spring-boot-starter-parent) version from 2.5.6 to 2.6.1.
Spring Boot starter parent contains a dependency to spring-security-oauth2-jose 5.6.0.
When I request the access token, using the authorization code flow, I now get the following error

`failed to access class org.springframework.security.oauth2.jwt.JoseHeader from class org.springframe

[2021-12-01 19:35] haroldjcastillo commented on #487
@Blackmail92 Thanks, it's a good solution though, isn't it better if JWKSource can auto-detect the algorithm without creating that bean?

[2021-12-01 21:43] Blackmail92 commented on #487
@haroldjcastillo Well, it;s just a temporary workaround, until there would be a better way :) For now it does help with that issue, hope that sooner or later it wll be fixed)

[2021-12-01 22:31] fdimauro opened #519 "Unable to combine Authorization and Resource Server"
In the past we were able to combine the Authorization Service and the Resource Service. I am unable to do so with the new code base. The service fails trying to read from the "/.well-known/openid-configuration" endpoint and fails to start.

**To Reproduce**
Include .oauth2ResourceServer(OAuth2ResourceServerConfigurer::jwt) when building HttpSecurity.

[code]

Add the following to the configuration

[2021-12-02 01:33] sjohnr commented on #487
Thanks @Blackmail92 for the workaround! Unfortunately, this isn't at the top of my list yet, but I'll circle back to it asap.

[2021-12-02 07:25] SSDespair commented on #519
You can use it. Look at my screenshots
![image](https://user-images.githubusercontent.com/26852131/144376618-fa5449ac-b4c3-4c23-90b4-6bdbc725924a.png)
![image](https://user-images.githubusercontent.com/26852131/144376333-145e7e14-fa28-472c-a067-ac519becc4dc.png)

[2021-12-02 11:28] jgrandja commented on #508
@maio Thanks for your inquiry but questions are better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

Although the spec states:

It's debatable on whether "null" is considered a value. Personally, I do not see a valid use case on setting "null" for a claim. It wouldn't convey anything about the claim other than there is no va

[2021-12-02 11:28] #508 closed

[2021-12-02 11:36] jgrandja commented on #510
@endink Thanks for your inquiry but questions are better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

As @learnting mentioned, the `errorResponseHandler(AuthenticationFailureHandler errorResponseHandler)` is the configuration point for customizing the error response.

[2021-12-02 11:36] #510 closed

[2021-12-02 14:07] denis111 commented on #518
Spring Security 5.6 has the same class JoseHeader in the same package but it's not public(but I think it should be public).

[2021-12-02 15:09] jgrandja commented on #482
@mbarringer I was not able to reproduce the issue based on your detailed steps. Each time I clicked "Start Over", I was able obtain a token each time. FYI, I used the Postman app plugin within Chrome to issue the token request as this would  ensure the correct `Cookie` is used in the token request. I'm wondering if you're using the correct `Cookie` in your test scenario?

Either way, I really don'

[2021-12-02 18:17] sjohnr commented on #519
Hello @fdimauro, welcome to the project!

I'm curious, are you using the `issuer-uri` pointing back to *this* authorization server? Meaning, you're configuring Spring Security to call out to itself via an API call to `/.well-known/openid-configuration`?

[2021-12-02 18:24] fdimauro commented on #519
Yes, that was the case. Using the jwk-set-uri as in the example above appears to be a workable solution.

[2021-12-02 18:34] sjohnr commented on #519
@fdimauro, thanks for your quick reply!

While specifying `jwk-set-uri` is a possible workaround, I don't believe it's the correct one. Specifying an `issuer-uri` and/or `jwk-set-uri` is a way of telling the `.oauth2ResourceServer()` to call out to a separate authorization server to obtain the key(s). In your case, you can provide the keys directly through your own `JwtDecoder` instance. You would

[2021-12-02 18:34] #519 closed

[2021-12-02 21:48] jgrandja commented on #482
@mbarringer @edwardzjl
I was able to reproduce with the help of @sjohnr. This is an interesting find !

I'll get back to you after I find a fix.

[2021-12-03 05:22] fushengruomengzhang commented on #482
add Annotation  com.fasterxml.jackson.databind.annotation.JsonSerialize

[2021-12-03 05:36] tim-oe opened #520 "sql error trying to get tokenin auth flow mariadb 10.4"
**Describe the bug**
using the similar config to sample
https://github.com/spring-projects/spring-authorization-server/blob/main/samples/default-authorizationserver/src/main/java/sample/config/AuthorizationServerConfig.java

getting the following error:
org.springframework.jdbc.BadSqlGrammarException: PreparedStatementCallback; bad SQL grammar [SELECT id, registered_client_id, principal_name, auth

[2021-12-03 06:50] lcxw commented on #439
good , I'm really looking forward to it too.

[2021-12-04 04:04] rafaelrddc opened #521 "Failed to call endpoint userinfo"
Every time I try to call the userinfo endpoint I get a 401 return.

Example
curl --location --request GET 'http://127.0.0.1:9080/userinfo' --header 'Authorization: Bearer token'

To perform this test I used the repository's own test project

[2021-12-04 05:23] tim-oe commented on #520
upgrading to 2.1 fixed the issue

[2021-12-04 05:23] #520 closed

[2021-12-05 10:06] rayman245 opened #522 "Add null check in clientSettings and tokenSettings methods for RegisteredClient builder"
**Expected Behavior**
The RegisteredClient.Builder for clientSettings and tokenSettings should skip assigning the value passed if it's null.

**Current Behavior**
Both builder methods above would assign if its null and not use default settings which we see in the sample project.
![image](https://user-images.githubusercontent.com/11938827/144742124-9bbce991-b4b6-4a63-b825-e3316d6e7881.png)

**Conte

[2021-12-05 10:25] rayman245 commented on #522
This is the current implementation, to make it workable.

![image](https://user-images.githubusercontent.com/11938827/144742726-60a4f48d-6679-4f88-aa6b-a70710cf92fa.png)

[2021-12-05 19:21] keyhook commented on #521
There should be a filter that extracts the bearer token from the request header & set to the `SecurityContextHolder` beforehand. With the current implementation, the request can not reach the `OidcUserInfoEndpointFilter` but stops at the `FilterSecurityInterceptor` because of no authenticated principal (anonymous instead).

Waiting for the fix now.

[2021-12-06 09:20] lijiajia3515 opened #523 "OAuth2Authorization Jackson2 Support"
**Expected Behavior**

org.springframework.security.oauth2.server.authorization.OAuth2Authorization Redis Jackson2 Support

**Current Behavior**

## preview
[code]
**jackson2 deserialize map-key is a string and not a class**

## jackson2 serialize
[code]

## Redis oauth2authorizationService impl
[code]

**Context**
 oauth2AuthorizationService redis jackson2 impl, de/serialize normal!

[2021-12-06 10:40] WuYaoWang commented on #493
It's too long to wait for version 0.2.3. Can you advance it? thanks!

[2021-12-06 11:46] oridool commented on #383
@ledengesd , I'm not sure how to answer your last question regarding multiple login. In my application, I just added another REST endpoint and set it in WebSecurityConfigurer. It is assumed the user already logged in with an IDP and the REST request already contains the JWT.
I simply followed the example provided by @edwardzjl  .
The point is that you have to choose between the 2 methods and you c

[2021-12-07 14:07] SSDespair commented on #523
There is a problem with refreshing the token after extending the password mode. This needs to be modified and is not suitable for the extended mode

[2021-12-07 14:34] SSDespair commented on #523
The code that executes findBytoken is also wrong, and I wonder if you've tested it many times in your own code

[2021-12-07 14:41] lijiajia3515 commented on #523
@SSDespair you seem to be off topic, my request is `oauth2Authorization jackson2 deserialize`

[2021-12-07 14:44] lijiajia3515 commented on #523
field `tokens ` cannot deserialize, because he is a `Class<?>` map key

[2021-12-07 14:51] #482 closed

[2021-12-07 14:53] jgrandja commented on #482
@mbarringer @edwardzjl @colin-riddell This issue is related to a bug in Spring Security. See [spring-security#9993](https://github.com/spring-projects/spring-security/pull/9993). There is a fix in place and will be released in 5.7.0 GA, which is a way out.

FYI, the `OAuth2ClientAuthenticationToken` and `JwtAuthenticationToken` are marked as `@Transient` and therefore should NOT be persisted acros

[2021-12-07 15:10] colin-riddell commented on #482
Thanks @jgrandja. Does this mean that the `java.security.Principal`  in OAuth2Authorization's `attributes` should never be a `JwtAuthenticationToken` object or indeed `OAuth2ClientAuthenticationToken` - Or the entire entry shouldn't exist?

If so, would a valid work-around in the mean time be to drop that from the attributes map?

[2021-12-07 17:15] Blackmail92 opened #524 "Authorization code flow without user interaction"
**Expected Behavior**
Login can be performed through post params, OR with login form.

**Current Behavior**
Login can be done with Login form only.

**Context**
I am trying to implement the current spring auth server to our application. We used to work with the Resource Owner Password flow, but since it became unrecommended to use, I switched to authorization code. Problem is - the flow of the aut

[2021-12-08 06:06] WuYaoWang opened #525 "can't serialization OAuth2Authorization `org.springframework.security.oauth2.core.AuthorizationGrantType`"
**Describe the bug**
org.springframework.data.redis.serializer.SerializationException: Could not read JSON: Cannot construct instance of `org.springframework.security.oauth2.core.AuthorizationGrantType`

Because this class is final

**To Reproduce**
1.Redistemplate < string, Object > is used for storage OAuth2Authorization
like:
[code]
2. get "/oauth2/authorize" by response_type=code

**Expected b

[2021-12-08 09:27] edwardzjl commented on #524
You can custom your own rest login endpoint in spring security and get rid of the login form, but it's out of authorization-server's scope.

[2021-12-08 19:55] jgrandja commented on #477
@jackdpeterson Thanks for your interest in the reference documentation. We started work on it and have put together a "draft" outline in gh-499.

Regarding your documentation requests:

This will be covered in the “How-to Guides" - _"Authorize an access token containing custom authorities, e.g. roles, groups, permissions, etc."_

This will be covered in the “How-to Guides" - _"Handling errors and

[2021-12-08 19:55] #477 closed

[2021-12-08 20:21] jgrandja commented on #487
@haroldjcastillo

In a production deployment, it is highly likely that `JWKSource` will contain more than one key. There could be 2 active signing keys (RSA and EC) and 2 passive keys (RSA and EC). In this scenario, there is no way to deduce the correct `alg` to default for the `JoseHeader`.

Furthermore, a key can only be selected using attributes of the `JoseHeader`. A common selection strategy

[2021-12-08 20:21] #487 closed

[2021-12-08 20:31] jgrandja commented on #501
@ufkl We'll look at adding support for the `prompt` parameter when we start adding further support for OpenID Connect 1.0. At the moment, we have higher priority items we're working on. We will get to this but it will take some time.

[2021-12-08 21:03] jackdpeterson commented on #477
Thanks @jgrandja!

[2021-12-08 21:07] jgrandja commented on #511
@have1568 For future reference, questions are better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

Depending on the flow performed, there can be one or more tokens.
1) OpenID Connect `authorization_code` flow would result in `OAuth2AuthorizationCode`, `OAuth2AccessToken`, `OidcIdToken` and OPTIONAL `OAuth2RefreshToken`.
2) `

[2021-12-08 21:07] #511 closed

[2021-12-08 21:19] jgrandja commented on #523
@lijiajia3515 There is no functionality within the framework that requires `OAuth2Authorization` to be serialized/deserialized. We would only add the Mixin if the framework required it. You'll need to add and configure the custom Mixin in your application.

[2021-12-08 21:19] #523 closed

[2021-12-09 07:44] Blackmail92 commented on #480
A small question.. You say that it should work out of the box, but when I use the jdbc client repo and authorization service, I get an exception telling that a table is not created, and I need to create that first manually.. Should I define some missing property to force the app to create the tables automatically?

[2021-12-09 07:47] #525 closed

[2021-12-09 08:45] octopusthu commented on #468
Hi @jgrandja , the latest version of OAuth 2.1 is `draft-ietf-oauth-v2-1-04`, so perhaps you could update the link address in the original post to this: [3.2.3.1. Error Response](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-04#section-3.2.3.1)

[2021-12-09 08:51] xie-heng commented on #521
Try to add ResourceServer support in your code, I fix the same 401 problem.

httpSecurity.XXX.oauth2ResourceServer(xxx).build()

[https://stackoverflow.com/questions/62890622/how-to-get-userinfo-by-jwt-token-in-spring-security-oauth2-authorization-server](this) may help.

[2021-12-09 10:58] jgrandja commented on #512
@bingyanzhang As per spec, in [Section 4.  Obtaining OpenID Provider Configuration Information](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig):

I'm going to close this as the spec states the path must be formed using `/.well-known/openid-configuration` and therefore cannot be customized.

[2021-12-09 10:58] #512 closed

[2021-12-09 11:19] jgrandja commented on #518
@andrea-pellegatta Spring Authorization Server is not compatible with Spring Security `5.6`. With the recent `5.6` release, `JwtEncoder` was introduced in [spring-security#9208](https://github.com/spring-projects/spring-security/pull/9208), which resulted in this incompatibility since `JwtEncoder` also exists in this project.

FYI, our plan is to `@Deprecate` `JwtEncoder` (and associated classes)

[2021-12-09 11:33] jgrandja commented on #521
@rafaelrddc I suspect the issue is related to misconfiguration and/or invalid request (e.g. invalid token).

The UserInfo endpoint is working correctly. Please see the integration test `OidcUserInfoTests` to see how to setup the configuration and request.

[2021-12-09 11:33] #521 closed

[2021-12-09 13:18] boerngen-schmidt opened #526 "Include artifact coordinates in documentation"
Hello,

currently I found it quite a hassle to find the atrifact coodinates to use with maven or gradle.
It would be great if you could include a brief maven configuration like https://github.com/spring-projects/spring-data-mongodb#maven-configuration

Otherwise thanks for your awesome work.

[2021-12-09 13:28] boerngen-schmidt opened #527 "Incorrect project information in pom.xml"
**Describe the bug**
Information about the project in pom.xml seem to be wrong.

**To Reproduce**
See https://search.maven.org/artifact/org.springframework.security/spring-security-oauth2-authorization-server/0.2.1/jar

[code]

**Expected behavior**
Expected SCM to point this repository
Expected URL to point to this repository

[2021-12-09 14:33] denis111 commented on #518
@jgrandja Could you ask then Spring Security team to make JoseHeader public, please? Because we use it in custom granters...

[2021-12-09 14:46] jgrandja commented on #522
@rayman245

Based on the stacktrace, it doesn't make sense to pass `null` to `TokenSettings.withSettings(null)`.

The javadoc states:

However, the `settings` is NOT provided since it's `null`. The exception thrown by the assertion is valid.

Instead, you should call `TokenSettings.builder()` to return the default settings.

[2021-12-09 14:46] #522 closed

[2021-12-09 15:05] jgrandja commented on #524
@Blackmail92 The OAuth 2.1 protocol implementations provided by Spring Authorization Server are implemented per spec. We would not implement off spec. This would be the responsibility of the consuming application.

As @edwardzjl suggested, there are many ways to implement login using Spring Security. Please see the reference documentation for [Authentication](https://docs.spring.io/spring-security

[2021-12-09 15:05] #524 closed

[2021-12-09 16:33] jgrandja commented on #518
@denis111 [JwsHeader](https://github.com/spring-projects/spring-security/blob/main/oauth2/oauth2-jose/src/main/java/org/springframework/security/oauth2/jwt/JwsHeader.java#L34) is `public`. Does that work? If not, can you please provide more detail on why you need `JoseHeader` to be `public`? At the moment, there is no need to expose `JoseHeader` within the framework.

[2021-12-10 05:33] mbarringer commented on #482
Great, thank you @jgrandja and @sjohnr! The temporary fix works perfectly.

[2021-12-10 07:09] denis111 commented on #518
@jgrandja I need `JoseHeader` to generate JWT token in custom granter. Maybe if you make `JwtUtils` public we can make it without `JoseHeader`? Because for now I have to do this with 'copy-pasted' `JwtUtils`:
[code]

[2021-12-10 08:14] benothman opened #528 "upgrade from 0.2.0 to 0.2.1: java.lang.IllegalArgumentException: There is no PasswordEncoder mapped for the id "null""
I tried to upgrade to the latest release 0.2.1 from 0.2.0 but an exception was thrown during the login process. I am not sure where this could come from but it seems to look for a PasswordEncoder by passing an `null` value of the `id`.

I tried to debug it and I noticed that it tries to match password multiple time with the correct `bcrypt` password encoder and then it fails because of `null` id

[2021-12-10 10:26] jgrandja commented on #528
@benothman This issue is related to the changes applied in gh-496. To resolve this, ensure the `RegisteredClient.clientSecret` is configured with the correct hashing algorithm. If it's stored as plain text then it should be `{noop}the_secret`. See this specific [change](https://github.com/spring-projects/spring-authorization-server/commit/f0b19f30d1cf0ddaf12a0414c7a845c1b55eeb0e#diff-f5dda852b1171

[2021-12-10 10:26] #528 closed

[2021-12-10 10:33] jgrandja commented on #518
@denis111

This is not enough detail. Please log more detail in gh-414 as this conversation if off topic from the main issue.

[2021-12-10 10:43] benothman commented on #528
Perfect, thanks.

[2021-12-10 10:52] denis111 commented on #414
The same happens to me, I had to copy-paste `JwtUtil` besides it seems that `JoseHeader` needs to be public because `JwtUtil` returns `JoseHeader.Builder` if you call `JwtUtils.headers()` that is needed to call then `JwtEncodingContext.with(headersBuilder, claimsBuilder)`.  But I see that conflicting class `JoseHeader` in Spring Security 5.6 is not public! So to make any custom Provider we `JoseHe

[2021-12-10 11:14] jgrandja commented on #526
Thanks for the request @boerngen-schmidt.

This will be covered in gh-499 in the section "Getting Started -> Installing Spring Authorization Server".

I'll close this as a duplicate.

[2021-12-10 11:14] #526 closed

[2021-12-10 11:36] jgrandja commented on #527
Thanks for the report @boerngen-schmidt.

We'll look into this shortly.

[2021-12-10 13:09] jgrandja commented on #527
@sjohnr Looks like we'll need to integrate the [MavenPublishingConventionsPlugin](https://github.com/spring-projects/spring-security/blob/main/buildSrc/src/main/java/org/springframework/gradle/maven/MavenPublishingConventionsPlugin.java) into this project.

[2021-12-11 05:56] endink commented on #493
+1
need the feature too!

[2021-12-11 12:59] vitor-ferreira-sousa opened #529 "Error Spring 2.2.2 com.nimbusds.jose.jwk.JWKSet.toJSONObject()Lnet/minidev/json/JSONObject"
**Describe the bug**
Hello, I have a Spring Boot 2.2.2 Release application with Spring Security Oauth2 2.3.7.RELEASE and nimbus-jose-jwt capturing the same version from oauth2-oidc-sdk.version. for my tests via Postman making a recording that requests the key generated by oauth2 works normally but when taking my application through Payara Server the same request in postman returns 401 and Payara r

[2021-12-11 13:04] vitor-ferreira-sousa commented on #529
This is my first issue so the final part that i put the dependence on nimbus missing the tags
`<dependency>
	<groupId>com.nimbusds</groupId>
	<artifactId>oauth2-oidc-sdk</artifactId>
	<version>${oauth2-oidc-sdk.version}</version>
	<exclusions>
		<exclusion>
			<groupId>com.nimbusds</groupId>
			<artifactId>nimbus-jose-jwt</artifactId>
		</exclusion>
	</exclusions>
</dependency>`

[2021-12-13 14:25] GrmpfNarf commented on #417
Hi @sjohnr. First sorry for the very late answer I just forgot and the project was frozen in my company. But now it is again under development.
And yes this solution will be acceptable and it whould be nice when the methods
[code]
Will not only add the AuthenticationProvider but also the AuthenticationConverter, or there are similiar methods for the converter.

[2021-12-13 20:37] sjohnr commented on #482
@jgrandja @colin-riddell

I believe what @colin-riddell is referring to (since we discussed this together offline) is a custom scenario using a different authentication mechanism other than form login, for example using JWT authentication. In this case, it seems possible that `JwtAuthenticationToken` would be placed in the `java.security.Principal` attribute as it is actually the principal represe

[2021-12-13 21:00] sjohnr commented on #417
Thanks @GrmpfNarf for the feedback. Based on more recent discussion, a better idea for how to approach this is to add a `Consumer`-based method. For example:

[code]

This would give you access to the list of defaults from the configurer, and the ability add to or completely override the defaults.

This does not address the converters. However, I think the converters are not a problem, because the

[2021-12-14 05:02] bostandyksoft commented on #521
It works, because example is configured with OAuth2ResourceServerConfigurer. It appends BearerTokenAuthenticationFilter, that converts header Authorization to security Authentication. But in common, i don't think, that it is practicated

[2021-12-14 07:53] GrmpfNarf commented on #417
I'm fine with this solution also. I can add the converter by my solution above, so having them addable by the same way like the providers is a nice to have. In my opinion it is more consitent by adding them the same way like the providers because without them the providers didn't work.

[2021-12-14 23:16] #476 closed

[2021-12-15 17:14] lijiajia3515 commented on #306
I am struggling with the same issue.
1. `/oauth2/authorization`  -> SessionCreationPolicy.IF_REQUIRED
2. `/oauth2/token`  `/oauth2/jwks`  `/oauth2/revoke`  `/oauth2/introspect`  `/.well-known/oauth-authorization-server ` SessionCreationPolicy.STATELESS

When configuring `OAuth2AuthorizationServerConfigurer`, the above two points cannot be configured, and `SessionCreationPolicy.IF_REQUIRED` is not

[2021-12-15 17:24] lijiajia3515 commented on #306
When the authorization server and the resource server exist at the same time, the resource server generally does not need a cookie method, but is stateless, which will cause the cookie to be rewritten as stateful and stored in the browser(in the resource server request)

[2021-12-16 07:38] GrmpfNarf opened #531 "Add ability to change client secret"
**Expected Behavior**
The ``RegisteredClientRepository`` should have the ability to change the client secret of an existing client.

**Current Behavior**
In version 0.2.1 the ability was removed because in prior versions the secret was encoded twice. The Bug and PR are reported in issue #389.

**Context**
I have a adminstration UI for the clients where it should be possible to edit the secret with

[2021-12-16 10:07] Blackmail92 commented on #487
There is one problem. @jgrandja @sjohnr  Really sorry for tag, but there is a small issue with this workaround, probably you could help with it. Problem is - when I use the ECDSA key with the secp256k1 curve (alg=ES256K), and customise the header as I provided above, when a resource server checks the token, it cant find the required alg, because jwsAlgorythms in `JWSVerificationKeySelector` list i

[2021-12-16 17:38] sjohnr commented on #306
@lijiajia3515, apologies but I'm having a slightly difficult time understanding your comment. Are you asking a question, or simply pointing out an example of how to accomplish your particular goal?

[2021-12-16 19:06] #59 closed

[2021-12-16 20:10] sjohnr commented on #487
Hi @Blackmail92, I understand you're working on getting the key selector functionality to use your desired algorithm. This feels like a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it). We will tr

[2021-12-17 16:34] jgrandja opened #532 "How-to: Obtain an access token using a specific grant_type"
Publish a guide on How-to: Obtain an access token using a specific `grant_type`:

- `authorization_code`
- `client_credentials`
- `refresh_token`

Related gh-499

[2021-12-17 16:38] jgrandja opened #533 "How-to: Customize form based login"
Publish a guide on How-to: Customize form based login

Related gh-499

[2021-12-17 16:39] jgrandja opened #534 "How-to: Authenticate a user with two-factor authentication"
Publish a guide on How-to: Authenticate a user with two-factor authentication

Related gh-499

[2021-12-17 16:40] jgrandja opened #535 "How-to: Customize the user consent page"
Publish a guide on How-to: Customize the user consent page

Related gh-499

[2021-12-17 16:41] jgrandja opened #536 "How-to: Authenticate using OpenID Connect 1.0 authorization_code flow"
Publish a guide on How-to: Authenticate using OpenID Connect 1.0 `authorization_code` flow

Related gh-499

[2021-12-17 16:43] jgrandja opened #537 "How-to: Customize the OpenID Connect 1.0 UserInfo response"
Publish a guide on How-to: Customize the OpenID Connect 1.0 UserInfo response

Related gh-499

[2021-12-17 16:45] jgrandja opened #538 "How-to: Authenticate using social login"
Publish a guide on How-to: Authenticate using social login, e.g. Google

Related gh-499, gh-106

[2021-12-17 16:46] jgrandja opened #539 "How-to: Authenticate a user in a Single Page Application with PKCE"
Publish a guide on How-to: Authenticate a user in a Single Page Application with PKCE

Related gh-499, gh-536

[2021-12-17 16:47] jgrandja opened #540 "How-to: Customize client authentication for specific authentication methods"
Publish a guide on How-to: Customize client authentication for specific authentication methods

Related gh-499

[2021-12-17 16:48] jgrandja opened #541 "How-to: Handle errors and customize the OAuth 2.0 Error response"
Publish a guide on How-to: Handle errors and customize the OAuth 2.0 Error response

Related gh-499

[2021-12-17 16:51] jgrandja opened #542 "How-to: Authorize an access token containing custom authorities"
Publish a guide on How-to: Authorize an access token containing custom authorities, e.g. roles, groups, permissions, etc.
- How-to: Customize the headers / claims in a JWT

Related gh-499

[2021-12-17 16:52] jgrandja opened #543 "How-to: Deny access for a revoked JWT access token"
Publish a guide on How-to: Deny access for a revoked JWT access token

- How-to: Introspect / revoke an access token

Related gh-499

[2021-12-17 16:53] jgrandja opened #544 "How-to: Provide a JWK source backed by a key rotation strategy"
Publish a guide on How-to: Provide a JWK source backed by a key rotation strategy

Related gh-499

[2021-12-17 16:55] jgrandja opened #545 "How-to: Implement the core services with JPA"
Publish a guide on How-to: Implement the core services with JPA:

- `RegisteredClientRepository`
- `OAuth2AuthorizationService`
- `OAuth2AuthorizationConsentService`

Related gh-499

[2021-12-17 18:22] rlewczuk opened #546 "Implement JWT Authorization Grants"
Implement JWT Authorization Grant as defined in RFC 7523.

[2021-12-17 18:42] rlewczuk commented on #159
Not sure when we'll reach MVP, lack of logs hampers authorization server in real world workloads. The same can be said about audit events, albeit to lesser extent and I'm not sure if it belongs to this ticket or new one should be created.

I can try implementing at least some if it's not too early and if (as an outsider) I'm proper person for such task (this is comprehensive, I'll probably need so

[2021-12-20 14:15] NotFound403 commented on #499
Architecture Pic

[2021-12-21 19:54] rafaelrddc commented on #521
@jgrandja  What do you think we added in the project examples this configuration?

I can try to do a PR with this improvement.

[2021-12-22 06:15] mensa23 opened #548 "OAuth2AccessTokenAuthenticationToken authorities"
Why OAuth2AccessTokenAuthenticationToken's authorities is Collections.emptyList()?

Any method can setAuthorities in OAuth2AccessTokenAuthenticationToken?

Source Code:
https://github.com/spring-projects/spring-authorization-server/blob/main/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/authentication/OAuth2AccessTokenAuthenticationToken.java

[2021-12-22 08:25] limng06 opened #549 "the sample does not work well with spring-boot 2.6.1"
**Describe the bug**
java.lang.IllegalAccessError: failed to access class org.springframework.security.oauth2.jwt.JoseHeader from class org.springframework.security.oauth2.server.authorization.authentication.JwtUtils (org.springframework.security.oauth2.jwt.JoseHeader and org.springframework.security.oauth2.server.authorization.authentication.JwtUtils are in unnamed module of loader 'app')
	at org

[2021-12-22 08:26] #549 closed

[2021-12-22 08:27] limng06 commented on #549
#518

[2021-12-22 15:47] laszlof opened #550 "Default schema exceeds mysql row limits"
**Describe the bug**
The default schema included with this exceeds the physical limits set by mysql (65,535 bytes) when using a utf8 character set. This issue is further compounded if you are using a clustered storage engine (NDB) which has an even lower row size limit (30K bytes).

**To Reproduce**
- Build mysql-cluster docker image: https://hub.docker.com/r/mysql/mysql-cluster/
- create an empty

[2021-12-22 16:46] sjohnr commented on #159
@rlewczuk,

Regarding audit events, see [this comment](https://github.com/spring-projects-experimental/spring-authorization-server/pull/217#issuecomment-796893680). The decision was made not to pursue that at this time as there is already a hook to hang auditing on in Spring Security. If however you are referring to something more specific, please open an issue with the details and we can discuss

[2021-12-22 17:02] sjohnr commented on #521
@rafaelrddc as @jgrandja mentioned, the endpoint is working as designed. We intentionally designed it to be behind the `FilterSecurityInterceptor` and do not require a change at this time. If you want to use the UserInfo endpoint, please enable resource server support in your configuration, as demonstrated in the `OidcUserInfoTests`.

[2021-12-22 17:08] sjohnr commented on #548
Hi @mensa23. Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add a [minimal sample](https://stackoverflow.com/help/minimal-reproducible

[2021-12-22 17:08] #548 closed

[2021-12-22 17:34] sjohnr commented on #550
@laszlof thanks for the report. It seems possible that this began happening in mysql with 14cb58df2b334126d5ee0c69e4ddfb81edaa5011.

As mentioned in this [comment](https://github.com/spring-projects/spring-security/issues/8539#issuecomment-631030998):

In this case, I don't think mysql is non-standard. But it still applies that it is difficult to make a simplified JDBC implementation work across t

[2021-12-22 17:46] laszlof commented on #550
@sjohnr Thanks for the reply. We've already customized the schema on our end. I just wanted to bring awareness to the fact that the recent change in https://github.com/spring-projects/spring-authorization-server/commit/14cb58df2b334126d5ee0c69e4ddfb81edaa5011 effectively breaks its out of the box usage for all mysql databases.

I agree its difficult to provide an implementation that will work out

[2021-12-22 17:58] rafaelrddc commented on #521
I understand, and I did the test and it really is working correctly.

My point would be to add this configuration in the project examples. Not to generate this doubt again.

[2021-12-22 18:46] sjohnr commented on #521
Thanks @rafaelrddc. I would encourage you to upvote #537 as that guide would contain all the information I think you're looking for/suggesting.

[2021-12-23 11:33] colin-riddell opened #551 "How-to: Authenticate a user that was authenticated through external system"
How to authenticate a user based on another JWT - eg  pre-authenticate the user that was authenticated through another (separately hosted) login page. The guide could be called "How to use SAS with existing non-oauth system + login page" or something?

This would be very useful as there are a lot of systems out there that are built on JWT, but don't provide full OAuth2.0 flow support. This would a

[2021-12-23 11:54] colin-riddell opened #552 "How-to: Test your authorization server"
What's the best way to test that my implementation of authorization server works for my needs

* Integration testing the authorization server locally using e.g. JUnit. It is possible to write a test with mockMvc calls
* Selenium/Cypress/SoapUI/Postman etc?
* OAuth 2.x conformance suite? Does such a thing exist? Is it proprietary?

Ref: https://github.com/spring-projects/spring-authorization-server

[2021-12-23 12:45] zhenchuan9r opened #553 "Best practise for jwkSource?"
Currently, jwkSource is created by host application but not the framework (I mean spring-authorization-server). I would like to ask what is the best practise for jwkSource management?
I wonder if it should be created once and unchanged forever. But I don't quite understand the clients' behaviour if the server changes its key store online.
Any suggestions, or built-in jwkSource management feature w

[2021-12-23 15:57] oridool commented on #528
Hi @jgrandja , I also have the same error after upgrade.
Can you clarify what does it mean `"ensure the RegisteredClient.clientSecret is configured with the correct hashing algorithm."` ?
Is there a new property on the client I should set before calling `save()` ?
Or is it expected that now my code will encrypt the secret using my own encoder?

It would be nice if you can provide an example, since

[2021-12-23 16:00] benothman commented on #528
@oridool
you can just use a PasswordEncoder and encode the client secret when setting that value
`.clientSecret(passwordEncoder.encode("the_secret"))`

[2021-12-23 17:14] oridool commented on #528
thanks @benothman , this is exactly what I did :)
I thought there is another better way that I was missing...

[2021-12-23 18:48] sjohnr commented on #528
@oridool that's currently the correct way to do it. The reason is that it's challenging to handle saving a new client vs. saving an existing client, as the secret would get double-encoded if the framework encodes it for you. It could be solved in the future with a separate method for updating a client secret. We're striving for backwards compatibility at the moment, so we'll be deferring that API

[2021-12-23 18:59] sjohnr commented on #553
Hi @zhenchuan9r, thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it).

Note that enhancement requests would ideally have more details and be m

[2021-12-23 18:59] #553 closed

[2021-12-23 19:11] sjohnr commented on #552
Hi @colin-riddell, thanks for the suggestion! Just for clarity for others, could you update the issue and say just a bit more about your suggestion? For example, you may be suggesting a guide for:

1. Integration testing the authorization server locally using e.g. JUnit
2. Building a test suite for end-to-end OAuth flows using an automated testing tool e.g. Selenium/SoapUI/Postman/etc.
3. Other?

[2021-12-23 19:46] sjohnr commented on #551
For others, just a note to see [this answer](https://stackoverflow.com/a/69577014/15835039) to the stackoverflow question specifically. This would be adapting that answer into a guide. Another option for this How-to could be:

* How-to: Externally authenticate a user without OAuth or SAML

Or even:

* How-to: Pre-authenticate a user with a JWT assertion in the URL

As I mentioned in the SO answer,

[2021-12-24 02:41] zhenchuan9r commented on #544
I need this too.

[2021-12-28 07:37] endink commented on #518
How to fix this problem in this version? Can we hear some good news?

[2021-12-28 13:15] clgraf opened #555 "How-to: Remember-me with a Single Page Application"
I’m posting this issue based on the excellent new how-to's issues….

I’m struggling with the “remember-me” feature (SPA context) and I don’t know if such topic is appropriate to the Spring Authorization Server.

I tried to setup the remember-me feature in the SecurityFilterChain. The cookie is created in the browser and the authentication is done later in the server, but the login page (a custom o

[2021-12-28 13:32] GrmpfNarf opened #556 "Cleanup mechnism for expired authorizations"
**Expected Behavior**
There should be a mechanism to cleanup expired authorizations.

**Current Behavior**
When an authorization is expired (access and refresh token) then it stays in the Database forever which exceeds the size of the table.

**Context**
When the server is used with a large count of users the table with the authorizations gets quite big which is not necessary and can result in per

[2021-12-28 23:21] mikesaurus opened #557 "Authorization JDBC column limits too small"
**Describe the bug**
The oauth2_authorization.attributes, .access_token_metadata, and .oidc_token_metadata database columns are limited to 4000, 2000, and 2000 characters respectively.  When introducing a JWT customizer, the token claims set can increase the number of characters required to be stored in the two metadata columns above 2000 characters.  Also, the attributes columns includes the auth

[2021-12-28 23:54] mikesaurus opened #558 "Support for NoSql datastores (Redis)"
**Expected Behavior**
Some infrastructures do not include SQL-based data stores and instead make extensive use of NoSql data stores such as Redis, making the introduction of a SQL data store to support OAuth capabilities incredibly burdensome.  spring-authorization-server data objects that are persisted as part of the process flow (such as OAuth2Authorization) should be easily (de)serializable usi

[2021-12-29 00:04] mikesaurus commented on #558
One option would be to include a JsonMapper<T> in spring-authorization-server that encapsulates the OAuth2 Object<->JSON mapping so that the actual data objects don't have to change, but anyone wishing to implement a document-based persistence strategy can easily transform the objects to/from JSON without requiring the internal data mapping to be implemented outside of spring-auth-server.

[2021-12-29 18:01] mikesaurus opened #559 "OAuth2AccessTokenResponseHttpMessageConverter class should be public for custom token response handling"
**Expected Behavior**
When writing a custom AuthenticationSuccessHandler to customize the token response, the Spring OAuth2AccessTokenResponseHttpMessageConverter class should be available to write the token response back to the client.

**Current Behavior**
Writing the token response back to the client in a custom AuthenticationSuccessHandler currently requires duplication of the logic encapsulat

[2021-12-29 18:08] mikesaurus commented on #559
At least until upgrading to Spring Security 5.6.0 GA and the class is presumably removed.

[2021-12-30 03:41] bjornharvold commented on #558
Agree.

I started creating our own MongoOAuth2AuthorizationService and MongoOAuth2AuthorizationConsentService. Serializing / Deserializing to MongoDb is a nightmare. I tried to look at the JDBC version but didn't provide much guidance in terms of an easy way to port.

Attaching what I've done so far. The MongoRegisteredClientRepository seems OK but currently chose to use the in-memory implementati

[2021-12-30 11:52] funs690 opened #560 "server not support postgresql"
Database postegresql is used in my project, want to chang cas server to srping authorization server, but it not support postgresql. it cant be change the datasoure of jdbctempalte, or support postgresql?

[2021-12-30 13:05] mabujaber commented on #499
- Best practice section for web, mobile, server, and ..etc

[2021-12-31 04:53] dilipdhankecha opened #561 "Invalid Client While Generate AccessToken From AuthCode"
**Describe the bug**
When we are use **/oauth2/authorize** endpoint for generate authorization code then it will work fine as we expect but once we got Authorization code and try to **generate accessToken and RefreshToken** from that token then it will give an **Invalid Client error**.

**To Reproduce**
First We are register one client with **RegisteredClientRepository** as mentioned below..

[cod

[2021-12-31 07:00] SSDespair opened #562 "want to change the RegisteredClient property protected to public"
When I tried to rewrite the RegisteredClient to add more fields, it was protected. I wanted it to be open

[2021-12-31 18:40] erised commented on #414
Hi @jgrandja.
May I take this up if it is not already assigned to anyone ?

[2022-01-01 05:10] bjornharvold opened #563 "/userinfo endpoint missing"
I'm not sure whether I should mark this as a feature request or a bug request. I'm also not sure if I a missing something. As this is a new feature, I am trying to figure out how this is done correctly.

**Describe the bug**
When looking at the openid-configuration document, the userinfo endpoint is not present.

**To Reproduce**
I've enabled the user info as described in OidcUserInfoTests.java. S

[2022-01-02 19:16] rcbandit111 opened #564 "How to: Use Spring Authorization server behind Spring Cloud Gateway"
Publish a guide on How-to: Implement the core services behind Spring Cloud Gateway:

[2022-01-03 03:07] Skippr-admin commented on #558
I have implemented MongoDb version of this already for my personal project. But that's not very well structured right now. I am happy to discuss, plan and contribute.

[2022-01-03 03:08] skhokhar73 commented on #558
I have implemented MongoDb version of this already for my personal project. But that's not very well structured right now. I am happy to discuss, plan and contribute.

[2022-01-03 13:58] GrmpfNarf opened #565 "Allow localhost redirect URIs for development"
**Expected Behavior**
Redirect URIs which pointing on localhost should be allowed while developing.

**Current Behavior**
Currently when I try to use a redirect URI which points to localhost an invalid request is displayed because in
https://github.com/spring-projects/spring-authorization-server/blob/28ac43bd503db92a13ec91698120e14af2ecc10d/oauth2-authorization-server/src/main/java/org/springframe

[2022-01-03 16:24] sjohnr commented on #564
Related #499

[2022-01-03 17:22] sjohnr commented on #563
@bjornharvold, thanks for your interest in the project! I believe this is a duplicate of #488 (though the description does not mention openid-configuration specifically). I'm going to close this as a duplicate for now, but let me know if you feel I've missed anything.

[2022-01-03 17:22] #563 closed

[2022-01-03 17:50] sjohnr commented on #562
Hi @SSDespair. Unfortunately, this issue does not contain enough information. Please use the issue templates when reporting a new issue. See [New Issue](https://github.com/spring-projects/spring-authorization-server/issues/new/choose) for existing templates.

I would suggest you consider asking a question on [Stack Overflow](https://stackoverflow.com/) or opening a request for a How-to guide if yo

[2022-01-03 17:50] #562 closed

[2022-01-03 18:09] sjohnr commented on #561
@dilipdhankecha, thanks for your interest in the project!

I looked briefly at your provided sample, and it is currently using your domain as the redirect uri, so I can't test it. However, the snippet above uses a `redirect_uri` with `localhost`, which is not supported. The samples in this project use `127.0.0.1` instead for local testing. Please change your sample to match and try again, for exam

[2022-01-03 18:09] #561 closed

[2022-01-03 18:37] sjohnr commented on #558
@bjornharvold,

The `MongoRegisteredClientRepository` does indeed seem like a good start! For more examples of how to support another data store (in this case JPA), please see the following examples:

* [JpaRegisteredClientRepository](https://gist.github.com/sjohnr/0c6065d90d11a0f24bd3f15cbbaa8527)
* [JpaOAuth2AuthorizationService](https://gist.github.com/sjohnr/463448fc00cf6059dd2892aed1e63d3c)
*

[2022-01-03 19:40] sjohnr commented on #555
Hi @clgraf!

Thanks for the questions. However, I'm going to go ahead and edit this to be a how-to guide request, relating to #4 above. As far as your other questions, I think they would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements (in this case, how-to guides *are* enhancements for the docs). Feel free to update th

[2022-01-03 19:42] sjohnr commented on #555
Related #499

[2022-01-04 03:21] bjornharvold commented on #518
Yes, is there any way to fix the current version or do we have to downgrade to Spring Boot 2.5.8?

[2022-01-04 05:30] endink commented on #518
@bjornharvold

It seems that there is no way, we have downgraded to spring security 5.5.4, but still springboot 2.6.2, it seems worked!

[code]

[2022-01-04 10:48] bjornharvold commented on #488
🍻

[2022-01-04 13:32] bjornharvold commented on #558
Just looked at the new Jdbc code. This has changed drastically since last time I wrote my MongoDb implementations. Will use these as a base. Can share code when done.

[2022-01-04 17:10] mikesaurus commented on #558
@sjohnr -
Apologies.  I was just throwing an idea out there in my comment and wasn't trying to be specific.  Saying `JsonMapper<T>` was a poor choice of words.  My thought was for the Spring project to provide a custom JSON mapping interface along with Spring OAuth class specific implementations for the key OAuth objects that are being persisted by the Spring Auth Server library.  I haven't really

[2022-01-04 17:36] sjohnr commented on #558
Hey @mikesaurus, thanks for the reply. No problem on the wording, I was also just using your example as an example, so I think we're on the same page. :smile: I also agree that focusing on the `OAuth2Authorization` could be a good start, and we can sort out the details of what the `interface` for mapping it looks like closer to implementation. Questions/thoughts:

* If the project can provide the

[2022-01-04 17:39] mikesaurus commented on #559
This should probably be closed.  The existing Spring Security implementation (pre-5.6.0) works fine until the upgrade to 5.6.0+.  No need to change the Spring Auth Server code for a temporary fix.

[2022-01-04 18:23] sjohnr commented on #559
Thanks @mikesaurus. I think the update to 5.6 will be high on the list of priorities. I'll close this for now.

[2022-01-04 18:23] #559 closed

[2022-01-05 00:59] mikesaurus commented on #558
Hey @sjohnr
TL;DR; -> I think the JSON mapping should be enough to implement a NoSql version of the data service.  On a `save`, we'd be extracting the available token/id values from the OAuth2Authorization object, transforming the object to JSON, and then storing the document for each of the extracted key values.  The `find` process would consist a key lookup using the provided token value and tok

[2022-01-05 01:45] hezhongfeng commented on #383
@oridool Thanks for your code, it works well.

[2022-01-05 05:37] sjohnr commented on #558
Thanks @mikesaurus, very helpful information/feedback to ensure we're working towards something the community can use. You're in a perfect position to give that feedback because you're porting from the old auth server to this one, so that's great!

I will not comment too much on the design principles of a Redis implementation here, but having done one or two similar implementations in the past, I'

[2022-01-05 08:16] ShannonHung commented on #383
Thank you! It works.
This is my current SecurityConfig

[code]

[2022-01-05 09:48] hezhongfeng commented on #528
@sjohnr
client-secret: secret
and server must save {noop}secret
want a bad match method.
It took me a lot of time to figure it out

[2022-01-05 09:50] hezhongfeng commented on #528
I think use `new BCryptPasswordEncoder()` to match,but is not.

[2022-01-05 10:04] ChainFoxBot opened #566 "Is it reasonable to use Bcrypt passwordEncoder for client Authentication ?"
**Current Behavior**
When calling the token grant API, the system needs to authenticate the client information which uses Bcrypt to validate the client-secret. It leads the interface to cost around 2s to complete the http-request. It seems too slow.
Is it reasonable for a login system to do this ?

Here is the  test report which use K6 load test tool.

Test Machine:

[code]
K6 test command:
[code]

[2022-01-05 12:08] Ravis22 opened #567 "Access token with custom claims having value Long is throwing error: The class with java.lang.Long and name of java.lang.Long is not in the allowlist."
**Describe the bug**
Custom access token with claim having value as Long is not getting revoked as during deserialization of access token object mapper throws error.

**To Reproduce**
User this access token to verify the deserialisation is failing
{"@class":"java.util.Collections$UnmodifiableMap","metadata.token.claims":{"@class":"java.util.Collections$UnmodifiableMap","sub":"535","user-authoritie

[2022-01-05 15:54] jgrandja commented on #552
Related gh-258

[2022-01-05 16:39] sjohnr commented on #528
Sorry @hezhongfeng, apologies but I don't quite follow.

[2022-01-06 00:43] mikesaurus commented on #558
@sjohnr, I hadn't thought about indexing since I've been so focused on the JSON transformation.  Wrapping the JSON payload in an entity with some indexed token value properties might be a simple/clean solution that I can try out when I get to that point.  Thanks for the idea and for all of the hard work on the project!

[2022-01-06 01:19] rcbandit111 commented on #564
When I can expect this guide?

[2022-01-06 04:16] funs690 opened #568 "client_secret like "Abc123++" get token failed"
ClientSecretBasicAuthenticationConverter line 88-89
"Abc123++" after URLDecoder.decode change to "Abc123  "

###############
Basic Authentication set client_id and client_secret in the header. So no need to URLDecoder.decode again!

[2022-01-06 14:58] jgrandja commented on #414
@erised Let me get back to you next week. I'm playing catch up this week :)

[2022-01-06 20:02] #531 closed

[2022-01-06 20:20] jgrandja commented on #556
@GrmpfNarf For similar reasons explained in [gh-531](https://github.com/spring-projects/spring-authorization-server/issues/531#issuecomment-1006896285), cleaning up expired (or invalidated) `OAuth2Authorization`'s is not a feature concern for this project and would therefore not be implemented.

Furthermore, each deployed application will have their own requirements on cleaning up or archiving `OA

[2022-01-06 20:20] #556 closed

[2022-01-06 20:50] jgrandja commented on #565
@GrmpfNarf The `redirect_uri` validation has been implemented as per spec. See the [reference](https://github.com/spring-projects/spring-authorization-server/blob/82e4f3a345101b454bc19d18fa0c127c6274439e/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/authentication/OAuth2AuthorizationCodeRequestAuthenticationProvider.java#L460) for further detail

[2022-01-06 20:50] #565 closed

[2022-01-07 04:19] bjornharvold commented on #558
I've implemented the Mongo variety of the Jdbc implementation as referenced above. Let me know if I should open a PR or if the addition of the spring-data-mongodb dependency warrants a separate module.

[2022-01-07 04:23] sjohnr commented on #558
@bjornharvold, that's great! Feel free to create a separate github project for it. We won't be including a mongo (or redis) implementation in the core, though what we're discussing here is adding some support to make it easier to implement and keep in sync with the project's domain model.

[2022-01-07 05:02] sjohnr commented on #557
Thanks for the report, @mikesaurus. Unfortunately, the JDBC implementation and specifically the corresponding schema are not necessarily able to provide a successful out of the box experience for some. We're aware of this issue, and are prioritizing a number of efforts to mitigate these issues for our community. We believe that when these efforts come together in the next few releases, things will

[2022-01-07 05:02] #557 closed

[2022-01-07 07:41] dilipdhankecha opened #569 "Generate Auth code if User comes with custom token"
**Expected Behavior**
Step 1 : We have an identity provider which will generate JWT tokens during user login.
Step 2 : Now we want to implement spring authorization server as a individual microservice and we will give an JWT token which was generated in Step 1 and authorization server comes with the auth code for that user.
How to validate step 1 token from spring authorizaion server?
Step 3 : And

[2022-01-07 08:42] GrmpfNarf opened #570 "Make default OAuth2AuthenticationValidators public and handle validation error more globally"
**Expected Behavior**
The implemented default OAuth2AuthenticationValidators should be public.

**Current Behavior**
Currently they are private.

**Context**
As suggest from @jgrandja in #565 I tried to replace the redirect URI validation by an custom ``authenticationValidatorResolver``.
The default ``authenticationValidatorResolver`` contains two validators. One for the redirect URI and one for t

[2022-01-07 10:22] olr101 opened #571 "Add possibility to restrict PKCE to s256 method only"
**Expected Behavior**
Add the possibility to restrict PKCE method to s256 only (e.g. for authorization code grant for public clients)

**Current Behavior**
Currently both PKCE methods (_s256_ and _plain_) are active by default (which is fine), but they cannot be configured.

**Context**
Sometimes (or often?) it is just not required to support the _plain_ method in production. Therefore disabling _

[2022-01-07 12:01] think-info opened #572 "Upgrade to Gradle 7"
**Describe the bug**
Project and samples are not buildable in Java 17 due to Gradle 7 requirement and deprecation/removal of `compile` dependency syntax.

**To Reproduce**
Open project in environment running J17, and update `gradle-wrapper.properties` to a J17-supported version, e.g `7.3.2`

**Expected behavior**
The project to be usable in an up-to-date environment.

**Cause**
The `compile` instr

[2022-01-07 16:24] jgrandja commented on #566
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

[2022-01-07 16:24] #566 closed

[2022-01-07 16:31] jgrandja commented on #567
Closing as duplicate of gh-397

[2022-01-07 16:31] #567 closed

[2022-01-07 16:37] sjohnr commented on #570
Hi @GrmpfNarf, we unfortunately have to start by conservatively releasing features and related utility code as private implementations, because opening up everything as public quickly leads to a large footprint of utility code that we need to support.

In this case, I believe that you can omit a mapping in the map for a validator (e.g. scope) that you don't want to implement, and it will fall back

[2022-01-07 16:37] #570 closed

[2022-01-07 16:49] GrmpfNarf commented on #570
Hi,
no this won't resolve my two issues.

First:
The ``OAuth2AuthorizationCodeRequestAuthenticationProvider`` will use the validators from the ``authenticationValidatorResolver`` which I have to completly override when I want to use a custom validator. So it can fall back to the default. There is also no method to add/override an validator to the default ``authenticationValidatorResolver``.

Take

[2022-01-07 16:53] sjohnr commented on #568
Hi @funs690. The converter is implemented to spec, per [RFC 6749, Section 2.3.1](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1). You can provide your own converter if you wish to deviate from the url encoding/decoding specified by the spec. For example:

[code]

If you are interested in learning more about customizing client authentication, please up-vote #540, as we are currently pr

[2022-01-07 16:53] #568 closed

[2022-01-07 16:55] mikesaurus commented on #557
Hey @sjohnr,
I did see some of the other items that you have out there related to the database and read the comments associated with them.  So, I understand what you're currently dealing with.  I was easily able to work around the issue by customizing the provided SQL scripts, but I just wanted to report this specific problem since the code provides hooks for customization (which is fantastic), bu

[2022-01-07 17:29] jgrandja commented on #569
@dilipdhankecha I'm having a hard time following this flow. It seems custom and non-standard.

Which Identity Provider are you using? What are the contents of the JWT token that it generates?

Can you clarify what you mean by auth code for that user?

[2022-01-07 17:52] jgrandja commented on #571
Thanks for this request @olr101. I agree that `plain` should be disabled by default in order to comply with secure defaults.

We'll look at adding this enhancement.

[2022-01-07 18:10] sjohnr commented on #570
Hi @GrmpfNarf.

As I mentioned above, please try providing an `authenticationValidatorResolver` without a `OAuth2ParameterNames.SCOPE`. See these lines:

https://github.com/spring-projects/spring-authorization-server/blob/82e4f3a345101b454bc19d18fa0c127c6274439e/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/authentication/OAuth2AuthorizationCode

[2022-01-07 18:15] sjohnr commented on #557
Thanks @mikesaurus. I was on auto-pilot a bit there finding references for you. You obviously knew about that one. 😅

We are definitely working on improving this situation, and are pretty well aware of the issues like the one you mentioned. But of course thanks for engaging in the project, we can't do this without people like you in the community!

[2022-01-08 15:56] bjornharvold opened #574 "✨ feat: Ability to specify and go to a redirect url after successful logout"
Based on Jeroen's answer in the linked ticket, I am now forwarding to the /logout url on Spring Auth Server instead. Once logged out successfully, is there any OAuth2 magic that will use the post_logout_redirect_uri angular-oauth2-oidc passes in as a request param?

Off topic: As I don't want to overwrite the /logout POST method, I am trying to find a hook in Spring Web MVC that lets the caller sp

[2022-01-09 03:20] wxq851685279 opened #575 "failed to access class org.springframework.security.oauth2.jwt.JoseHeader from class org.springframework.security.oauth2.server.authorization.authentication.JwtUtils"
This problem occurs when calling oauth2/token interface using spring-security-oauth2-authorization-server, springboot version 2.6, spring security5.6.
No problem on springboot2.5.x, spring security5.5.4

`java.lang.IllegalAccessError: failed to access class org.springframework.security.oauth2.jwt.JoseHeader from class org.springframework.security.oauth2.server.authorization.authentication.JwtUtils

[2022-01-09 04:05] bjornharvold commented on #574
I think this needs an update. It is not a bug, it's a feature.

Based on Jeroen's answer in the linked ticket, I am now forwarding to the /logout url on Spring Auth Server instead. Once logged out successfully, is there any OAuth2 magic that will use the post_logout_redirect_uri angular-oauth2-oidc passes in as a request param?

Off topic: As I don't want to overwrite the /logout POST method, I am

[2022-01-10 07:17] GrmpfNarf commented on #570
You are right, sorry I missed that.

[2022-01-10 07:21] GrmpfNarf commented on #570
Is there any other way except of twitter to contact you ?

[2022-01-10 09:43] jgrandja commented on #575
Closing as duplicate of gh-516

[2022-01-10 09:43] #575 closed

[2022-01-10 10:07] dilipdhankecha commented on #569
@jgrandja
We do not have any third party Identity Provider, We just have our own database for user and once user gets logged in then we will generate JWT token from our server. So, the claims are fixed with our generated token.

I meant to say that whatever **JWT will generated from our server** that will validate from spring authorization server(what logic for that will implement) and it will **d

[2022-01-10 12:53] dilipdhankecha commented on #561
@sjohnr
Sorry for late reply sir.
First i call below API,
`localhost:8189/oauth2/authorize?client_id=test&scope=openid&redirect_uri=http://127.0.0.1:8080/auth&response_type=code`

and on redirect URI i got auth grant then i call below mentioned curl,

`curl --location --request POST 'localhost:8189/oauth2/token'
--header 'Authorization: Basic dGVzdDp0ZXN0'
--header 'Content-Type: application/x-www

[2022-01-10 14:41] colin-riddell opened #576 "How-to: Correctly setup issuer - how does it work with well-known ?"
It would be nice to get a guide on how the issuer works and gotchas to look out for. Eg not clear to me if the issuer actually reads from the given url's well-known location?

Related: https://github.com/spring-projects/spring-authorization-server/issues/499

[2022-01-10 15:36] sjohnr commented on #570
Twitter is the best way. But you can email me as well. My vmware address is sriesenberg.

[2022-01-10 15:49] bjornharvold opened #577 "✨ feat: Tighter integration with Spring Social"
**Expected Behavior**
I've just finished v1 of a fully functional SSO server with Spring Authorization Server. Love it! Thank you for this amazing framework. What I am looking at next is to have the SSO server be the hub for all my connected resource servers. What I'd like to do next, is add support for other ways the user can create an account via popular social platforms.

Flow:

1. User clicks

[2022-01-10 17:20] sjohnr commented on #561
@dilipdhankecha, thanks for replying. Unfortunately, your sample was still fairly non-trivial. Still, I went ahead and downloaded the project to troubleshoot. While I only managed to reproduce your issue briefly during troubleshooting, there were a few small configuration issues, and I am not sure exactly which one produced the `invalid_client` error. I pushed a commit to a fork of your sample: ht

[2022-01-10 18:23] jgrandja commented on #569
@dilipdhankecha Thanks for clarifying, but this feels like a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

Based on your response, this is a non-standard flow and therefore would need to be implemented in the application. This project is solely focused on implementing the standard protocol flows

[2022-01-10 18:23] #569 closed

[2022-01-10 18:33] jgrandja commented on #577
@bjornharvold

Excellent ! We're so happy it's working out nicely for you.

Integration with an external Identity ("Social") Provider is a high priority item and we plan on working on a sample soon. This will be addressed in gh-106 and gh-538.

I'm going to close this as a duplicate but feel free to add comments in the existing issues. Thanks!

[2022-01-10 18:33] #577 closed

[2022-01-10 18:48] jgrandja commented on #574
@bjornharvold Can you please update the main description comment and/or last comment as both are different. The main description refers to revoking a token and the last comment is logout. It's not clear what you are asking.

[2022-01-10 18:50] jgrandja commented on #576
@colin-riddell This seems more of a question that a guide. Can you please provide more details on what you are looking for?

[2022-01-10 18:57] jgrandja commented on #572
Thanks for the request @think-info.

FYI, this project depends on Spring Security 5.5, which compiles against JDK 1.8.

We do plan on upgrading to Gradle 7 soon.

[2022-01-10 22:29] sjohnr commented on #545
See 36d18312b07b3a168de44d3cbf2624dced9a43cc (initial draft)

[2022-01-10 22:31] sjohnr commented on #499
Since I missed linking the commit, see 525eca63d247478b0f4bbc5aed2d998eef70512f (initial draft of How-to: Implement the core services with JPA)

[2022-01-11 04:43] meghraj27 commented on #473
@jgrandja , could you please tell us how it is invalid? I'm also facing the same issue and this feature is completed according to wiki page.

[2022-01-11 04:52] bjornharvold commented on #574
✅

[2022-01-11 08:49] meghraj27 commented on #473
@ShannonHung , the issue got fixed when I used same urlencoded redirect_uri during authorization and token fetch both.

[2022-01-11 09:44] NotFound403 commented on #499
Relation between Spring Security and Spring Authorization Server

[2022-01-11 11:24] mabujaber commented on #499
there is alot to do in the documentation. I started working on an authorization server integrated with spring security authentication and found a lot of stuff need to be clarified such as
1- phone verification page after the user login
2- how to specify multiple login pages based on the client_id
3- how to make multi-tenancy and this mostly will be done through an extra table linked with clients a

[2022-01-11 14:57] jgrandja commented on #574
@bjornharvold Support for `post_logout_redirect_uri` will be added in gh-266 and gh-58.

For now, you can customize logout using Spring Security's `LogoutHandler` and/or `LogoutSuccessHandler`. See [Handling Logouts](https://docs.spring.io/spring-security/reference/servlet/authentication/logout.html).

I'll close this as a duplicate.

[2022-01-11 14:57] #574 closed

[2022-01-11 20:46] sjohnr opened #578 "Upgrade `io.spring.ge.conventions` to 0.0.9"
Upgrade to `io.spring.ge.conventions` (gradle enterprise conventions plugin) 0.0.9 when it is released. See spring-io/gradle-enterprise-conventions#43.

Related to commit 1370f7e51aee7fa6a187776f4186cbcbd1a004ef which upgraded `com.gradle.enterprise` (gradle enterprise plugin) to version 3.8.

[2022-01-12 13:54] jgrandja commented on #414
@erised gh-493 and gh-571 are available. Do any of these interest you?

[2022-01-12 15:05] colin-riddell commented on #576
Perhaps it is more of a question.

I've had to figure out what the effect of configuring the issuer is just by trying it out and slowly finding out that, for example,  the resource server tries to match its issuer against the authorization server's configured issuer and if they mismatch then it doesn't allow the resource server to start.

On reflection this is maybe more of a suggestion to include

[2022-01-12 15:22] colin-riddell commented on #482
Hi @jgrandja and @sjohnr  apologies for dragging this up again but I just need to clarify what should happen here as I'm not 100% on what the outcome was.

 Should the `JwtAuthenticationToken` be persisted as part of the `OAuth2Authorization`'s `attributes` or not?

If it doesn't  need to be persisted I'll need to have a the deserializer I've written just ignore it for now, presumably, until it's

[2022-01-12 16:01] jgrandja commented on #482
@colin-riddell

The answer has been provided by @sjohnr in this [comment](https://github.com/spring-projects/spring-authorization-server/issues/482#issuecomment-992876678)

[2022-01-12 16:05] jgrandja commented on #576
@colin-riddell There is no documentation at the moment but we're starting it. I'll leave this open and we'll document it.

[2022-01-13 03:21] bjornharvold commented on #558
I added the MongoDb implementation here: https://github.com/bjornharvold/spring-authorization-server-mongodb

[2022-01-13 03:40] erised commented on #414
Hi @jgrandja. Sure. I can work on [gh-493](https://github.com/spring-projects/spring-authorization-server/issues/493).

[2022-01-13 06:47] dilipdhankecha commented on #561
@sjohnr
recently i just update my redirect uri as
`https://oauth-redirect.googleusercontent.com/r/smart`
But authorization server always redirect me to **/error** page.
what the problem not able to find out.

[2022-01-13 13:11] tuyu79 opened #579 "Use 'groups' as table name results in bad SQL grammar"
**Describe the bug**
When using Spring Security's group authorization feature, get 'bad SQL grammar'.

**To Reproduce**
1. use the following sql to init schema

[code]
2. create a spring security project, and have the following configuration
![image](https://user-images.githubusercontent.com/18554474/149335445-66ce1c49-ca2c-4d3f-98f8-84ee07b5365c.png)

My server port is 9000, after I inputed usern

[2022-01-13 15:24] jgrandja commented on #414
@erised Can you comment in gh-493, e.g. "I would like to take this one" so I can assign it to you.

[2022-01-14 07:18] shanzhaozhen commented on #383
I want to change session to stateless . Can this be achieved?

[2022-01-14 11:24] erised commented on #493
Hi @jgrandja .
I would like to work on this one.

[2022-01-14 11:26] colin-riddell commented on #499
Where will the documentation end up being hosted? Is there any way to review work-in-progress docs and help out with contribution to that?

[2022-01-14 21:28] sjohnr commented on #499
Eventually, it will be hosted on docs.spring.io, but it might be a bit before we automate pushing documentation artifacts out there.

If you'd like to review progress, check out the [`docs`](https://github.com/spring-projects/spring-authorization-server/tree/main/docs) directory. You can run `npm install` and then `antora local-antora-playbook.yml` to build the site, then launch `docs/build/site/i

[2022-01-15 13:11] mabujaber commented on #499
One more use case might be needed in the documentation when registration is done on how to trigger authorization flows and return redirect_uri without entering the login credential again.
the flow as following
1- registering -> 2- implicitly trigger authorization flow and login with credential entered in step 1 -> 3- authorization code return with redirect uri configured

[2022-01-17 04:03] edwardzjl commented on #383
I believe what you want is a spring-security feature which is not related to this issue.

[2022-01-17 14:37] jgrandja commented on #493
The issue if yours @erised. Thanks!

[2022-01-17 20:27] #479 closed

[2022-01-17 20:33] jgrandja commented on #479
@lu-cheng @jvalkeal @markhobson This is now resolved via d302444

[2022-01-18 00:56] c0ff75 opened #583 "/userinfo endpoint always return code 401"
Hello,
I have an application that works successfully with the old version Spring Security OAuth server. Now I'm trying to use the new server variant with version 0.2.1.

Unfortunately, there is probably some bug in the implementation of endpoint /userinfo, as JWT authorization is never successful.
I always get a 401 response.

This happens because:
1. The method OAuth2AuthorizationServerConfigurat

[2022-01-18 05:34] dilipdhankecha opened #584 "OAUTH2 WithIn Application"
If we have spring authorization oauth2 server, now we want to implement it within our application but the problem is we need to redirect user with redirect uri.
if we want to generate accesstoken and refreshtoken with the help of username and password is this possible with the help of spring authorization server?

[2022-01-18 10:52] #578 closed

[2022-01-18 13:33] ktiot commented on #561
The same problem happened
base 0.2.1 release

[2022-01-18 14:47] ktiot opened #585 "Can give some suggestion or samples for restapi login without web form and social login ?"
Is this project target for all of login&authorization solution and how this project fix position above gateway
I want always study login again and again integration
I hope so this is the last project !

[2022-01-18 16:22] vjcool2408 opened #586 "Caused by: java.lang.IllegalArgumentException: The class with com.example.authserver.config.DefaultSecurityConfig$1$1 and name of com.example.authserver.config.DefaultSecurityConfig$1$1 is not in the allowlist. If you believe this class is safe to deserialize, please provide an explicit mapping using Jackson annotations or by providing a Mixin. If the serialization is only done by a trusted source, you can also enable default typing"
### Getting exception when creating the UserDetailsService Bean
**Caused by: java.lang.IllegalArgumentException: The class with com.example.authserver.config.DefaultSecurityConfig$1$1 and name of com.example.authserver.config.DefaultSecurityConfig$1$1 is not in the allowlist. If you believe this class is safe to deserialize, please provide an explicit mapping using Jackson annotations or by provid

[2022-01-18 16:39] jgrandja opened #587 "Establish compatibility with Spring Security 5.6"
Establish compatibility with Spring Security 5.6.

Related gh-518

[2022-01-18 18:15] sjohnr commented on #561
@ktiot, thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-exam

[2022-01-18 19:11] sjohnr commented on #583
@c0ff75, please see [this comment](https://github.com/spring-projects/spring-authorization-server/issues/521#issuecomment-989769773). If you want to use the UserInfo endpoint, please enable resource server support in your configuration, as demonstrated in the `OidcUserInfoTests`.

I'm going to close this, as the UserInfo endpoint is working as designed.

[2022-01-18 19:11] #583 closed

[2022-01-18 19:14] sjohnr commented on #585
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it).

[2022-01-18 19:14] #585 closed

[2022-01-18 19:24] sjohnr commented on #586
@vjcool2408, thanks for getting in touch. The description of how to resolve this issue is already present in the error message you received. You need to provide Jackson annotations or a mixin for your custom `UserDetails` object in order to serialize it to JSON.

I'd encourage you to look at #499 and browse links to how-to guides for our upcoming reference documentation. If anything looks helpful,

[2022-01-18 19:24] #586 closed

[2022-01-18 19:26] sjohnr commented on #584
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it).

[2022-01-18 19:26] #584 closed

[2022-01-18 21:33] c0ff75 commented on #583
@sjohnr - OidcUserInfoTests  - it doesn't contain tests that go through the actual chain of filters. Everything works there, because there are mocks :)

I foud workaround. I added to the application config:

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://hostname/oauth2/jwks
          issuer-uri: http://hostname/

and into
public SecurityFilterChai

[2022-01-18 22:09] sjohnr commented on #583
Actually, `OidcUserInfoTests` contains integration tests that do exercise the filter chain.

Will do. Thanks.

[2022-01-19 01:15] rcbandit111 opened #589 "Caused by: org.postgresql.util.PSQLException: ERROR: relation "oauth2_registered_client" does not exist"
I'm trying to implement Spring Authorization Server with PostgreSQL:

[code]

Full code example: https://github.com/rcbandit111/Spring_Cloud_Gateway_POC/blob/main/authorization_server/auth_poc/src/main/java/org/auth/config/AuthorizationServerConfig.java

SQL Script: https://github.com/rcbandit111/Spring_Cloud_Gateway_POC/blob/main/authorization_server/auth_poc/src/main/resources/changelog/changes/

[2022-01-19 08:22] hezhongfeng opened #590 "How can I lifting restrictions on domain?"
I config two config in `oauth2-client`
[code]
But in `authorization-server` I just can config one `issuer("http://localhost:8081")` in providerSettings
Our server environment is very complex
How can I lifting restrictions on domain?

[2022-01-19 08:27] hezhongfeng commented on #590
`oauth2-client` and  `authorization-server` just can exchange information in private network like `http://172.16.64.145:8081`
But our browser just can visit `authorization-server` in another IP like`http://111.26.53.74:8082`

[2022-01-19 09:37] jgrandja commented on #518
@andrea-pellegatta I'm having a hard time trying to reproduce this issue.

I tried with...

- Spring Boot `2.6.1` (imports Spring Security `5.6.0`)
- Spring Authorization Server `0.2.1` (and `0.2.0`, `0.2.2-SNAPSHOT`)
- JDK 8, 11, 17

... and could not reproduce the `IllegalAccessError` - the [default-authorizationserver](https://github.com/spring-projects/spring-authorization-server/tree/main/sam

[2022-01-19 12:42] barneag opened #591 "“authorities” claim not added to jwt by default"
Hello,
I'm implementing an oauth2 solution based on  Authorization Server 0.2.1, and noticed that “authorities” claim
not added to JWT by the authorization server by default.
i browsed to find a solution and found that need to configure a `OAuth2TokenCustomizer` bean, in order to add user’s “authorities” claim.

[code]
this feels a bit like a workaround,and i wanted to verify that this solution is

[2022-01-19 16:32] andifalk opened #592 "Authorization Code Flow with PKCE should support refresh tokens for confidential clients"
**Expected Behavior**
When using the authorization code flow + PKCE for **confidential clients** then it should (optionally) be also possible to issue a refresh token as well. Maybe the best way would be to just add a configuration option for registered clients to enable/disable refresh tokens.

**Current Behavior**
Currently, when using the authorization code flow + PKCE no refresh token is issue

[2022-01-19 16:42] andifalk opened #593 "How-to: Configure your own user storage"
Publish a guide on How-to: Customize the user storage

- How to use your own persistent user model (with additional attributes like _first name_, _last name_, address, etc.) instead of the core user model from spring security to make sense of the OIDC scopes like _profile_, _address_ or _phone_.

Related gh-499

[2022-01-20 00:49] hezhongfeng commented on #590
I use `authorization-uri: http://localhost:8081/oauth2/authorize` it works

[2022-01-20 00:56] #590 closed

[2022-01-20 09:00] jgrandja opened #594 "Release 0.3.0 Checklist"
### Upgrade to Spring Security 5.6+
- [ ] Remove `JoseHeader`, `JoseHeaderNames`, `JwtClaimsSet`, `JwtEncoder`, `JwtEncodingException`, `NimbusJwsEncoder`
- [ ] Remove `OAuth2TokenIntrospectionClaimAccessor`, `OAuth2TokenIntrospectionClaimNames`
- [ ] Remove `OAuth2AccessTokenResponseHttpMessageConverter`
- [ ] `Use OAuth2ErrorCodes.INVALID_REDIRECT_URI`

### Miscellaneous
- [ ] Change `interface`

[2022-01-20 09:07] jgrandja commented on #587
Duplicate gh-594

[2022-01-20 09:07] #587 closed

[2022-01-20 09:57] jgrandja commented on #518
@andrea-pellegatta Although I wasn't able to reproduce the issue, after inspecting the provided stack trace is detail and looking at the classpath of the **default-authorizationserver** sample, I'm very confident that **this is a class loading issue**.

The **default-authorizationserver** sample is a Spring Boot app, which produces a Fat Jar, and ensures the `spring-security-oauth2-authorization-s

[2022-01-20 09:57] #518 closed

[2022-01-20 10:17] simara-svatopluk opened #595 "Missing `state` in initial request + deny consent results in failure"
**Describe the bug**

If we don't specify `state` parameter in initial request and the authorization server requires consent and we deny consent, the application ends up with exception.

Exception details: https://pastebin.com/fqJzVuLr

**To Reproduce**
* Start sample DefaultAuthorizationServerApplication
* In browser visit `http://auth-server:9000/oauth2/authorize?response_type=code&client_id=mes

[2022-01-20 10:27] nickmelis commented on #297
May I ask if there's a rough timeline for when `refresh_token` capability for public clients will be implemented? We just stumbled upon the same issue and can't find any way around without compromising on user experience (i.e. asking users to log back in when access token expires). Thanks!

[2022-01-20 10:31] andrea-pellegatta commented on #518
Hi @jgrandja,
I was actually replying to you that I came to the same considerations.
I moved the security-oauth2-authorization-server before spring-boot dependency declaration inside my pom and with that it now works, since the classloader is loading the org.springframework.security.oauth2.jwt.JoseHeader  from security-oauth2-authorization-server.

If you want to reproduce it I've committed a Mave

[2022-01-20 10:40] jgrandja commented on #518
Excellent @andrea-pellegatta ! I'm glad you have it resolved :+1:

[2022-01-20 10:42] pashenmebaojinwo commented on #400
Please search for spring-security-oauth2-authorization-server instead of spring-authorization-server

[2022-01-20 10:54] jgrandja opened #596 "Deprecate JwtEncoder and associated classes"
Deprecate `JwtEncoder` and associated classes in preparation for removal in `0.3.0` release (see gh-594).

The `0.3.0` release will use the `JwtEncoder` introduced in [Spring Security 5.6](https://github.com/spring-projects/spring-security/pull/9208).

[2022-01-20 11:13] jgrandja opened #597 "Deprecate OAuth2TokenIntrospectionClaimAccessor"
Deprecate `OAuth2TokenIntrospectionClaimAccessor` in preparation for removal in `0.3.0` release (see gh-594).

The `0.3.0` release will use the `OAuth2TokenIntrospectionClaimAccessor` updated in [Spring Security 5.6](https://github.com/spring-projects/spring-security/issues/9647).

[2022-01-20 11:22] #596 closed

[2022-01-20 11:22] #597 closed

[2022-01-20 12:37] Artur- opened #598 "Spring 6 compatibility"
**Expected Behavior**
This project should work with Spring 6

**Current Behavior**
The project uses Servlet < 5 with the `javax` namespace

**Context**
Spring 6 moved to Servlet 5 and Spring 6 M2 is already out.
When trying to test out Spring Boot 3 snapshot + Spring 6 M2 I ran into the issue that the oauth server cannot be used.

[2022-01-20 13:21] pxzxj commented on #591
you are correct,this is my implementation and it works.
[code]

[2022-01-20 14:54] colin-riddell commented on #482
hey @jgrandja  - my question wasn't so much "how do we work around this issue?" as we've established that the `JwtAuthenticationToken` needs to have its own mixins to be serialized as part of the `OAuth2Authorization` otherwise auth flows simply will not work. I've understood that and implemented this  👌🏻

 My question was more "Does it NEED to be?". Reason I'm asking is because I sensed some unce

[2022-01-20 17:13] sjohnr commented on #482
@colin-riddell - You're good to go with the way you've done it. This thread was actually specific to `OAuth2ClientAuthenticationToken` and the out of the box setup. Your setup is for a custom use-case, so is a different situation.

[2022-01-20 21:41] #488 closed

[2022-01-21 03:22] likith187 commented on #532
Hey @jgrandja Can I work on this?

[2022-01-21 07:48] jgrandja commented on #545
Merged via 8d08570

[2022-01-21 07:48] #545 closed

[2022-01-21 08:03] jgrandja commented on #499
**NOTE:** The reference documentation is a _"work-in-progress"_ and lives in the [ref-doc](https://github.com/spring-projects/spring-authorization-server/tree/ref-doc) branch.

[2022-01-21 10:30] MODjie opened #599 "difrrent RegisteredClient has the same clientId and different id, it will get the wrong client when request /oauth2/token"
when we config RegisteredClientRepository, if RegisteredClient with a random id , and clientId keep the same all the time. every time start up the application, it will insert a new client record into client table, it will produce multi record has the same clientId. when we request the uri "/oauth2/token" to get token , "OAuth2AuthorizationCodeRequestAuthenticationProvider.authenticateAuthorization

[2022-01-21 17:08] sjaeger-lxo opened #600 "Add possibility to specify a default scope value for authorization requests"
**Expected Behavior**
RFC says: "If the client omits the scope parameter when requesting authorization, the authorization server MUST either process the request using a pre-defined default value or fail the request indicating an invalid scope."
https://datatracker.ietf.org/doc/html/rfc6749#section-3.3
Also referenced here for Authorization Request: https://datatracker.ietf.org/doc/html/rfc6749#sec

[2022-01-21 22:02] sjohnr commented on #599
@MODjie, thanks for your interest in the project.

The sample included in this repository loads a record into the database on startup because it is using an h2 in-memory database for demonstration purposes only. Your application should not do this, as your database is likely persistent. You should initialize and load data in a way that is not tied to the startup of the application.

Since this is

[2022-01-21 22:02] #599 closed

[2022-01-21 22:10] sjohnr commented on #591
Hi @barneag. Thanks for your interest in the project.

I'm going to close this as [this question](https://stackoverflow.com/questions/70771027/authorities-claim-not-added-to-jwt-by-default/70777041) has been [answered](https://stackoverflow.com/a/70777041/15835039) on stackoverflow.

[2022-01-21 22:10] #591 closed

[2022-01-21 22:15] sjohnr commented on #593
Also related to gh-537

[2022-01-21 22:20] sjohnr commented on #589
Hi @rcbandit111, thanks for reaching out. Please note that the sample [loads the schema](https://github.com/spring-projects/spring-authorization-server/blob/4d5b2881164e3948524b402cbb8b2966a06afa95/samples/default-authorizationserver/src/main/java/sample/config/AuthorizationServerConfig.java#L120) into an h2 database on startup. I believe in your case you will need to load the schema into Postgres

[2022-01-21 22:20] #589 closed

[2022-01-22 04:06] atjohn-csam commented on #199
Can anyone pls help me add some custom parameters to token response?(not inside the claim)
{
    "access_token": **",
    "scope": "articles.read openid",
    "token_type": "Bearer",
    "expires_in": 299
},
in this i want to add "param1":param

[2022-01-22 17:52] rcbandit111 commented on #589
Thanks. This solves the issue.

[2022-01-22 17:54] rcbandit111 opened #601 "java.lang.ClassNotFoundException: org.springframework.security.cas.jackson2.CasJackson2Module"
I'm trying to implement Spring Authorization Server with PostgreSQL:

[code]

Full code example: https://github.com/rcbandit111/Spring_Cloud_Gateway_POC/blob/main/authorization_server/auth_poc/src/main/java/org/auth/config/AuthorizationServerConfig.java

SQL Script: https://github.com/rcbandit111/Spring_Cloud_Gateway_POC/blob/main/authorization_server/auth_poc/src/main/resources/changelog/changes/

[2022-01-22 20:12] Kehrlann commented on #199
Hey @atjohn-csam 👋

What you could do is add some `additionalParameters` into the `OAuth2AccessTokenAuthenticationToken` that is used in the token endpoint. Those are ultimately written to the token response in [OAuth2AccessTokenResponseHttpMessageConverter.java](https://github.com/spring-projects/spring-authorization-server/blob/4d5b2881164e3948524b402cbb8b2966a06afa95/oauth2-authorization-server

[2022-01-23 06:45] atjohn-csam commented on #199
I can't thank you enough for your help @Kehrlann Kehrlann. I was able to get it work. It was a little tricky to get AddStuffToAccessTokenProvider  handle three separate customizations(For the three grant types), but i was too excited to see this output:
{
    "access_token": "jwt",
    "scope": "articles.read openid",
    "customparam": "hello",
    "token_type": "Bearer",
    "expires_in": 299
}

[2022-01-23 13:05] Kehrlann commented on #199
Hey, no worries! Glad to see it worked for you.

FYI I had something like this in mind, but I have not tested it.

[code]

Cheers!

[2022-01-24 13:30] jgrandja commented on #598
@Artur- Spring Authorization Server currently builds against [Spring Security 5.5.3](https://github.com/spring-projects/spring-authorization-server/blob/main/gradle/dependency-management.gradle#L6). We plan to upgrade to Spring Security 5.6.0 in the 0.3.0 release (gh-594).

We will upgrade to Spring Security 6.0 after it is released, which is planned for later this year.

[2022-01-24 13:30] #598 closed

[2022-01-24 14:17] jgrandja commented on #601
@rcbandit111 CAS (`spring-security-cas`) support has been removed in Spring Security 6.0.0-SNAPSHOT, which is the version you are using given the `ClassNotFoundException`. Spring Authorization Server is not compatible with Spring Security 6.

Closing this as duplicate gh-598

[2022-01-24 14:17] #601 closed

[2022-01-24 15:30] atjohn-csam commented on #199
Thank you again @Kehrlann Kehrlann.

I tried something similar,

[code]

The problem was AddStuffToAccessTokenProvider was not able to find the delegate correctly. It always had OAuth2AuthorizationCodeAuthenticationProvider as delegate even though i tried a client_secret workflow. So I ended up creating three separate implantations of AddStuffToAccessTokenProvider, which will get initialized from

[2022-01-24 16:39] jgrandja commented on #532
Thanks for your interest @likith187.

We are prioritizing "How-to guides" based on up-votes and this one doesn't have any yet so we'll wait on this one.

As well, we're still early in writing the reference documentation and have a few things we need to iron out as far as the format goes. Our plan is to release the initial version in `0.3.0` and then will likely open things up to external contribut

[2022-01-24 16:41] jgrandja commented on #297
@nickmelis We don't have a timeline yet. See this [comment](https://github.com/spring-projects/spring-authorization-server/pull/335#issuecomment-1012232510) for more info.

[2022-01-24 17:03] jgrandja commented on #592
Hi @andifalk. You can enable refresh token for a `RegisteredClient` by configuring it with `...authorizationGrantType(AuthorizationGrantType.REFRESH_TOKEN)`. The [default sample](https://github.com/spring-projects/spring-authorization-server/blob/main/samples/default-authorizationserver/src/main/java/sample/config/AuthorizationServerConfig.java#L73) configures the client for refresh token.

I'll c

[2022-01-24 17:03] #592 closed

[2022-01-24 17:26] jgrandja commented on #600
@sjaeger-lxo I'd like to understand your use case more:

Why would the client not request any scope(s)?

[2022-01-24 18:13] andifalk commented on #592
Hi, @jgrandja I think you misunderstood my point. I am aware that I can exchange a refresh token into an access token by using AuthorizationGrantType.REFRESH_TOKEN. My point is that for a BFF when using Authz Code + PKCE (here as a confidential client) the token request does NOT issue any refresh token that I am able to exchange into an access token.

[2022-01-24 18:17] jgrandja commented on #592
@andifalk

The token response will contain a refresh token if `...authorizationGrantType(AuthorizationGrantType.REFRESH_TOKEN)` is configured for the `RegisteredClient`. Have you tried the default sample?

[2022-01-24 21:59] jamesdube commented on #282
Is there a way to set additional information on the Registered client?

[2022-01-24 23:07] schepuri-bisc commented on #106
Hello @jgrandja, thanks for looking into this. I'm looking for a sample SpringAS project that does federated authentication using external identity providers. Could you please share any progress?

[2022-01-25 03:19] andreygfranca opened #602 "Work with abstractions instead of concrete classes."
**Expected Behavior**
Hello, first of all, nice work you guys are doing,
That being said it would be very interesting to be able to expose some classes as interfaces so that we can create our own implementation and then the respective repositories would not be coupled to any concrete class (current behavior), as we would be working with abstractions. For example, the following classes could be int

[2022-01-25 12:26] SavchenkoVV opened #603 "UserDetails not validated on refresh token"
**Describe the bug**
UserDetails not validated on refresh token. Refresh token possible for removed or blocked users.

**To Reproduce**
1. Auth by user and get access and refresh token
2. Remove or block user
3. Make refresh token. It will success

**Expected behavior**
Need validate UserDetails on refresh token

[2022-01-25 15:10] jgrandja commented on #106
@schepuri-bisc I haven't started it yet but it's planned for the `0.2.3` release. Working on other higher priority tasks.

[2022-01-25 16:11] sjaeger-lxo commented on #600
@jgrandja

Basically, such a behavior can be seen as a convenience feature when the client does not have to provide any of his registered scopes
because the client always wants all its scopes which are specified in the client details.
The user's consent is still required at the approval step during the auth flow.

In my company's specific case, we provide a rest api to our business partners and ma

[2022-01-25 20:17] sjohnr commented on #603
@SavchenkoVV thanks for your interest in the project!

Can you please say more about why you believe this is a bug (instead of an enhancement)? For example, do you have in mind anything in the OAuth 2.1 specification that aligns with your desired behavior?

This would also be possible to implement as a customization, by providing your own wrapper implementation of `OAuth2AuthorizationService` that

[2022-01-25 20:41] sjohnr commented on #602
@andreygfranca thanks for your interest in the project!

Please see [this comment](https://github.com/spring-projects/spring-authorization-server/issues/80#issuecomment-626437872), which states:

Also, see the following github gists for examples of how to do this:
* [JpaOAuth2AuthorizationService](https://gist.github.com/sjohnr/463448fc00cf6059dd2892aed1e63d3c)
* [JpaRegisteredClientRepository](ht

[2022-01-25 20:41] #602 closed

[2022-01-26 01:59] SavchenkoVV commented on #603
Sorry, but i thinks it is base of security for authorization server.
Now, by default, it is not possible to block user who has refresh_token. For example, after leak.

Of cource specifiation can be understaned differently, but it of literally stuffing with security notes.
I think it is not accepteable to authenticate removed or blocked user for authorization server by any reason.

[2022-01-26 09:30] krnbr commented on #152
@jgrandja can u help a little bit with the idea of how to convert all of this project to reactive?

In particular the filter part. Any initial pointers will help a lot

[2022-01-26 11:50] HarunSMetin commented on #534
@jgrandja Hello. I would like to work on this issue. But This is my first time contributing to an open-source project. Therefore, I need some guidance. Could you please give me more information about this issue?

[2022-01-26 12:57] jgrandja opened #604 "Improve support for large data columns in JdbcOAuth2AuthorizationService"
`JdbcOAuth2AuthorizationService` should provide better support for large data columns.

In addition to the existing `varchar` support, it should also support `clob`, `blob` and `text` for these columns:
- `attributes`
- `authorization_code_metadata`
- `access_token_metadata`
- `oidc_id_token_metadata`
- `refresh_token_metadata`

[2022-01-26 13:05] #604 closed

[2022-01-26 13:08] jgrandja commented on #550
@laszlof The original commit that caused this issue has been reverted via e175f4fda384521f202be000457fdf9ddeca7c68.

As well, see gh-604 that provides an improvement to large data column support.

[2022-01-26 13:08] #550 closed

[2022-01-26 15:28] jgrandja commented on #595
Thanks for reporting this @simara-svatopluk ! This is now fixed via 4fbe06d

[2022-01-26 15:29] simara-svatopluk commented on #595
@jgrandja I'd like to thank You for such fast reply & fix!

[2022-01-26 15:44] dfcoffin commented on #500
This continues to be pushed to the next milestone release.  Any idea what it will take to finally support opaque access tokens?  I have a UT at Dallas capstone project starting today that requires an authorization server that supports opaque access tokens.

[2022-01-26 16:38] jgrandja opened #605 "Update to Spring Framework 5.3.15"
Update to Spring Framework `5.3.15`

[2022-01-26 16:39] jgrandja opened #606 "Update to Spring Security 5.5.4"
Update to Spring Security `5.5.4`

[2022-01-26 16:41] jgrandja opened #607 "Update to Reactor 2020.0.15"
Update to Reactor `2020.0.15`

[2022-01-26 16:42] jgrandja opened #608 "Update to Spring Boot 2.5.9"
Update to Spring Boot `2.5.9`

[2022-01-26 16:43] jgrandja opened #609 "Update to Jackson 2.12.6"
Update to Jackson `2.12.6`

[2022-01-26 16:47] #605 closed

[2022-01-26 16:47] #606 closed

[2022-01-26 16:47] #607 closed

[2022-01-26 16:47] #608 closed

[2022-01-26 16:47] #609 closed

[2022-01-26 16:54] sjohnr commented on #603
Thanks @SavchenkoVV, I think I am understanding where you're coming from.

Unfortunately, integrating this type of check with `UserDetails` / `UserDetailsService` would tie the validation to a specific way of looking up users. The `UserDetailsService` is meant to be used by certain types of authentication (for example, the `DaoAuthenticationProvider` used by form login). But there are many types o

[2022-01-26 19:02] jgrandja commented on #500
Apologies @dfcoffin but there is a lot of work still to do and we're doing our best to prioritize features.

This one is top priority for `0.2.3` so I don't see it getting pushed back further.

[2022-01-26 19:06] jgrandja commented on #534
Thanks for your interest @HarunSMetin.

We're still early in writing the reference documentation and have a few things we need to iron out as far as the format goes. Our plan is to release the initial version in `0.3.0` and then will likely open things up to external contributions at that point.

[2022-01-26 19:24] dfcoffin commented on #500
Thanks, @jgrandja.

[2022-01-26 19:31] jgrandja commented on #600
@sjaeger-lxo Thanks for the explanation.

This is non-standard behaviour and needs to be implemented in the consuming application.

You will need to supply a custom `AuthenticationConverter` via:

[code]

...and you can use a delegation-based strategy:

[code]

I'm going to close this as custom behaviour needs to be implemented in the application.

[2022-01-26 19:31] #600 closed

[2022-01-27 00:23] rcbandit111 commented on #564
Kind remind guys. I will appreciate it if someone write me some configuration steps.

[2022-01-27 00:42] hezhongfeng opened #610 "How to add a Scope's description?"
In `samples/custom-consent-authorizationserver/src/main/resources/templates/consent.html` I find code below
[code]
But when I registered Client ,I just could add a scope's name,like this`.scope("userinfo.read")`
How can I add this scope's description like`read user's info`

[2022-01-27 11:46] jgrandja commented on #610
Thanks for getting in touch, but questions are better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

[2022-01-27 11:46] #610 closed

[2022-01-27 14:32] bnutzer opened #611 "Surprising "error description" when denying approval"
**Describe the bug^Wissue**
When POSTing to the authorize "endpoint" with an empty scope list (i.e., denying approval), it responds with a redirection to the redirect uri, setting the "error" parameter to "access_denied" (as expected). However, the "error_description" is set to "OAuth 2.0 Parameter: client_id", which does not really reflect the issue and is not helpful while analyzing the any fail

[2022-01-27 20:36] jgrandja commented on #564
@rcbandit111 It will be a while before we get to this as there are a few higher priority tasks we need to work on first.

If someone in the community can help that would be great.

[2022-01-27 21:39] rcbandit111 commented on #564
@jgrandja Thank you for the response. I will wait further information.

[2022-01-28 00:24] SavchenkoVV commented on #603
Thanks, @sjohnr.

In spring-security-oauth2 it was via AuthenticationManager
[code]

[2022-01-28 00:40] hezhongfeng commented on #610
ok ,thanks.

[2022-01-28 17:50] sjohnr commented on #603
@SavchenkoVV, that is a good point. It would be possible to also plug in a custom `AuthenticationProvider`. I think it would accept a `OAuth2RefreshTokenAuthenticationToken` and delegate to the existing `OAuth2RefreshTokenAuthenticationProvider` upon successfully validating the user. Something like:

[code]

I'd have to fiddle with registering this provider to test it out, but that's another possi

[2022-01-31 08:20] zwjsexcalibur opened #613 "when I use this library with the newest spring-boot,I got an error"
when i user this libary with spring-boot-starter-parent(2.6.3),I got error like this :
java.lang.IllegalAccessError: tried to access class org.springframework.security.oauth2.jwt.JoseHeader from class org.springframework.security.oauth2.server.authorization.authentication.JwtUtils
	at org.springframework.security.oauth2.server.authorization.authentication.JwtUtils.headers(JwtUtils.java:46) ~[sprin

[2022-01-31 08:21] zwjsexcalibur commented on #613
the spring-authorization-server also use 0.2.2

[2022-01-31 16:37] Laures opened #614 "How-to: Migrate from spring-security-oauth2"
It would be great if we had a guide on how to migrate from spring-security-oauth2 with DB stored opaque tokens to this project. Preferably without loosing existing tokens or refresh tokens.

[2022-01-31 18:16] sjohnr commented on #613
Thanks for the report, @zwjsexcalibur and welcome to the project!

I believe this is a duplicate of gh-518 which will be resolved with gh-594. See [this comment](https://github.com/spring-projects/spring-authorization-server/issues/518#issuecomment-1017302836) and the next one to see if that helps resolve your issue.

I'm going to close this as a duplicate, but if your error is somehow different a

[2022-01-31 18:16] #613 closed

[2022-02-01 10:20] colin-riddell opened #615 "How-to: Encrypt persisted access token"
This is both a question and guide suggestion. The JWT  is persisted as part of the `Authorization` in the `accessToken` field. I would like to know:

* Is it good practice to Encrypt the JWT upon persisting? What's the general recommendation from the Spring Security team?
* If so - what's the best way to do this? A guide would be helpful if such a thing does not exist.

Thanks

Related: #499

[2022-02-02 16:26] nickmelis commented on #384
@jgrandja we just stumbled across the same issue. Due to not being able to get refresh tokens using `authorization_code` flow with PKCE (as highlighted [here](https://github.com/spring-projects/spring-authorization-server/issues/297#issuecomment-1017328991) and [here](https://github.com/spring-projects/spring-authorization-server/pull/335#issuecomment-1020303516)), we're having to go back to `/oau

[2022-02-03 11:51] tcchambers-els opened #616 "Ability to modify OIDC provider configuration"
**Expected Behavior**
When enabling OIDC it would be good to be able to customise `/.well-known/openid-configuration` information.  In my case I would like to modify the `scopes_supported` claim

**Current Behavior**
I can see how I can create an instance of `OidcProviderConfiguration` but I can't see how I can modify the one used here https://github.com/spring-projects/spring-authorization-server

[2022-02-04 12:40] bharaththippireddy opened #617 "Roles/Authorities not included in the JWT Token"
**Describe the bug**
A clear and concise description of what the bug is.

While configuring the Authorization server to use JWT the user authorities are not being included in the JWT Token

**To Reproduce**
Steps to reproduce the behavior.

Configure Authorization Server use JWT as below

	@Bean
	public JwtDecoder jwtDecoder(JWKSource<SecurityContext> jwkSource) {
		return OAuth2AuthorizationServe

[2022-02-04 17:27] markhobson commented on #479
Works for me, thanks @jgrandja!

[2022-02-04 21:28] sjohnr commented on #617
@bharaththippireddy thanks for your interest in the project!

See [this comment](https://github.com/spring-projects/spring-authorization-server/issues/502#issuecomment-971731130), which I believe will instruct you how to include authorities in the access token.

I'm going to close this as answered.

[2022-02-04 21:28] #617 closed

[2022-02-04 21:54] sjohnr commented on #616
@tcchambers-els currently I believe you are correct, you would need to implement your own filter to replace this one. It looks like `scopes_supported` is a `RECOMMENDED` metadata value for this endpoint, so it could be a candidate for addition at some point.

Since the server supports multiple clients, how would you envision filling in this field? Would it just be hard-coded to `openid` and possib

[2022-02-06 08:38] zwjsexcalibur opened #618 "how to : invalid access token and refresh token"
hi , I just want to know how to invalid access token and refresh token when any client logout. If the author can give some advices in the sample or document, I will feel very much indebted.In additon ,I think this is a very important function to improve the whole certification process.

[2022-02-07 05:05] bharaththippireddy commented on #617
Thanks Steve.I have added a customizer to get the authorities into the
claim.Can you guide me with the below.The claim method on getClaims seems
to be deprecated.

context.getClaims().claim(*AUTHORITIES_CLAIM*, authorities);

Do we have to add a custom converter to get the authorities on the Resource
server as well when we use the below.

oauth2ResourceServer()

thanks again,

Bharath

On Sat, Feb

[2022-02-07 09:17] tcchambers-els commented on #616
Hi @sjohnr, I think either of those solutions would work - as you say `openid` needs to be mandatory but we would also need to add other standard OIDC scopes like `profile` plus custom scopes.  So adding the config to `ProviderSettings` would satisfy our use case, with either `openid` hardcoded as it is or an exception thrown if it's missing.
Thanks for your time in taking a look at this.

[2022-02-07 15:22] sjohnr commented on #617
@bharaththippireddy, the classes in package `org.springframework.security.oauth2.jwt` are deprecated and due to be replaced by the corresponding classes in spring security, so when you upgrade to 0.3.0 after release in a few months you'll just have minor refactoring (if any) to do. See gh-596.

I believe you will need to customize the resource server as well, yes.

[2022-02-07 18:07] jgrandja commented on #384
@nickmelis

If the access token expires and there is no refresh token available, then the client needs to go through the `authorization_code` flow again.

[2022-02-07 21:57] sjohnr commented on #384
@nickmelis take a look at what the OIDC spec says regarding  [`prompt=none`](https://openid.net/specs/openid-connect-core-1_0.html#Authenticates).

I recently [set up a SPA](https://github.com/sjohnr/angular-oidc-demo) to use `authorization_code` flow with PKCE. I was able to use the client's support for "silent renew" (or "silent authentication") to utilize the session to refresh the access token

[2022-02-08 08:43] ctlove0523 commented on #618
This class `OAuth2TokenRevocationEndpointConfigurer ` may be helpful

[2022-02-08 09:00] ctlove0523 commented on #615
* Is it good practice to encrypt the JWT upon persisting? What's the general recommendation from the Spring Security team?
   encrypt access token is a good practice,this can enhance system resilience,for example when database hacked,hacker only get
   encrypted access token,hacker can't use this access token to access  protected resources.

* If so - what's the best way to do this? A guide would

[2022-02-08 09:25] colin-riddell commented on #615
Hi @ctlove0523

I'm not sure how that helps TBH - `OAuth2AuthorizationService` is an interface for persistence of the `OAuth2Authorization` objects. Yes, the JWT will be somewhere in that `Authorization` object - but what you've said doesn't give any advice on best practices for encrypting the token itself.

[2022-02-08 16:52] sjohnr commented on #603
@SavchenkoVV, just checking in. Do you have any feedback on the last comment and the example code I provided?

[2022-02-08 16:56] #618 closed

[2022-02-08 19:31] jgrandja commented on #615
@colin-riddell

This really depends on your security requirements, which should be defined by your Security group within the organization. The access token is signed (JWS) so it provides "Integrity" but if the defined security requirements also require "Confidentiality" then you will need to encrypt it as well. Furthermore, this does not only apply to the access token, it would apply to any sensit

[2022-02-08 19:53] colin-riddell commented on #615
Appreciate the tips @sjohnr thanks

[2022-02-08 20:11] jgrandja commented on #611
@bnutzer I agree a better error description would be something like "User denied access", however, the expectation is that the client application would consume the "error" parameter and display its own custom error message.

Alternatively, the returned OAuth 2.0 Error can also be overridden via a custom `AuthenticationFailureHandler` using this custom configuration:

[code]

Also notice that **ALL

[2022-02-08 20:11] #611 closed

[2022-02-08 20:33] jgrandja commented on #616
@tcchambers-els @sjohnr I'm not sure adding the config to `ProviderSettings` is going to give us the flexibility for all potential use cases.

I think what we'll need to do is expose a setter for `OidcProviderConfigurationEndpointFilter.providerConfigurationHttpMessageConverter`, which allows a custom `Converter` to be set via `OidcProviderConfigurationHttpMessageConverter.setProviderConfiguration

[2022-02-08 21:51] PuscasSebi opened #619 "ID token"
**Expected Behavior**
using the current sample project on the spring authorization server I don't see all my user attributes in the idToken i get by calling
http://localhost:9000/oauth2/token endpoint locally, like the e-mail is missing.
**Current Behavior**

**Context**
<!---
How has this issue affected you? What are you trying to accomplish? What other alternatives have you considered? Are you a

[2022-02-08 22:50] colin-riddell commented on #615
Thanks for the tips @jgrandja

[2022-02-09 01:48] hezhongfeng opened #620 "RegisteredClientRepository should support list query"
`RegisteredClientRepository` it currently supports only `save findById findByClientId` . how to list RegisteredClient? I think this method is needed.

[2022-02-09 11:18] SavchenkoVV commented on #603
@sjohnr Thanks for example. Of cource it solve problem.
But, i think via main AuthenticationManager(or same) as it was in spring-security-oauth2 will be better.

Still the default behavior should be more secure.
Otherwise, everyone will need to implement a similar provider.

[2022-02-09 16:03] jgrandja commented on #571
We should also consider removing support for `plain`.

[2022-02-10 04:00] zwjsexcalibur opened #622 "how to :link the access token and the session"
when I login using Authorization Code Mode from a client by using user and password page, I fond that if only visit the authorization sever(using web page) ,I can not get the session which has been create by client .So I can not invalid the session.Or is there any methed which can be use to link the access token and the session.

[2022-02-10 19:02] erised commented on #493
Hi @jgrandja.
May I now how do you envision this to be implemented ?

I think putting authorities in claims in straightforward. They can be pulled from available `authentication` itself.
But for the custom claims, should I create an interface that may optionally be implemented by subclasses of `OAuth2Token` to decide which claims to include in introspect response ?

Or, content of [OAuth2TokenIntr

[2022-02-11 00:37] hezhongfeng commented on #325
I use JdbcTemplate to findAll
[code]

[2022-02-11 07:11] xindemeng opened #623 "Support WebFlux"
Spring authorization server does not support WebFlux currently, will it support WebFlux in the future?

[2022-02-11 13:17] ikomissarov commented on #159
What about the original request to add some logging? You don't need to do a design work for that, do you?
I was really surprised not to see a single line in logs produced by the library. Not even when I switched to TRACE level. Not even in case of some error scenario, all exceptions are just swallowed without logging.

[2022-02-11 21:20] jgrandja commented on #493
Hi @erised

`authorities` is not a standard claim so we don't want to add this. The standard claims are implemented in `OAuth2TokenIntrospectionAuthenticationProvider.withActiveTokenClaims()` so no additional work is necessary.

We need the capability to customize the default claims initialized by `withActiveTokenClaims()`.

Take a look at `OidcUserInfoAuthenticationProvider.setUserInfoMapper()` f

[2022-02-12 15:10] rayman245 opened #624 "Refresh Token not Returned with authorization_code grant flow."
**Describe the bug**
The refresh token isn't being returned. I tried to follow this guide (https://www.appsdeveloperblog.com/new-oauth2-authorization-server/)

Although I was not able to find in token settings a similar function like below
![image](https://user-images.githubusercontent.com/11938827/153716531-7802fa01-334e-4cef-9a77-96bb3bb2fb57.png)

I could not find any documentation for this pro

[2022-02-12 19:38] emyasa opened #625 "In Dynamic Client Registration, there's no handling for ClientAuthenticationMethod.NONE"
**Describe the bug**
In Dynamic Client Registration, considering that it uses PKCE, it isn't possible to set the clientAuthenticationMethod to none. (It always defaults to CLIENT_BASIC_SECRET)
![image](https://user-images.githubusercontent.com/70507913/153725395-e3422bca-6d11-4c37-a891-52f83d187f8c.png)

**To Reproduce**
 1. Configure the authorization server to include OidcClientRegistrationEndpo

[2022-02-13 05:35] rayman245 commented on #624
Issue already highlighted here [gh-297](https://github.com/spring-projects/spring-authorization-server/pull/335)

[2022-02-13 05:35] #624 closed

[2022-02-13 12:05] luamas commented on #623
It is estimated that it will not be compatible with WebFlux until the version is stable.  For the time being, many interfaces need to be adjusted and all functions of OAuth2 need to be improved.

[2022-02-13 18:46] legendbr94 commented on #518
Even after moving as mentioned @andrea-pellegatta  above the problem occurs I have spring 2.6.3 and authorizarion-server 0.2.2

[2022-02-14 08:50] #623 closed

[2022-02-14 10:54] jgrandja commented on #623
@xindemeng Closing as duplicate of gh-152. See [comment](https://github.com/spring-projects/spring-authorization-server/issues/152#issuecomment-727957644)

[2022-02-14 11:05] rayman245 commented on #297
@jgrandja isn't it possible to mitigate the misuse of the rotating "leaked" refresh token, by passing the code_verifier from access token grant flow for the refresh token grant flow?

FYI I am not sure how flexible is the OAuth2 architecture on this.

[2022-02-14 18:03] #603 closed

[2022-02-15 14:18] natami opened #627 "Authorization code flow does not redirect correctly after form login, when setting SessionCreationPolicy to STATELESS."
**Describe the bug**
Authorization code flow does not redirect correctly, when setting SessionCreationPolicy to stateless.

`http.sessionManagement().sessionCreationPolicy(SessionCreationPolicy.STATELESS);`

Spring security can not trace my authentication info between login and authorization-code grant behaviour because the info is not retained between two requests.

Is there a way to lookup the s

[2022-02-16 22:30] jgrandja commented on #297
@rayman245 PKCE is specified for the [authorization_code](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-01#section-4.1.1) grant only. It's not specified for the [refresh_token](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-01#section-6) grant.

See [Refresh Token Protection](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-01#section-6.1) for the recommended

[2022-02-17 08:39] bostandyksoft opened #629 "There is no ability to set authenticationDetailsSource OAuth2TokenEndpointFilter"
**Expected Behavior**
OAuth2TokenEndpointConfigurer provdes some way to override authenticationDetailsSource of OAuth2TokenEndpointFilter

**Current Behavior**
OAuth2TokenEndpointConfigurer does not provdes any way to override authenticationDetailsSource  of OAuth2TokenEndpointFilter

**Context**
Our project has custom authenticationDetailsSource, but we can't use it. If you will provide way to pr

[2022-02-17 13:58] uhhhh2 commented on #56
@jgrandja Do I understand the status of this issue correctly?
- Create a registration: [OIDC spec](https://openid.net/specs/openid-connect-registration-1_0.html#ClientRegistration) [RFC](https://datatracker.ietf.org/doc/html/rfc7591#section-3) [Spring Authorization Server issue](https://github.com/spring-projects/spring-authorization-server/issues/57) (done)
- Get a registration: [OIDC spec](https

[2022-02-17 14:58] jgrandja commented on #622
@zwjsexcalibur Questions are better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

[2022-02-18 19:36] jgrandja commented on #625
@emyasa Yes, this is intended behaviour. As per spec, in [5. Security Considerations](https://datatracker.ietf.org/doc/html/rfc7591#section-5):

   protocol, **if the authorization server's policy allows them**...

We're providing limited support for Public Clients since they are not secure in certain scenarios.

You could register a custom `@Bean` of type `RegisteredClientRepository` that returns

[2022-02-18 19:36] #625 closed

[2022-02-19 15:03] emyasa opened #631 "Ability to Authenticate Dynamically Registered Clients without using Deprecated Password Encoder"
**Expected Behavior**
To have a non-deprecated password encoder for dynamically registered clients / To have a way to set the password encoding for dynamically registered clients.

**Current Behavior**
When using the connect/register endpoint for dynamic client registration, the clientSecret uses StringKeyGenerator. Thus, when authenticating the said clients, it does not match the use of Password

[2022-02-19 15:40] emyasa commented on #625
@jgrandja Thanks for the clarification, learned a lot. I'd gone through the route of using confidential client w/ BFF instead.

By the way, I've filed a new enhancement, also related to dynamic client registration. Although a bit minor — since I currently got a workaround; however, I'm a bit conscious of using the Deprecated NoOpPassword encoder. More details here at [#631](https://github.com/spri

[2022-02-19 17:42] lcxw commented on #631
just client.setclientsecret(passwordencoder.encode(you generatekey))

[2022-02-19 18:00] emyasa commented on #631
@lcxw Yeah, that'll work as a hard-coded value (or if we're going to have our own implementation of client registration); however, for my requirements I need it to be dynamic, and I'd like to utilize the already provided /connect/register endpoint (OidcClientRegistrationEndpointFilter).

Thanks by the way, if you think I'm missing something out feel free to expound more.

[2022-02-20 02:16] wensimin opened #632 "/.well-known/openid-configuration endpoint Expected @Transient Authentication"
**Describe the bug**
The problem occurs when accessing /.well-known/openid-configuration after logging in

**To Reproduce**
Start https://github.com/spring-projects/spring-authorization-server/tree/main/samples/default-authorizationserver
Access http://auth-server:9000/login to log in
Access the http://auth-server:9000/.well-known/openid-configuration endpoint
The console throws an exception and t

[2022-02-22 10:46] fozix opened #633 "loginProcessingUrl result to an http 404 when defining a custom form login"
**Describe the bug**
I'm trying to implement an authorization server. All was well working with the basic configuration
`    @Bean
    @Order(Ordered.HIGHEST_PRECEDENCE)
    public SecurityFilterChain authServerSecurityFilterChain(HttpSecurity http) throws Exception {
        OAuth2AuthorizationServerConfiguration.applyDefaultSecurity(http);
        return http.formLogin(Customizer.withDefaults())

[2022-02-22 11:10] ovidiupopa91 commented on #616
hi @jgrandja. I can start working on this issue.

[2022-02-22 11:10] ovidiupopa91 commented on #417
hi @jgrandja. I can start working on this issue.

[2022-02-22 11:22] kubav182 opened #634 "Claim "aud" is filled with client-id, but should be list of allowed resource servers"
I'm trying to migrate deprecated spring oauth server to this new one. I miss field "resource_servers" on registered client.

I would expect audience claim in JWT to be a list of allowed resource servers, but now it is filled with client-id.

According to [RFC 7519](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.3):

The "aud" (audience) claim identifies the recipients that the JWT is intended

[2022-02-22 17:37] #414 closed

[2022-02-22 20:25] jgrandja commented on #56
@uhhhh2 Yes, the first 2 items are completed.

The last 2 items refer to **RFC 7592** OAuth 2.0 Dynamic Client Registration **Management** Protocol, which does not have any tickets open at the moment. And would be a low priority item anyway, as we have many more features that still need to be built that are high priority.

This specific ticket addresses **RFC 7591** OAuth 2.0 Dynamic Client Regist

[2022-02-22 20:54] jgrandja commented on #627
@natami Thanks for getting in touch, but questions are better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

[2022-02-22 20:54] #627 closed

[2022-02-22 21:05] jgrandja commented on #629
@bostandyksoft It was intentional not to expose `authenticationDetailsSource` via `OAuth2TokenEndpointConfigurer`. Instead, you can register an `ObjectPostProcessor<OAuth2TokenEndpointFilter>` `@Bean`, which will allow you to `OAuth2TokenEndpointFilter.setAuthenticationDetailsSource()`. Please see this [comment](https://github.com/spring-projects/spring-authorization-server/pull/448#discussion_r73

[2022-02-22 21:05] #629 closed

[2022-02-22 22:24] gourav commented on #571
Hi @jgrandja
If it's not assigned to anyone, I would like to work on this one too.

[2022-02-23 07:18] yxgsg opened #636 "When the redirect uri in the authorization request contains the encodeURI like '%3F' or '%26' (decode '?' ,'&') to concatenation parameter, the request fails."
### the Bug

- **Sorry for my poor english.**
- **When the client request authorized login, it fails.**

### To Reproduce

- **The authorization request** :"_https://localhost:8080/oauth2/authorize?redirect_uri=https%3A%2F%2Fopen.bot.tmall.com%2Foauth%2Fcallback%3FskillId%3D86493%26token%3DMjIxMjE2MTIzOTc0NEFGRUhJTkZEVlE%3D&client_id=123&response_type=code&state=0.2484454384938234_",

- **The back

[2022-02-23 09:21] natami commented on #627
@jgrandja : Thanks for responding. I fail to see why this is a question better suited to Stack Overflow?

I'm not sure this is a bug or an enhancement - but the problem is Spring Authorization Server currently requires session support to be able to redirect back to the correct redirectUrl after doing a login.
Enabling Session support in our setup is not an option.

So maybe an enhancemnt request -

[2022-02-23 12:23] guo-jun-airwallex commented on #503
https://github.com/spring-projects/spring-authorization-server/issues/595

Actually the issue I reported before was the same as above one, thankfully the new version finally fixed it.

[2022-02-23 17:31] jgrandja commented on #631
@emyasa `OidcClientRegistrationAuthenticationProvider` has been implemented to spec.

In [Section 3.1.  Client Registration Request](https://openid.net/specs/openid-connect-registration-1_0.html#RegistrationRequest), it states:

As you noticed, the `clientSecret` is assigned via `CLIENT_SECRET_GENERATOR`, which is the expected behaviour.

If you require dynamic client registration and the `clientS

[2022-02-23 17:31] #631 closed

[2022-02-23 19:23] jgrandja commented on #627
@natami The default configuration for `http.formLogin()` configures a `SavedRequestAwareAuthenticationSuccessHandler` and replays the "Saved Request" (if available) after the user successfully authenticates. However, setting `http.sessionManagement().sessionCreationPolicy(SessionCreationPolicy.STATELESS)` disables sessions and the (originally) "Saved Authorization Request" is not saved to session

[2022-02-23 19:43] jgrandja commented on #632
Thanks for reporting this @wensimin. I've confirmed that this is a bug. We'll get a fix in shortly.

[2022-02-23 19:52] jgrandja commented on #633
@fozix Thanks for getting in touch, but questions are better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

It appears the issue is related to the Spring Security configuration (not a Spring Authorization Server issue) since it's related to the authentication flow.

[2022-02-23 19:52] #633 closed

[2022-02-23 21:06] jgrandja commented on #636
@yxgsg I'm having a hard time following the issue you are having. Can you please create a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) or a test that reproduces the issue so I can better understand.

[2022-02-24 05:52] natami commented on #627
@jgrandja : Thanks for explaining,

[2022-02-24 21:31] its-felix commented on #616
Maybe it's already a bit too late poping up here, but I'd like to be able to completely disable the OIDC Part of the authorization server and only use oauth2.

Should I open another issue for this request?

[2022-02-25 05:38] lys2356 opened #637 "Is there any plan to support JWT Bearer grant type defined in RFC7523"
Thanks guys for developing such a great authorization server framework.

I had found this link for upcoming-features.
https://github.com/spring-projects/spring-authorization-server/wiki/Feature-List#upcoming-features
But no more detail plan could be found about JWT Bearer grant type.

Is there any link or doc for this feature plan?
Thanks

[2022-02-25 06:54] yxgsg commented on #636
- **Hi, I uploaded the code to github at:** [auth-server-demo-master](https://github.com/yxgsg/auth-server-demo-master)

- **Thanks for your help**

[2022-02-25 07:05] pxzxj commented on #636
@yxgsg you better upload the client project and resourceserver project too

[2022-02-25 11:02] jgrandja opened #638 "Add OAuth2TokenGenerator implementation for OAuth2RefreshToken"
Add `OAuth2TokenGenerator` implementation for `OAuth2RefreshToken`.

Related gh-628

[2022-02-25 11:08] #638 closed

[2022-02-25 16:27] jgrandja opened #639 "Use OAuth2TokenGenerator for OAuth2AuthorizationCode"
Use `OAuth2TokenGenerator` for generating the `OAuth2AuthorizationCode` in `OAuth2AuthorizationCodeRequestAuthenticationProvider`.

[2022-02-25 16:46] jgrandja commented on #634
@kubav182

The client is the "intended" audience of the access token, since the authorization server mints the access token for use by the client.

To add additional audience(s) to `aud` claim, the application needs to customize the `Jwt`. This can be accomplished by registering a `@Bean` of type `OAuth2TokenCustomizer`.

Please see this
[comment](https://github.com/spring-projects/spring-authoriz

[2022-02-25 16:46] #634 closed

[2022-02-25 16:58] jgrandja commented on #637
Thanks @lys2356 !

The ticket gh-546 addresses Jwt Bearer grant type, however, it's on hold as it's a lower priority feature at the moment.

FYI, we typically prioritize features based on upvotes and at the moment there are no votes.

[2022-02-25 16:58] #637 closed

[2022-02-25 17:21] jgrandja commented on #636
@yxgsg The sample uploaded does not conform to a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) as it does not provide detailed steps to reproduce.

As well, the `redirect_uri` is `https://open.bot.tmall.com/oauth/callback`, which is an external platform that requires extra setup on my end.

Please provide a similar sample as the [default sample](https://github.com/s

[2022-02-25 19:59] jgrandja commented on #571
Thanks @gourav. I've scheduled this for `0.3.0`. Let's start work on this after `0.2.3` is out.

[2022-02-25 20:41] steinwelberg commented on #159
Unfortunately the auditing events of Spring Security are not fine-grained enough for our use case. We'd like to log details about the successful or failed Authorization requests for example. Currently, in order to achieve this, we need to override the`AuthenticationSuccessHandler` and `AuthenticationSuccessHandler` used in all the filters. This is quite ugly and error prone as we'd have to manuall

[2022-02-28 06:16] git9999999 opened #640 "Request for better documentation on Nonce"
In my project i have an Angular app where I use https://github.com/manfredsteyer/angular-oauth2-oidc and a SpringBoot backend. In the UI i copied most of the Stuff from here https://github.com/jeroenheijmans/sample-angular-oauth2-oidc-with-auth-guards.

My Code works with https://demo.identityserver.io/ and with a local Keycloak. I tried hard to run my project with spring-authorization-server. I c

[2022-02-28 11:47] kubav182 commented on #634
@jgrandja Thanks for your reply, I have already implemented as you mentioned via OAuth2TokenCustomizer. I'm ok with custom solution.

This has two conditions. The client == resource server && the client can call just only itself. I'm not sure if most of the real use cases fit this. Thats why i thought the lib should have better support for the audience claim as it is not the name of client, but th

[2022-02-28 18:26] shmonika commented on #568
Hi @sjohnr, I am facing the same issue and I tried to implement my own `AuthenticationConverter` with the changes as you suggested
[code]
However, it always defaults to `ClientSecretBasicAuthenticationConverter`.
Any feedback on this is appreciated. Thanks!

[2022-02-28 19:39] sjohnr commented on #568
@shmonika, did you intend to put this code in the `defaultSecurityFilterChain()` method? In our samples, there are two filter chains, and the one you want to be modifying would be `authorizationServerSecurityFilterChain()`.

[2022-03-01 19:52] shmonika commented on #568
@sjohnr Yeah, that was it. Thank you for your quick response :)

[2022-03-02 16:13] sjohnr commented on #640
@git9999999, thanks for your interest in the project!

I have provided an [answer](https://stackoverflow.com/a/71313395/15835039) on the associated stackoverflow question, including a [sample](https://github.com/sjohnr/spring-authorization-server/tree/backend-for-frontend/samples/angular-client) on a branch that demonstrates that the OIDC flow with "nonce" is working correctly. Please take a look.

[2022-03-02 16:13] #640 closed

[2022-03-03 18:53] #500 closed

[2022-03-03 19:06] jgrandja commented on #500
@dfcoffin I just merged opaque access token support! Thanks for your patience.

As you know, we're in the process of writing the reference documentation so there is no documentation on usage just yet.

Take a look at the test [OAuth2TokenIntrospectionTests.requestWhenObtainReferenceAccessTokenAndIntrospectThenActive()](https://github.com/spring-projects/spring-authorization-server/blob/32414451f51

[2022-03-04 08:07] NotFound403 commented on #499
[antora](https://gitlab.com/antora/antora) is need. Anyone can install it by `npm install -g @antora/cli @antora/site-generator`

[2022-03-04 10:21] guo-jun-airwallex opened #642 "Allow configuration for authorization code time-to-live"
**Expected Behavior**
Should allow different clients to customize different authorization code time-to-live

**Current Behavior**
The authorization code time-to-live is always 5 minutes.

**Context**
[code]
The TODO in `generateAuthorizationCode` is already existed in two minor version.
Can I know the ETA of this feature.
I hope there is a `getAuthorizationCodeTimeToLive` method in `TokenSettings`

[2022-03-04 17:22] spring-projects-issues commented on #636
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-03-05 22:15] dfcoffin commented on #500
@jgrandja Thanks for the notification.  I have been out of town since February 23rd and will return on March 8th.  I'll try to find time to generate a Spring Authorization Server and let you know the results.  Thanks for making this the primary issue for verstion 0.2.3!

[2022-03-05 22:33] dfcoffin commented on #499
@NotFound403 The [docs ](https://github.com/spring-projects/spring-authorization-server/tree/main/docs)link returns a 404.

[2022-03-07 01:35] NotFound403 commented on #499
The git branch has been moved to `ref-doc`, so u need to checkout `ref-doc`

[2022-03-07 04:21] arunsah commented on #642
Hi Guo,
Not sure, but seem like you might be looking for this:

[code]

Thanks,
Arun.

[2022-03-07 15:42] sjohnr commented on #499
Thanks @dfcoffin @NotFound403. I've updated the link in all comments.

[2022-03-07 21:21] atjohn-csam opened #643 "Allow configuring custom validator for Jwt client assertion"
**Expected Behavior**
It would be great if we could add a custom claim validator for client authentication using JWT assertion. This will allow additional validations to be done on the jwt assertion authentication.

**Current Behavior**
Right now for client authentication using JWT Assertion, DelegatingOAuth2TokenValidator comes with the default validators:  return new DelegatingOAuth2TokenValidat

[2022-03-08 07:17] git9999999 commented on #640
@sjohnr Thanks for the answer :-). I gave it one last try with the config of the demo project https://github.com/sjohnr/springone-2021/blob/main/sso/src/main/java/com/example/sso/SecurityConfiguration.java but it did not work, it redirect me to /error and i don't understand why.
I use now Keycloak, i a bit more inconvenient but it works.

here the log
[code]

[2022-03-08 10:17] chenchensheng commented on #518
For me, the easiest way is to copy the [JoseHeader.class](https://github.com/spring-projects/spring-authorization-server/blob/30d78461225e43cfe6de67673f1f616ba7687a42/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/jwt/JoseHeader.java) into my own project (Need to put the same package name of `org.springframework.security.oauth2.jwt`) to ensure load our `JoseHeader.cl

[2022-03-08 15:26] sjohnr commented on #640
Hi @git9999999. I've added a comment on the stackoverflow. Let's keep the conversation going over there.

[2022-03-11 06:23] lu-cheng commented on #60
This feature is very helpful for implementing stateless services and would love to see it progress.

[2022-03-11 07:37] lu-cheng commented on #417
Adding AuthenticationConverter is necessary and will help #60

[2022-03-11 17:21] #636 closed

[2022-03-11 20:32] jgrandja commented on #642
Thanks @guo-jun-airwallex. We'll look at adding this soon.

[2022-03-11 20:40] jgrandja commented on #643
Thanks for the request @atjohn-csam. We'll look at adding this customization hook.

[2022-03-11 20:59] jgrandja commented on #159
@steinwelberg Thanks for your suggestion with `onError(OAuth2Error error)`. I suspect more context information will be needed in order for the listener to take appropriate action, as `OAuth2Error` alone will not be enough.

I am leaning towards a pub-sub model leaving it up to the listener to do the logging or whatever it chooses to do. But we still need to decide on the design.

This work won't h

[2022-03-11 21:24] jgrandja commented on #629
@bostandyksoft Try this:

[code]

[2022-03-12 11:45] VonUniGE commented on #572
Upgrading to Gradle 7 is not yet possible because of the [spring-build-conventions](https://github.com/spring-gradle-plugins/spring-build-conventions) dependency. The development of this plugin seems to have stopped. Last commit is dated from 29 June 2021.

Should this plugin still be used ?

[2022-03-13 00:54] lu-cheng opened #644 "Provides an AuthorizationCodeRepository and generates code before the end user is authenticated"
**Expected Behavior**
Provides an AuthorizationCodeRepository and generates code before the end user is authenticated. At this point, the code is only stored on the server side. After the authorization server authenticates the end user, it binds the code to the end user, and then responds.

**Current Behavior**
The end user is authenticated first, then the code is generated.

**Context**
Generated

[2022-03-13 01:33] lu-cheng commented on #644
In addition, in the case of unauthorized access, authentication should be initiated using the AuthenticationEntryPoint interface, and allows extensions, so session or cross-domain issues can be easily handled in conjunction with pre-generated code.

[2022-03-14 10:54] lu-cheng commented on #644
The authorization code does not represent an access token. We should look at the authorization code separately from whether it is authorized. Holding the authorization code does not mean holding the access token. In fact, both authentication and resource owner consent are authorizations for the authorization code.

[2022-03-15 10:44] arfatbk opened #647 "How-to: Dynamic client registration"
We should have a How-to guide on a dynamic client registration.
As in adding a client to the registered client repository (JDBC/any) at runtime.

[2022-03-15 20:41] sjohnr commented on #647
@arfatbk take a look at gh-499. We have a rough outline that includes "OpenID Connect 1.0 Client Registration Endpoint". I think that section would touch on this topic. Can you explain what additional information you'd like to see in a "How-to" guide?

[2022-03-17 05:53] kwanik-kor opened #648 "Validate Principal"
**Describe the bug**
First of all, now I'm using 'custom consent example' to build my oauth2.0 server. I really appreciate your awesome project.

The problem has occurred when authenticated principal has been expired or the user account has been deleted. When the `SecurityContextHolder` is still alive, authorization end point still throw me to consent page. But I think end point should throw me ba

[2022-03-18 13:59] arfatbk commented on #647
Thanks. That's it I guess.

[2022-03-18 15:39] sjohnr commented on #647
Cool. I'll leave this open for now just in case there are other ideas. We can easily clean these issues up as we're working through the documentation effort, but I wanted to ask just to clarify.

[2022-03-20 16:45] leelance opened #650 "OAuth2TokenEndpointFilter custom define AuthenticationFailureHandler not work"
spring-authorization-server version v0.2.2
[code]

Config OAuth2TokenEndpointFilter authenticationFailureHandler
[code]

CustomAuthenticationFailureHandler  not work, Did I miss anything ?

[code]

Test curl
[code]

Here's the reproducible test project:  [demo](https://github.com/leelance/spring-howto/tree/dev/oauth2/oauth2-authorization-server)

[2022-03-21 03:23] NotFound403 commented on #650
There were 2 `SecurityFilterChain` that configured in your demo. You marked `HIGHEST_PRECEDENCE` on the default one, not the one with `CustomAuthenticationFailureHandler `, so  this is not a Bug.

[2022-03-21 12:55] leelance commented on #650
Thanks.

[2022-03-21 12:55] #650 closed

[2022-03-21 14:43] git9999999 opened #651 "Consider allowing localhost in redirect_uri"
**Expected Behavior**
It should be possible to Overwrite the with a Config properties, to allow the use of localhost as Redirect Host.

**Current Behavior**
I am not a oauth2 specialist, and i am sure there are good reasons to prevent that behaviour by default. But for local development, people are use the enter the url localhost:4200 and not 127.0.0.1:4200

Current Code

[code]

**Context**
1) I

[2022-03-21 23:46] mikesaurus opened #652 "PKCE not required for all authorization code grants"
**Describe the bug**
As an OAuth 2.1 compliant authorization server, Spring Authorization Server does not require PKCE for all authorization code grants. Based on the current authorization code grant implementation here https://github.com/spring-projects/spring-authorization-server/blob/main/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/web/auth

[2022-03-22 06:39] lu-cheng commented on #306
If the client does not support cookies, bootstrapping authentication is still easy to solve, but how to correlate previous authorization code requests after authentication has been bugging me. According to the existing design, actions and states are coupled. I've always wanted to introduce a temporary process ID to solve this problem, but the existing code logic is not friendly to such extensions.

[2022-03-22 06:58] lu-cheng opened #653 "Can the authorization process be stateless?"
If the client does not support state binding with the server, it can also be understood that it does not support cookies. How to authorize the process?

[2022-03-22 12:45] thomasbecker commented on #632
@jgrandja I'm hitting the same bug. Any ETA on this one? Can I probably help fixing this?

[2022-03-22 15:18] jgrandja opened #654 "Optimize InMemoryOAuth2AuthorizationService"

[2022-03-22 15:27] #654 closed

[2022-03-22 15:30] jgrandja opened #655 "Decompose OAuth2ClientAuthenticationProvider"
We should decompose `OAuth2ClientAuthenticationProvider` into `JwtClientAssertionAuthenticationProvider`, `ClientSecretAuthenticationProvider` and `PublicClientAuthenticationProvider`.

[2022-03-22 17:04] #655 closed

[2022-03-22 19:21] #632 closed

[2022-03-22 19:22] jgrandja commented on #632
@wensimin @thomasbecker I just pushed the fix.

[2022-03-22 21:04] jgrandja commented on #106
This sample is now in main via 3fe6f866598068326f2aadc25779a7402a8b046e

[2022-03-22 21:04] #106 closed

[2022-03-23 06:01] thomasbecker commented on #632
Change looks good! Thanks a lot @jgrandja!

[2022-03-24 09:07] kwanik-kor commented on #618
Sorry for replying on closed issue. But there were no documents on ref-doc branch. Is there any opened docs?

[2022-03-24 09:08] #493 closed

[2022-03-24 10:04] jgrandja opened #656 "Apply default settings for public client type"
We should apply default settings for public client type.

[2022-03-24 10:08] #656 closed

[2022-03-24 10:37] jgrandja opened #657 "Dynamic client registration should not generate client_secret for private_key_jwt"
`OidcClientRegistrationAuthenticationProvider` should not generate `RegisteredClient.clientSecret` for `private_key_jwt`.

[2022-03-24 10:45] #657 closed

[2022-03-24 11:09] jgrandja opened #658 "Update to Spring Boot 2.5.10"

[2022-03-24 11:10] jgrandja opened #659 "Update to Spring Framework 5.3.16"

[2022-03-24 11:11] jgrandja opened #660 "Update to Spring Security 5.5.5"

[2022-03-24 11:12] jgrandja opened #661 "Update to Reactor 2020.0.16"

[2022-03-24 11:15] #658 closed

[2022-03-24 11:15] #659 closed

[2022-03-24 11:15] #660 closed

[2022-03-24 11:15] #661 closed

[2022-03-24 15:22] mikesaurus commented on #652
The fix for this might be as easy as defaulting `require_proof_key` to `true` for all clients [here](https://github.com/spring-projects/spring-authorization-server/blob/3e6f8ff42a3de08746894944cebd8c6d52c287ef/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/config/ClientSettings.java#L88). Then, if you wanted to allow clients to override, they cou

[2022-03-24 15:41] sjohnr commented on #618
Documentation is the top priority for the 0.3.0 release, which is the week of May 23, 2022. So we'll be working on this soon!

[2022-03-25 00:11] kwanik-kor commented on #618
@sjohnr Thanks for sharing schedule!

[2022-03-25 01:38] liuxw0218 opened #662 "support opaqueToken as accessToken"
**Expected Behavior**

**Current Behavior**

**Context**

[2022-03-25 06:24] gourav commented on #571
Now that `0.2.3` is released, may I take this up ?

[2022-03-25 10:29] jgrandja commented on #572
@VonUniGE We have a few changes that need to be made, including `spring-build-conventions`, before we can upgrade to Gradle 7. I've scheduled this for next release.

[2022-03-25 13:55] jgrandja commented on #571
@gourav Just a heads up that our top priority for `0.3.0` is the reference documentation so the team is focusing on that for the next 8 weeks. This means that new features and enhancements will be very light for `0.3.0`.

Having said that, I'm not sure we'll be adding a configuration to disable the `plain` method.

As stated in [7.2 Protection against Eavesdroppers](https://datatracker.ietf.org/do

[2022-03-25 15:26] gourav commented on #571
Hi @jgrandja

Thank you for letting me know your thoughts on this.

If it's open to contributors, I would like to work on documentation as well.

[2022-03-25 16:07] jgrandja commented on #159
We should consider using [spring-security#10964](https://github.com/spring-projects/spring-security/issues/10964)

[2022-03-25 19:28] Enkosz commented on #468
Hi @jgrandja i can work on it, in which version is it planned? Thank you!

[2022-03-27 08:09] arfatbk opened #663 "How-to: Implement multi-tenancy"
I am thinking of A single Authorization server in an organization providing identity federation for multiple clients(tenants), where tenant data should be isolated from each other.

Other OAuth servers like KeyCloak provide Multi-tenancy. https://www.keycloak.org/docs/latest/securing_apps/index.html#_multi_tenancy

One of the following approaches can be configured:

Separate Schema – one schema pe

[2022-03-28 15:41] blabadi opened #664 "Login page filter intercepts token based authorization server apis"
**Describe the bug**
In the Federated Identity sample and the way default security is setup it applies oauth2Login to all endpoints including /token /userinfo which should only be authenticated by an Oauth2 token interception.

**To Reproduce**
run the Federated identity sample and try to obtain token using client credentials grant, you get the login page instead of going through.

**Expected beha

[2022-03-28 18:40] alvaro-nogueira opened #665 "RefreshToken is not issued in default sample"
**Describe the bug**
A just cloned the project and ran the default-authorizationserver sample and the refreshToken is not issued, I changed the client Authentication Method to 'CLIENT_SECRET_POST' and the problem persist.

**To Reproduce**
Just run  default-authorizationserver sample and call /token with the credentials in the docs.

**Expected behavior**
The authorizationGrantType REFRESH_TOKEN i

[2022-03-29 03:08] ccenjie opened #666 "It would be better if we could add a spring-boot-starter"
It would be better if we could add a spring-boot-starter .

[2022-03-29 10:11] jgrandja commented on #499
The reference documentation is a "work-in-progress" and lives in the [docs](https://github.com/spring-projects/spring-authorization-server/tree/main/docs) directory.

[2022-03-29 10:16] jgrandja opened #667 "ref-doc: Document Overview"
Document "Overview" in reference manual.

Related gh-499

[2022-03-29 10:20] jgrandja opened #668 "ref-doc: Document Getting Help"
Document "Getting Help" in reference manual.

Related gh-499

[2022-03-29 10:21] jgrandja opened #669 "ref-doc: Document Getting Started"
Document "Getting Started" in reference manual.

Related gh-499

[2022-03-29 10:22] jgrandja opened #670 "ref-doc: Document Configuration Model"
Document "Configuration Model" in reference manual.

Related gh-499

[2022-03-29 10:24] jgrandja opened #671 "ref-doc: Document Core Model / Components"
Document "Core Model / Components" in reference manual.

Related gh-499

[2022-03-29 10:25] jgrandja opened #672 "ref-doc: Document Protocol Endpoints"
Document "Protocol Endpoints" in reference manual.

Related gh-499

[2022-03-29 13:56] #652 closed

[2022-03-29 16:02] #653 closed

[2022-03-29 16:06] jgrandja commented on #662
@liuxw0218 I'm assuming you're looking for gh-500.

[2022-03-29 16:06] #662 closed

[2022-03-29 16:48] gourav commented on #571
Sure. I can work on https://github.com/spring-projects/spring-authorization-server/issues/642

[2022-03-29 20:38] jgrandja commented on #663
@arfatbk Support for multi-tenancy would be implemented in a product implementation of an OAuth/OIDC server, e.g. Keycloak. This isn't a feature the framework would implement.

I changed the title to a "How-to Guide" to see if there is demand from the community for this. If there is enough upvotes, we can consider adding a How-to guide.

I would also recommend posting this question on [Stack Overf

[2022-03-29 20:52] jgrandja commented on #665
@alvaro-nogueira I just tested the [Messages Sample](https://github.com/spring-projects/spring-authorization-server/tree/main/samples#messages-sample) without any changes and the refresh token is returned in the response as expected.

If you made any changes to the default sample then please provide a [minimal reproducible sample](https://stackoverflow.com/help/minimal-reproducible-example) so I c

[2022-03-30 04:59] sjohnr commented on #664
Thanks @blabadi, I must have missed testing this scenario. The main reason the configurer is applied to both filter chains is for the `AuthenticationEntryPoint`. I'll see what can be done to clean it up a bit and fix the issue!

[2022-03-30 08:05] zhk0603 commented on #543
any updates on this topic?

[2022-03-30 10:33] jgrandja commented on #642
The issue is yours @gourav. Please review the [Getting Started](https://github.com/spring-projects/spring-authorization-server#getting-started) in case you haven't already. Thanks.

[2022-03-30 12:30] blabadi commented on #664
@sjohnr I've tried this again today and couldn't reproduce it again, I apologize I've must have done something wrong first time. will close the ticket

[2022-03-30 12:30] #664 closed

[2022-03-30 12:37] blabadi commented on #664
just one thing to point out for folks who may be looking at this for /userinfo in the federated example, you will need to add resource server to the authorization server filter chain (#521)

[code]

[2022-03-30 12:44] alvaro-nogueira commented on #665
Just to clarify, I just ran the default authorization server with:
[code]

Called the /oauth2/token endpoint
[code]

And the response:
[code]

Maybe I'm doing something wrong.

[2022-03-30 13:31] scopendo commented on #665
I believe that I have read elsewhere that refresh tokens are only applicable to the authorization code grant flow, as the client credentials grant flow doesn't need it as the caller must by definition have the client credentials already and can use those to request a new access token.

That said, I too would like the ability to have a refresh token in the belief that it is more secure to persist a

[2022-03-30 13:38] alvaro-nogueira commented on #665
@scopendo Thats right, the client credentials flow dos not issues a refresh token [RFC6749 section 4.4.3](https://www.rfc-editor.org/rfc/rfc6749#section-4.4.3).

[2022-03-30 14:56] sjohnr commented on #664
Ok @blabadi, thanks for letting me know.

[2022-03-30 17:44] sjohnr commented on #543
@zhk0603 this is not currently at the top of the list, but is something we will eventually be looking at.

[2022-03-30 17:52] sjohnr commented on #663
Here's the [stack overflow question](https://stackoverflow.com/questions/71528420/how-to-implement-multi-tenancy-in-new-spring-authorization-server) related to this issue. It looks like I suggested @arfatbk open an issue. I think it's a good idea to see if the community has interest via upvotes (👍).

[2022-03-30 18:12] jgrandja opened #673 "Provide integrations with Spring Boot"
We should provide the following integrations with Spring Boot:

- [x] Design Custom Properties and specify YAML
- [x] Implement auto-configuration classes
- [x] Implement starter -> `spring-boot-starter-oauth2-authorization-server`
- [x] Add to [Spring Initializr](https://start.spring.io/)

[2022-03-30 18:13] #666 closed

[2022-03-30 18:32] jgrandja commented on #648
@kwanik-kor Regarding your comment:

Session management (expired) and User management (deleted) is not a responsibility of the framework and should instead be implemented/configured in Spring Security instead. Session management can be configured using `httpSecurity.sessionManagement()` and user management is dependent on where your user's are stored and the underlying identity provider being used

[2022-04-01 14:57] lsteffen1 opened #675 "Allow configuring OpenID Connect Discovery endpoint path"
**Expected Behavior**
The path of the OpenID Connect Discovery endpoint can be configured. (e.g. in ProviderSettings like done for jwkSetEndpoint)

**Current Behavior**
The path is hard-coded to /.well-known/openid-configuration

**Context**
We want to provide the endpoints of the spring-authorization-server library within a servlet which listens to a specific path. The old deprecated spring libra

[2022-04-03 07:18] FileNotFoundExcetion opened #677 "oauth2 errors was not obvious"
when authorization-server receive  a request like oauth2/authorize or response=code?redirect_url=xxx. but unfortunately went something wrong with the request ,and we haven't seen some logs in some place .just receive a respone code 400 given us.and this is very difficult for us to resolve why receive a 400 code for us .and there is no exception in logs give us some hints

[2022-04-03 07:19] FileNotFoundExcetion commented on #677
i think should add some debug logs in these important filters.

[2022-04-04 16:25] sjohnr commented on #677
Thanks @FileNotFoundExcetion. Sorry about the difficulty in troubleshooting. I believe this is a duplicate of gh-159, so I am going to close this in favor of that issue.

[2022-04-04 16:25] #677 closed

[2022-04-05 15:28] spring-projects-issues commented on #648
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2022-04-05 17:43] dciarniello commented on #159
I'd like to echo the need for logging.  I'm building a POC authorization server in order to assess what it's going to take to upgrade from a highly customized version of the old authorization server (assuming that it's even possible) and running into difficulties due to the lack of error logging.

[2022-04-07 17:06] pokemzok opened #678 "OAuth2Authorization does not work well with Jackson"
**Expected Behavior**
Deserializing and serializing with Jackson should work.

**Current Behavior**
During deserializing some classes can't be deserialized because they miss default empty constructor. Here are few examples:
1. OAuth2Authorization.Token
2. AuthorizationGrantType

Here is code snippet to reproduce the issue (it assumes you have authorization object already created):
[code]
That woul

[2022-04-07 19:36] #678 closed

[2022-04-08 19:34] asaikali opened #680 "Improve error message when redirect_uri contains localhost"
When developing locally with authorization server it is common for devs to use `localhost` instead of `127.0.0.1` when testing with a public client using angular I ran into an issue where the `redirect_uri` was rejected. I turned on tracing with

[code]

But got no output explaining why the uri was rejected. Visual checking of the setting in the angular client and the client registration on the au

[2022-04-09 04:56] sahariardev commented on #370
hi @jgrandja. Can I work on this issue?

[2022-04-09 20:01] asaikali opened #681 "Consider renaming ProviderSettings to something more specific and enhance javadoc"
The `ProviderSettings` class https://github.com/spring-projects/spring-authorization-server/blob/718b86c9836e8c60bf2c0062b2271bd4753d12c9/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/config/ProviderSettings.java#L31

does not give any clues about its purpose. The word provider is too generic and raises questions about exactly is being provided.

[2022-04-10 05:25] zxiaozhou opened #682 "Why do '/oauth2/token' endpoints only allow POST requests"
**Describe the bug**
 1. Why do oauth2/token endpoints only allow POST requests.There is also no support for putting data in the body(Isn't a POST request allowed to put data in the body?)；
 2. The trace code finds that initialization forces only POST requests to be matched；
<img width="1507" alt="image" src="https://user-images.githubusercontent.com/62740686/162602725-4fac5569-f5c3-48b0-9580-f2a5

[2022-04-10 21:17] alimorsel opened #683 "Jdbc token store"
is there a way to store tokens in the database instead of storing them in the memory, so that when the auth server gets restarted no need for authorization again? thanks

[2022-04-11 00:48] zxiaozhou commented on #683
@alimorsel use  JdbcOAuth2AuthorizationService

[2022-04-11 00:49] zxiaozhou opened #684 "Official can you provide a OAuth2AuthorizationService redis implementation"
**Expected Behavior**
Official can you provide a OAuth2AuthorizationService redis implementation. The current implementation found that deserialization failed in authorization code mode

[2022-04-11 01:08] manhnv94 opened #685 "Can't insert a new client when use JdbcRegisteredClientRepository"
I implement Spring Oauth2 Authorization Server v0.2.3
When i use JdbcRegisteredClientRepository to register client but it's not working.
Here is my code.

![image](https://user-images.githubusercontent.com/42148958/162649069-ec606cd1-ef2c-4d96-a9a7-a6fb2d4feafd.png)

[2022-04-12 08:41] Taschee opened #686 "How-to: Implement an Extension Authorization Grant Type"
A guide on how to add a custom flow to the provided core functionality would be very useful.

**Context**
This project does not support grant types that are not part of the OAuth2.1 spec (see https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Features-Matrix#authorization-server-support); Some potential users might still need to support some of these authorization flows, so a guide

[2022-04-12 15:28] spring-projects-issues commented on #648
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2022-04-12 15:28] #648 closed

[2022-04-12 16:35] sjohnr commented on #683
Hi @alimorsel, thanks for your interest in the project!

As @zxiaozhou pointed out, our default sample does demonstrate how to use the Jdbc implementation of each of the core interfaces. I'm going to close this as answered.

[2022-04-12 16:35] #683 closed

[2022-04-12 17:04] #684 closed

[2022-04-12 17:11] sjohnr commented on #682
@zxiaozhou, thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/questions/tagged/spring-security). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it).

For more info on the token endpoint, please

[2022-04-12 17:11] #682 closed

[2022-04-12 22:45] atjohn-csam commented on #643
Hi @jgrandja Can I work on this feature?

I am thinking of introducing DefaultJwtAssetionValidatorFactory to JwtClientAssertionAuthenticationProvider which will have the set of existing validators (new JwtClaimValidator<>(JwtClaimNames.ISS, clientId::equals),
					new JwtClaimValidator<>(JwtClaimNames.SUB, clientId::equals),
					new JwtClaimValidator<>(JwtClaimNames.AUD, containsProviderAudience(

[2022-04-13 01:07] manhnv94 commented on #685
Hi @sjohnr ,

Thanks for your reply

When i start project , JdbcRegisteredClientRepository not save registered client into database.

Here is my sample code: https://github.com/manhnv94/new-oauth2-server/blob/main/src/main/java/com/sbd/oauth2server/config/Oauth2ServerConfiguration.java

[2022-04-13 18:35] schepuri-bisc commented on #534
Hello, we are looking into supporting two-factor authentication; this guide would be of great help. Any ideas when this would be available? Thanks

[2022-04-14 07:14] mogTheDev opened #687 "OpenID Provider Configuration endpoint should include the revocation token endpoint"
**Expected Behavior**
The OpenID Connect Discovery endpoint should provide the revocation token endpoint.
i.e. adding this:
"revocation_endpoint": "http://{host_issuer}:{port_issuer}/oauth2/revoke"

**Current Behavior**
The current response for /.well-known/openid-configuration does not contain the endpoint revocation.

**Context**
Some angular lib such as angular-auth-oidc-client expect the revoc

[2022-04-14 13:36] manhnv94 commented on #685
Hi @sjohnr

I don't get any error messages and my database doesn't have any records yet.
I send to you the capture in intellij when i started my project

![image](https://user-images.githubusercontent.com/42148958/163401710-d12cdd54-1df7-45e1-a7a2-83f2207578ae.png)

[2022-04-14 15:44] manhnv94 commented on #685
Wow, it's work.
You have saved my day.

Thanks.

[2022-04-14 22:20] schepuri-bisc commented on #534
@sjohnr This is great! The sample is a lot more useful than the how-to guide. Thank you for the quick response.

[2022-04-15 08:24] jgrandja commented on #643
Thanks for your interest @atjohn-csam.

We're holding off on adding new features and enhancements until after we release `0.3.0`.

Our top priority for `0.3.0` is to deliver the initial version of the reference documentation.
We still have a lot of work to do so we need to keep focused.

Please reach out again after `0.3.0` is released May 23.

[2022-04-15 08:33] jgrandja commented on #370
Thanks for your interest @sahariardev.

We're holding off on adding new features and enhancements until after we release `0.3.0`.

Our top priority for `0.3.0` is to deliver the initial version of the reference documentation.
We still have a lot of work to do so we need to keep focused.

Please reach out again after `0.3.0` is released May 23.

[2022-04-16 12:51] sahariardev commented on #370
Thanks for the reply. I will reach out after 0.3.0 release.

[2022-04-19 13:22] cqiang102 opened #689 "Having trouble using "/oauth2/revoke""
My request parameters are consistent with 'OAuth2TokenRevocationTests' ,
But Throws exception on line 70 of "OAuth2TokenRevocationAuthenticationProvider.java" .
[code]
Use authorization-server version 0.2.3 .
I want to know when `ClientId` will equal `Id` .

[2022-04-19 18:09] sjohnr opened #690 "Add asciidoctor support for building documentation"
We should remove antora for now and add support for asciidoctor.

[2022-04-19 18:17] #572 closed

[2022-04-19 18:31] jgrandja commented on #675
Closing as duplicate of gh-512. See [comment](https://github.com/spring-projects/spring-authorization-server/issues/512#issuecomment-989742944)

[2022-04-19 18:31] #675 closed

[2022-04-19 18:43] jgrandja commented on #689
@cqiang102 Thanks for getting in touch, but questions are better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

It doesn't appear to be consistent so I would recommend reviewing the tests in `OAuth2TokenRevocationTests` once again.

[2022-04-19 18:43] #689 closed

[2022-04-19 20:23] sjohnr opened #691 "Switch from Jenkins to GitHub Actions"
We should update the build process with GitHub Actions to replace Jenkins.

[2022-04-19 21:59] #691 closed

[2022-04-19 22:15] #690 closed

[2022-04-20 19:43] sjohnr opened #694 "Upgrade to Java 11"
We should use a Java 11 baseline for the 0.3.0 release.

[2022-04-20 20:01] #694 closed

[2022-04-20 20:23] jgrandja commented on #527
This has been resolved in gh-674 via the [SpringMavenPublishingConventionsPlugin](https://github.com/spring-projects/spring-authorization-server/blob/main/buildSrc/src/main/java/org/springframework/gradle/maven/SpringMavenPublishingConventionsPlugin.java#L88). Closing as duplicate.

[2022-04-20 20:23] #527 closed

[2022-04-20 20:30] sjohnr opened #695 "Deploy documentation artifacts to docs.spring.io"
We should enable deploying documentation artifacts to docs.spring.io.

[2022-04-20 20:37] #695 closed

[2022-04-21 15:43] rratliff opened #696 "Allow ability to customize RegisteredClient during registration"
**Expected Behavior**

The OIDC registration API calls the `RegisteredClientRepository` save method with a RegisteredClient object. I'd like the ability to have any custom claims on the registration request be propagated here.

**Current Behavior**
The `OidcClientRegistration` object contains all the claims (including custom claims) in the registration request, but these claims are dropped when th

[2022-04-21 16:26] bit-star opened #697 "There is a bug in the JPA usage guide code provided"
**Describe the bug**

When converting objects, scopes are lost, resulting in the failure of the oidc client to obtain user information

Code location：docs/modules/guides/examples[JpaOAuth2AuthorizationService.toObject()]

**To Reproduce**

Directly use the given JPA integration code to integrate the client oidc. After successful authentication, insufficient appears when obtaining user information_

[2022-04-21 16:43] gabheadz opened #698 "Demo"
Demo issue

[2022-04-21 16:44] #698 closed

[2022-04-21 17:08] atjohn-csam opened #699 "Jwt assertion client authentication- can we make client ID optional parameter?"
**Expected Behavior**
(https://www.rfc-editor.org/rfc/rfc7523#:~:text=Authentication%20of%20the%20client%20is%20optional%2C)
The spec says the client id is optional, and there are certifications tools out there which will test this workflow as per the spec. Since client ID is optional in the spec, can we consider making it optional in spring implementation as well?

**Current Behavior**
Client ID

[2022-04-21 20:40] #697 closed

[2022-04-21 20:41] sjohnr commented on #697
Thanks @bit-star! If I get some time, I'll have to enhance the tests a bit to catch issues like that. For now, I pushed a fix so you can try it out.

[2022-04-22 18:34] bob-walters opened #700 "Federated OAuth2 (enhancement proposal)"
**Expected Behavior**

The 0.2.3 release added support for federated authentication, but one deficiency in that solution is that the upstream access_token is discarded and cannot be conveyed in the final token response (JWT) even via the use of an AccessTokenCustomizer.  Only the idtoken attributes transfer through to the idtoken issued by the spring-authorization-server.  This has the downside th

[2022-04-22 19:37] bob-walters opened #702 "Feature Request: ability to add AuthenticationConverters as well as providers via TokenEndpointConfigurer"
**Expected Behavior**

The spring-authorization-server could permit the containing application to extend the OAuth2 grant_types
that can be supported in accordance with the standard.  (Examples: device-based authentication, token exchanges, etc.)

It almost does this already: The OAuth2TokenEndpoint configurer permits custom authentication providers to be added
via its authenticationProvider() met

[2022-04-23 14:56] sjohnr commented on #700
Hi @bob-walters, thanks for your interest and suggestion!

I didn't add this concept to the federated identity sample, because the id_token customization is all that was necessary and I don't think we had a use case that was simple to demonstrate that required what you're describing. But you're quite right that there's a gap in what we're demonstrating, and I'm open to suggestions for how we can i

[2022-04-23 18:37] bob-walters commented on #700
Steve, thank you!   I had tried something close to what you suggested.   There may be one problem with what you're suggesting, but otherwise that should work.  The only problem I can see is that if you have a typical farm of servers where you are not guaranteed that the /authorization and /token calls will both be received by the same server, the call to loadAuthorizedClient() can come back with n

[2022-04-23 22:23] sjohnr commented on #700
You’re quite welcome, @bob-walters! Actually, you’re suspicion is correct regarding a persistent store. It isn’t generally a good practice to use an in memory store in production, but it won’t work at all in cases where you’re clustering and providing high availability. So once you back the service with a database it won’t be a problem any longer, and you should be good to go!

I’ll go ahead and c

[2022-04-23 22:23] #700 closed

[2022-04-24 17:10] mgonzaga1990 commented on #633
Hi @fozix were you able to do this? I have the same requirement in my project

[2022-04-24 17:27] mgonzaga1990 commented on #533
hi @jgrandja is there a guide for this already? Would appreciate your response on this.

[2022-04-25 05:49] leshalv opened #704 "Support IdTokenTimeToLive"

[2022-04-25 09:42] fozix commented on #633
Hi @mgonzaga1990 ,

the solution in my side was to define two separate SecurityFilterChain beans. One for Oauth config (authorizationServerConfigurer) , and the other for my custom authentication process (login page, login processor ...ect).

[2022-04-25 10:53] mgonzaga1990 commented on #633
`
@EnableWebSecurity
@RequiredArgsConstructor
public class DefaultSecurityConfig {

    private final CustomAuthenticationProvider customAuthenticationProvider;

    @Bean
    public SecurityFilterChain deSecurityFilterChain(HttpSecurity httpSecurity) throws Exception {
        return httpSecurity.formLogin()
                .loginPage("/custom_login.jsp")
                .and()
                .a

[2022-04-25 10:53] mgonzaga1990 commented on #633
@fozix if you have a working example I would really appreciate and thankful

[2022-04-25 13:36] bob-walters commented on #700
I just saw the piece that I was missing: the JdbcOAuth2AuthorizedClientService could be used instead of the InMemory variation to persist the client authorization info between the authorization and token calls.  I had overlooked the existence of that, and see what you mean now.  Thanks again - I'll switch my approach to use what you've suggested.

[2022-04-25 16:37] atjohn-csam commented on #699
I have one more request one JWT client assertion authentication.

Expected Behavior:
Right now the client assertion is validated on the aud parameter= "token end point" from the provider configuration. Is there ay way I can make a custom token end point with dynamic path variable? Example: http://localhost:1002/oauth/oauth2/token/{customParam}

What I am trying to achieve is that, I would like to

[2022-04-26 11:41] vakho10 commented on #266
@jgrandja Hi, will this feature be implemented in near future? This seems like a necessary feature doesn't it? :) I would love to have that functionality.

[2022-04-27 04:41] dilipdhankecha07 opened #705 "Dynamic Client Creation Sample"
How to use spring authorization server for dynamic client registration ?

[2022-04-27 07:02] dilipdhankecha07 opened #706 "Generate RefreshToken While Use ClientCredential GrantType"
[code]

Currently we got this type of response while use client credentials, we are not able to get refreshtoken cause the part of generating refreshtoken may be under development.

our client configuration are as mentioned below.

[code]

But what i found is in **OAuth2ClientCredentialsAuthenticationProvider.authenticate** method, perhaps we need to add refreshtoken mechanism as well.

[2022-04-27 19:27] jgrandja commented on #680
Thanks for the details @asaikali. We'll look at improving this.

[2022-04-27 19:34] jgrandja commented on #651
@git9999999 The reason "localhost" is not allowed is documented in the code:

Please review the link for full details.

Either way, we do need to improve the error message / notification for this scenario.

I'm going to close this as a duplicate of gh-680. Feel free to add additional comments there.

[2022-04-27 20:09] jgrandja commented on #681
@asaikali I did originally consider `AuthorizationServerSettings` but it was specific to OAuth2 only and is not inclusive to OIDC settings.

You will notice `ProviderSettings.getOidcUserInfoEndpoint()` and `ProviderSettings.getOidcClientRegistrationEndpoint`, which are OIDC specific settings, whereas, `ProviderSettings.getAuthorizationEndpoint()` and `ProviderSettings.getTokenEndpoint()` are OAuth

[2022-04-27 20:20] jgrandja commented on #687
Thanks for the report @mogTheDev. We'll look at adding this soon.

[2022-04-27 20:28] jgrandja commented on #696
@rratliff

Can you provide more details on the custom claims you need propagated to the `RegisteredClient`?

Please provide the exact use case so I can better understand.

[2022-04-27 20:51] jgrandja commented on #699
@atjohn-csam Although the spec [Assertion Framework for OAuth 2.0 Client Authentication and Authorization Grants](https://datatracker.ietf.org/doc/html/rfc7521#section-4.2) states the `client_id` is OPTIONAL, the [JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants](https://datatracker.ietf.org/doc/html/rfc7523) does not specify whether `client_id` is OPTIONAL

[2022-04-27 21:03] jgrandja commented on #702
@bob-walters We're tracking this feature enhancement in gh-417. The ticket is assigned and is scheduled for `0.3.1`.

Just as an FYI, it's always best to reach out first (before creating a PR) to see if the feature request would be accepted or if the work is assigned / started. This way you won't waste any of your time.

I'm going to close this as a duplicate and will close the PR.

[2022-04-27 21:03] #702 closed

[2022-04-27 21:14] jgrandja commented on #704
@leshalv This issue is invalid since there is no description.

If you're requesting a new feature enhancement, please provide details and the specific use case on why this is needed.

[2022-04-27 21:14] #704 closed

[2022-04-27 22:16] atjohn-csam commented on #699
Thanks for the response @jgrandja

Providing a certification tool which is used in healthcare: https://inferno.healthit.gov/inferno/

[2022-04-28 09:19] jgrandja commented on #706
@dilipdhankecha07 As per spec, in Client Credentials Grant [Access Token Response](https://datatracker.ietf.org/doc/html/rfc6749#section-4.4.3):

Please review the spec for additional details.

[2022-04-28 09:19] #706 closed

[2022-04-28 09:27] jgrandja commented on #705
@dilipdhankecha07 This will be documented in gh-672. Closing this as duplicate.

In the meantime, see the integration tests in [OidcClientRegistrationTests](https://github.com/spring-projects/spring-authorization-server/blob/f1a01597d9584e9887ddad322fa9bce768fcb927/oauth2-authorization-server/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/authorization/O

[2022-04-28 09:27] #705 closed

[2022-04-28 10:11] jgrandja commented on #266
@vakho10 We're planning on building out OIDC specific features after we release 0.3.0. I don't have a timeline for this feature yet.

[2022-04-28 10:15] jgrandja commented on #533
@mgonzaga1990 This issue is still open so work has not started on it. I don't have a timeline yet as there are higher priority items for the reference documentation. This issue will close when the guide is published and will link to the associated commit.

[2022-04-28 14:38] bob-walters commented on #702
No problem, I hadn't noticed gh-417, and will adhere to your request to reach out first.

[2022-04-28 16:29] sjohnr opened #707 "Simplify authorization server filter chain in samples"
Currently, samples use `http.formLogin(Customizer.withDefaults())` in the `authorizationServerSecurityFilterChain()`. Only an `AuthenticationEntryPoint` to the `loginUrl` is necessary.

We should change samples to replace form login with an entry point to redirect to `/login`.

[2022-04-28 16:31] sjohnr opened #708 "ref-doc: Reorganize the feature list"
We should re-organize the feature list on the [wiki](https://github.com/spring-projects/spring-authorization-server/wiki/Feature-List) and in the [reference docs](https://github.com/spring-projects/spring-authorization-server/blob/main/docs/src/docs/asciidoc/overview.adoc#feature-list).

[2022-04-28 16:44] rratliff commented on #696
I'm replacing a spring-security-oauth2 implementation. We had written our own register API and had a "subject" claim, which we later populated in the `sub` claim in the OAuth token. So the use case would be to capture the `subject` claim from the registration request so that it can be stored and later used during the token customization.

(I realize that this may be a slight deviation from OAuth s

[2022-04-29 06:52] thomasletsch commented on #651
I can understand all the reasoning behind this settings, but I would like to emphasis one the points git9999999 made:

For local development it is very normal to use "localhost" as host name where all is running. Especially since a lot use docker containers running locally. The hard dis-allowance of localhost as redirect uri leads to the workaround of using http://127.0.0.1 as redirect uri in our

[2022-04-29 08:36] itsmariohere opened #709 "TokenRequestValidation: parameter 'redirect_uri' can be omitted"
**Describe the bug**
In a request of a token to the tokenEndpoint (using client method authentication private_key_jwt) the 'redirect_uri' parameter is mandatory if it's specified in the authorization request, but can be omissed and read from the authorization request. If it's specified, then it must be equals.

From OIDC specification https://openid.net/specs/openid-connect-core-1_0.html#TokenRequ

[2022-04-29 17:38] sjohnr opened #711 "Javadoc search feature is broken in Java 11"
**Describe the bug**
When using the search feature in the javadoc, links take you to a URL like "../undefined/...".

**To Reproduce**
* Visit [api docs snapshot](https://docs.spring.io/spring-authorization-server/docs/0.3.0-SNAPSHOT/api/index.html)
* Type "OAuth2Authorization" in "SEARCH:".
* Clicking links to classes takes you to 404 Not Found page

**Expected behavior**
Links work when using the

[2022-04-29 17:52] sjohnr commented on #711
See https://stackoverflow.com/a/48652316/15835039.

[2022-04-29 18:59] #711 closed

[2022-04-30 06:48] lu-cheng commented on #417
I think adding an authentication method requires setting two parameters at the same time, Converter and Provider, because they appear in pairs, and setting the Provider alone may cause other problems.

[2022-05-01 12:26] barneag opened #712 "issue new refresh token every call to refresh access token"
Today Refresh token has a fixed time of expiration by default.
It would be nice to create mechanism for new expiration for refresh token,
every time we refresh access token.
thanks!

[2022-05-01 14:55] markgonzaga opened #713 "failed to access class org.springframework.security.oauth2.jwt.JoseHeader from class org.springframework.security.oauth2.server.authorization.t oken.JwtGenerator (org.springframework.security.oauth2.jwt.JoseHeader and org.springframework.security.oauth2.server.authorization.token.JwtGenerator are in unnamed module o f loader 'app')"
**Describe the bug**
failed to access class org.springframework.security.oauth2.jwt.JoseHeader from class org.springframework.security.oauth2.server.authorization.t
oken.JwtGenerator (org.springframework.security.oauth2.jwt.JoseHeader and org.springframework.security.oauth2.server.authorization.token.JwtGenerator are in unnamed module o
f loader 'app')

This only happens when I containerize my app

[2022-05-01 18:12] asaikali commented on #681
I think improving the Javadoc helps for sure.

When I see `AuthorizationServerSettings` I don't think of OIDC or OAuth2 I just think this is settings required by the server. I can see why `AuthorizationServerSettings` might be too generic and might raise the question why do I have to setup other beans should`t the ` `AuthorizationServerSettings` have all the server settings . I think introducing a

[2022-05-02 20:11] #667 closed

[2022-05-02 20:11] #668 closed

[2022-05-02 20:11] #669 closed

[2022-05-03 06:05] lu-cheng opened #715 "I need to know an important question."
While I know I should be asking questions on Stack Overflow, I don't think there's an answer to my question there. So sorry to post this kind of question here.

Is this project independent?
Is this project based on a derivative of Spring Security?
Or is Spring Security just the default implementation of the authentication feature for this project?
Because I found that this project has no middle la

[2022-05-03 09:42] vakho10 commented on #539
I am trying to authenticate Angular app using PKCE but am getting error. I guess I have a bad server configuration. Could you direct me to some example?

[2022-05-03 14:48] #671 closed

[2022-05-03 15:56] sjohnr commented on #715
@lu-cheng as you mentioned, we do prefer to use [Stack Overflow](https://stackoverflow.com/questions/tagged/spring-security) for questions like this.

Take a look at the [Getting Help](https://docs.spring.io/spring-authorization-server/docs/0.3.0-SNAPSHOT/reference/html/getting-help.html) page in our in-progress reference documentation which has answers to your questions and links to learn more. I

[2022-05-03 15:56] #715 closed

[2022-05-03 16:01] sjohnr commented on #539
@vakho10, take a look at [this sample](https://github.com/sjohnr/spring-authorization-server/tree/bff-demo/samples/angular-client) I worked up for [a recent webinar on SAS](https://www.brighttalk.com/webcast/14893/528772) which focused on SPAs. You will want to browse some of the previous commits to that branch. You may also benefit from watching the recording of the webinar.

[2022-05-03 22:25] aheitzmann opened #716 "Sample projects currently return 401 on requests for /userinfo"
**Describe the bug**
The sample projects `default-authorizationserver` and `custom-consent-authorization-server` currently reject valid requests to the `/userinfo` endpoint.

**To Reproduce**
We can reproduce the issue with a couple of small additions to the existing `messages-client` sample application:

1) Add the following blocks to samples/messages-client/src/main/resources/templates/index.htm

[2022-05-03 22:33] aheitzmann commented on #716
Some additional notes:
- https://github.com/spring-projects/spring-authorization-server/issues/398 removed `.oauth2ResourceServer(OAuth2ResourceServerConfigurer::jwt)` from the `HttpSecurity` configuration in `OAuth2AuthorizationServerConfiguration#applyDefaultSecurity`. This leaves the default authorization server configuration without any Filter or AuthenticationProvider that knows how to proces

[2022-05-04 08:37] k-chandra opened #718 "Refresh token encoding"
**Expected Behavior**
As per OAuth2.1 specification, the refresh_token can be String / Encoded value.

From https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-01#section-1.5

"The refresh token may be an identifier used to retrieve the authorization information or may encode this information into the string itself. "

**Current Behavior**
Currently the  org.springframework.security.oauth2

[2022-05-04 14:03] jgrandja opened #719 "Update to Spring Boot 2.6.7"
Update to Spring Boot `2.6.7`

[2022-05-04 14:09] jgrandja opened #720 "Update to Spring Security 5.6.3"
Update to Spring Security `5.6.3`

[2022-05-04 14:10] jgrandja opened #721 "Update to jackson-bom 2.13.2.1"
Update to jackson-bom `2.13.2.1`

[2022-05-04 14:11] jgrandja opened #722 "Update to nimbus-jose-jwt 9.14"
Update to nimbus-jose-jwt `9.14`

[2022-05-04 14:12] jgrandja opened #723 "Update to mockito-core 4.0.0"
Update to mockito-core `4.0.0`

[2022-05-04 14:14] jgrandja opened #724 "Remove JwtEncoder and associated classes"
Remove `JwtEncoder` and associated classes.

Related gh-596

[2022-05-04 14:18] jgrandja opened #725 "Remove OAuth2TokenIntrospectionClaimAccessor"
Remove `OAuth2TokenIntrospectionClaimAccessor`

Related gh-597

[2022-05-04 14:21] jgrandja opened #726 "Remove temporary OAuth2AccessTokenResponseHttpMessageConverter"
Remove temporary `OAuth2AccessTokenResponseHttpMessageConverter`

Related gh-321

[2022-05-04 14:24] jgrandja opened #727 "Use OAuth2ErrorCodes.INVALID_REDIRECT_URI"
Use the `OAuth2ErrorCodes.INVALID_REDIRECT_URI` constant instead of the literal.

[2022-05-04 14:26] jgrandja opened #728 "Change interface that only contain constants to final class"
Change `interface` that only contain constants to `final class`.

[2022-05-04 14:42] #719 closed

[2022-05-04 14:42] #720 closed

[2022-05-04 14:42] #721 closed

[2022-05-04 14:42] #722 closed

[2022-05-04 14:42] #723 closed

[2022-05-04 14:42] #724 closed

[2022-05-04 14:42] #725 closed

[2022-05-04 14:42] #726 closed, assigned to jgrandja

[2022-05-04 14:42] #727 closed

[2022-05-04 14:42] #728 closed

[2022-05-04 16:34] xiaobzhou opened #729 "AuthorizationServerConfig required a bean of type 'org.springframework.security.config.annotation.web.builders.HttpSecurity' that could not be found."
When I run the sample project 'custom-consent-authorizationserver', the following error occurs.
spring-authorization-server:0.2.3
![image](https://user-images.githubusercontent.com/38646272/166728057-3d457d59-1d2d-4c81-9f27-0d46ca4c15ea.png)

[2022-05-04 17:12] #729 closed

[2022-05-04 19:16] jgrandja opened #730 "Move OAuth2TokenCustomizer to token package"
Move `OAuth2TokenCustomizer` to `token` package.

[2022-05-04 19:23] #730 closed

[2022-05-05 14:20] jgrandja opened #731 "Remove OAuth2TokenClaimsContext.Builder.claims()"
Remove `OAuth2TokenClaimsContext.Builder.claims()`

Related gh-500

[2022-05-05 14:23] jgrandja opened #732 "Remove deprecations"
Remove all `@Deprecated` markers.

[2022-05-05 14:28] #731 closed

[2022-05-05 14:28] #732 closed

[2022-05-05 16:09] sjohnr commented on #716
@aheitzmann thanks for reaching out, and welcome to the project! See [this answer](https://stackoverflow.com/a/71341726/15835039) which states:

Which is to say that you can enable resource server support and provide a `JwtDecoder`, and that is all that is required to enable the use of this endpoint.

It is enabled by default, but it is not exposed by default which is by design because it is an op

[2022-05-05 16:09] #716 closed

[2022-05-05 16:18] sjohnr commented on #718
Hi @k-chandra, thanks for reaching out and welcome to the project!

While the specification does indeed say that it *may* be an encoded value, it does not seem to specify any additional possibilities for what would be contained and in what situation it would be used. However, you can provide your own `JwtGenerator` which does this, even one that makes use of `JwtEncoder`.

Is there an additional s

[2022-05-05 16:37] sjohnr commented on #712
Hi @barneag, thanks for reaching out!

Have you seen `TokenSettings.Builder.reuseRefreshTokens(boolean)` and `TokenSettings.Builder.refreshTokenTimeToLive(Duration)`? With these two settings, you can specify a rotating refresh token that obtains a fresh expiration time of your choosing upon each use.

I believe it would not be best practice to simply extend the existing refresh token's lifetime (t

[2022-05-05 17:26] jgrandja opened #733 "Use OAuth2Token instead of AbstractOAuth2Token"
Use `OAuth2Token` instead of `AbstractOAuth2Token`.

[2022-05-05 17:27] #733 closed

[2022-05-05 19:03] jgrandja commented on #709
@itsmariohere The current logic...

[code]

...is correct as far as I can see. The validation only applies if the `redirect_uri` was supplied in the `OAuth2AuthorizationRequest`.

Can you provide a test that reproduces the issue you are having. You can start the test using something similar to [authenticateWhenInvalidRedirectUriThenThrowOAuth2AuthenticationException()](https://github.com/spring-pr

[2022-05-06 05:43] k-chandra commented on #718
HI @sjohnr., thank you for providing the details.

In old spring-security-oauth2 server., we used to encode additional claims info into the refresh_token refresh_

[2022-05-06 15:51] sjohnr commented on #716
Hi @aheitzmann, thanks for your response! You make good points and I appreciate you providing them.

We are actively working on reference documentation as we speak that will be released later this month! You can see a preview [here](https://docs.spring.io/spring-authorization-server/docs/0.3.0-SNAPSHOT/reference/html/index.html). It will contain information about how to configure the userinfo endp

[2022-05-06 15:59] sjohnr commented on #718
You're quite welcome @k-chandra! I believe you can provide an `OAuth2TokenCustomizer<JwtEncodingContext>`, for example:

[code]

If I'm not mistaken, this would be applied even when issuing an `access_token` in response to the `refresh_token` grant.

[2022-05-06 16:21] sjohnr commented on #718
Since there are multiple possible ways to achieve what you're looking for, I'm going to go ahead and close this issue. If there's something that's not possible (with customization) that was possible in the legacy project or I've missed something, feel free to leave additional comments and we can re-open if necessary.

[2022-05-06 16:21] #718 closed

[2022-05-06 16:57] markhobson opened #734 "Cannot incrementally approve consent"
**Describe the bug**
Authorizing one or more scopes works correctly when:

1. All scopes are approved
2. Or, all scopes are denied

If scopes are partially approved then the user cannot initiate reauthorization.

**To Reproduce**
This can be reproduced using the "Messages Sample":

1. Authorize the client using authorization code
2. Check "message.read" only and submit consent
4. Attempt to reauth

[2022-05-11 09:11] yonyes opened #737 "If the Request doesn't specify scopes, return the token without them"
**Expected Behavior**
The received token will also be without any token (or will not generate any token at all) if there are no scopes in the token request.

**Current Behavior**
Currently, if the `scope` parameter is empty or missing, the token is generated with all possible scopes.

**Context**

- In a security vision, it makes no sense to grant the user more permissions than they need, so users

[2022-05-11 10:34] 9527286768 commented on #737
Hello

[2022-05-11 20:19] mikesaurus commented on #737
I just added a similar comment to a closed issue regarding authorization code requests with no scope - https://app.zenhub.com/workspaces/authorization-server-5e8f3182b5e8f5841bfc4902/issues/spring-projects/spring-authorization-server/600#issuecomment-1123971628

I agree that the default behavior should be to only return a token with scope values that the client requested, including no scope if no