[2020-04-03 22:41] jzheaux opened #1 "Add Empty Spring Boot Sample"
The security team likes to start coding by placing all the code into a sample. We later extract it out into more framework-like code.

We should begin with an empty Spring Boot sample using the latest version of Gradle, which will eventually be the home for the project's minimal authorization server sample code.

For simplicity, Java classes should be placed into a package called `sample`.

At thi

[2020-04-03 22:41] jzheaux opened #2 "Add JWK Set Endpoint"
It would be quite useful to support an endpoint that would issue a JWK Set. Resource servers could retrieve this JWK Set for the purpose of validating JWTs.

For this task, we will avoid providing any of our own abstractions. The result should have a Filter that works directly with Nimbus to produce an response that looks something like:

[code]

The keys that are used can be generated at startup

[2020-04-03 22:42] jzheaux opened #3 "Add Token Endpoint"
An authorization server should support a `/token` endpoint.

On this first iteration, the endpoint should support the client credentials grant gh-5. Namely, it should verify the `grant_type` parameter, and formulate a JWT based on the authenticated client.

Like the JWK Set Endpoint gh-2, this should be a Servlet `Filter`. It will likely sit later on in the Spring Security filter chain, post-authe

[2020-04-03 22:42] jzheaux opened #4 "Add Resource Server Sample"
Related to

It would be good to have a Resource Server sample that integrates with the authorization server sample. It should be quite similar to [the Resource Server sample](https://github.com/spring-projects/spring-security/tree/master/samples/boot/oauth2resourceserver/src) in Spring Security.

Like other samples, it should go into the `samples` directory. For simplicity, classes ought to be pla

[2020-04-09 15:00] rwinch opened #5 "Add a Client Credentials Authentication Filter"
When the token endpoint from gh-3 is invoked, we will need to validate client credentials (we can add other grant types later). For this issue, we can use a hard coded client credentials. The idea is to keep this as simple as possible. We should validate every aspect of the client credentials grant type.

We should produce tests that verify the behaviour

[2020-04-09 15:01] rwinch opened #6 "Add Spring Security"
This task will add Spring Security and ensure that all of the additional `Filter`'s (gh-3, gh-5) are added to Spring Security in the proper places. We should start by using the existing Spring Security DSL (no need to create a custom DSL at this point).

[2020-04-09 17:35] jgrandja opened #7 "Align GitHub labels"
We should align the GitHub labels the same as the [Spring Security labels](https://github.com/spring-projects/spring-security/labels).

[2020-04-09 17:46] jgrandja opened #8 "Setup GitHub issue templates and configure chooser"
We need to setup GitHub issue / pull request templates.

We can leverage the existing [Spring Security templates](https://github.com/spring-projects/spring-security/tree/master/.github) as a base and modify if necessary.

It would also be very convenient to configure a template chooser so a user can select the type of issue being logged. See the Gradle ["New Issue Chooser"](https://github.com/grad

[2020-04-09 17:51] jgrandja opened #9 "Setup GitHub Issue bot"
See [issue-bot](https://github.com/spring-io/issue-bot) for setup instructions.

[2020-04-09 17:58] jgrandja opened #10 "Setup Gradle build"
We should setup the Gradle build to follow the conventions in [Spring Security](https://github.com/spring-projects/spring-security).

The gradle build should support the following modules:

`core` module with base package -> `org.springframework.security.oauth2.server.authorization`
`config` module with base package -> `org.springframework.security.config`
`samples` module

[2020-04-09 18:06] jgrandja opened #11 "Setup GitHub Actions CI"

[2020-04-09 18:10] jgrandja opened #12 "Add README"

[2020-04-09 18:12] jgrandja opened #13 "Review CONTRIBUTING"
We should review [CONTRIBUTING](https://github.com/spring-projects-experimental/spring-authorization-server/blob/master/CONTRIBUTING.adoc) and ensure the content is relevant for this project.

[2020-04-09 18:18] jgrandja opened #14 "Consider adding .editorconfig"

[2020-04-09 18:18] jgrandja opened #15 "Add .gitignore"

[2020-04-09 18:19] jgrandja opened #16 "Setup GitHub Actions workflow for PRs"
When a PR is submitted, we should test any changes by running the build.
The status of build should appear in the UI for the pull request.

[2020-04-09 19:14] jgrandja opened #17 "Epic: Setup repository"
This epic groups the issues/tasks we should strive to complete before we publish the blog post.

[2020-04-09 20:12] jgrandja opened #18 "Integrate CLA"

[2020-04-09 20:19] jgrandja opened #19 "Epic: Add Client Credentials Grant sample"
This epic groups all the issues that will deliver a Spring Boot sample realizing the `client_credentials` grant flow.

Please review the [Client Credentials Grant](https://tools.ietf.org/html/rfc6749#section-4.4) to gain an understanding of the flow.

[2020-04-09 21:02] #18 closed

[2020-04-09 21:53] rwinch commented on #7
Done

[2020-04-09 21:53] #7 closed

[2020-04-09 21:59] rwinch commented on #9
I submitted a PR for issue-bot to start monitoring. See https://github.com/spring-io/issue-bot/pull/27

[2020-04-09 21:59] #9 closed

[2020-04-13 17:54] jgrandja opened #20 "Integrate Gradle Enterprise plugin"

[2020-04-14 14:03] #15 closed

[2020-04-14 14:52] #11 closed

[2020-04-14 18:00] #13 closed

[2020-04-14 19:22] #12 closed

[2020-04-14 20:00] rwinch commented on #8
@jgrandja I have put this together. Please review and make changes as you see fit. If you are happy, please feel free to close this issue https://github.com/spring-projects-experimental/spring-authorization-server/issues/new/choose

[2020-04-14 20:26] #8 closed

[2020-04-15 00:22] jgrandja opened #21 "Follow-up after announcement"
After the Spring Authorization Server is announced via the blog post, we need to follow-up with:

1) Update each of the 2 previous blog posts with link to new blog post:
- https://spring.io/blog/2018/01/30/next-generation-oauth-2-0-support-with-spring-security
- https://spring.io/blog/2019/11/14/spring-security-oauth-2-0-roadmap-update

2) Post a comment to the original [Support OAuth 2.0 Authoriz

[2020-04-15 14:24] rafaelrenanpacheco opened #22 "Multiple authentication handler abstraction"
Hello there!

Where I work at our UAA must handle different ways of authentication. For example, with the grant [Resource Owner Password Credentials](https://tools.ietf.org/html/rfc6749#section-1.3.3) our UAA offers 3 ways of authentication:

- Default:
  - e-mail
  - password
- Credentials:
  - user's social number, company registration number, etc
  - password
- Delegation:
  - target a custom m

[2020-04-15 19:26] tomvandenberge commented on #22
Please keep in mind that the use of the Resource Owner Password Credentials grant is strongly discouraged according the [OAuth 2.0 Security Best Current Practice](https://tools.ietf.org/html/draft-ietf-oauth-security-topics-15#section-2.4). Enhancing the authentication as you describe for this grant type might therefore not be appropriate, as it might encourage people to use it. In my opinion, it

[2020-04-15 20:05] #21 closed

[2020-04-15 20:47] srempfer commented on #1
@omvandenberge: Oh just saw to late that you also working on the issue..
@jzheaux: I had a look on the spring-security project structure and linked a working branch to the issue. Is this something you had in mind?

[2020-04-15 22:05] rafaelrenanpacheco commented on #22
@tomvandenberge, thanks for the feedback!

I did some research and what you said about "it should even be considered to not implement this grant type" makes complete sense regarding this new Spring Authorization Server and the OAuth2 best current practice.

In our scenario we are (still) handling the authentication, even tho the best practice points toward using authorization code flow (for author

[2020-04-16 06:00] protyay commented on #3
Hello @rwinch , Is this something I can work on ? I do have professional working experience with Spring projects.
Thanks.

[2020-04-16 07:52] ovidiupopa91 commented on #2
Hello @jzheaux . If it's ok with you I'll try to implement this part.

[2020-04-16 11:38] jgrandja commented on #2
Thanks for the offer @ovidiupopa91. Please go ahead and let us know if you have any questions.

[2020-04-16 11:42] jgrandja commented on #3
Thanks for the offer @protyay. Please go ahead and let us know if you have any questions.

[2020-04-16 12:37] jgrandja commented on #22
@rafaelrenanpacheco Thanks for your detailed report. From what I gather, your main requirements are `password` and `client_credentials` grant. And you require an easy way of plugging in your specific user database that ultimately validates the user's credentials in the `password` grant flow.

FYI, as @tomvandenberge mentioned, `password` grant is not recommended and in fact is deprecated in [OAuth

[2020-04-16 12:37] #22 closed

[2020-04-16 14:18] dfcoffin commented on #3
@rwinch Is there a reason the client credentials grant is only supporting a JWT base and not a JWT and opaque Bearer Token?  RFC 6750 was issued prior to any of the JWT standards.

[2020-04-16 14:41] dfcoffin opened #25 "Add Authorization Code Grant sample"
This sample should integrate with `spring-security-oauth2-client` and `spring-security-oauth2-resource-server`.

[2020-04-16 14:41] dfcoffin opened #26 "Add Authorization Endpoint"
An authorization server should support a `/authorize` endpoint.

The endpoint should support the authorization code grant.  It should verify the `response_type`, `client_id`, `redirect_uri`, `scope`, and `state` parameters and formulate an authorization response.  The `redirect_uri`, `scope`, and `state `parameters are optional but MUST be verified if present.

The authorization code response shou

[2020-04-16 14:50] andifalk commented on #19
According to https://tools.ietf.org/html/rfc6749#section-2.3.1 authentication can be done via
- HTTP Basic authentication scheme (MUST be supported)
- including the client credentials (client_id, client_secret) in the request-body (MAY be supported)

What is the plan here? Will just option 1 be implemented? Supporting both options would be more complicated as a simple basic auth filter will not wo

[2020-04-16 15:12] andifalk opened #27 "Add OpenID Connect Discovery Endpoint"
An authorization server should support the `/.well-known/openid-configuration` endpoint as specified by https://openid.net/specs/openid-connect-discovery-1_0.html.

This enables automatic client configuration (as already implemented in spring security 5) and we can also integrate JWKS endpoint as of gh-2.

The [Nimbus SDK](https://connect2id.com/products/nimbus-oauth-openid-connect-sdk) may be use

[2020-04-16 15:17] andifalk commented on #25
I would definitely add PKCE as a requirement here.

[2020-04-16 15:36] paurav-munshi commented on #26
Hi Team, I would like to work on this. I have experience working on integrating applications with IDP using Authorization grant. I am new to Spring Security though. Let me know if I can work on this.

Thanks,
Paurav.

[2020-04-16 16:51] jgrandja commented on #26
Thank you for the offer @paurav-munshi.

It's a bit too early to work on this at the moment.
Our initial focus is to implement the `client_credentials` grant via #19 as the initial set of issues.

The `authorization_code` grant is much more involved and requires quite a few components to work together.

Over the next week or so, we'll be planning the next set of tasks at which point we'll have a m

[2020-04-16 16:52] jgrandja commented on #25
@dfcoffin Can you please provide details on this issue.

[2020-04-16 19:51] dfcoffin commented on #25
@andifalk Yes, I mean the authorization code grant.  I attempted to create an epic but was unable to post it, so I provided the Feature issue.  We can add an authorization code grant epic and reference it here.

I agree the authorization grand also should support PKCE, as an optional value and will update the request.  I used the Authorization Code Grant section of RFC 6749 to define the issue, wi

[2020-04-16 20:19] tomvandenberge commented on #22
@rafaelrenanpacheco the difference between the password grant and the authorization code grant is that with the password grant, the client application submits the user's password (entered in the client application) to the authorization server. The client has access to the password. With the authorization code grant, the client redirects the user to the authorization url of the authorization server

[2020-04-16 20:40] rafaelrenanpacheco commented on #22
I'm aware of how these grant works, my question was related on what this new spring authorization server will offer. If it will offer authorization code grant, it means someone will use this project to be the authorization server, in which case this authorization server will expect an username and password input. Creating applications that request username and password seems to me what these specs

[2020-04-16 20:54] tomvandenberge commented on #3
That's an interesting question. I agree that the standard allows using opaque tokens. But I don't know if that's used often. If I'm not mistaken, the current implementation in spring-security-oauth only supports JWT access tokens (not entirely sure though). Maybe it's a good idea to make this pluggable somehow.

[2020-04-16 21:27] tomvandenberge commented on #22
In the scenario where you are managing your user's identities yourself (if you can not or don't want to use e.g. Google as an identity provider), you must use your own authorization server. Your users will have to enter their credentials on your authorization server, which is not a problem. What you don't want is that the **client application** asks for the user's credentials (to forward them to t

[2020-04-16 21:44] jzheaux commented on #3
@dfcoffin I think for the first release the proposal is to support the JWT format and the client credentials grant. That's not to say that in future releases other support won't be added.

[2020-04-16 21:47] ziodave commented on #3
Both Spring Security 5.2 and Spring Security OAuth 2.3 support Opaque Tokens, examples linked from the [Migration Guide](https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Migration-Guide#examples-matrix). As a reference see also the [Features’ Matrix](https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Features-Matrix#resource-server-support).

[2020-04-16 22:04] rafaelrenanpacheco commented on #22
@tomvandenberge thanks for the explanation, now it's much more clear. Indeed, asking the user for it's credentials and then forwarding it to a 3rd party authorization server with ROPC seems really dangerous, the first auth server (middle man) can change the claims at will without the user's knowledge.

One thing that my original post didn't make it clear is that we are not using the password grant

[2020-04-16 22:15] dfcoffin commented on #22
Are we confusing Authorization and Authentication?  The OAuth 2.0 standard does NOT provide Authentication, in fact it clearly states it is outside of the scope of the standard.  The standard requires a user to be Authenticated, but not by the Authorization Server.

[2020-04-16 22:15] jgrandja commented on #3
@dfcoffin Just to clear things up, #19 is what we are targeting for the initial set of work. There is so much more work to be done as you can imagine. And this includes logging all the issues and grouping them in epics. We are starting with the simple flow `client_credentials` that has the least moving parts. We will gradually move towards the more complicated parts such as `authorization_code`.

[2020-04-16 22:21] dfcoffin commented on #3
@jzheaux If the intent is to provide Authorization Server support for OpenID connect in the same manner Spring Security was upgraded, then test JWT needs to be first.  However, I am responsible for assisting Utilities in the implementation of the Green Button standards (a.k.a North American Energy Standards Board (NAESB) Retail Energy Quadrant book 21 (REQ.21) Energy Service Provider Interface (ES

[2020-04-16 22:22] jgrandja commented on #25
@dfcoffin @andifalk Yes, the plan is to group a major feature using epics. I'm actually planning on logging a bunch of issues for the `authorization_code`  grant and grouping it into this epic. However, our goal really is to flush out #19 first and then work on `authorization_code`. That may change though if we have contributors working on both flows :)

[2020-04-16 22:33] jgrandja commented on #19
@andifalk We'll start with HTTP Basic but we'll definitely need a strategy that will allow for other authentication mechanisms. Let's start simple and build from there.

[2020-04-16 22:34] rafaelrenanpacheco commented on #22
At first, yes, usually because the old spring authorization server have some features targeting authentication alongside with authorization, like [this](https://docs.spring.io/spring-security-oauth2-boot/docs/current/reference/html/boot-features-security-oauth2-authorization-server.html#oauth2-boot-authorization-server-password-grant) and [this](https://docs.spring.io/spring-security-oauth2-boot/d

[2020-04-16 22:36] dfcoffin commented on #3
@jgrandja It would be nice if after the project is better defined an implementation milestone map, similar to the one done for the Spring Security OAuth upgrade, is made available.

[2020-04-16 22:39] dfcoffin commented on #25
@jgrandja Is the plan to continue tracking this project in the spring-security-oauth Gitter channel or will there be a spring-authorization-server channel established since spring-security-oauth is actively being implemented and will be supported by Pivotal until March 2021, I believe.

[2020-04-17 01:34] jgrandja commented on #25
Good question. Let me run it by the team and see if it makes sense to setup a new Gitter channel.

[2020-04-17 01:41] jgrandja commented on #3
@dfcoffin For sure, a roadmap for the set of features is necessary so users can see the high level view of what will be delivered and have their vote on it so we can prioritize. When the initial roadmap is planned out it will be published so all can view and track against it.

As per your [comment](https://github.com/spring-projects-experimental/spring-authorization-server/issues/3#issuecomment-61

[2020-04-17 05:00] ketola commented on #4
Hi @jzheaux, can I start working on this? I think this should be pretty straight-forward as there's the example from the spring-security project.

[2020-04-17 05:47] dfcoffin commented on #4
@jzheaux Please provide an explanation of what an integrated Resource Server sample would be?  Is it a separate project that accesses the Authorization Server or is it part of the Authorization project?  If a separate project does it share a common database with the Authorization Server like the spring-security-oauth project or does it use an Authorization Server interface?

[2020-04-17 05:51] dfcoffin opened #28 "List of OAuth 2.0 RFC Standards"
Here is a list of the currently published IETF OAuth 2.0 standards and their status:

![image](https://user-images.githubusercontent.com/1829699/79536392-f2a5a300-804d-11ea-831e-b96ea12c7385.png)

[2020-04-17 06:15] ketola commented on #4
As I understand this, the resource server example will now be the base for an example integration, and as described in the first comment, it's should validate the token.
I don't think it needs to do much more now. The example should evolve when the actual auth server begins to have more features and then demonstrate those features.

[2020-04-17 08:00] kratostaine commented on #16
@jgrandja Thoughts about using GitHub Actions instead of Travis?

[2020-04-17 08:07] kratostaine commented on #16
Ah I see there's already a workflow config added [here](https://github.com/spring-projects-experimental/spring-authorization-server/blob/master/.github/workflows/continuous-integration-workflow.yml)

[2020-04-17 13:34] jbellmann commented on #10
Hello, I would like to contribute here, but I'm not sure to start because there are already 2 PRs (#23 and  #24 ) open that contradict somehow to what is required in this ticket, a multi-module setup.
What is recommended, wait until #23 or #24 are merged or creating a PR based on what is currently in master?

At the moment it looks like people want to help/contribute from outside but without clear

[2020-04-17 15:20] lspil commented on #19
@jgrandja If I can help for this implementation let me know :)

[2020-04-17 15:41] dfcoffin commented on #17
Should the repository use the same schema as the current spring-security-oauth project?  What database implementation does the project need to support (H2, Postgresql, MySQL, etc.)

[2020-04-17 16:06] jgrandja commented on #17
@dfcoffin The repository being referred to in this issue is the GitHub repository.

Also, this intention of this new project is to re-write Authorization Server. We have no plans on reusing existing code from Spring Security OAuth.

[2020-04-17 16:47] dfcoffin commented on #17
@jgrandja Thanks for the clarification

[2020-04-17 16:49] dfcoffin commented on #16
Is this still an open issue, since a GitHub Actions workflow has already been added?

[2020-04-17 17:03] jgrandja commented on #16
@eleftherias Should we close this since you setup #11 ? I'm assuming GitHub actions will build incoming PR's?

[2020-04-17 17:19] eleftherias commented on #16
@jgrandja I haven't set up a workflow for PRs. It only builds on commits currently

[2020-04-17 17:23] jgrandja commented on #19
Thanks for reaching out @lspil ! Would you be interested in trying #5?

[2020-04-17 17:23] kratostaine commented on #16
I feel this issue can be edited as Update GitHub workflow for CI instead of having Travis.

[2020-04-17 17:26] jgrandja commented on #16
@eleftherias What do you suggest? Should we use GitHub actions for building PR's or Travis?

[2020-04-17 17:35] jgrandja commented on #10
Thanks for reaching out @jbellmann. We're going to hold off on the main project gradle build for now until we actually have framework code to build against. We're starting off with samples #19 and next week I'll have another epic setup for the `authorization_code` grant sample. At that point, we'll have some more issues that can be worked on and more structure to the project plan. It would be grea

[2020-04-17 18:49] rwinch commented on #4
@ketola Thanks for reaching out! The issue is yours!

[2020-04-17 20:09] protyay commented on #3
@jgrandja  @jzheaux
Thank you.
Just to reiterate, this is the implementation of **Section 1.3.4 Client Credentials** of _RFC 6479_

Please verify the following comments for a better understanding.

1. The _grant_type_ parameter is the _Client Credentials_ with params Client Secret & Client ID?

2. The _/token_ endpoint accepts the above params, and on verification, returns a JWT.

3. I'm afraid th

[2020-04-17 20:21] #1 closed

[2020-04-17 21:04] dfcoffin commented on #3
@protyay I think [Section 3.2 Token Endpoint](https://tools.ietf.org/html/rfc6749#section-3.2) of RFC 6749 has a better definition of the /token endpoint general requirements

[2020-04-18 05:43] watsta opened #29 "Drop Java 8 compatibility"
Hi Everyone!

I understand that a big chunk of the Java community is still stuck on Java 8, but I wonder if there are any other reason why this project should still have compatibility to that version. As I understand it is not a supported version anymore and Java 11, the current LTS version has already been around for almost 2 years now. Wouldn't it be a good idea to default to Java 11 for this pr

[2020-04-18 06:33] paurav-munshi commented on #17
Are we considering Spring Reactive for this ? What are the thoughts of the team around them ? Since this would be highly io intensive, this seems to be an ideal candidate for reactive architecture.

[2020-04-18 11:40] r331 commented on #29
The main reason is 80% developers are using java 8)

[2020-04-18 13:22] anoopgarlapati commented on #3
@protyay For 3, I believe what @jzheaux meant is the /token endpoint is implemented as a Filter rather than a Spring MVC endpoint similar to how /login endpoint is implemented as a filter [here](https://github.com/spring-projects/spring-security/blob/master/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/web/OAuth2LoginAuthenticationFilter.java). This filter will late

[2020-04-18 13:43] tomvandenberge commented on #3
I have to say I'm sharing @protyay's confusion about implementing the token endpoint as a filter.

Filters are invoked before the request ends up at a servlet. I don't see how you would implement an endpoint in a filter instead of a servlet.

[2020-04-18 15:59] paurav-munshi commented on #2
@jgrandja @jzheaux Since there are plans for creating authorize, token and jwks endpoints. should we also create an issue for adding well know uri ?

[2020-04-18 16:37] protyay commented on #3
@dfcoffin Thanks . I've read the RFC relevant sections to better understand the contract of the /token endpoint. I don't specifically understand, what @tomvandenberge mentions in the above comment, how I should implement it as a Filter

@anoopgarlapati I would like to believe that the link that you have provided is what the implementation should look like. Although if you would visit the RFC 6479

[2020-04-18 17:04] paurav-munshi commented on #3
@protyay @tomvandenberge

Technically speaking it is possible to do that in filter. You can post your response to output stream from filter and close it and also not call chain.doFilter. This will eventually not call the servlet and also commit the response, effectively acting as an endpoint.

Though I am also not sure why we want to do it like that. I would assume that using filter can be easily

[2020-04-18 17:10] paurav-munshi commented on #5
@rwinch @jgrandja If no one is working on this, I can start working on it.

[2020-04-18 17:22] paurav-munshi commented on #2
It seems its already there #27 . Apologies for creating the confusion if any.

[2020-04-18 17:54] dfcoffin commented on #3
@protyay @tomvandenberge @paurav-munshi

I too am confused about how a /token endpoint filter will work, since filters are performed priorbe to any API controller.  Section 4.4.3. Access Token Response contains the following sample response:

[code]
The last value "example_parameter" is intended to allow the implementer to provide customized response elements.  If the /token endpoint is implemente

[2020-04-18 18:01] protyay commented on #3
@paurav-munshi
Even if it's technically possible, it violates what the RFC 6479 outlines as the standard implementation approach.
That's where the confusion lies

[2020-04-18 18:07] eicki commented on #3
I think the main question is do we consider this project a standalone authorization server only or a library that you can include in your app based on spring security to make it an authorization server. Spring Security is all about defining filters, so I think it is easier if everything is a filter in the latter use case.

[2020-04-18 18:16] protyay commented on #3
@eicki

This is from the README for this Project. I think we can safely assume we are not building a library here.

[2020-04-18 18:31] dfcoffin commented on #3
@protyay @paurav-munshi

I think I can clarify some of the confusion.

Issue [gh-5](https://github.com/spring-projects-experimental/spring-authorization-server/issues/5url) implements the client_credentials filter which performs authentication of the Basic Authentication header as required Section 4.4.2. Access Token Request

Issue [gh-3](https://github.com/spring-projects-experimental/spring-auth

[2020-04-18 18:38] dfcoffin commented on #27
This is also required to support #30 as it calls this endpoint.

[2020-04-18 19:02] eicki commented on #3
Actually that is what I use, we have a Spring Security Based App and use Spring Security OAuth to enable our app to act as authorization server as well

[2020-04-18 19:31] paurav-munshi commented on #3
@protyay

I think it should not be difficult to find examples where resource server and authorization server roles are performed by single instance. But I am not sure if that is the intention of using the filter.

I am not sure if RFC will have any endpoint implementation details pertaining to this as Filter and Servlet are JEE specific terms and RFC is supposed to be much more platform / language

[2020-04-18 19:59] protyay commented on #3
@dfcoffin
To answer your question, this is from the /token endpoint documentation from RFC

   presenting its authorization grant or refresh token

I think this issue is responsible for generating the JWT

[2020-04-18 20:55] dfcoffin commented on #3
@paurav-munshi

RFC 6749 Section 4.4.2. Access Token Request states:

The logical way to implement the required client authentication (e.g., Basic Authentication) is as a Servlet filter which is the objective of issue #5

[2020-04-19 21:21] thomasdarimont opened #33 "Verify OpenID Connect compatibility with the certification tests"
In order to ensure OpenID Connect compatibility, one should periodically run the certification tests from: https://openid.net/certification/

[2020-04-19 22:23] pkostrzewa opened #34 "Support for OAuth 2.0 Device Authorization Grant"
This epic should group all issues that will deliver support for Device Authorization Grant as per [RFC8628](https://tools.ietf.org/html/rfc8628).

[2020-04-19 23:44] anoopgarlapati commented on #27
Hi @rwinch @jgrandja Can I work on this issue?
I'm a developer at VMware in Workspace ONE authorization server team and I have experience in developing applications on top of Spring Security.

[2020-04-20 01:46] fzyzcjy opened #35 "When will it be stable to be used in commercial production environment?"
Hi thanks for the newly rewritten spring security & spring auth server! I wonder when will it be stable to be used in commercial production environment?

In other words, if I need to use an OAuth solution in about 3 months (say, July), then which do you suggest:

1. The deprecated Spring Security Oauth
2. The new Spring Security, with 3rd party like Keycloak
3. The new Spring Security, with this r

[2020-04-20 16:05] rwinch commented on #5
Thanks for volunteering @paurav-munshi! The issue is yours

[2020-04-20 16:31] rwinch commented on #29
While I understand the appeal, we want to ensure we follow Spring conventions here. Not following the conventions puts this project in a hard place if we want to merge the code into Spring Security at some point. Right now JDK 8 is the minimum JDK for every other Spring project and we should remain consistent.

[2020-04-20 16:31] #29 closed

[2020-04-20 16:58] rwinch commented on #17
@paurav-munshi At this time we are focused on imperative style applications.

[2020-04-20 17:34] jgrandja commented on #35
@fzyzcjy This project was just initiated so we are far off from a 1.0.0 release. I'm putting together a roadmap this week and setting up the initial set of tasks. You can track the roadmap to see when features are implemented and released. I'll be logging an issue with a link to the roadmap this week.

[2020-04-20 17:34] #35 closed

[2020-04-20 17:47] jgrandja commented on #27
@anoopgarlapati Thank you for the offer! Let's find another task for you to contribute as this one is lower on the priority. We need to focus on implementing core OAuth 2.0 before we get into OpenID Connect 1.0.

I'm in the process of putting together a roadmap that will prioritize the features to be developed. I will log an issue that provides a link to the roadmap along with the first set of epi

[2020-04-20 17:57] rwinch commented on #14
Closing in favor of gh-32

[2020-04-20 17:57] #14 closed

[2020-04-20 18:03] anoopgarlapati commented on #27
@jgrandja Sounds good and I understand. Looking forward to contributing. Thanks!

[2020-04-20 18:13] jgrandja commented on #34
Thanks for logging this @pkostrzewa.

At the moment, this will likely be on the lower priority list as we need to focus on implementing the more widely used OAuth 2.0 flows.

I'm curious, are you aware of any provider that has implemented this new grant type?

FYI, I'm in the process of putting together a roadmap that will prioritize the features to be developed. I will log an issue this week that

[2020-04-20 18:17] jgrandja commented on #33
Thanks @thomasdarimont !

We definitely plan on this when we start developing OpenID Connect 1.0 features. The initial set of work will be focused on core OAuth 2.0 before we get to OpenID Connect 1.0.

Our plan is to also have extensive tests against the scenarios defined in:

- [OAuth 2.0 Threat Model and Security Considerations](https://tools.ietf.org/html/rfc6819)
- [OAuth 2.0 Security Best Cu

[2020-04-20 18:37] eleftherias commented on #16
I suggest using a GitHub Actions workflow for building PRs as well. It integrates well and it will be nice to have everything in on place.

If someone from the community is interested in contributing to this, I can work with you on it.
Make sure to comment below claiming this issue to avoid duplicating work.

[2020-04-20 18:39] kratostaine commented on #16
@eleftherias I am interested in working on this. May I take this up?

[2020-04-20 18:40] eleftherias commented on #16
@kratostaine Thank you, the issue is yours. Feel free to reach out if you have any questions.

[2020-04-20 18:51] jgrandja commented on #3
The main reason why we want the Token Endpoint to be a `Filter` instead of a `@Controller` is because this design decision will allow an application to use another MVC framework instead of locking them into Spring Web MVC.

For example, a company may want to leverage the Authorization Server framework provided by this project to build out a OAuth 2.0 / OpenID Connect 1.0 Provider. If all features

[2020-04-20 19:15] dfcoffin commented on #3
@jgrandja How do you propose to implement the ability for the token response to include additional information besides "access_token", "token_type", and "expires_in" as demonstrated by "example_parameter" in the [4.4.3 Access Token Response example](https://tools.ietf.org/html/rfc6749#section-4.4.3)

[2020-04-20 19:24] jgrandja commented on #3
@dfcoffin It is a very common use case to include custom parameters in a token response. This capability will be enabled. How it's going to be implemented is yet to be determined. The design will get flushed out as we work on it.

[2020-04-20 20:29] paurav-munshi commented on #3
@jgrandja How about implementing the functionality in a more simpler Java class and wrapping the same inside the filter such that the same Java class can be used for the same purpose without the filter. The reason being Filter ( I'm assuming Servlet Filters here) are more of a JEE standard and with the advent of more contemporary frameworks, for e.g Vert.x, it might be more widely re-usable.

[2020-04-20 20:41] tomvandenberge commented on #3
If I understand it correctly, it means that this project can't use Spring Web MVC? That wasn't clear to me, but it seems a reasonable requirement.

This confuses me. I was assuming that this project would deliver an authorization server application, implementing OAuth 2.0, possibly including OIDC. A company therefore doesn't have to _build out_ this project to have an OAuth/OIDC provider; it is on

[2020-04-20 21:19] jgrandja opened #36 "Epic: Authorization Request Exchange"
This epic will track the progress of the following feature:

Provide an implementation of the Authorization Request/Response (Exchange) for the `authorization_code` grant.

This epic is divided into multiple issues, in order to support parallel work streams.

#66 Implement Authorization Endpoint

See the ZenHub [project board](https://app.zenhub.com/workspaces/authorization-server-5e8f3182b5e8f584

[2020-04-20 21:20] jgrandja opened #37 "Epic: Authorization Consent Endpoint"

[2020-04-20 21:20] jgrandja opened #38 "Epic: Access Token Request Exchange"
This epic will track the progress of the following feature:

Provide an implementation of the Access Token Request/Response (Exchange) for the `authorization_code` grant.

This epic is divided into multiple issues, in order to support parallel work streams.

#39 Implement Client Authentication
#67 Implement Token Endpoint
#68 Implement authorization_code AuthenticationProvider

See the ZenHub [pro

[2020-04-20 21:23] jgrandja opened #39 "Implement Client Authentication"
The client must authenticate when calling the authorization server's token endpoint.

The `OAuth2ClientAuthenticationFilter` should be implemented as a `Filter`. The initial implementation should support HTTP Basic only.

### Implementation Requirements

- the `Filter` should process requests for the (default) path `/oauth2/token` and if HTTP Basic credentials are available in the request
- the `O

[2020-04-20 21:24] jgrandja opened #40 "Implement Client Registration Model / Repository"
An authorization server must provide a mechanism(s) for registering Clients.

The initial implementation should provide an in-memory implementation of `RegisteredClientRepository`, similar to `InMemoryClientRegistrationRepository` in the `spring-security-oauth2-client` module.

### Implementation Requirements

- `InMemoryRegisteredClientRepository` should store in a `Map`
- `RegisteredClient` shou

[2020-04-20 21:25] jgrandja opened #41 "Epic: Client Authorization Model"
This epic will track the progress of the following feature:

Provide a domain model for a client registration and authorization-related data associated between a client and a resource owner.

This epic is divided into multiple issues, in order to support parallel work streams.

#40 Implement Client Registration Model / Repository
#43 Implement Authorization Model / Service

See the ZenHub [project

[2020-04-20 21:25] jgrandja opened #42 "Add Authorization (User) Consent page"

[2020-04-20 21:26] jgrandja opened #43 "Implement Authorization Model / Service"
An authorization server needs to maintain existing authorizations between a client and resource owner. For example, when a resource owner grants access to a client (to access its protected resources), the authorization server must persist certain data in order to validate the authorization grant flow until it completes.

For example, during an `authorization_code` grant flow, the authorization ser

[2020-04-20 22:56] eicki commented on #3
I think, it is a Spring philosophy to provide toolsets, i.e. a framework (its already defined in its name springframework) not applications. If I want a authorization server application I could choose e.g. Keycloak, but if I already have an application and just want to enable it to act as an application server at the same time this project is the way to go in my opinion.
We can nevertheless think

[2020-04-21 01:40] jgrandja opened #44 "Implement OAuth 2.0 Device Authorization Grant"
This feature will deliver [OAuth 2.0 Device Authorization Grant](https://tools.ietf.org/html/rfc8628).

Related to Spring Security [client support](https://github.com/spring-projects/spring-security/issues/11063)

[2020-04-21 01:54] jgrandja commented on #34
@pkostrzewa I couldn't find a way to convert this issue to an epic so I'll close this in favour of #44.

[2020-04-21 01:54] #34 closed

[2020-04-21 02:11] fzyzcjy commented on #35
@jgrandja Thanks very much! So which way do you suggest: The deprecated Spring Security Oauth, since it is very mature; or the new Spring Security, with 3rd party like Keycloak?

[2020-04-21 02:43] jgrandja commented on #26
@dfcoffin I couldn't find a way to convert this issue to an epic so I'll close this in favour of #36.

[2020-04-21 02:43] #26 closed

[2020-04-21 02:52] jgrandja opened #45 "Add support for Proof Key for Code Exchange (PKCE)"
This issue will deliver [Proof Key for Code Exchange (PKCE)](https://tools.ietf.org/html/rfc7636).

[2020-04-21 02:57] jgrandja opened #46 "Epic: JWT / JWS / JWK"
This epic will track the progress of the following features:

#81 JSON Web Token (JWT) - [RFC 7519](https://tools.ietf.org/html/rfc7519)
#81 JSON Web Signature (JWS) - [RFC 7515](https://tools.ietf.org/html/rfc7515)
#82 JSON Web Key (JWK) - [RFC 7517](https://tools.ietf.org/html/rfc7517)

See the ZenHub [project board](https://app.zenhub.com/workspaces/authorization-server-5e8f3182b5e8f5841bfc4902

[2020-04-21 03:00] jgrandja opened #47 "Epic: JSON Web Signature (JWS)"
This epic will deliver [JSON Web Signature (JWS)](https://tools.ietf.org/html/rfc7515).

[2020-04-21 03:03] jgrandja opened #48 "Epic: JSON Web Key (JWK)"
This epic will deliver [JSON Web Key (JWK)](https://tools.ietf.org/html/rfc7517).

[2020-04-21 03:04] jgrandja opened #49 "Epic: OAuth 2.0 Token Revocation"
This epic will deliver [OAuth 2.0 Token Revocation](https://tools.ietf.org/html/rfc7009).

[2020-04-21 03:07] jgrandja opened #50 "Add Refresh Token Grant"
This will deliver the [Refresh Token Grant](https://tools.ietf.org/html/rfc6749#section-6).

[2020-04-21 03:11] jgrandja opened #51 "Add support for Client Credentials Grant"
Add support for [Client Credentials Grant](https://tools.ietf.org/html/rfc6749#section-4.4).

[2020-04-21 03:14] jgrandja opened #52 "Implement Token Introspection Endpoint"
This will deliver [OAuth 2.0 Token Introspection](https://tools.ietf.org/html/rfc7662), which provides support for opaque access tokens.

[2020-04-21 03:17] jgrandja opened #53 "Implement OpenID Connect 1.0 Authorization Code Flow"
This issue will deliver [OpenID Connect 1.0 Authorization Code Flow](https://openid.net/specs/openid-connect-core-1_0.html#CodeFlowAuth).

[2020-04-21 03:21] jgrandja opened #54 "Epic: OAuth 2.0 Authorization Server Metadata"

[2020-04-21 03:23] jgrandja opened #55 "Implement OpenID Provider Configuration endpoint"
This issue will deliver the [OpenID Provider Configuration](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig) endpoint.

[2020-04-21 03:27] jgrandja commented on #27
@andifalk I couldn't find a way to convert this issue to an epic so I'll close this in favour of #55.

[2020-04-21 03:27] #27 closed

[2020-04-21 03:30] jgrandja opened #56 "Epic: OAuth 2.0 Dynamic Client Registration Protocol"

[2020-04-21 03:32] jgrandja opened #57 "Epic: OpenID Connect Dynamic Client Registration 1.0"

[2020-04-21 03:34] jgrandja opened #58 "Epic: OpenID Connect Session Management"

[2020-04-21 03:38] jgrandja opened #59 "Support JWT Bearer Client Authentication"
This feature will deliver [Using JWTs for Client Authentication](https://datatracker.ietf.org/doc/html/rfc7523#section-2.2) defined in the JSON Web Token (JWT) Profile spec.

[2020-04-21 03:41] jgrandja opened #60 "Implement OAuth 2.0 Token Exchange"
This feature will deliver [OAuth 2.0 Token Exchange](https://tools.ietf.org/html/rfc8693).

[2020-04-21 05:00] paurav-munshi commented on #36
@jgrandja I am assuming we are still waiting for the Roadmap. Let me know when its good to pick up this issue. I wish to work on this issue.

Also is this connected with #41 ? I am asking this since this end point will generate the authorization code using the authorization code service.

[2020-04-21 05:29] dfcoffin commented on #36
@paurav-munshi It appears @jgrandja is reorganizing the Issues into EPIC entries, which will then have individual issues attached to them.  The Roadmap can then be easily mapped to EPIC entries to be prioritized and managed.

[2020-04-21 11:55] ovidiupopa91 commented on #2
See that jbellman already created a PR for this issue so I will not continue working on it.

[2020-04-21 12:07] ahoehma commented on #2
@ovidiupopa91 do you work now for spring? ;)

[2020-04-21 12:09] ovidiupopa91 commented on #2
@ahoehma In my spare time :)

[2020-04-21 17:12] jgrandja opened #62 "Provide a list of OAuth 2.0 Specifications"
We should compile a list of OAuth 2.0 / OpenID Connect 1.0 specifications and document it in the wiki.

[2020-04-21 17:14] jgrandja commented on #62
See list:
https://github.com/spring-projects-experimental/spring-authorization-server/wiki/OAuth-2.0-Specifications

[2020-04-21 17:14] #62 closed

[2020-04-21 17:21] jgrandja commented on #28
@dfcoffin I provided a complete list in the wiki so I'll close this one.

[2020-04-21 17:21] #28 closed

[2020-04-21 18:04] jgrandja commented on #2
Apologies for this @ovidiupopa91. See [comment](https://github.com/spring-projects-experimental/spring-authorization-server/pull/31#issuecomment-617321987).

I'm in the process of creating issues for the next set of tasks so there will be plenty of work in the backlog to choose from. Please keep an eye out on the new issues coming up this week and let me know which one you would like to take on.

[2020-04-21 18:15] jgrandja commented on #36
@paurav-munshi Yes @dfcoffin is spot on. I'm in the process of laying out the work for implementing `authorization_code` grant. I'm targeting by end of this week (maybe earlier) to have things setup and ready to go. I'll reach out to you when we are organized on our end.

[2020-04-21 18:19] jgrandja commented on #35
I would recommend the client and resource server support in Spring Security 5.x. As far as Authorization Server support goes, you'll have to make that decision yourself based on your requirements. I will say that Spring Security OAuth will be supported until at least May 2021, but we may support it further depending on the progress of this project and where things are at.

[2020-04-21 18:41] jgrandja commented on #3
@paurav-munshi

Most definitely. We should design it in such a way that a user could swap the `Filter` for a `Controller`. To allow for this, the collaborating components used by the `Filter` should be reuseable outside of the `Filter` as well. We will account for this in the design. Typically, `Filter`'s provide minimal logic and simply control flow to it's collaborating components.

[2020-04-21 18:52] jgrandja commented on #3
@tomvandenberge

This project WILL NOT deliver an authorization server application/provider. As it states in the README:

[Spring Security OAuth](https://spring.io/projects/spring-security-oauth) is a framework that provides the capability to enable OAuth 2.0 in an application using custom configuration and components. It's up to the user(s) of the application to configure the authorization server

[2020-04-21 23:48] fzyzcjy commented on #35
Thanks very much!

[2020-04-22 05:29] ovidiupopa91 commented on #2
@jgrandja no problem. Looking forward to the next set of tasks.

[2020-04-22 09:14] lspil commented on #52
Hi @jgrandja Can I take this issue?

[2020-04-22 18:10] jgrandja commented on #52
Thanks for the offer @lspil. This feature is further down the backlog so we're holding off for now. I'm in the process of setting up the next set of work that will deliver the `authorization_code` grant. I should be organized with the plan by either this Friday or early next week, at which point there will be a few issues you can choose from. I'll be sure to reach out to you when things are ready

[2020-04-22 18:16] dfcoffin commented on #52
@jgrandja Please reach out to me as well, once the plan has been completed.

[2020-04-22 18:22] jgrandja commented on #52
You are definitely on my list @dfcoffin 👍

[2020-04-22 19:18] pkostrzewa commented on #44
@jgrandja Support for OAuth 2.0 Device Authorization Grant was recently added to Keycloak ([KEYCLOAK-7675](https://issues.redhat.com/browse/KEYCLOAK-7675)).

[2020-04-22 20:20] tomvandenberge commented on #5
@paurav-munshi I have been working on this issue, too, and missed your message. I've created a filter and tests. Please let me know if you want me to create a pull request; I don't want to hijack your issue ;-)

[2020-04-22 20:22] paurav-munshi commented on #5
I have been working on this but not completed it. If you think you are done, please create a PR. That should be fine.

[2020-04-23 06:30] paurav-munshi commented on #5
@rwinch @jgrandja

I have created a draft pull request for this issue. I would request you to review this PR and let me know if I am putting the correct thought process and also provide your inputs around it. Please note that this is still a work in progress. I have yet to write the test cases.

The idea is that to create a OAuth related templated filter which could be instantiated by composing va

[2020-04-23 06:57] lspil commented on #52
Thanks @jgrandja !

[2020-04-23 10:49] andifalk commented on #2
I  do not really get the point why this has to be implemented as a filter rather than a Controller (which usually is used for an HTTP endpoint)? A JWKS endpoint should be publicly available to resource servers so there is no need for spring security to secure anything here?

[2020-04-23 11:56] anzap commented on #2
@andifalk check the discussion in issue #3 and specifically this comment from @jgrandja https://github.com/spring-projects-experimental/spring-authorization-server/issues/3#issuecomment-616743182
It is a long discussion, but the main gist of it is that providing filters would enable this project to be used as a library to enable Authorization Server capabilities in non Spring MVC apps.

[2020-04-23 12:37] andifalk commented on #2
@anzap Ok, I was not aware of this discussion. It is very difficult to follow such important general discussions that happen in different unrelated github issues. So far I did not know that this project is targeted to implement a framework for implementing custom auth servers. Then I am fine with that filter approach.

[2020-04-23 18:45] #16 closed

[2020-04-23 19:52] #10 closed

[2020-04-23 21:44] jgrandja opened #65 "Stub out authorization_code grant implementation"
We should stub out the `authorization_code` grant implementation.

This will enable contributors to work in parallel while implementing the issues required to realize the `authorization_code` grant flow.

[2020-04-23 21:50] #65 closed

[2020-04-24 06:39] pkostrzewa commented on #6
Once required filters from gh-3 and gh-5 will be finished can I take a look at this?

[2020-04-24 19:03] jgrandja opened #66 "Implement Authorization Endpoint"
An authorization server provides an authorization endpoint, which it uses when interacting with the resource owner to obtain authorization for a client.

The `OAuth2AuthorizationEndpointFilter` should be implemented as a `Filter`. The  `OAuth2AuthorizationRequestRedirectFilter` in the `spring-security-oauth2-client` module is the client `Filter` that redirects to the Authorization Endpoint.

### I

[2020-04-24 19:35] jgrandja opened #67 "Implement Token Endpoint"
An authorization server provides a token endpoint, which the client uses to exchange an authorization grant for an access token.

The `OAuth2TokenEndpointFilter` should be implemented as a `Filter`. The  `DefaultAuthorizationCodeTokenResponseClient` in the `spring-security-oauth2-client` module is the client that calls the Token Endpoint.

### Implementation Requirements

- the `Filter` should pro

[2020-04-24 20:10] jgrandja opened #68 "Implement authorization_code AuthenticationProvider"
The `OAuth2AuthorizationCodeAuthenticationProvider` is responsible for authenticating the authorization `code` parameter..

### Implementation Requirements

- the `OAuth2TokenEndpointFilter` indirectly calls this `AuthenticationProvider`
- the `RegisteredClientRepository` should be used to validate the `client_id` parameter if the client was not previously authenticated
- the `OAuth2AuthorizationS

[2020-04-24 21:24] jgrandja opened #69 "Manage roadmap and project plan using ZenHub"
This project will use [ZenHub](https://www.zenhub.com/) to manage the feature roadmap and project plan.

The project board can be accessed [here](https://app.zenhub.com/workspaces/authorization-server-5e8f3182b5e8f5841bfc4902/board?repos=248032165).

It is highly recommended to install the [ZenHub browser extension](https://www.zenhub.com/extension).

[2020-04-24 21:30] #69 closed

[2020-04-24 22:56] anoopgarlapati commented on #40
@jgrandja I would like to start work on this issue.
I want to understand if these classes should initially be in samples package or should I create a specific package for client registration similar to `spring-security-oauth2-client` module.

[2020-04-24 23:04] jgrandja commented on #6
Thanks @pkostrzewa. The issue is yours.

[2020-04-24 23:27] jgrandja commented on #69
@anoopgarlapati @lspil @dfcoffin @andifalk @ovidiupopa91 @paurav-munshi

I know some of you have been waiting to pick up an issue to work on .
I just logged a few issues focused on delivering the `authorization_code` grant.
The issues that are available are labeled `status: ideal-for-contribution`.
Ping me from the issue that you are interested to work on and I'll assign it to you.
Thanks!

[2020-04-24 23:36] jgrandja commented on #40
Thank you @anoopgarlapati. The issue is yours. See #65

[2020-04-25 01:04] paurav-munshi commented on #66
@jgrandja I would like to work on this issue. Please let me know if its good to start work on this ?

[2020-04-25 02:29] jgrandja commented on #66
Thanks @paurav-munshi. The issue is yours.

[2020-04-25 08:15] kratostaine commented on #67
@jgrandja May I pick this up?

[2020-04-25 10:50] jgrandja commented on #37
Closing in favour of #42

[2020-04-25 10:50] #37 closed

[2020-04-25 17:31] pkostrzewa commented on #39
Can I work on this one?

[2020-04-26 08:11] watsta commented on #43
Hi @jgrandja, I would be happy to work on this issue.

[2020-04-26 11:36] jgrandja commented on #67
Thank you @kratostaine. The issue is yours.

[2020-04-26 11:39] jgrandja commented on #39
Thank you @pkostrzewa. The issue is yours.

[2020-04-26 11:48] jgrandja commented on #43
Thank you @watsta. The issue is yours.

Yes, this is correct. The `OAuth2AccessToken` is a field in `OAuth2Authorization` and the `authorization_code` should be in `OAuth2Authorization.attributes`.

[2020-04-26 18:51] dfcoffin commented on #68
@jgrandja We had discussed the ability to allow an implementation to enhance the generated access token response, but I don't see that described above in the `Implementation Requirements`

[2020-04-26 21:09] dfcoffin commented on #68
@jgrandja Is it possible to update the `Implementation Requirements` section with Issue numbers?

- the OAuth2TokenEndpointFilter #67 indirectly calls this AuthenticationProvider

Multiple `Implementation Requirements` require the use of `RegisteredClientRepository`, and `OAuth2AuthorizationService`.  Are implementers of issues that require these classes to be implemented expected to develop their

[2020-04-27 05:44] paurav-munshi commented on #39
@jgrandja

Does this relates to #5 ? If that is the case I have added a PR for that. Its still in progress but the code / design pattern from that PR can be used.

[2020-04-27 06:10] paurav-munshi commented on #66
@jgrandja

Can you please clarify few things ?

1. How will we handle the authentication part of the authorize endpoint ? Is is the scope of this issue ? If so then we will have to redirect the user-agent to a login endpoint

2. Once the code is generation, it will be the responsibility of the filter to redirect the user-agent to the configured redirect-uri along with code in query string. Is this

[2020-04-27 11:07] jgrandja commented on #39
@paurav-munshi Please see my [comment](https://github.com/spring-projects-experimental/spring-authorization-server/pull/63#pullrequestreview-400812759)

[2020-04-27 13:52] jgrandja commented on #68
@dfcoffin I updated the issues to cross reference the dependent issues.

Customizing the token response will come in a later iteration. The implementation requirements are for this iteration only. We will likely need to go through 3 or more iterations to full realize the `authorization_code` grant, which will include full customizations as per the framework.

[2020-04-27 14:16] pkostrzewa commented on #39
I have basic implementation. Should I still work on it or leave this in favor of #64?

[2020-04-27 14:29] dfcoffin commented on #68
@jgrandja Thanks for the update.  After reading several of your PR review comments, I'm getting a better feeling for the overall project plan and code development approach.  Is this issue still available?

[2020-04-27 16:52] jgrandja commented on #68
@dfcoffin This issue is available. Would you like to take it?

[2020-04-27 17:03] dfcoffin commented on #68
@jgrandja Yes.

[2020-04-27 17:36] jgrandja commented on #68
Thanks @dfcoffin. The issue is yours.

[2020-04-27 18:57] jgrandja opened #73 "Update README -> Getting Started"

[2020-04-27 19:00] #73 closed

[2020-04-27 19:07] Captain-P-Goldfish commented on #41
I'd try myself on this one

[2020-04-27 20:02] Captain-P-Goldfish commented on #41
My mind crossed a question while thinking of some details on this ticket and I'd like to here your opinion to that.

If a client receives authorization for several user resources in a single access token that are quite different in representation and type, would you still use a single resource-endpoint to retrieve all of these resources in one go with an explanation on a documentation on how to pa

[2020-04-27 20:41] jgrandja commented on #66
@paurav-munshi

The default security configuration (`WebSecurityConfigurerAdapter`) will be configured with `authenticated()` for the `/oauth2/authorize` endpoint, so the existing features of Spring Security will be leveraged here - in a later story.

Yes, that is correct. Take a look at how `OAuth2AuthorizationRequestRedirectFilter` (in `spring-security-oauth2-client`) redirects to the Authorizat

[2020-04-27 20:48] jgrandja commented on #39
@pkostrzewa

Please continue. The goal of #64 was to flush out the design for the `client_credentials` flow sample. This issue will address the `authorization_code` flow, and eventually be used for the `client_credentials` when we get to that feature at a later point.

[2020-04-27 21:05] jgrandja commented on #41
@Captain-P-Goldfish

Issues with the `Epic: ` prefix are intended to group one or more other issues that compromise the bigger feature (epic). The 2 issues #40 and #43 are already taken. Please take a look at [Feature Planning](https://github.com/spring-projects-experimental/spring-authorization-server#feature-planning) so you can see what is being working on currently and the feature roadmap (usi

[2020-04-27 21:07] dfcoffin commented on #41
@Captain-P-Goldfish I believe #52 addresses your concern and implements OAuth 2.0 Token Introspection [RFC 7662]

[2020-04-28 09:44] OrangeDog opened #74 "Stateful token/grant store"
Allows building an interface to allow a resource owner to:
 - View all clients with access to their resources
 - View all active third-party logins (technically the same thing)
 - View all scopes granted to each client
 - Revoke any and all of the above

In spring-security-oauth this was achieved by adding a findByUser method to a non-stateful TokenStore. There was also a separate granted scope st

[2020-04-28 16:25] dfcoffin commented on #68
@jgrandja  I'm a bit confused as to which contributor is working on this issue.  I reviewed the numerous comments submitted in the last 24 hours.  It seems other contributors have implemented some of the outlined packages and methods (i.e., Authentication Provider) as components of other assigned issues.

What are your suggestions so I am not duplicating code already developed by other contributor

[2020-04-28 21:09] jgrandja commented on #68
@dfcoffin

When an issue is assigned, we assign the generic `spring-contributor`. The general process is that a user should ask to work on the issue first, and if available indicated by `status: ideal-for-contribution`, then we will respond with the "issue is yours". Then we assign `spring-contributor` and remove `status: ideal-for-contribution`. This issue is assigned to you.

Which issue are you

[2020-04-28 21:19] jgrandja commented on #68
@dfcoffin I updated a couple of the points in the main issue description. Hopefully that clarifies things?

This issue should implement the following:

`OAuth2AuthorizationCodeAuthenticationToken` (input) -> `OAuth2AuthorizationCodeAuthenticationProvider` -> `OAuth2AccessTokenAuthenticationToken` (output)

[2020-04-29 00:47] jgrandja commented on #74
@OrangeDog The `OAuth2AuthorizationService` #43 is somewhat the equivalent of `TokenStore` but it has more capabilities then just storing the access token and optional refresh token. The initial design supports storing authorization `code`, granted `scope`(s) to the client by resource owner, etc.

This design may change as we build it out but please follow this development and report any issues th

[2020-04-29 00:47] #74 closed

[2020-04-29 11:30] yuanjinzhong opened #75 "well authorization is comming"
hello

can you check out a branch  build with maven ?

a lot of people  did not familiar with gradle 。

such as me , i am   familiar with maven.

[2020-04-29 11:54] pkostrzewa commented on #75
Gradle is used as the build tool among other Spring projects so I don't think that would be possible.

[2020-04-29 13:38] jgrandja commented on #75
@yuanjinzhong The [main page](https://github.com/spring-projects-experimental/spring-authorization-server) provides links on how to [build from source](https://github.com/spring-projects-experimental/spring-authorization-server#building-from-source) using Gradle. This project does not use Maven.

Also, questions should be asked on Stackoverflow, as we use GitHub issues for logging bug reports and

[2020-04-29 13:38] #75 closed

[2020-04-30 01:45] #40 closed

[2020-04-30 04:22] paurav-munshi commented on #66
@jgrandja

I have created a new pull request #76 for this issue. I request you to review it. I have not yet added the tests, but I think once you are fine with the code I will add javadoc and tests. Also there are a few assumptions and pointers on which I wish to have your inputs :-

Assumptions
--------------
- Several important components including converter, repository, authorization service, r

[2020-05-01 05:13] paurav-munshi commented on #42
@jgrandja

Is this related to the resource owner consent in authorization code grant flow ? If so, why is this on hold. Shouln't it be available for contribution ?

[2020-05-01 14:50] anoopgarlapati commented on #42
@paurav-munshi Please check the project roadmap in ZenHub. Authorization consent epic is planned to be available for contribution in the upcoming week.

[2020-05-01 17:26] paurav-munshi commented on #42
@anoopgarlapati I think I missed it in the road map when I was looking at it. Thanks for clarifying.

[2020-05-01 17:56] jgrandja commented on #66
@paurav-munshi I took a look at the PR and it's missing some key pieces of functionality required for this issue.

The `Converter<HttpServletRequest, OAuth2AuthorizationRequest> authorizationRequestConverter` is required as part of this implementation. Just like the `OAuth2AuthorizationRequestRedirectFilter` is responsible for producing the Authorization Request, this filter is responsible for con

[2020-05-01 18:06] paurav-munshi commented on #66
In my PR I have included some basic client id and redirect uri validations. But I am not sure if I have to include the client_id / scope / redirect_uri etc validations in this issue. There is confusion primarily because we do not have an issue for Resource Owner Authentication. As per spec in section [4.1.1 Authorization Request](https://tools.ietf.org/html/rfc6749#section-4.1.1)

the request vali

[2020-05-01 18:07] jgrandja commented on #42
Thank you for pointing that out @anoopgarlapati.

@paurav-munshi

Yes it is. However, it's not needed at the moment to realize the full `authorization_code` grant flow.  My intention is to auto-approve the requested scopes for the initial iteration and then bring in the consent page afterwards.

[2020-05-01 18:21] jgrandja commented on #66
The only validation required is what's specified in [4.1.1.  Authorization Request](https://tools.ietf.org/html/rfc6749#section-4.1.1).

To clarify this statement:

required parameters are present and valid. If the request is valid,
the authorization server authenticates the resource owner and obtains
an authorization decision (by asking the resource owner or by
establishing approval via other mea

[2020-05-01 19:05] dfcoffin commented on #66
@paurav-munshi @jgrandja I found when explaining the OAuth 2.0 Authorization Code flow that reviewing [Section 4.1.2.1. Error Response](https://tools.ietf.org/html/rfc6749#section-4.1.2.1) and the description of the various possible error responses helped me understand what validation requirements must be met, prior to obtaining the resource owner's authentication and authorization decision.

The

[2020-05-01 20:48] #4 closed

[2020-05-04 23:02] paurav-munshi commented on #66
@jgrandja

I have incorporated the changes suggested by you and also added the test cases for the filter class. Please note that I have closed earlier PR #76 and opened a new PR #77 . So I request you to please review the new PR and ignore the old one. Sorry for the inconvenience if any.

I have applied following validations in the Filter :-

- Client Id should be mandatory
- Client Id should be r

[2020-05-06 17:19] jgrandja commented on #3
@protyay How are things coming along with the PR? Do you have any questions or do you need any help?

[2020-05-06 17:21] jgrandja commented on #67
@kratostaine How are things coming along with the PR? Do you have any questions or do you need any help?

[2020-05-06 17:35] kratostaine commented on #67
@jgrandja Thank you for enquiring. I don't have any questions right now and am going as per the RFC 6749 spec. Will reach out whenever I have any doubts.

[2020-05-06 18:14] kratostaine commented on #67
@jgrandja Have a query regarding this. How should the `code` be validated as a valid auth code?

[2020-05-06 19:04] kratostaine commented on #67
@jgrandja Also regarding the above, I understand that `OAuth2AuthorizationCodeAuthenticationProvider` would be returning `OAuth2AccessTokenAuthenticationToken` object, but it has no method to return an object of `OAuth2AccessTokenAuthenticationToken` type, rather just the `Authentication` interface type. Should I expect there to be a different method which returns `OAuth2AccessTokenAuthenticationT

[2020-05-07 00:40] jgrandja commented on #67
@kratostaine

The `OAuth2AuthorizationCodeAuthenticationProvider` is responsible for validating the `code`. This will be implemented by #68.

The `authorizationGrantConverter` should simply attempt to convert the access token request parameters to a `OAuth2AuthorizationCodeAuthenticationToken` and then pass it to the `AuthenticationManager`. If the request is NOT a access token request then the `a

[2020-05-07 07:00] kratostaine commented on #67
@jgrandja regarding this, instead of having `authorizationGrantConverter` return null when the request is not an access token request, isn't it better to pass the request to the converter only if it's an access token request, and filter out the other requests? I planned on that way. Your thoughts please?

[2020-05-07 12:51] jgrandja commented on #67
@kratostaine

Yes, thanks for clarifying this. Typically, a `Filter` would use a `RequestMatcher` to determine if it should handle the request. So the `OAuth2TokenEndpointFilter` will use a `RequestMatcher` to match on a valid Access Token Request and if matched pass it to `authorizationGrantConverter`.

[2020-05-08 19:21] NickUfer opened #80 "Make RegisteredClient an interface"
**Context**
Hi,
I just wanted to throw in the idea of making the RegisteredClient an interface and move the current implementation to a default implementation. This way you could simply create an implementation of a JPA entity (with the needed annotations) to persist or retrieve it. I think the foundation for that was already laid with the RegisteredClientRepository interface.

[2020-05-11 02:29] jgrandja commented on #80
@NickUfer Thanks for the feedback.

Interfaces allow for multiple implementations but `RegisteredClient` is not intended to have multiple implementations. However, you'll notice that `RegisteredClient` has a `protected` constructor as well as the `Builder`, allowing for extension outside of the framework. At this point, I don't see more than one implementation of `RegisteredClient` within the fram

[2020-05-11 02:29] #80 closed

[2020-05-12 05:59] paurav-munshi commented on #68
@jgrandja @dfcoffin

Looking at this issue and #67 there is some confusion in my mind. This issue deals with creating a `AuthenticationProvider `implementation which will take `OAuth2AuthorizationCodeAuthenticationToken `as input. This seems in place for this issue as this Provider will validate the `code`, `redirect_uri `and `client_id`. But what confuses me is why would this provider generate a

[2020-05-17 12:51] #43 closed

[2020-05-18 01:11] #2 closed

[2020-05-19 21:21] jgrandja commented on #68
@dfcoffin How is the PR coming along? Do you have any questions or need help with anything?

[2020-05-19 23:13] dfcoffin commented on #68
@jgrandja Unfortunately due to other work-related projects I haven't had a chance to make much progress.  If I am holding up moving to the next set of objectives, I'm happy to let someone with more time tackle this issue.

[2020-05-19 23:35] paurav-munshi commented on #68
@jgrandja @dfcoffin
If it gets unassigned then I would be interested in working on this issue. Let me know if I can contribute.

Thanks,
Paurav.

[2020-05-20 19:57] jgrandja commented on #68
No worries @dfcoffin.

Thanks for the offer @paurav-munshi. Let's get your current PR merged first and then we can look at other tasks. I will likely take this one on as I'm striving to get the first iteration done for authorization code grant sometime next week.

[2020-05-21 10:33] #66 closed

[2020-05-21 20:33] #41 closed

[2020-05-26 11:29] #67 closed

[2020-05-27 16:27] jgrandja commented on #48
Closing in favour of #46

[2020-05-27 16:27] #48 closed

[2020-05-27 16:30] jgrandja commented on #47
Closing in favour of #46

[2020-05-27 16:30] #47 closed

[2020-05-27 17:02] jgrandja opened #81 "Add JwtEncoder to support JWT/JWS"
The authorization server should support JSON Web Token (JWT) as an access token format, as well, it MUST be signed - JSON Web Signature (JWS).

`JwtEncoder` is the counterpart to `JwtDecoder` in the `spring-security-oauth2-jose` module.

### Implementation Requirements

- define `interface JwtEncoder`
- provide an implementation of `JwtEncoder` - `NimbusJwtEncoder` **NOTE:** The implementation sho

[2020-05-27 19:27] idosal commented on #81
I'd love to be considered to take this when it's up for development.

[2020-05-28 00:37] jgrandja opened #82 "Implement JWK Set Endpoint"
The authorization server should provide an endpoint that responds with the public key(s) used to verify the signature of a JWS. The public key(s) should be returned in the JWK Set format.

The `JwkSetEndpointFilter` should be implemented as a `Filter` similar to #31.

### Implementation Requirements

- the `Filter` should process `GET` requests for the (default) path `/oauth2/jwks`
- only public k

[2020-05-28 01:10] jgrandja commented on #81
Thank you for your interest @idosal. It looks like I have a team (internal to VMware) that will work on delivering the JOSE stack. If anything changes, I'll be sure to let you know.

[2020-05-28 01:20] jgrandja opened #83 "Implement Token Revocation Endpoint"
An authorization server should provide an endpoint that allows revoking an access token or refresh token.

The `OAuth2TokenRevocationEndpointFilter` should be implemented as a `Filter`.

### Implementation Requirements

- the `Filter` should process `POST` requests for the (default) path `/oauth2/revoke`
- The client must be authenticated #39 before the Revocation Request can be accepted
- the imp

[2020-05-28 12:37] synek commented on #83
I like to have a go at this one @jgrandja if that's possible.

[2020-05-28 23:07] #5 closed

[2020-05-28 23:19] jgrandja commented on #83
Thanks for your interest @synek. This has already been assigned to an internal team member. Please keep an eye out for other issues coming up.

[2020-05-29 06:38] synek commented on #82
How exactly does this relate to #2? Should this replace the existing implementation in #31 or should it be a separate filter matching `/oauth/jwks` instead of `.well-known/jwk_uris`?

Perhaps @ovidiupopa91 is interested in this as he requested #2 originally :)

[2020-05-29 07:24] ovidiupopa91 commented on #82
Hi, yes, I'm interested in working on this issue.

[2020-05-29 12:50] jgrandja commented on #82
@synek The goal of #2 was to flush out the implementation so it can be used in #4. It really was meant to be a simplified implementation compared to what is required here. Ultimately, #2 will be replaced by this implementation.

@ovidiupopa91 I have an internal team that will be delivering the implementations for the JOSE stack. I plan on logging a couple of new issues next week so take a look the

[2020-05-29 13:59] jgrandja commented on #3
I'm going to close this given the Token Endpoint `Filter` has been implemented in the core module #79.

[2020-05-29 13:59] #3 closed

[2020-05-29 14:26] ovidiupopa91 commented on #82
@jgrandja  ok, got it! I will take a look next week.

[2020-06-02 03:07] #39 closed

[2020-06-03 09:41] pkostrzewa commented on #6
As gh-3 and gh-5 were closed I can progress with this issue.

@jgrandja Could you please provide a detailed description with requirements? Similar to the one available for gh-5.

[2020-06-03 18:41] jgrandja commented on #6
@pkostrzewa This issue would simply modify the `SecurityConfig` in the [minimal sample](https://github.com/spring-projects-experimental/spring-authorization-server/tree/master/samples/boot/minimal) by `http.addFilterAfter()` (or `http.addFilterBefore()` the `ClientCredentialsAuthenticationFilter` (in sample) and `OAuth2TokenEndpointFilter` (in `core`).

In addition, a test should demonstrate the c

[2020-06-05 19:36] #38 closed

[2020-06-05 19:37] #36 closed

[2020-06-10 21:04] jgrandja opened #85 "Add OAuth2AuthorizationServerConfigurer"
Add `OAuth2AuthorizationServerConfigurer` to provide configuration support via `HttpSecurity.oauth2AuthorizationServer()`.

[2020-06-10 21:11] jgrandja opened #86 "Copy SpringTestRule"
Copy `SpringTestRule` from Spring Security to help with testing.

**NOTE:** This will be removed when we merge this codebase into Spring Security.

[2020-06-10 21:17] #85 closed, assigned to jgrandja

[2020-06-10 21:17] #86 closed, assigned to jgrandja

[2020-06-12 01:40] jgrandja opened #89 "Add integration tests for Authorization Code Grant"
Add integration tests for Authorization Code Grant

[2020-06-12 01:43] #89 closed

[2020-06-15 03:37] fujinjun opened #90 "vscode build error"
config:
One or more cycles were detected in the build path of project 'spring-authorization-server-config'. The paths towards the cycle and cycle are:
->{spring-authorization-server-config, spring-authorization-server-core}
core:
One or more cycles were detected in the build path of project 'spring-authorization-server-core'. The paths towards the cycle and cycle are:
->{spring-authorization-serve

[2020-06-15 18:50] vasilaio commented on #90
same with eclipse 2020-03

[2020-06-19 15:00] aDelNogal commented on #51
Are you planning to add JWT authentication? [rfc7523](https://tools.ietf.org/html/rfc7523#section-2.2)

[2020-06-19 21:07] jgrandja commented on #51
@aDelNogal Yes. See the [roadmap](https://app.zenhub.com/workspaces/authorization-server-5e8f3182b5e8f5841bfc4902/roadmap) for planned features.

[2020-06-22 15:45] Kehrlann commented on #45
Hi 👋

I'm interested in working on this !

[2020-06-22 15:48] jgrandja commented on #45
Thanks @Kehrlann ! The issue is yours and let me know if you have any additional questions as you progress.

[2020-06-23 15:51] jgrandja opened #91 "Add @Configuration providing default security configuration"
Add `@Configuration` providing default security configuration.

[2020-06-23 15:52] #91 closed

[2020-06-26 21:44] rcbandit111 commented on #90
Hello guys! I'm interested to ask you is there any ETA for version 1.0? I would like to test this project.

[2020-07-02 12:40] jgrandja opened #92 "Rename OAuth2AuthorizationService.findByTokenAndTokenType() to findByToken()"
Rename `OAuth2AuthorizationService.findByTokenAndTokenType()` to `findByToken()`.

[2020-07-02 12:44] #92 closed

[2020-07-08 09:02] Cepr0 opened #94 "Add support for Resource Owner Password Credentials Grant"
Hello, everyone )
I haven't found such an issue yet...
Is there [Resource Owner Password Credentials Grant](https://tools.ietf.org/html/rfc6749#section-1.3.3) implementation in plans?..

[2020-07-09 13:52] jgrandja commented on #94
@Cepr0 We will not be providing support for the `password` grant as it's deprecated in OAuth 2.1. Please see this [post](https://aaronparecki.com/2019/12/12/21/its-time-for-oauth-2-dot-1) for further details.

[2020-07-09 13:52] #94 closed

[2020-07-13 17:04] #51 closed

[2020-07-22 10:37] jgrandja opened #95 "Align modules with Spring Security"
Align module names and packaging with Spring Security.

[2020-07-22 10:42] #95 closed

[2020-07-22 12:05] jgrandja commented on #90
Thanks for the report @fujinjun.

I haven't had any issues with Intellij.

However, I just pushed some changes in #95 that I believe will resolve your issue.
Can you please try with the latest master and let me know.

[2020-07-22 18:26] vasilaio commented on #90
With eclipse 2020-06, this issue is fixed.

[2020-08-06 19:17] jgrandja commented on #90
@fujinjun I haven't heard back from you so I'm going to assume it's working now given that @vasilaio has confirmed the issue has been resolved.

[2020-08-06 19:17] #90 closed

[2020-08-06 22:05] fujinjun commented on #90
@jgrandja  yes,working now. thank you !

[2020-08-12 20:18] #81 closed

[2020-08-18 10:33] #82 closed

[2020-08-18 10:36] #46 closed

[2020-08-18 19:08] #20 closed

[2020-08-18 19:12] #17 closed

[2020-08-19 13:59] jgrandja opened #97 "Add OAuth2AuthorizationServerConfigurer.getEndpointMatchers()"
Add `OAuth2AuthorizationServerConfigurer.getEndpointMatchers()`

[2020-08-19 14:02] jgrandja opened #98 "InMemoryOAuth2AuthorizationService should uniquely identify an OAuth2Authorization"
`InMemoryOAuth2AuthorizationService` should uniquely identify an `OAuth2Authorization`

[2020-08-19 14:05] #97 closed

[2020-08-19 14:05] #98 closed

[2020-08-19 15:29] #25 closed

[2020-08-19 20:00] jgrandja commented on #6
This is no longer needed as a result of gh-25 and commit 5927475

[2020-08-19 20:00] #6 closed

[2020-08-19 20:04] #19 closed

[2020-08-21 20:01] dfcoffin opened #100 "Add Support for [RFC 6750] Bearer Token Usage (a.k.a. Opaque Tokens)"
**Expected Behavior**

**Current Behavior**

**Context**

[2020-08-21 20:30] #100 closed, assigned to jgrandja

[2020-08-21 21:31] tlodderstedt opened #101 "Add support for OAuth 2.0 Mutual-TLS Client Authentication and Certificate-Bound Access Tokens"
**Expected Behavior**
Support for RFC 8705 would allows clients to authenticate using TLS certificates and to bind access tokens to such certificates.

**Current Behavior**
Addition of client authentication with public client crypto increases the security capabilities of this project.

**Context**
There are several advantages:
* Certificate-based authentication is more secure than shared secrets s

[2020-08-23 07:54] lizhongyue248 opened #102 "/oauth2/token endpoint parameter validate."
**Describe the bug**
`/oauth2/token` endpoint parameter `code` url decode.

**To Reproduce**
1. I get `code`  from `/oauth2/authorize` endpoint redirect url paramters.  The code is `Iz5jWzV00fcxhIAomMff_COjDsU8o_ifiLrdZK9U4wY%3D`
2. And I use the code post `/oauth2/token`, it will give me a error
[code]
3. I try to use url decode `Iz5jWzV00fcxhIAomMff_COjDsU8o_ifiLrdZK9U4wY%3D`, the right code is

[2020-08-23 22:50] jgrandja commented on #100
@dfcoffin The purpose of the Bearer Token Usage RFC 6750 is to specify how a client can use a bearer token when requesting a protected resource. The 3 options are header, form parameter and query parameter. The bearer token can be either opaque or self-contained (JWT). This spec is specific to the client.

The Token Introspection RFC 7662, specifies how a protected resource can introspect an opaqu

[2020-08-24 03:11] dfcoffin commented on #100
Does Release 0.0.1 support the generation of JWT and Opaque Tokens? If not what currently listed tasks will produce an opaque access token?

[2020-08-25 05:31] louiemondot commented on #102
I like to have a go at this one if that's possible.

[2020-08-25 14:41] lizhongyue248 commented on #102
### Describe the bug
I get a error when access `/oauth2/token` with `client_id`.

### To Reproduce

1. I get code from /oauth2/authorize endpoint redirect url paramters. The code is Iz5jWzV00fcxhIAomMff_COjDsU8o_ifiLrdZK9U4wY%3D
2. And I use decode code and post to `/oauth2/token` with `client_id`, I get a error:
[code]
3. I remove this paramter, it work.

Debug the code:

When I post with `client

[2020-08-28 01:44] SoulMate1214 commented on #102
Don't carry parameters clientId Inside the header，ohhhhhhhh

[2020-08-28 15:26] dmfrey opened #103 "WebSecurityConfigurer @Order(100) is broken when Actuator is also present"
**Describe the bug**
Implementing the Authorization Server and including the Actuator dependency throws an exception on startup because the order of the `WebSecurityConfigurerAdapter`s is duplicated between `OAuth2AuthorizationServerSecurity` and `ManagementWebSecurityConfigurerAdapter`

**To Reproduce**
Create a minimal Spring Cloud Authorization Server with the following dependencies:

[code]

*

[2020-08-28 15:29] dmfrey commented on #103
**Workaround:** Removing `Actuator` dependency for the time being temporarily eliminates the issue.

[2020-08-31 07:48] yaozou opened #104 "the oauth2-integration sample of release 0.0.1 seems to be unworkable"
For example, in the client module of the sample, looks like there's no request mapping for the redirect url (http://localhost:8080/authorized) defined in the below code

RegisteredClient registeredClient = RegisteredClient.withId(UUID.randomUUID().toString())
        .clientId("messaging-client")
        .clientSecret("secret")
        .clientAuthenticationMethod(ClientAuthenticationMethod.BASIC)

[2020-08-31 10:36] liangyangtao commented on #104
english:

The redirect URI has returned the code to you. You can write an authorized method later

1 Exchange code post for accesstoken

2 Request with accesstoken http://localhost:8090/messages

中文：

redirect-uri 已经给你返回code 了，在client自己写一个authorized 方法就可以了

(1) 用code  post换取accesstoken

(2) 用accesstoken 请求http://localhost:8090/messages 就可以了

[2020-09-01 01:44] yaozou commented on #104
Thanks! But this is not what I'm looking for. Acutally I know how oauth2 works, and I just  want to see the supposed best practices in spring security and spring authorization server. It would be great if the spring team could complete the sample if it's incomplete for now, so that we can quickly evalute the server in our use cases and eventually switch to it when it becomes more mature.

[2020-09-01 10:01] jgrandja commented on #104
@yaozou

As stated by @liangyangtao

This is correct.

The authorization code is returned to the client via the registered `redirect_uri` `{baseUrl}/authorized`, which in turn exchanges it for an access token. At the end of the `authorization_code` grant flow, the client will redirect to either the registered `redirect_uri` `{baseUrl}/authorized` OR the last saved request (which is what happens in

[2020-09-01 10:01] #104 closed

[2020-09-01 10:23] jgrandja commented on #102
@lizhongyue248 How are you testing the token request? Are you using a specific oauth2 client library or doing it manually, eg. curl?

FYI, the [oauth2-integration](https://github.com/spring-projects-experimental/spring-authorization-server/tree/master/samples/boot/oauth2-integration) sample works, which uses Spring Security 5.x client.

If you are testing manually, eg. curl, then you are likely no

[2020-09-01 10:25] jgrandja commented on #102
@louiemondot Thanks for the offer on looking into this. Let's hold off for now until we figure out if this is an issue or not.

[2020-09-01 12:02] lizhongyue248 commented on #102
@jgrandja Hi, I test api by `curl`, the oauth2-integration sample works, but my client is not a Spring Security application.

Most of the time we need to adapt other oauth2 clients, so it is necessary to have the authorization server decode Base64 in request.

Instead of letting the client decode.

And this:

[2020-09-01 12:18] jgrandja commented on #102
@lizhongyue248

You can use any oauth2 client library - you do not need to use Spring Security oauth2 client.

The authorization server should work with any oauth2 client library.

Regarding your comment

Mutual TLS client authentication has not been implemented as of yet so this won't work with current version. Only HTTP Basic is implemented.

I'm going to close this as the authorization server i

[2020-09-01 12:18] #102 closed

[2020-09-01 19:06] asaikali opened #105 "Improve naming of KeyManager and ManagedKey"
Currently the `KeyManager` interface has finder methods only it does not seem like a Manager class it is useful to consider renaming it to something like `KeySource`.  If the `KeyManager` it makes sense to rename `ManagedKey` at the same time, I think `KeyHolder`,`KeyInfo`,`KeyMaterials`, `KeyDeatils` are reasonable candidate names.

[2020-09-01 19:08] asaikali opened #106 "Add a login with Google Authorization Server Sample"
The current sample authorization server uses spring security form login. A sample showing how to have the authorization server delegate to google or another social login provider is quite useful. For my use case I to be able to support from based login and social OIDC logins. Implementing this sample can help ensure that the configuration APIs are flexible enough to allow multiple authentication p

[2020-09-01 19:11] asaikali opened #107 "Add docs skeleton to the project"
Add the asciidoctor skeleton to the project so that docs can begin to be written in the style of typical spring projects.

[2020-09-01 19:13] asaikali opened #108 "Remove form login from the sample app"
The current sample app shows a form login to then see the menu of different demos that are possible auth code and client credentials. For new users it is confusing to see a form login on a sample app that will delegate to the authorization server. removing the form login in the sample app will make it easier to understand.

[2020-09-02 09:31] jgrandja opened #109 "revocation"

[2020-09-02 09:33] jgrandja commented on #109
Closing as accidentally created

[2020-09-02 09:33] #109 closed

[2020-09-02 14:46] dgt-amexio opened #110 "Allow CORS requests to JWK Set endpoint"
**Describe the bug**
CORS issue with /oauth2/jwks endpoint

**To Reproduce**
Integrate spring-authorization-server in a SpringBoot Application
(following example provided in repo : https://github.com/spring-projects-experimental/spring-authorization-server/tree/master/samples/boot/oauth2-integration/authorizationserver)

Call the /oauth2/jwks endpoint from a JS application (or through any REST Cli

[2020-09-02 19:02] #108 closed

[2020-09-03 10:09] jgrandja commented on #103
Thanks for the report @dmfrey. The fix is now in master.

[2020-09-07 03:15] freeman0432 opened #111 "Error package import"
https://github.com/spring-projects-experimental/spring-authorization-server/blob/e16f15cce33d3feab15637198aa8b81d1e08a6c8/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/jose/jws/NimbusJwsEncoder.java#L31

[2020-09-08 15:44] jgrandja opened #113 "Constrain version for com.nimbusds:nimbus-jose-jwt"
`com.nimbusds:nimbus-jose-jwt:9.0` introduced breaking changes so let's constrain the version range to `8.+`.

[2020-09-08 15:48] #107 closed

[2020-09-08 15:48] #113 closed

[2020-09-08 18:41] jgrandja commented on #107
@asaikali Here is the [starting point](https://github.com/spring-projects-experimental/spring-authorization-server/blob/master/docs/manual/src/docs/asciidoc/index.adoc) for the reference manual.

Build the docs by running `./gradlew clean docs`

[2020-09-08 19:30] jgrandja commented on #111
Thanks for the report @freeman0432.

`com.nimbusds:nimbus-jose-jwt:9.0` introduced breaking changes so for now we're going to stick with `8.+`.

This has been resolved in gh-113.

[2020-09-08 19:30] #111 closed

[2020-09-14 06:38] yaozou opened #114 "Basic clustered deployment support"
Hi,

Could we expect that spring auth server provides OOTB support for clustered deployment recently, since HA is also pretty important for us to adopt the server in our experimental env?

Thanks!

[2020-09-15 00:54] jgrandja opened #116 "Rename and move SpringSecurityCoreVersion2"
We should consider renaming and moving `SpringSecurityCoreVersion2` to `org.springframework.security.oauth2.server.authorization.Version`

[2020-09-15 01:01] jgrandja opened #117 "Provide client configuration settings"
We need to provide a facility for client configuration settings.

[2020-09-15 01:06] #117 closed

[2020-09-15 10:36] yaozou commented on #114
The server might be in an early stage, but we guess that it would be relatively easy for the spring team to support this feature, right? e.g.  provide redis-based implementations for something like AuthService, KeyManager, etc? Not sure if we understand it correctly

Thanks!

[2020-09-16 11:35] oridool commented on #60
Hi,
Great work so far!! looks very promising 👍

When is this Token Exchange planned for?

Or alternatively, any chance to add custom claims to JWT when using client_credentials flow? Claims that depends on my request (headers / scopes) ?
For example, if I send an HTTP header `x-my-custom-claim : value`, then I would like the token to be created with the claim `x-my-custom-claim` and the value `val

[2020-09-17 06:07] john2morgan commented on #114
is it easy enough to diy?

[2020-09-18 01:33] jgrandja commented on #60
Thanks @oridool !

Token Exchange will be delivered at a much later point. There are a few higher priority items ahead of it. You can always look at the ZenHub board (see [Feature Planning](https://github.com/spring-projects-experimental/spring-authorization-server#feature-planning) section for link) to see the features which are prioritized in the order of development.

The ability to add custom

[2020-09-21 07:21] yaozou commented on #114
We guess it might not be that straightforward because we're not familiar with the whole picture？

Since we have to make a technical decision (about shiro, spring security, keycloak, spring auth server, etc) within this week, it would be appreciated if the spring team could give us some feedback!

[2020-09-21 09:09] jgrandja commented on #114
@yaozou Spring Authorization Server will support a clustered deployment topology but will require a custom configuration based on your environment. The core components `RegisteredClientRepository`, `OAuth2AuthorizationService` and `KeyManager` (more to come) will need to be backed by implementations that support a clustered deployment, eg. a Redis service.

We haven't decided which backing impleme

[2020-09-21 09:09] #114 closed

[2020-09-21 10:59] jgrandja commented on #110
Thanks for the report @dgt-amexio.

I'm able to access `http://localhost:9000/oauth2/jwks` (from the [sample](https://github.com/spring-projects-experimental/spring-authorization-server/tree/master/samples/boot/oauth2-integration/authorizationserver)) using a browser or Postman.

I'm curious why you need to call the endpoint from a JS application? Can you provide more details on your use case/flow

[2020-09-21 17:44] jgrandja opened #119 "Set springSecurityVersion to 5.4.+"
Set `springSecurityVersion` to 5.4.+

[2020-09-21 17:47] #119 closed

[2020-09-24 09:45] vincent-hsin opened #120 "Token endpoint response error in the authorization code flow."
**Describe the bug**
It response error when I request token endpoint  with code and client_id parameters in the authorization code flow. But it reponse the expected result without client_id parameters.

**To Reproduce**
{
    "error": "invalid_client"
}

**Expected behavior**
{
    "access_token": "eyJraWQiOiIzYjEzOTg3Yi05Mjk3LTRkOWQtOTdkOC02MWVlY2ZjMmFlZTQiLCJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ

[2020-09-24 09:49] lizhongyue248 commented on #120
Please see https://github.com/spring-projects-experimental/spring-authorization-server/issues/102#issuecomment-680067393 .

He said invalid. I don't want to argue with him.

[2020-09-24 10:11] vincent-hsin commented on #120
@lizhongyue248 Thank you. Seems to be a duplicate issue, I will look at your issue later.

[2020-09-24 15:41] jgrandja commented on #120
@vincent-hsin It's not clear to me the issue you are having. Please provide more details if you want me to look into this issue. Detailed steps to reproduce or ideally a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example).

[2020-09-24 16:56] margocrawf opened #122 "Oauth 2.0 Integration Sample: java.lang.NoSuchMethodError: com.nimbusds.jose.Header.toJSONObject()"
**Describe the bug**
When I follow the Oauth 2.0 Integration sample, I see a Whitelabel error page after entering the sample username and password.

**To Reproduce**
Follow the instructions in the readme [here](https://github.com/spring-projects-experimental/spring-authorization-server/tree/master/samples/boot/oauth2-integration).

- Clone the repo, checkout `master`

- Add `127.0.0.1 auth-server`

[2020-09-25 12:13] jgrandja opened #123 "Update to Spring Boot 2.4.0-M3"
Update to Spring Boot 2.4.0-M3

[2020-09-25 12:15] #123 closed

[2020-09-25 12:19] jgrandja commented on #122
Thanks for the report @margocrawf. This has been resolved via #123

Spring Boot 2.4.0-M3 imports Spring Security 5.4.0, which imports the correct version of Nimbus.

[2020-09-25 12:19] #122 closed

[2020-09-25 13:25] jgrandja commented on #120
Closing as per [comment](https://github.com/spring-projects-experimental/spring-authorization-server/pull/121#discussion_r494984942)

[2020-09-25 13:25] #120 closed

[2020-09-28 11:02] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 11:07] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 11:12] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 11:17] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 11:22] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 11:27] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 11:32] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 11:37] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 11:42] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 11:47] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 11:52] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 11:57] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 12:02] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 12:07] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 12:12] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 12:17] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 12:22] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-28 12:27] spring-issuemaster commented on #110
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-09-30 13:27] dgt-amexio commented on #110
Hello,
Sorry for my late answer, due to holidays.

My use case is to assess whether this library could be used as the backbone of a custom OpenID Connect service.
To achieve this,

- I created a SpringBoot application using spring-authorization-server as a dependency + adding an extra "./well-known/openid-configuration" endpoint
- I then tried to reference this SB application  in an Angular app re

[2020-09-30 16:01] jgrandja commented on #110
Thanks for the feedback @dgt-amexio.

As a temporary workaround, instead of `@Import(OAuth2AuthorizationServerConfiguration.class)` you could simply define your own `WebSecurityConfigurerAdapter` similar to `OAuth2AuthorizationServerSecurity` and additionally configure CORS using `http.cors()` or supplying a `CorsConfigurationSource` `@Bean`. This should at least get you moving forward.

We'll add

[2020-10-04 06:31] wws19125 opened #125 "make OAuth2TokenEndpointFilter can be customized"
**Expected Behavior**
just add something like setAuthorizationGrantAuthenticationConverter and so on, thus we can customize this one
**Current Behavior**
all was final or unmodifiableMap
**Context**

[2020-10-05 20:57] amrutprabhu opened #126 ""password" grant_type for token endpoint"
**Expected Behavior**
Password grant type is supported

**Current Behavior**
I see that the password grant type is not supported and throws an error when we make a request with password grant type. I saw there are only two converters. one for authorization code and one for client credentials.

**Context**
It's not something that is blocking me. Its just that when I worked with spring-security-oaut

[2020-10-06 01:35] #45 closed

[2020-10-06 15:41] jgrandja commented on #126
Thanks for reaching out @amrutprabhu. We will not be providing support for the `password` grant as its deprecated in OAuth 2.1. For reference, see [OAuth 2.1](https://oauth.net/2.1/) and [It's Time for OAuth 2.1](https://aaronparecki.com/2019/12/12/21/its-time-for-oauth-2-dot-1).

[2020-10-06 15:41] #126 closed

[2020-10-06 18:00] mstickel opened #127 "Provide a mechanism for setting claim values and adding custom claims on the access token"
**Expected Behavior**
Authorization Server administrators should be able to configure claims and their values on the Access Token.  This includes setting the issuer (ISS) and time-to-live (EXP) claims which are already noted as TODO items in {{OAuth2AuthorizationCodeAuthenticationProvider}}.

**Current Behavior**
Currently, we can't set the issuer claim (hard-coded to https://oauth2.provider.com),

[2020-10-06 18:15] jgrandja commented on #127
Thanks for the report @mstickel.

The ability to add custom claims or modify the default claims is a minimum requirement.

We definitely plan on adding this capability for all token types: JWT, opaque and ID Token.

However, we're still in early development and not quite there as far as allowing for greater customization.

This will likely be added after (or during) the work on #52

I'm going to c

[2020-10-06 18:15] #127 closed

[2020-10-06 18:22] jgrandja commented on #125
Thanks for the report @wws19125.

The ability to customize the token endpoint will be provided at a later point.

We are still in early development and not quite there as far as allowing for greater customization.

I'm going to close this but rest assured that customization capabilities will be added to a number of components within the framework.

[2020-10-06 18:22] #125 closed

[2020-10-06 20:03] alek-sys commented on #50
Happy to take it

[2020-10-06 22:58] mstickel commented on #127
Thanks @jgrandja.  So I don't file redundant stuff like this again, is there a big picture roadmap that describes what's on the roadmap in the longer term?

[2020-10-07 12:18] jgrandja commented on #127
@mstickel The ZenHub board outlines the feature roadmap. You can access the ZenHub board via the [Feature Planning](https://github.com/spring-projects-experimental/spring-authorization-server#feature-planning) section in project page.

[2020-10-07 21:41] jlaci opened #129 "Authorization Code Grant / Access Token Request: Sending a "client_id" and a basic auth header causes an INVALID_CLIENT error"
**Describe the bug**
The problem occurs in the Authorization Code Flow, when an authenticated client tries to exchange the auth code for an access token. If the client_id field in the request body is filled (along with the authorization header) it causes an INVALID_CLIENT error.

**To Reproduce**
Example client configuration:

[code]

Execute the flow normally:

1. Initiate the login
2. Submit the

[2020-10-08 15:09] lizhongyue248 commented on #129
Please see https://github.com/spring-projects-experimental/spring-authorization-server/issues/120.

[2020-10-09 19:27] #42 closed

[2020-10-12 08:39] vincent-hsin commented on #129
Please pull latest commit. It seems like has solved in commit 5c31fb1b7e7a0efbb60cb7aa34762ad5577eba45.

[2020-10-12 14:05] ZhuBicen opened #131 "Postman can't complete the oauth2 login token by connecting Sample Authorization Server"
**Describe the bug**

Postman can not complete Oauth2 login, by connecting the Sample authoization server
Exception occured: ` java.lang.NoClassDefFoundError: com/fasterxml/jackson/annotation/JsonIncludeProperties`

**To Reproduce**
0. Using latest commit: Polish gh-117 `628c8bece35ea4115cf1a0a5ffcc021bb8234f38`
1. add `127.0.0.1 auth-server` to `/etc/hosts/`
2. run ` gradle -b samples/boot/oauth2

[2020-10-12 21:26] rozagerardo commented on #52
Hi @jgrandja! I'm just starting to dedicate some time to this project now, and since I don't see many issues logged to work on, maybe I can help define the specs for the base ticket for this Epic (even maybe work on a draft implementation just to analyze this better, for when we're ready to tackle it)? Or are we planning to move forward with a different track of work?

Here it goes:

======

An Au

[2020-10-13 19:32] #110 closed

[2020-10-13 19:38] jgrandja commented on #110
@dgt-amexio We decided NOT to provide a default configuration for CORS in `OAuth2AuthorizationServerSecurity`. The primary reason is that it would open up the potential attack surface and we need to maintain a tight security boundary.

However, I added a minor enhancement that will allow you to inherent the default configuration and enhance it with your custom CORS configuration.

Here is a sample

[2020-10-14 04:05] zyjibmcn commented on #131
I hit the same issue, it was caused by multiple versions of Jackson dependency in the classpath. After I specified a specific version of Jackson, the issue resolved.

[2020-10-14 06:36] jgrandja commented on #131
Thanks for the report @ZhuBicen. As @zyjibmcn mentioned, this has been resolved via 1428760. Pull the latest and it will work.

[2020-10-14 06:36] #131 closed

[2020-10-15 03:35] ZhuBicen opened #132 "Client Authentication Method: Post does not work"
**Describe the bug**
With a registed client, with ClientAuthenticationMethod.POST,  when getting the access token it always return 401

**To Reproduce**
1. Navigate to sample authroization server: `spring-authorization-server/samples/boot/oauth2-integration/authorizationserver/`
2. Change the resgistered client authentication method from Basic to Post
[code]
3. Start the Sample Authorazation serve

[2020-10-15 13:20] Kehrlann commented on #55
I'm interested in taking this one ✋

[2020-10-15 13:35] jgrandja commented on #49
Closing in favour of #83

[2020-10-15 13:35] #49 closed

[2020-10-15 14:50] jgrandja opened #134 "Support client authentication method POST"
We should add the capability for allowing the client to authenticate using its credentials in the body of the request using POST.

[2020-10-15 14:52] anoopgarlapati commented on #134
I would like to pick this up.

[2020-10-15 14:57] jgrandja commented on #134
It's yours @anoopgarlapati !

[2020-10-15 15:03] jgrandja commented on #132
Thanks for the report @ZhuBicen.

The only client authentication method currently supported is HTTP Basic.

I just logged #134 to support form POST.

I'll close this in favour of #134.

[2020-10-15 15:03] #132 closed

[2020-10-15 15:06] jgrandja commented on #55
It's your @Kehrlann !

[2020-10-15 15:08] jgrandja commented on #50
It's yours @alek-sys !

[2020-10-15 16:55] jgrandja commented on #129
@jlaci

This is the expected behaviour. If the client credentials are included in the `Authorization` header and the `client_id` is also included in the body then this is an invalid request. The client should not attempt to authenticate itself using multiple authentication schemes. Only one authentication scheme should be used, otherwise the request will be rejected.

As @vincent-hsin mentioned, t

[2020-10-15 16:55] #129 closed

[2020-10-15 19:35] rozagerardo commented on #52
Thanks @jgrandja.

Definitely, I'll start working on a draft PR for this 👍

I'll also keep an eye on the new tickets and PRs in case I can assist with anything.

[2020-10-16 10:38] rajeshrai248 commented on #53
Hi, when do we expect this feature to complete?

[2020-10-16 11:35] jgrandja commented on #53
It's currently on hold (as indicated in the labels) so it hasn't been scheduled as of yet. However, we're aiming before the end of year.

[2020-10-20 09:05] houkunlin opened #136 "Can 'UserConsentPage.displayConsent' support front-end separation?"
https://github.com/spring-projects-experimental/spring-authorization-server/blob/aa5133e170472aee88cde6d0be6608c7035cfb5a/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/web/OAuth2AuthorizationEndpointFilter.java#L606

UserConsentPage.displayConsent 能否支持前后端分离？不直接输出html文档，而是重定向到指定前端URL，然后前端向后端Get请求授权信息，用户同意后前端构建post请求后端申请同意，这样可以自定义授权请求页面。

Can User

[2020-10-20 15:58] jgrandja opened #137 "Introduce OAuth2Tokens"
We need to introduce a new construct called `OAuth2Tokens`, which will serve as a container for OAuth 2.0 Tokens. This should also be associated as a member in `OAuth2Authorization`.

[2020-10-20 17:01] hamid646 commented on #137
i'd be interested to take this

[2020-10-20 18:55] #137 closed

[2020-10-20 18:58] jgrandja commented on #137
Thanks for the offer @hamid646.

I assigned this to myself and started working on it yesterday. I just finished and pushed.

Please keep an eye out for new issues.

Thanks again for your interest.

[2020-10-22 23:42] jgrandja opened #138 "Enforce one-time use for authorization code"
We need to ensure that the authorization code is used once only by the client.

[2020-10-22 23:44] #138 closed

[2020-10-23 18:10] jgrandja opened #139 "Provide capability for custom configuration"
The goal of this ticket is to capture all the possible configuration options that could require customization based on the requirements of an authorization server deployment.

**NOTE:** This ticket will be on hold until we reach a candidate MVP release, along with stability in the public API's.

The following is the _on-going_ list of possible configuration options:

- Provide plugin mechanism for

[2020-10-23 18:54] jgrandja commented on #136
@houkunlin We do plan on providing a number of customizable configuration options, including a custom User Consent page.

However, this will come at a later point after we have implemented enough features to qualify for a candidate MVP and especially after we are confident the public API's are stable enough. There is still a lot more work to do before we "open" things up to allow for custom config

[2020-10-23 18:54] #136 closed

[2020-10-27 07:12] jhonToni opened #141 "The Oauth server return `invalid_client` with valid token request"
**Describe the bug**
The Oauth server return `invalid_client` with valid token request.

**To Reproduce**
1. I navigate with the browser to the `/oauth2/authorize` endpoint;
2. After the login process, the server get me the authorization code;
3. I use the authorization code to obtain the token for the next requests:

[code]
4. The server response is:

    ` {"error":"invalid_client"}`

**Expected

[2020-10-27 07:26] jhonToni commented on #141
I have put the header `Authorization:  Basic <encoded client credentials>` in the request.

[2020-10-27 11:18] jhonToni commented on #141
Now, the server get me the access token but in the response there isn't the refresh token.

Server response:
[code]
How can I enable it ?

[2020-10-27 12:15] jgrandja commented on #141
@jhonToni Refresh token support will be merged soon. See #128

[2020-10-27 12:15] #141 closed

[2020-10-28 19:53] jhonToni opened #142 "OpenID Connect protocol integration"
Is possible implement OpenID Connect  authentication protocol in the authorization server ?

[2020-10-28 21:29] #83 closed

[2020-10-29 11:05] jgrandja commented on #142
Closing as duplicate #53.

@jhonToni Please see the [feature planning](https://github.com/spring-projects-experimental/spring-authorization-server#feature-planning) as it provides a link to the ZenHub board for the planned features.

[2020-10-29 11:05] #142 closed

[2020-10-30 15:38] #50 closed

[2020-11-04 14:28] jgrandja opened #144 "Reuse client authentication assertion"
We should reuse the code in the `AuthenticationProvider`'s when asserting if the client is authenticated.

[2020-11-04 14:33] #144 closed

[2020-11-06 20:19] overbound opened #146 "Build Error on OAuth2 Example"
The OAuth2 Server Example seems to have a build error when trying to run authorization server.

./gradlew -b samples/boot/oauth2-integration/authorizationserver/spring-security-samples-boot-oauth2-integrated-authorizationserver.gradle bootRun

Command does not finish and I get this error from GIT

org.gradle.process.internal.ExecException: Process 'command 'git'' finished with non-zero exit value

[2020-11-06 21:09] zokkr opened #147 "Using UserDetailsService directly for authentication and limiting available scopes"
First of all: You guys are doing a great job. I was really happy when I read the announcement that Spring will get it's own auth server again!

**Expected Behavior**
To add to what's currently possible, tt would be great to have a functionality that allows (optionally) limiting the scopes a user can obtain from a client based on the authorities that user has.
For this, a UserDetailsService would h

[2020-11-09 19:50] joshuatcasey commented on #147
@jgrandja The App SSO team is interested in this topic as well - we can discuss tomorrow

[2020-11-10 14:51] lhmoraes opened #148 "Make it possible to customize the issuer claim and the access token expiration time"
You guys are doing an amazing job and that is one of the most expected Spring project.

That is a simple feature request and please just let me know if you need more information.

Thanks

[2020-11-10 14:57] lhmoraes commented on #148
You guys are doing an amazing job and that is one of the most expected Spring project.

That is a simple feature request and please just let me know if you need more information or if the team needs some help to build the server.

Thanks

[2020-11-10 15:43] jhonToni opened #149 "The Oauth2 server not return refresh token"
**Describe the bug**
The oauth2 server not return `refresh token` after the request to the `/oauth2/token` endpoint

**Expected behavior**
After successful request, the server should respond with this json:

[code]

**Current server response**

[code]

**Sample**

My server configuration class:

[code]
**Other info**

- spring-authorization-server version: `0.0.3`

[2020-11-10 16:01] #149 closed

[2020-11-10 16:09] eiswind opened #150 "Add user-info Endpoint"
**Expected Behavior**

When I try to connect a spring webapp via
`
http.authorizeRequests()
                .anyRequest().authenticated()
                .and().oauth2Login();

`
I don't see if there already exists a user-info endpoint. If there already is one, it would be great to see how it can be accessed.
Any hint would be appreciated.

[2020-11-10 20:44] #134 closed

[2020-11-11 00:08] jgrandja commented on #146
@overbound That same command works fine on my end and no one else has reported such an issue.

Can you try once more with latest master.
If the error occurs again please provide more detailed stacktrace.

[2020-11-13 09:48] jhonToni opened #151 "Implement Oauth2 user info endpoint"

[2020-11-13 09:57] jhonToni opened #152 "Optimize the authentication server for production using a non-blocking framework: (Spring Webflux)."

[2020-11-13 13:18] jgrandja commented on #150
@eiswind OpenID Connect has not been implemented as of yet. Work is starting on it later this month and the UserInfo endpoint is also part of #53. I'll close this as a duplicate of #53.

[2020-11-13 13:18] #150 closed

[2020-11-13 13:21] jgrandja commented on #151
@jhonToni Before logging a new issue please check out the existing issues so you avoid logging a duplicate. This is a duplicate of #150

[2020-11-13 13:21] #151 closed

[2020-11-13 13:49] eiswind commented on #150
Thanks for letting me know. I'll be watching this :)

[2020-11-14 07:24] jhonToni opened #153 "Building the project fails"
**Describe the bug**
When I build the project with gradle throw an exception.

**The stack trace**

[code]

[2020-11-14 11:09] #105 closed

[2020-11-14 11:15] jgrandja commented on #105
@asaikali

`ManagedKey` is replaced by `CryptoKey` (subclasses `SymmetricKey` and `AsymmetricKey`)
`KeyManager` is replaced by `CryptoKeySource`

Let me know your thoughts.

[2020-11-15 01:18] SeaLife opened #154 "Sample not working with 2.4.0 (RELEASE)"
**Describe the bug**
The dependency in v0.0.3 in combination with Spring Boot 2.4.0.RELEASE using the example code throws an Error:

[code]

**To Reproduce**
Create a basic Spring Boot project and add the example configuration:

[code]

Run the service, it wont come up.

**Expected behavior**
A clean boot just like the 2.4.0-M3 did.

**Sample**

A link to a GitHub repository with a [minimal, repro

[2020-11-15 11:08] lspil commented on #154
Hi. I can also reproduce it. As a workaround, you can add yo your config class "extends WebSecurityConfigurerAdapter".

[2020-11-15 11:12] lspil opened #155 "Refresh token should not be issued if client is not configured with refresh_token grant type"
This behavior is strange from my point of view. If I enable the refresh token

.tokenSettings(t -> {
          t.enableRefreshTokens(true);
 })

Which is also the default out of my observations. Even if the client doesn't support the REFRESH_TOKEN grant type, I get a refresh token in the response. Now, of course, I can never use that value because the client doesn't support this grant type. So why

[2020-11-15 11:13] lspil commented on #155
I forgot to mention I reproduce this in version 0.0.3

[2020-11-15 11:15] lspil commented on #148
Hello. I'm not developing in the project, but I've seen your question about the access token expiration time. From what I see, this can be already configured via:

.tokenSettings(t -> {
          t.accessTokenTimeToLive(Duration.ofHours(1));
})

I don't see indeed something about the issuer yet.

[2020-11-15 11:21] lspil opened #156 "Trying to request user authentication for an inexistent client doesn't show any custom exception"
Hi everyone,

Maybe this is more cosmetic, but if I try to use an inexistent client here:

http://localhost:8080/oauth2/authorize?response_type=code&client_id=client&scope=read

It redirects me to the error page and I have nothing in the console. Shouldn't we have at least an exception message for the poor developer trying to debug something like this? Now with small examples on an experimental im

[2020-11-15 12:48] lspil opened #157 "Setting the expiration time for the access token doesn't work"
Hi team,

I have tried to use the token configuration method to set an expiration time for the access token. I have configured an expiration for a duration of 5 hours, but the access token still seems to expire in one hour. Here is an example of the way I set up the project:

https://github.com/lspil/youtubechannel/tree/master/experimental-as-v003

When I configured:

.tokenSettings(t -> {

[2020-11-15 12:52] lspil opened #158 "Ensure refresh token is not revoked"
Hi Team,

I generate a refresh token and I have the configuration setup that this refresh token can be reused:

.tokenSettings(t -> {
          t.enableRefreshTokens(true);
          t.reuseRefreshTokens(true);
 })

I then call the revoke endpoint:

http://localhost:8080/oauth2/revoke?token_type_hint=refresh_token&token=Sk8LIWSrP-7Rij9Z-lN5-v6i54GslkzWnp-g_lkCz9py6QVosriMqslkVnzQ8XymAQfsuWBiFR5Kiv

[2020-11-15 18:35] lhmoraes commented on #148
Hi @Ispil, its currently possible to configure the expiration token and the issuer claim, but there is no effect yet, they still using the default hard coded values

[2020-11-16 02:19] rozagerardo commented on #153
I am experiencing a similar issue.
I think it might be related to the change mentioned here (programmed for November 12th, 2020):
https://spring.io/blog/2020/10/29/notice-of-permissions-changes-to-repo-spring-io-fall-and-winter-2020
If I get this correctly, it's a temporary issue.
Just in case, I'd like to confirm with you @jgrandja, as I am currently trying to wrap up https://github.com/spring-pr

[2020-11-16 10:22] bclozel commented on #153
Yes this is probably related. I ran a build (with my credentials) so you should be fine now with the missing artifacts.
Note that this is a temporary workaround, so we can't consider this issue solved yet.

I don't think the build should try and resolve those dependencies on `libs-snapshot`, but rather on maven central. In most Spring projects, the `repo.spring.io/snapshot` should be enough, but m

[2020-11-16 12:26] jgrandja commented on #148
@lhmoraes @lspil Configuring the `issuer` is coming in #143 and the token expiration configuration will take effect in #145. Closing this as a duplicate.

[2020-11-16 12:26] #148 closed

[2020-11-16 12:30] jgrandja commented on #153
@jhonToni @rozagerardo I just re-ran the build and it passed. It seems this might have been a temporary network related issue.

[2020-11-16 12:37] jgrandja commented on #157
@lspil The token expiration configuration will take effect in #145. Closing this as a duplicate.

[2020-11-16 12:37] #157 closed

[2020-11-16 12:49] jgrandja commented on #152
@jhonToni We are strictly focusing on a Servlet implementation for the initial set of features that would qualify for a MVP version. We haven't decided whether we'll provide a WebFlux version at this point.

Quite honestly, I'm not convinced it's needed. The client and resource server(s) are the most active, whereas, the authorization server is not as active as it simply issues a token and may val

[2020-11-16 12:49] #152 closed

[2020-11-16 13:11] jgrandja commented on #147
@zokkr

This is a custom configuration that would need to be applied in the application. The specifications do not outline a method for mapping scopes to user authorities. This is almost in all cases implemented as a custom configuration in the application. The goal of Spring Authorization Server is to implement to spec but also provide hooks to allow applications to customize beyond the specs.

I

[2020-11-16 13:11] #147 closed

[2020-11-16 15:18] jgrandja commented on #153
I'm re-opening this as the issue is related to what @rozagerardo mentioned in this [comment](https://github.com/spring-projects-experimental/spring-authorization-server/issues/153#issuecomment-727693549).

[2020-11-16 16:03] jgrandja commented on #155
Good catch @lspil. Would you be interested in submitting a fix for this?

[2020-11-16 16:12] jgrandja opened #159 "Add logging"
We need to add logging to allow for more efficient troubleshooting during error conditions.

[2020-11-16 16:14] jgrandja commented on #156
Thanks for your feedback @lspil !

I'll close this in favour of #159.

[2020-11-16 16:14] #156 closed

[2020-11-16 17:28] jgrandja commented on #158
@lspil The [example](https://github.com/lspil/youtubechannel/tree/master/experimental-as-v003) you provided does not provide a [minimal reproducible sample](https://stackoverflow.com/help/minimal-reproducible-example). For future reference, please ensure the sample you provide has either a test and steps to reproduce the error.

Either way, I took a look at `OAuth2RefreshTokenAuthenticationProvide

[2020-11-16 21:09] SeaLife commented on #154
I renamed the issue, the library/authorization server is working fine so far with 2.4.0 but with the "workaround" @lspil suggested. :)

[2020-11-17 05:43] andyzhaozhao opened #160 "How to install the snapshot jar by gradle?Is this a bug please ?"
`buildscript {
	dependencies {
		classpath 'io.spring.gradle:spring-build-conventions:0.0.33.RELEASE'
		classpath "org.springframework.boot:spring-boot-gradle-plugin:$springBootVersion"
		classpath 'io.spring.nohttp:nohttp-gradle:0.0.5.RELEASE'
	}
	repositories {
		mavenLocal() // 使用本地仓库
		maven { url 'https://repo.spring.io/plugins-snapshot' }
		maven { url 'https://plugins.gradle.org/m2/' }
	}
}

[2020-11-18 00:11] spring-issuemaster commented on #146
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2020-11-18 15:38] #160 closed

[2020-11-19 12:38] jgrandja commented on #153
Resolved via 6db194d and 9f246fc

[2020-11-19 12:38] #153 closed

[2020-11-19 19:27] jgrandja opened #163 "Register SecurityFilterChain instead of WebSecurityConfigurerAdapter"
Instead of extending `WebSecurityConfigurerAdapter`, we should use the new method of registering a `SecurityFilterChain` `@Bean`.

[2020-11-19 19:28] #163 closed

[2020-11-19 19:40] jgrandja commented on #154
Thanks for the report @SeaLife ! This is now resolved via #163

[2020-11-19 19:40] #154 closed

[2020-11-20 05:16] andyzhaozhao opened #164 "Cutomize the UserConsentPage or support setRedirectUrl ."
In OAuth2 authorization code login，the page is static string：
[code]
But i want set my own page .
I know the project is in devoping , So can we support the feature by some simple way ?
Such as some code like this:
[code]

UserConsentService is something like for support configed by developer users .

[2020-11-22 09:11] lspil commented on #155
Hi. Sorry for the late answer. If nobody took it yet, yes. I could. Let me know if you assign it to me. Thanks :)

[2020-11-22 09:12] lspil commented on #158
Hey. Yes. Sorry. I'll try to be more specific next time when I report something. I should have specified at least a set of steps :)

[2020-11-23 09:27] czh249899518 opened #165 "This samples have a problerm"
I've start three services

Go to http://localhost:8080/index, click **Authorization Code**  .

Redirect to http://localhost:9000/login,  do login by sample user ,login in (http://localhost:9000/oauth2/authorize?response_type=code&client_id=messaging-client&scope=message.read%20message.write&state=4kZek4lBZpehCTLS9l-1itLphcwAwKYfzexq0z7LmAI%3D&redirect_uri=http://localhost:8080/authorized)

Click [

[2020-11-23 10:51] jgrandja commented on #164
@andyzhaozhao The ability to customize the User Consent has been logged in #139. Closing as duplicate.

[2020-11-23 10:51] #164 closed

[2020-11-23 13:26] jgrandja commented on #165
@czh249899518 I just tried the sample on latest `master` and everything is working as expected. Are you using a browser or simulating with Postman / curl?

Please try again using latest master and browser.

[2020-11-23 14:30] jgrandja commented on #155
Thanks @lspil. The issue is yours!

[2020-11-23 14:34] jgrandja commented on #158
No worries @lspil. Thanks for taking on this issue!

[2020-11-24 19:31] annabast opened #166 "Allow configuration for the issued JWTs"
**Expected Behavior**

While doing the configuration of the authorization server, there should be a way to set claims of the JWT to unique values that better reflect what the JWT's are being used for. For example, there should be a way to change the issuer from "https://oauth2.provider.com" to "https://myissuer.com"

**Current Behavior**

Currently the issuer and time to live are hard coded into o

[2020-11-24 19:38] #166 closed

[2020-11-24 19:44] jgrandja commented on #166
@annabast This customization is coming in #143 and #145

[2020-11-25 00:11] spring-issuemaster commented on #146
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2020-11-25 11:07] #55 closed

[2020-11-25 11:12] #146 closed

[2020-11-26 09:07] czh249899518 commented on #165
I use Chrome browser to test.
Is it because my redirect-Url hasn't changed?
**redirect-uri: "{baseUrl}/authorized"** from [client] application.yml

**Do you have email? I'll record a video for you to see**

[client] have warn :WARN 8620 --- [nio-8080-exec-6] .w.s.m.s.DefaultHandlerExceptionResolver : Resolved [org.springframework.web.bind.UnsatisfiedServletRequestParameterException: Parameter cond

[2020-11-26 12:53] jgrandja commented on #165
@czh249899518

`redirect-uri: "{baseUrl}/authorized"` should not change as it's registered the same in the [Authorization Server](https://github.com/spring-projects-experimental/spring-authorization-server/blob/d97235d0bbf660f81d5399a2a1c52b92f782ace3/samples/boot/oauth2-integration/authorizationserver/src/main/java/sample/config/AuthorizationServerConfig.java#L49).

For your reference, please rev

[2020-11-26 12:56] jgrandja commented on #165
@czh249899518 What would be best is that you put together a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) that reproduces the issue so I can see exactly what the issue is.

[2020-11-26 13:14] Kehrlann commented on #54
I'm interested in this one.

[2020-11-26 13:33] czh249899518 commented on #165
Is it right to return error 400&nbsp; ?
I think should be return [messages1,2,3]&nbsp; after authorize

There was an unexpected error (type=Bad Request, status=400).

Because can't send vedio，please read from BaiduCloudDisk

Url: https://pan.baidu.com/s/1n3fxyat6y3xfIuLEQc5P-g&nbsp;
password: 6y97&nbsp;

if you can't open it，I'll change other way

------------------ 原始邮件 ------------------
发件人:

[2020-11-26 15:01] jgrandja commented on #54
Thanks @Kehrlann !

[2020-11-26 17:29] jgrandja commented on #165
@czh249899518 As mentioned in last comment

The video won't help me get to the root of the issue.

Until I get a sample that reproduces the issue, it will be very difficult to help resolve.

[2020-11-27 02:06] czh249899518 commented on #165
I think your example is not complete.

My expectation is that after clicking the authorization button, it will redirect to the home page and display message 1, message 2, and message 3.

But redirect 400 error page.

I'm  using the latest version of the master branch.

If that's what this example expects,Then you can ignore my issue

[2020-11-27 08:34] jgrandja commented on #165
@czh249899518 The sample is working as expected. The messages (1, 2 ,3) are being displayed after the authorization flow completes. I haven't seen a 400 error as of yet and no one else has reported this issue. The sample has been around for a while now.

There is something going on with your setup / environment.

The only way for me to help you is to reproduce on my end.

[2020-11-27 10:20] czh249899518 commented on #165
I have found the problem.

because I changed the [client-application.yml]&nbsp;auth-server to localhost.

Because my negligence caused you trouble,I'm so sorry

Thank you

@czh249899518 The sample is working as expected. The messages (1, 2 ,3) are being displayed after the authorization flow completes. I haven't seen a 400 error as of yet and no one else has reported this issue. The sample has bee

[2020-11-27 12:07] jgrandja commented on #165
No worries. Glad you figured it out.

[2020-11-27 12:08] #165 closed

[2020-11-28 13:05] lspil opened #170 "NullPointerException when not specifying the token_type_hint for the revoke token endpoint"
Hi. I got a new issue. If I omit to specify the token_type_hint request parameter for the revocation token I get a NullPointerException.
In my opinion, I should get a 4XX HTTP status with a nice message as it happens if I omit the token for example (or for the other endpoints like /token). Please let me know if you consider this an issue as well and if yes, you can assign it to me. I can take care

[2020-11-28 16:24] lspil commented on #170
So, I actually see this paramters is OPTIONAL in the RFC. So I guess if it's not given, the authorization server should be able to find the token without the hint. Still, it shouldn't throw a NullPointerException

token_type_hint  OPTIONAL.  A hint about the type of the token
           submitted for revocation.  Clients MAY pass this parameter in
           order to help the authorization server

[2020-11-28 16:30] lspil commented on #170
https://tools.ietf.org/html/rfc7009#section-2.1

[2020-11-30 14:49] jgrandja commented on #170
Thanks for reporting this @lspil. This is indeed a bug at:

https://github.com/spring-projects-experimental/spring-authorization-server/blob/06bf391bfa9c274a75cf04f0777ece2ce8aa1cee/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/InMemoryOAuth2AuthorizationService.java#L67

Thanks for taking this on!

[2020-11-30 21:39] dgt-amexio commented on #110
works like a charm !
Thx

[2020-12-06 18:13] momrak opened #172 "Configured TokenSettings.accessTokenTimeToLive() not used"
**Describe the bug**
Default and custom tokenSettings regarding time to live does not seem to be applied

**To Reproduce**
I am trying out the sample authorization server, client and resource server. In the `AuthorizationServerConfig` i tried setting the `.tokenSettings(tokenSettings -> tokenSettings.accessTokenTimeToLive(Duration.ofSeconds(20)))`, and then debug the clients `authorizationCodeGran

[2020-12-06 18:14] momrak commented on #172
The attached image shows a debugging session from when I did not configure the tokenSettings, so the default values were expected

[2020-12-07 21:40] jgrandja opened #173 "Allow customizing Jwt claims and headers"
We should provide the capability to customize the claims and/or headers in a `Jwt`.

[2020-12-07 21:44] rozagerardo opened #174 "Unknown token_type_hint should be ignored"
**Describe the bug**
IMO we're using the `unsupported_token_type` response wrongly. Currently, we're retrieving this error response if we pass a `token_type_hint` request parameter value different to `access_token` or `refresh_token`. As I understand the specs, the Authorization Server should just ignore the `token_type_hint` param if it doesn't match the `token` type:

-----

Furthermore, the `un

[2020-12-07 21:44] #173 closed

[2020-12-07 21:49] rozagerardo opened #175 "token_type_hint should be used as a hint only"
**Describe the bug**
Currently, if we pass a `token_type_hint` parameter that doesn't match the `token` we passed, the token is not revoked. the parameter should be just a **hint** to find the token, but as indicated in the specs, if it is not found using the `token_type_hint` value, then the rest of the supported types should be used:

**To Reproduce**
1- Issue an Access Token
2- Send a request a

[2020-12-08 11:07] #172 closed

[2020-12-08 11:07] jgrandja commented on #172
Thanks for the report @momrak. This is now fixed via f077337

[2020-12-08 11:27] lspil commented on #175
Hm, this is an interesting one. I also think the hint should not restrict to a specific type. If everyone agrees, I can also make the change with #170 which is on my side on the same code.

[2020-12-08 11:28] lspil commented on #175
Btw, isn't that very related also with #174 you registered earlier?

[2020-12-08 14:37] #174 closed

[2020-12-08 14:38] jgrandja commented on #174
Thanks for the report @rozagerardo ! This is now fixed via 7f8aff7

[2020-12-08 14:45] jgrandja commented on #170
Closing as duplicate of #174. See [comment](https://github.com/spring-projects-experimental/spring-authorization-server/pull/171#issuecomment-740661878)

[2020-12-08 14:45] #170 closed

[2020-12-08 14:58] jgrandja commented on #175
@rozagerardo The request you specified is not valid, since you're trying to revoke an access token but the `token_type_hint`
 is `refresh_token`. This is a bug on the client side.

Furthermore, as per spec in [2.2. Revocation Response](https://tools.ietf.org/html/rfc7009#section-2.2):

   token has been revoked successfully **or if the client submitted an
   invalid token**.

Given that the reques

[2020-12-08 16:21] #158 closed

[2020-12-08 19:19] #155 closed

[2020-12-08 20:27] rozagerardo commented on #175
Sorry @jgrandja I know you have a lot to go through for this project, but can we discuss this a little bit further? I'm pretty much sure I'm not misunderstanding the specs.

As I understand it, the `token_type_hint` is just a **hint** for the server to find the token easier, but it should affect in no way the outcome of the result. We could even ignore completely the request parameter if we want.

[2020-12-08 20:34] jgrandja commented on #175
@rozagerardo I see your point as well but revoking an access token when `token_type_hint` is `refresh_token` doe snot seem right to me. The request is invalid so revoking the access token may cause side affects on client code.

I would be interested to see what Keycloak and Okta do in these instances. If you can explore those providers and any other ones that would be very helpful.

[2020-12-08 21:11] rozagerardo commented on #175
Cool @jgrandja. Yes, I agree this is an edge case (why would a Client explicitly indicate a wrong token type?), but if it's part of the spec we should respect that.
Sounds good, I'll take my time to analyze other providers and report back afterwards :) Thanks for the quick response.

-----
And sorry @lspil , I didn't answer your last question. This is somewhat related to https://github.com/spring-

[2020-12-09 20:45] jgrandja commented on #57
@ovidiupopa91 Regarding timing for this feature, there is no rush to complete. But I'm thinking late Jan or sometime in Feb would be nice but again not a priority.

I'll provide detailed requirements in this issue sometime tomorrow and then I can answer any questions you have on Gitter. I can be on Gitter Friday morning anytime between 9am-12pm EST, if that timing works for you?

[2020-12-10 14:27] ovidiupopa91 commented on #57
@jgrandja great. I will go through the requirements and I will contact you on Gitter (during that time frame) if I have any questions.

[2020-12-10 21:08] #53 closed

[2020-12-10 21:35] jgrandja opened #176 "Implement UserInfo Endpoint"
This issue will deliver [OpenID Connect 1.0 UserInfo Endpoint](https://openid.net/specs/openid-connect-core-1_0.html#UserInfo).

[2020-12-10 22:16] idosal commented on #176
Hey, I'd love to take this when it opens up.

[2020-12-11 11:47] ovidiupopa91 commented on #57
Hi @jgrandja . No questions from my side. Enjoy your days off!

[2020-12-11 12:32] jgrandja commented on #57
Excellent @ovidiupopa91 . Enjoy your time off too and we'll chat in the new year !

[2020-12-11 12:40] jgrandja commented on #176
Thanks for your interest @idosal.

Please ping me towards end of January as a reminder.
We'll likely start the work on this at that time.
Thanks!

[2020-12-13 07:39] eum602 opened #178 "Error: Could not resolve all dependencies for configuration"
**Describe the bug**
Trying to perform "./gradlew install" throws an error because the following file requires authentication: https://repo.spring.io/libs-snapshot/com/fasterxml/jackson/jackson-bom/maven-metadata.xml

**To Reproduce**
run:
[code]

**Expected behavior**
Expected to download the required dependencies but instead the following is thrown:
[code]

[2020-12-13 16:18] eum602 commented on #178
Seemed to be a temporal issue when trying to access the maven-metadata.xml. Now it works :)

[2020-12-13 16:18] #178 closed

[2020-12-17 00:30] rozagerardo commented on #175
Reporting back about this @jgrandja (since you're out for the holidays and this is a closed issue I might ping you again a few days after you return).

Here are two videos demoing the Introspection and Revocation endpoints for Okta and Keycloak:
https://drive.google.com/drive/folders/1QIE0_j1YpHtuQeGh5Gs1lv7fg-jH-6Ed?usp=sharing

The highlights are:

**1- They both seem to work according to the hy

[2020-12-17 02:36] SomboChea opened #179 "Spring Authorization Server build and run failed with message, Could not resolve all artifacts for configuration"
**Describe the bug**
[code]

**Expected behavior**
I was clone the repository from source, and try to build and run, but the projects, could not found the artifacts from build script.
What shall I do, to resolve this problem?

**Extra Question**
In other hand, Can you provide me examples of migration guide from authorization server and resource server to new spring security latest version? Because

[2020-12-18 01:03] eum602 opened #180 "Allow to inherit from class AbstractAuthenticationProcessingFilter"
**Expected Behavior**

Library should allow implement a custom inherited class from AbstractAuthenticationProcessingFilter

**Current Behavior**

Currently when trying to create a custom inherited class from AbstractAuthenticationProcessingFilter throws an error which mentions it is not possible because the class requires an instance of AuthenticationManager.

**Context**
 Up to the version 0.0.2

[2020-12-30 05:07] nandha-narko opened #181 "Authorities not getting populated in resource server"
**Describe the bug**
Authorities added to user details during authentication is not getting populated in resource server. Hence authorization is failing in resource server. However scope based authorities are getting populated

**To Reproduce**
Add custom role based authorities during authentications and same will not be available in resource server principal

**Expected behavior**
Authorities add

[2021-01-02 10:19] lspil commented on #181
Just a small observation on this aspect. What you describe is the way in which the Resource Server implementing with the Spring Security DSL method worked even before the existence of the new experimental authorization server. I always created a custom convertor to take the authorities from the JWT. I'm not sure this is a problem at all. At least not one on the authorization server.

Here is a sam

[2021-01-04 01:49] ma-bao commented on #122
<dependency>
			<groupId>com.nimbusds</groupId>
			<artifactId>nimbus-jose-jwt</artifactId>
			<version>9.4</version>
		</dependency>

[2021-01-04 15:19] florianberthe opened #182 "Use ProviderSettings in OAuth2AuthorizationServerConfigurer"
Hello,

Happy new year !

I probably found a bug in OAuth2AuthorizationServerConfigurer class.
The tokenEndpoint and tokenRevocationEndpoint properties from ProviderSettings are not used in OAuth2ClientAuthenticationFilter for :
- creation of OAuth2ClientAuthenticationFilter
- creation of DelegatingAuthenticationEntryPoint

As a result, using custom urls for both endpoints doesn't work at all.

Th

[2021-01-05 06:15] kidfrom opened #183 "@Import(OAuth2AuthorizationServerConfiguration.class) cause error."
**Describe the bug**
I could not start `authorization-server`. It throws me an error
[code]

**To Reproduce**
Steps to reproduce the behavior.

1. start.spring.io generate a Gradle project with dependencies: Spring Security and Spring Web.
[SpringDeveloper's video about Spring Security Pattern](https://youtu.be/xEnvAAhMGu4?t=1958).
2. add this line `compile 'org.springframework.security.experiment

[2021-01-05 08:56] whguardian commented on #183
It's seems work in verison 0.1.0, I just pull code from github and compile it.
And my project spring boot version is 2.4.0

[2021-01-05 09:03] kidfrom commented on #183
I was not aware of version 0.1.0. am I at the right place for the `org.springframework.security.experimental:spring-security-oauth2-authorization-server` dependency?

This is the error when I tried to use version 0.1.0 with Spring Boot version 2.4.0

build.gradle
[code]

[code]

[2021-01-05 10:49] whguardian commented on #183
No, version 0.1.0 is not release, you have to compile by yourself.

If you want to use 0.0.3, you have to see it [#163](https://github.com/spring-projects-experimental/spring-authorization-server/issues/154).
You can try to remove <code>@Import(OAuth2AuthorizationServerConfiguration.class)</code>, and add new method registering a SecurityFilterChain

[code]

[2021-01-05 11:12] kidfrom commented on #183
Thank you for pointing it out. I will try to read #163 and #164.

I am new to Spring Security and has not grasped the idea yet of `authorizeRequests( -> )` etc. I appreciate your help, I will get back here after I understand the code you wrote.

If you don't mind I would wrote my understanding about your source code later tonight, to let me know if I am wrong.

I think this is a double issue, shou

[2021-01-05 12:09] kidfrom commented on #183
@whguardian

[code]

[2021-01-05 12:55] whguardian commented on #183
Maybe you should see this [The Oauth2 Authorization](https://tools.ietf.org/html/rfc6749), then you will know why there are so many RequestMatchers, and you will know why need to login(difference between <b>authentication</b> and <code>authorization</code>).

As for ignore Spring security csrf? yes, OAuth2 provide support for CSRF

[2021-01-05 13:42] kidfrom commented on #183
Well noted. It's a white paper, I will learn this on Saturday.

Thank you.

[2021-01-05 13:53] kidfrom opened #185 "java.lang.NoSuchMethodError: com.nimbusds.jose.jwk.JWKSet.toJSONObject()Lnet/minidev/json/JSONObject;"
**Describe the bug**
Unable to use token generated by the `authorization-server` by the `resource-server`.

**To Reproduce**
1. Create Authorization Server with `AuthorizationServerConfig.java`
[code]
and application.yml
[code]

2. Create a `resource-server` with `SecurityConfig.java`
[code]

and a controller
[code]

and application.yml
[code]
3. Get the access_token by using curl to the authoriza

[2021-01-05 13:59] #183 closed

[2021-01-05 14:46] jgrandja commented on #183
Thanks for your help @whguardian !

[2021-01-05 18:56] jgrandja commented on #175
@rozagerardo You got me on the same page as you 👍

Ok, let's align with:

   the given hint, it MUST extend its search across all of its
   supported token types

Would you like to submit a PR for this fix?

Also, I agree with your statement:

[2021-01-05 19:58] #185 closed

[2021-01-05 20:10] jgrandja commented on #182
Thanks for the report @florianberthe.

Maybe you missed the [comment](https://github.com/spring-projects-experimental/spring-authorization-server/blob/36e66bd732303bf1a057e09fca4956643b929f4b/oauth2-authorization-server/src/main/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/authorization/OAuth2AuthorizationServerConfigurer.java#L153) in the code?

I'm planning o

[2021-01-05 20:23] jgrandja commented on #179
@SomboChea This has been resolved via b6932ed

[2021-01-05 20:23] #179 closed

[2021-01-05 20:32] florianberthe commented on #182
@jgrandja I've already read the comment before but as it is only written in _getEndpointMatchers()_, I prefered creating an issue then a fix.

[2021-01-06 02:37] kidfrom commented on #185
Can confirmed that this is v0.0.1 issue.

Can confirmed that v0.0.3 works as expected with Spring Boot 2.4.1

[2021-01-06 14:01] jgrandja commented on #180
@eum602

`AbstractAuthenticationProcessingFilter` lives in Spring Security and requires an `AuthenticationManager`. See [javadoc](https://github.com/spring-projects/spring-security/blob/7ef3f619242816683a72b35a1f8b4fb4f32d5203/web/src/main/java/org/springframework/security/web/authentication/AbstractAuthenticationProcessingFilter.java#L54).

Instead of extending `WebSecurityConfigurerAdapter`, reg

[2021-01-06 14:17] jgrandja commented on #181
@nandha-narko I'm going to need more details to understand the issue you are having. A [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) would be ideal.

[2021-01-06 14:21] eum602 commented on #180
Thanks for the support @jgrandja I have reviewed the code.

[2021-01-06 15:30] eiswind opened #186 "Dart Oauth2 Client expects "expires_in" to be a number"
**Describe the bug**
`
[ERROR:flutter/lib/ui/ui_dart_state.cc(177)] Unhandled Exception: FormatException:
Invalid OAuth response for "http://localhost:9000/oauth2/token": parameter "expires_in" was not an int, was "299".
`

**To Reproduce**
I tried to connect with authorization_grant with the dart oauth2 lib from google against current master.

**Expected behavior**
Parameter type should be number

[2021-01-06 16:04] eiswind commented on #186
FYI I found that the dart client allows a custom parameter callback.
That allowed me to work around the problem like

`var untypedParameters = jsonDecode(body);
  if (untypedParameters is Map<String, dynamic>) {
    if(untypedParameters.containsKey('expires_in')){
      final stringValue = untypedParameters['expires_in'];
      untypedParameters['expires_in'] = int.parse(stringValue);
    }
    re

[2021-01-06 16:04] #186 closed

[2021-01-06 17:23] Clem69B opened #187 "Add a basic authorization server policy for scope validation"
**Expected Behavior**
The RCF 6749 contains this proposal :

(https://tools.ietf.org/html/rfc6749#section-3.3)

A basic policy may be avaible, in order to filter scopes asked by client regarding the GrantedAuthority of the authenticated user (ressource owner) before the consent (in case of authorization_code with consent procedure).

**Current Behavior**
No comparaison or filtering are made betwee

[2021-01-06 19:02] jgrandja commented on #187
@Clem69B There are many generalized recommendations in RCF 6749, this being one of them:

   requested by the client, based on the authorization server policy or
   the resource owner's instructions.

The preceding statement does not translate to:

I do understand the need for custom policies but this would be custom functionality that would be implemented in an OAuth 2.0 Provider **product**. Thi

[2021-01-06 19:02] #187 closed

[2021-01-06 19:52] Clem69B commented on #187
Hello @jgrandja,

Thanks for your answer, it's make sense regarding this ticket name and description.

But, the reason behind this ticket is still actual, and, I think, focus on your project : If I want to do this myself, how can I do it with this framework ? What are the entry points ?

I have explored the source code, and actualy, I have seen no suitable method to do this, except rewrite a lot o

[2021-01-06 20:05] jgrandja commented on #187
@Clem69B I've noted this in #139

I'm capturing all possible extension points in that "umbrella" ticket.

[2021-01-06 23:18] rozagerardo commented on #175
Sounds great @jgrandja, I have now prepared the following PR:
https://github.com/spring-projects-experimental/spring-authorization-server/pull/188

Note the integration tests mock the method we're using here, I've validated running the sample as well, just to be sure everything is working as expected 👍

Looking forward to the comments!

And happy new year BTW!

[2021-01-07 08:44] Clem69B commented on #139
Hello !

An other proposition :

Thanks for this job !

[2021-01-07 12:44] jgrandja commented on #139
@Clem69B JWT customization is already available via #173

[2021-01-08 05:01] nandha-narko commented on #181
In the authorization server, I am setting the authorities at the time of user authentication
[code]

In the resource server, when I fetch the authorities, none of these authorities are available other than the scopes. So if I use @PreAuthorize("hasAuthority('ROLE_ADMIN')") its failing with 401.

[2021-01-08 18:06] jgrandja commented on #181
@nandha-narko Propagating user authorities as claims in the `Jwt` is a custom behaviour and would need to be configured in the client application. `NimbusJwsEncoder` exposes `setJwtCustomizer(BiConsumer<JoseHeader.Builder, JwtClaimsSet.Builder> jwtCustomizer)` to allow for custom claims. This is the extension point where you would add user authorities as custom claims. It was added in #173.

I'm g

[2021-01-08 18:06] #181 closed

[2021-01-11 14:02] nickmelis commented on #181
@jgrandja is there any chance you can provide a minimal example of how to set custom claims based on some user's properties? I'm struggling to see a way to do what @nandha-narko is trying to do.
Just for clarity, the only way I found to inject the jwtCustomizer is this:

[code]

but this way I can only set static values into my custom claims, rather than values from a user object.
Thanks

[2021-01-11 16:22] nickmelis commented on #181
I have posted the same question on Stack Overflow: https://stackoverflow.com/questions/65670673/how-to-create-custom-claims-in-jwt-using-spring-authorization-server
It would be great if someone could create a `spring-authorization-server` tag on Stack Overflow too. Thanks

[2021-01-12 10:22] erikmartino commented on #106
There should probably be two different where the user can choose between them, for example Google and Github. If you host a SAAS solution, it is quite useful to delegate authentication to each customer organisations own OIDC provider.

[2021-01-12 12:08] nickmelis opened #190 "Unable to use EC private key to issue JWT tokens"
**Expected Behavior**
I should be able to pass a EC based keypair when creating the `CryptoKeySource` bean

**Current Behavior**
I create the Spring `CryptoKeySource` bean:
[code]
where `privateKey` is an EC based key.

When running, I get the following error:

[code]

**Context**
What I can see is that the class [OAuth2TokenIssuerUtil](https://github.com/spring-projects-experimental/spring-author

[2021-01-13 21:54] giorgimoreira commented on #173
Hello, how will this customization work? Do you have an example?

[2021-01-14 14:29] BestLalaVm opened #191 "Could not GET 'https://repo.spring.io/libs-release/com/fasterxml/jackson/jackson-bom/2.12.0-rc1/jackson-bom-2.12.0-rc1.pom'. Received status code 401 from server: Unauthorized"
**Describe the bug**
I download the tag 0.0.3, when i execute "gradle install", I get below error:

\spring-authorization-server>gradle install

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':spring-security-oauth2-authorization-server:compileJava'.

     Required by:
         project :spring-security-oauth2-authorization-server

     Required by:

[2021-01-14 14:29] BestLalaVm opened #192 "Could not GET 'https://repo.spring.io/libs-release/com/fasterxml/jackson/jackson-bom/2.12.0-rc1/jackson-bom-2.12.0-rc1.pom'. Received status code 401 from server: Unauthorized"
**Describe the bug**
I download the tag 0.0.3, when i execute "gradle install", I get below error:

\spring-authorization-server>gradle install

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':spring-security-oauth2-authorization-server:compileJava'.

     Required by:
         project :spring-security-oauth2-authorization-server

     Required by:

[2021-01-15 09:13] Kehrlann commented on #191
Hi @BestLalaVm - this is a build infrastructure issue, we are aware of it.

Unfortunately there's nothing you can do on your side for now. I don't have the rights myself either, but we'll unblock you sometime today but running a build manually.

[2021-01-15 09:13] Kehrlann commented on #192
Duplicate of #191

[2021-01-15 13:15] 12ozCode opened #193 "No CryptoKeySource clas in the version 0.0.3"
I tried to use the last version of library from there: https://mvnrepository.com/artifact/org.springframework.security.experimental/spring-security-oauth2-authorization-server/0.0.3
After, I tried to try to run the sample app (samples/boot/oauth2-integration/authorizationserver) but faced a problem:
AuthorizationServer example uses CryptoKeySource class (sample/config/AuthorizationServerConfig.jav

[2021-01-15 18:29] jgrandja commented on #191
@BestLalaVm This is now resolved via 4b37606

[2021-01-15 18:29] #191 closed

[2021-01-15 18:30] #192 closed

[2021-01-16 03:14] BestLalaVm opened #194 "gradle build with 0.0.3 but I get many dependencies error, how can i resolve it?"
When I execute "gradle build" on source root directory, I get below error. How can i resolve it? many thanks.

What went wrong:
Execution failed for task ':spring-security-oauth2-authorization-server:compileJava'.

ion: '5.3.3'

ion: '5.3.3'

ituted to a different version: '5.4.2'

d to a different version: '5.4.2'

o a different version: '2.12.1'

o a different version: '5.4.2'

nt version: '5.3.

[2021-01-16 03:15] BestLalaVm opened #195 "Where I can get a worked demo? Now except master branch, other (0.0.1/0.0.2/0.0.3) i all get errors"
error such as:
 Could not resolve all dependencies for configuration ':spring-security-oauth2-authorization-server-docs-manual:te
stCompile'.

3.7.0'

'3.18.1'

sion: '5.3.3'

sion: '5.3.3'

ion: '5.3.3'

[2021-01-16 10:44] jgrandja opened #196 "Remove CryptoKeySource"
We should remove `CryptoKeySource` and instead require the application to register a `@Bean` of type `com.nimbusds.jose.jwk.source.JWKSource`.

This will ultimately simplify the implementation by removing a number of classes and only require the knowledge (usage) of `JWKSource`, which is responsible for providing the JWK(s).

[2021-01-16 10:47] #196 closed

[2021-01-17 08:19] mzayy opened #197 "oauth2-authorization-server webflux support"
**Expected Behavior**

**Current Behavior**

**Context**

[2021-01-17 12:32] bschoenmaeckers commented on #197
Duplicate of #152

[2021-01-18 13:59] jgrandja commented on #197
See [comment](https://github.com/spring-projects-experimental/spring-authorization-server/issues/152#issuecomment-727957644)

[2021-01-18 13:59] #197 closed

[2021-01-18 15:37] nickmelis opened #198 "JwkSet endpoint returns empty keys"
**Describe the bug**
After the last changes as part of [#196], I have removed the definition of CryptoKeySource bean in favour of JWKSource, as shown in [the sample app](https://github.com/spring-projects-experimental/spring-authorization-server/blob/master/samples/boot/oauth2-integration/authorizationserver/src/main/java/sample/config/AuthorizationServerConfig.java#L68):

[code]

This causes an e

[2021-01-18 15:45] nickmelis commented on #198
To add to the above, the problem seems to be with the selector in the bean declaration
[code]

When hitting `/oauth2/jwks`, the selector filters for public keys, which means it tries to discard every `JWK` inside `jwkSet` where `jwk.isPrivate() == true`
Now, clearly the key pair generated with `generateRsa()` has both a public and private key in it, so I can't quite understand where the issue come

[2021-01-18 18:26] florianberthe commented on #198
I reproduced the bug. It seems related to `this.jwkSelector = new JWKSelector(new JWKMatcher.Builder().publicOnly(true).build());` in `NimbusJwkSetEndpointFilter`.

[2021-01-18 19:29] jgrandja commented on #195
@BestLalaVm Please do not double post the same issue. I'll close this as duplicate of #194

[2021-01-18 19:29] #195 closed

[2021-01-18 19:33] jgrandja commented on #194
@BestLalaVm We are looking into this now. It's related to the [Permissions Changes to repo.spring.io](https://spring.io/blog/2020/10/29/notice-of-permissions-changes-to-repo-spring-io-fall-and-winter-2020)

[2021-01-18 19:34] jgrandja commented on #194
Related #191

[2021-01-19 05:44] ParimaladeviVadivel commented on #122
Can anyone update whether the issue "java.lang.NoSuchMethodError: com.nimbusds.jose.Header.toJSONObject()Lnet/minidev/json/JSONObject;" resolved in com.nimbusds nimbus-jose-jwt 9.4 version?

can we use adal4j-1.6.0 version with nimbus-jose-jwt 9.4.1?

[2021-01-19 06:25] ParimaladeviVadivel commented on #122
When we use adal4j-1.6.6 & nimbus-jose-jwt-9.4.1 in our application, getting below exception while connecting to client.

        at java.lang.Thread.run(Thread.java:748)
Caused by: java.lang.ClassCastException: java.util.Collections$SingletonList cannot be cast to java.lang.String
        at com.nimbusds.oauth2.sdk.auth.JWTAuthentication.ensureClientAssertionType(JWTAuthentication.java:246)

[2021-01-19 09:55] #198 closed

[2021-01-19 10:00] jgrandja commented on #198
Thanks for the report @nickmelis ! This is now fixed via b7996e2.

@florianberthe You are correct. The issue was with the `JWKMatcher`.

[2021-01-19 10:06] nickmelis commented on #198
Thanks for finding and implementing the fix @florianberthe @jgrandja, I can confirm it works a treat now :)

[2021-01-19 10:32] jgrandja opened #199 "Customizing Jwt claims and headers needs to be more flexible"
The `NimbusJwsEncoder.jwtCustomizer` (#173) needs to be re-designed as it does not easily provide all the context required for customization. For example, it is complicated to obtain the associated `OAuth2Authorization` and/or `RegisteredClient` in order to provide context for token customization.

[2021-01-19 10:38] jgrandja commented on #173
@giorgimoreira This is being re-worked. Please follow #199

[2021-01-19 10:44] jgrandja commented on #122
@ParimaladeviVadivel

Please log this issue with [Nimbus issue tracker](https://connect2id.com/products/nimbus-oauth-openid-connect-sdk/contribute)

[2021-01-19 10:52] jgrandja commented on #193
@12ozCode `CryptoKeySource` is new in 0.1.0. However, it was just removed via #196. Please use latest `master` or wait until `0.1.0` is released at end of month.

[2021-01-19 10:52] #193 closed

[2021-01-19 10:59] jgrandja commented on #190
@nickmelis `CryptoKeySource` has been removed via #196. As well, `NimbusJwsEncoder.jwtCustomizer` #173 is being re-worked via #199. Please follow the progress of #199 and try it again after it is merged. I will provide a sample.

Closing in favour of #199.

[2021-01-19 10:59] #190 closed

[2021-01-19 11:06] jgrandja commented on #181
@nandha-narko @nickmelis `NimbusJwsEncoder.jwtCustomizer` #173 is being re-worked. Please follow the progress of #199. I will provide a sample when this is merged.

[2021-01-19 22:56] metacubed opened #200 "OAuth 2.1 Support/Roadmap"
Which features from OAuth 2.1 will be supported by Spring Authorization Server? Is there a roadmap or any documentation on this topic?

For example:
- [ ] PKCE support
- [ ] Remove implicit grant
- [ ] Remove password grant
- [ ] Remove query-based bearer tokens
- [ ] Constraints on refresh tokens
- [ ] Redirect URI enforcement changes

[2021-01-19 23:03] joshuatcasey commented on #199
Glad to see this, @jgrandja ! The `sso4k8s` team hopes to add some of the standard claims to the `id_token` pretty soon.

[2021-01-20 13:18] jgrandja commented on #200
@metacubed Spring Authorization Server is aligning with OAuth 2.1.

See [Feature Planning](https://github.com/spring-projects-experimental/spring-authorization-server#feature-planning) section and [Feature List](https://github.com/spring-projects-experimental/spring-authorization-server/wiki/Feature-List) wiki. **NOTE:** I literally started the feature list page yesterday so it's a WIP. I'm planni

[2021-01-20 13:19] #200 closed

[2021-01-20 13:41] jgrandja commented on #199
@joshuatcasey I'm getting close to a flexible design so hoping to have this merged next week. I'll be looking for your teams feedback on whether the 2nd iteration of the design provides the flexibility you need.

[2021-01-20 15:32] #175 closed

[2021-01-20 15:52] nickmelis commented on #199
Excellent work @jgrandja, I too am looking forward to this. While we're here, can I raise a couple of issues I stumbled upon today?
I noticed that [OAuth2TokenIssuerUtil](https://github.com/spring-projects-experimental/spring-authorization-server/blob/12f4001c9dea449683b86c2a1274e29659f7db9c/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/authenti

[2021-01-20 16:05] jgrandja commented on #199
@nickmelis

I'm not sure if it will be part of the commit for this ticket. But it will definitely be part of the 0.1.0 (end of month).

[2021-01-20 16:11] joshuatcasey commented on #199
@nickmelis in the meantime it's possible to use the [`setJwtCustomizer`](https://github.com/spring-projects-experimental/spring-authorization-server/blob/12f4001c9dea449683b86c2a1274e29659f7db9c/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/jwt/NimbusJwsEncoder.java#L103-L112) method to modify claims after the default claim values have been added.

Something like th

[2021-01-20 16:13] nickmelis commented on #199
Oh yes you're absolutely right @joshuatcasey, I didn't even think about it. Thanks!

[2021-01-20 18:05] dfcoffin commented on #200
Is it possible to use the ZenHub "RoadMap" feature to be able to have an idea of when features are planned to be implemented?

[2021-01-21 15:54] jgrandja commented on #200
@dfcoffin When this project started I did use the Roadmap feature but quickly found it extra overhead from a project management standpoint. Mainly because priorities change quite a bit and I need to shuffle things around. The Roadmap feature requires dates and therefore is too constrictive from an agile methodology process.

The project board has been working well. Features are prioritized in orde

[2021-01-21 16:57] dfcoffin commented on #200
@jgrandja Thanks for the explanation.  Since this is a community project, I understand that planning is challenging, given the inability to control when submissions will be provided and the effort to ensure they provide the proper support and meet the documentation and naming standards.

Is it possible to indicate in the new "Features" list the release targeted for the feature?  Are you now trying

[2021-01-21 17:56] jgrandja commented on #200
@dfcoffin

I think what makes the most sense is to assign the open issue a milestone release instead. So over the next 1-2 weeks I will go through all issues in the Icebox / Backlog and assign a release. But keep in mind that it may change as priorities shift. But at least this will give you an idea on when to expect a feature to be released. Does this work?

After I get `0.1.0` out (delayed to Fe

[2021-01-21 21:18] dfcoffin commented on #200
@jgrandja

Yes, that will definitely help, especially if the Icebox/Backlog can be sorted in the release sequence.

[2021-01-22 12:47] jsamon commented on #153
How can I create an account for repo.spring.io? I can’t login with my account in jFrog platform

[2021-01-22 14:28] jgrandja commented on #153
@jsamon repo.spring.io is a private repository for the Spring organization so you won't be able to obtain your own credentials.

I just pushed some updates, which should allow you to build. Can you ensure you pull this latest commit 39ed8205608b18594fa8e0368f68ed9ecf8aef22 and try the build. Please let me know if it worked.

[2021-01-22 14:31] jgrandja commented on #200
@dfcoffin Ok. I will target to have release milestones assigned by next Friday.

[2021-01-22 16:34] jsamon commented on #153
Yes it works! Thanks a lot!

[2021-01-22 18:57] amit-github-personal commented on #176
Hey @jgrandja , let me know when you're going to start working on OPENID Connect. I also want to work when it opens up

[2021-01-22 19:02] idosal commented on #176
@jgrandja Still waiting on this. :)

[2021-01-22 20:56] jgrandja commented on #199
@Kehrlann @joshuatcasey @jzheaux @anoopgarlapati @nickmelis

I've flushed out a new design for `Jwt` customizer and having a WIP in this [branch](https://github.com/jgrandja/spring-authorization-server/tree/jwt-customizer).

Run the test `OAuth2AuthorizationCodeGrantTests.requestWhenTokenRequestValidThenReturnAccessTokenResponse()` to see how the `OAuth2TokenCustomizer<JwtEncodingContext>` is appl

[2021-01-26 15:01] jgrandja commented on #176
Thanks for the offer @amit-github-personal . Work has already started on OIDC with #53 being merged last month.

As well, @idosal reached out last month and is interested in taking on this feature. Please stay tuned for upcoming features as they open up. It looks like features planned for `0.1.1` have all been assigned.

@idosal I'm planning on focusing on `0.1.1` feature development after I get `

[2021-01-26 15:57] Assafaha opened #202 "Spring Security Experimental 0.0.3 with spring boot 2.4.2 fail to start"
package com.example.authorizationserverexperimental.config;

import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.Import;
import org.springframework.security.config.annotation.web.configuration.EnableWebSecurity;
import org.springframework.security.config.annotation.web.configuration.OAuth2Aut

[2021-01-26 16:55] xymiao commented on #202
enter tag 0.0.3. find example.
run success!

[2021-01-26 16:56] xymiao commented on #202
Find the example in tag 0.0.3 to configure
You'll find a surprise

[2021-01-26 18:15] jgrandja commented on #202
@Assafaha @xymiao The `0.0.3` release works with Spring Boot [2.4.0-M3](https://github.com/spring-projects-experimental/spring-authorization-server/blob/0.0.3/gradle.properties#L2).

The Spring Boot `2.4.0-RC1` auto-configuration changed by registering `SecurityFilterChain` instead of `WebSecurityConfigurerAdapter`. This is why it's not working with the `0.0.3` release. See #163

Closing as duplic

[2021-01-26 18:15] #202 closed

[2021-01-26 23:28] joshuatcasey opened #203 "Support an audit event framework"
**Expected Behavior**
Spring Authorization Server should publish specific events for:
- Token issued
- Token revoked
- Token request rejected
This could happen for a few reasons:
  - Client does not have the requested scopes
  - Authorization code has already expired
- User consents to scopes
- Client is registered (#189)

Events generated should have the following information:
- client registrati

[2021-01-27 01:55] pangyiwei opened #204 "Client Secret Post Authentication not working (missing classes/commits from release build)"
**Describe the bug**
When authenticating with the token endpoint, I am unable to configure client post authentication.

When creating the registered client, but using `clientAuthenticationMethod(ClientAuthenticationMethod.POST)`, the token endpoint client authentication still defaults to Basic authentication.

I did some debugging and found that `ClientSecretPostAuthenticationConverter` class is m

[2021-01-27 09:31] idosal commented on #176
@jgrandja Thanks, I'll get on it.

[2021-01-27 12:29] jgrandja commented on #204
@pangyiwei `ClientSecretPostAuthenticationConverter` is in master and is targeted for the upcoming 0.1.0 release. See #134

[2021-01-27 12:29] #204 closed

[2021-01-27 12:41] jgrandja commented on #203
@joshuatcasey Would you (or your team) be interested in submitting a PR for this?

[2021-01-27 21:42] joshuatcasey commented on #203
@jgrandja The short answer is yes. The `sso4k8s` devs (@fhanik and @Kehrlann and me) will work together on it.

[2021-01-27 21:59] joshuatcasey commented on #199
I like the flexibility of the model. The `context` object can contain all the pertinent information.

One aspect of `sso4k8s` is that we anticipate that the authorization context (probably `org.springframework.security.oauth2.server.authorization.OAuth2Authorization`?) will need to contain all of the information about the user. We likely won't have the ability to load information about the user la

[2021-01-28 04:40] joshuatcasey commented on #199
Would it be possible to add something to the context to state the `grant_type` and token type (`access_token` vs `id_token`), since the customizer is used for both `access_token` and `id_token`.

Note: the branch didn't use the customizer for `client_credentials` `access_token`, was that intentional?

[2021-01-28 11:26] nickmelis commented on #199
This may be a stupid question. As part of my implementation of `UserDetailsService.loadUserByUsername`, I fetch user details from DB, including roles and authorities, and set them to the `UserDetails` being returned.
Is there any chance to access these information within the new token customizer?
Right now what I have to do is fetch the user first (in `UserDetailsService`), then in the token custo

[2021-01-28 13:24] jgrandja commented on #199
@joshuatcasey I have a major refactoring task for the `OAuth2Authorization` model before I release `0.1.0`. I will enhance it to support your needs for:

Regarding:

The branch only demonstrated for the `authorization_code` flow. The other grants were not updated, however, the same logic will be applied after we finalize the new design.

[2021-01-28 13:25] jgrandja commented on #199
@nickmelis There are no stupid questions :)

On the next update, you will n longer have to perform a 2nd DB query as the `OAuth2Authorization` will contain the principal.

See previous comment:

[2021-01-28 13:31] jgrandja commented on #203
Great. I will assign the ticket to you and we can all work together to realize this feature.

[2021-01-29 15:53] #182 closed

[2021-02-01 09:35] pkostrzewa commented on #56
@jgrandja Can I pick this one?

[2021-02-01 15:44] jgrandja commented on #56
Thanks for your interest @pkostrzewa.

This feature is currently on-hold (as indicated in the labels) and will likely not get implemented for a couple months at least.

OpenID Connect 1.0 Client Registration Endpoint gh-57 is the priority at the moment and the work has started in gh-189.

[2021-02-01 20:47] nickmelis commented on #199
@jgrandja thanks, really looking forward to it! Do you have an estimate for when this code will go in?

[2021-02-03 13:47] jgrandja opened #205 "Add support for OAuth 2.0 Multiple Response Type"
This feature will deliver support for [OAuth 2.0 Multiple Response Type Encoding Practices](https://openid.net/specs/oauth-v2-multiple-response-types-1_0.html), which is related to the `response_type` values defined in OpenID Connect Core 1.0 - [Section 3. Authentication](https://openid.net/specs/openid-connect-core-1_0.html#Authentication).

Related gh-53

[2021-02-03 20:03] TakahikoKawasaki opened #206 "Request Object or JAR (JWT Secured Authorization Request)"
**Request Object** defined in [OpenID Connect Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html) [Section 6](https://openid.net/specs/openid-connect-core-1_0.html#JWTRequests) or **JAR** ([JWT Secured Authorization Request](https://datatracker.ietf.org/doc/draft-ietf-oauth-jwsreq/)) support.

Because Request Object (or JAR) has a considerably big impact on authorization server implem

[2021-02-03 20:09] TakahikoKawasaki opened #207 "OAuth 2.0 Form Post Response Mode"
**[OAuth 2.0 Form Post Response Mode](https://openid.net/specs/oauth-v2-form-post-response-mode-1_0.html)** support.

Form Post Response Mode (aka `response_mode=form_post`) has a considerably big impact on authorization server implementations. It is recommended that the feature is designed and implemented from the beginning.

[2021-02-03 20:14] TakahikoKawasaki opened #208 "JARM (JWT Secured Authorization Response Mode)"
**JARM** ([JWT Secured Authorization Response Mode](https://openid.net/specs/openid-financial-api-jarm.html)) support.

JARM (`response_mode=*.jwt`) has a considerably big impact on authorization server implementations. It is recommended that the feature be designed and implemented from the beginning.

[2021-02-03 20:28] TakahikoKawasaki opened #209 "JWT-based Client Authentication"
JWT-based client authentication methods defined in [RFC 7523](https://tools.ietf.org/html/rfc7523) [Section 2.2](https://tools.ietf.org/html/rfc7523#section-2.2), namely, `client_secret_jwt` and `private_key_jwt`.

Client authentication is required at some endpoints. It is recommended to design and implement an abstraction layer for client authentication from the beginning. `tls_client_auth` and `

[2021-02-03 20:38] TakahikoKawasaki opened #210 "Add support for OAuth 2.0 Pushed Authorization Requests (PAR)"
**PAR** ([OAuth 2.0 Pushued Authorization Requests](https://datatracker.ietf.org/doc/draft-ietf-oauth-par/)).

PAR has a considerably big impact on authorization server implementations, especially if `request_uri` ([OIDC Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html) [Section 6.2](https://openid.net/specs/openid-connect-core-1_0.html#RequestUriParameter)) is not supported yet. It

[2021-02-03 20:53] TakahikoKawasaki opened #211 "Request Parameters and Client Metadata for End-User Authentication"
Request parameters and client metadata below are related to end-user authentication.

- `prompt` request parameter ([OIDC Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html) [Section 3.1.2.1](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest))
- `max_age` request parameter ([OIDC Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html) [Section 3.1.2.1](https:/

[2021-02-03 21:07] TakahikoKawasaki opened #212 "Scopes for Claims and The claims Request Parameter"
[OIDC Core 1.0](https://openid.net/specs/openid-connect-core-1_0.html) defines special `scope` values for claims ([Section 5.4](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims)) and the `claims` request parameter ([Section 5.5](https://openid.net/specs/openid-connect-core-1_0.html#ClaimsParameter)).

These have considerably big impacts on the implementation of ID Token and UserIn

[2021-02-04 19:28] #199 closed

[2021-02-04 19:35] jgrandja commented on #199
@joshuatcasey @nickmelis @fhanik @Kehrlann @anoopgarlapati A lot of work was put into the customizer and I think it's pretty flexible. Please take a look at it and provide feedback as soon as you can. I'm releasing `0.1.0` next Thursday Feb 11 so I want to make sure I get in any further enhancements required from your end.

Start by looking at these tests:

- [OAuth2AuthorizationCodeGrantTests](Oi

[2021-02-04 19:45] jgrandja opened #213 "Improve OAuth2Authorization model"
There are a few improvements needed to the `OAuth2Authorization` model before the upcoming `0.1.0` release.

[2021-02-04 21:19] nickmelis commented on #199
@jgrandja I can confirm it works a treat! I'm really pleased with it!
I can both set claims the way I used to do with the old jwtCustomizer and propagate Authentication authorities into JWT claims.
I will do some big refactoring to my app tomorrow so if I think anything is missing, I'll drop a message here. Thanks again!

[2021-02-05 09:33] jgrandja commented on #199
Excellent @nickmelis ! Yes, please provide further feedback here if anything else comes up.

[2021-02-05 09:42] lanmingle opened #214 "OAuth2Authorization Or OAuth2AuthorizationService ORM Simple Convert ?"
OAuth2AuthorizationService和OAuth2Authorization如何实现JDBC或MongoDB转换？结构有些复杂。

translation：

How do OAuth2AuthorizationService and OAuth2Authorization implement JDBC or MongoDB conversion? The structure is somewhat complicated.

see: OAuth2Tokens.tokens ， AbstractOAuth2Token multiple implementation , simplify ?

[2021-02-05 09:46] lanmingle commented on #213
#214

[2021-02-05 10:43] jgrandja opened #215 "Add JoseHeader.builder()"
Add `JoseHeader.builder()`

[2021-02-05 10:44] #215 closed

[2021-02-05 16:48] jgrandja opened #216 "Introduce base Authentication for authorization grant"
We should introduce a base `Authentication` implementation for OAuth 2.0 Authorization Grant.

[2021-02-05 16:52] #216 closed

[2021-02-08 08:47] metacubed opened #218 "Extension point to limit the scopes granted to a token"
When a token is generated for either client- or user-based grants, it would be useful to provide a generic mechanism to reduce<sup>++</sup> the scopes which are present in the granted JWT.

The list of granted scopes starts with those available to the client. This list can be reduced by many different kinds of constraints. These are just a few examples (not an exhaustive list):

- The resource-own

[2021-02-08 08:52] metacubed commented on #218
Does this seem reasonable, @jgrandja? I can give this a try if it fits the overall design.

[2021-02-08 22:47] nickmelis commented on #199
Hi @jgrandja, I noticed that `JwtEncodingContextUtils` still has `RS256` hardcoded as algorithm header, which is currently preventing me from using EC keys. I raised the issue originally a while ago as part of https://github.com/spring-projects-experimental/spring-authorization-server/issues/190, and I'm not clear as to whether there's a way to override/bypass this behaviour. Would be nice to get

[2021-02-08 22:48] nickmelis commented on #190
Comment related to this issue on https://github.com/spring-projects-experimental/spring-authorization-server/issues/199#issuecomment-775515115. Would be great to get a code snippet or workaround to see how to change the default (RS256) behaviour

[2021-02-09 02:22] #213 closed

[2021-02-09 04:17] lanmingle commented on #214
close by #213

[2021-02-09 11:10] anoopgarlapati commented on #199
@jgrandja I spent some time customizing the OAuth2TokenCustomizer to suit some of the custom claims for my service and it worked great so far. I will let you know of any improvements as I continue to work with it.

[2021-02-09 14:10] Kehrlann commented on #199
Hey @jgrandja  👋 This is great, we've integrated it and it seems we have everything we need, thank you!

[2021-02-09 14:24] jgrandja commented on #199
@nickmelis Here is how you would override the `alg` header:

[code]

[2021-02-09 14:32] jgrandja commented on #199
@anoopgarlapati @Kehrlann Thank you for the feedback! I'm happy that it suits your requirements. But I also want to ensure that the API is intuitive to use as this is one of our primary goals. Can you comment on this further?

Was it intuitive to use? Does the naming of the API's make sense? e.g. `OAuth2TokenCustomizer` -> `OAuth2TokenContext` -> `JwtEncodingContext`

[2021-02-09 15:06] Kehrlann commented on #199
1. For our current use-case, the `OAuth2TokenContext` isn't useful without the full `JwtEncodingContext`. It might
be for other people though.
2. Our current use-case reaches deep into the context to grab the authorization scopes (see below for code example).
But we do so without checking whether it's an `authorization_code`-type (or, in the future, `implicit`) or another grant
type. For example,

[2021-02-09 16:28] jgrandja commented on #199
@Kehrlann

I'm confused with this statement as I interpret the `shouldCustomize()` logic as follows:

If my interpretation is correct then the `grant_type` should be `authorization_code` NOT `client_credentials` - and you can optimize the code as follows:

[code]

NOTE: This code is null-safe and if it does throw a NPE then please log an issue as it will be a bug on our end.

be for other people t

[2021-02-09 16:48] ojhughes commented on #106
I was thinking about this, should the authorization server ever delegate authorization? I understand the authorization server  would delegate the storage of users / credentials to LDAP or a DB but I thought that the process of authorizing a client should be performed by the authorization server. The existing Spring resource server already works with the various social logins.

[2021-02-09 18:28] jgrandja opened #219 "Rename TokenType to OAuth2TokenType"
Rename `TokenType` to `OAuth2TokenType` and move to `*.oauth2.core` package.

[2021-02-09 18:31] #219 closed

[2021-02-09 20:38] jgrandja opened #220 "Add OAuth2Authorization.id"
Add a unique identifier field to `OAuth2Authorization`.

[2021-02-09 20:40] #220 closed

[2021-02-09 21:02] Kehrlann commented on #199
@jgrandja

Right, sorry that was really poorly phrased.
- You are correct, in my case we're looking at `authorization_code` grant
- Those null-checks are paranoid checks on our part, we shouldn't worry about it and just report it as a bug if it every blows up 👌

I think what I had in mind was related type-safety, to distinguish between grant types at the `OAuth2Authorization` level. Imagine you ha

[2021-02-10 01:47] jgrandja opened #221 "Improve RegisteredClient model"
There are a few improvements needed to the `RegisteredClient` model before the upcoming `0.1.0` release.

[2021-02-10 01:53] #221 closed

[2021-02-10 09:31] anoopgarlapati opened #222 "Internal Server Error when performing authorization_code grant"
**Describe the bug**
When performing authorization_code flow, the authorize endpoint throws 500 Internal Server Error.

**To Reproduce**
Run sample application as documented in samples README. Attempting to login the user fails with 500 error.

**Expected behavior**
User login should succeed and an authorization_code should be received.

**Sample**
The sample included in the repository currently f

[2021-02-10 10:45] Kehrlann commented on #222
Just ran into this issue as well.

I think it'd be a good thing to have an end-to-end test through the API for the authorization code flow ; that does and `/authorize` call, capture the issued `code`, and then do a `/token` call with that code.

Thoughts on this ?

[2021-02-10 13:11] jgrandja commented on #222
Thanks @anoopgarlapati @Kehrlann ! Obviously test coverage was missing here :(

I will add a fix and test within the next couple of hours.

[2021-02-10 13:45] jgrandja opened #223 "Set iss claim in Jwt using configured issuer"
If the `ProviderSettings` `@Bean` is registered, the `Jwt` `iss` claim should be set using `providerSettings.issuer()`.

[2021-02-10 13:52] #223 closed

[2021-02-10 15:48] anoopgarlapati commented on #199
@jgrandja In our server we map authorized scopes to a custom claim called `permissions` and we do not currently have the `scope` claim in our access token. So, I was customizing the access token in the following manner
[code]
When I execute the authorization_code flow with this customization, I do get the access token I desired with `permissions` claim containing the authorized scopes but the `sco

[2021-02-10 17:04] jgrandja commented on #199
@anoopgarlapati Thanks again for staying on top of the feedback. I totally understand the issue you have. This is a bug and I will fix today.

[2021-02-10 17:30] nickmelis commented on #222
Having the same issue here @jgrandja

[2021-02-10 18:42] #222 closed

[2021-02-10 18:50] jgrandja commented on #222
@anoopgarlapati @Kehrlann @nickmelis The implementation of `InMemoryOAuth2AuthorizationService.save()` was simply wrong. It has been fixed and merged via 09846ee

[2021-02-10 19:05] nickmelis commented on #222
@jgrandja just gave it an update, and it works beautifully 🥇

[2021-02-10 20:43] jgrandja opened #224 "OAuth2AccessToken.scopes includes authorized or requested scopes"
The `OAuth2AccessToken.scopes` should only include the authorized or requested scopes (subset of authorized).

See [comment](https://github.com/spring-projects-experimental/spring-authorization-server/issues/199#issuecomment-776805577)

[2021-02-10 20:51] #224 closed

[2021-02-10 20:52] jgrandja commented on #199
@anoopgarlapati This is now resolved via 6ffda38

[2021-02-11 01:46] jgrandja commented on #199
@Kehrlann

I did consider this hierarchical design, however, it didn't make sense at this point. As I worked through #213, I found the only difference between an `authorization_code` and `client_credentials` `OAuth2Authorization` was the additional attributes `OAuth2AuthorizationRequest` and `java.security.Principal` (Resource Owner) for `authorization_code`. Other then that, the constructs are th

[2021-02-11 11:42] anoopgarlapati commented on #199
@jgrandja Thanks for the updates!!
I was trying another customization and was unable to access the token endpoint request.
I have a use-case to add a custom claim based on custom request parameters specific to our authorization server and was able to do that for `authorization_code` flow (as the request parameters are usually in authorize request) but was unable to find the token request parameter

[2021-02-11 13:04] jgrandja commented on #199
@anoopgarlapati You beat me to it ! :)

This is the last change I'm getting in before I release today. The token request (additional) parameters will be stored [here](https://github.com/spring-projects-experimental/spring-authorization-server/commit/218d49b134645899c10758b864e352a780012436#diff-08a30bdb3bdcbd759d132893b2a7838f78733f8fc2a664b06d892996f9202ac9R42). And you can access it via `JwtEnco

[2021-02-11 13:28] Kehrlann commented on #199
@jgrandja makes complete sense! And with the `getAuthorizedScopes()`, I have everything I need right here 🍾

[2021-02-11 13:34] jgrandja opened #225 "openid scope should not require user consent"
The `openid` scope should not be listed as a scope in the user consent page. Consider it auto-approved.

[2021-02-11 13:47] #225 closed

[2021-02-11 13:49] jgrandja commented on #225
@joshuatcasey This is now merged.

[2021-02-11 15:42] jgrandja opened #226 "Propagate additional token request parameters"
Additional token request parameters should be propagated to `OAuth2AuthorizationGrantAuthenticationToken.additionalParameters`.

[2021-02-11 15:46] #226 closed

[2021-02-11 15:47] jgrandja commented on #199
@anoopgarlapati See #226

[2021-02-11 18:53] jgrandja commented on #106
@ojhughes

There are a number of OAuth/OIDC providers that deliver this type of feature via Social login authorization delegation. This is typically delivered in a product, so it's not clear if we would deliver such support within the framework.

Either way, it will be a good exercise to deliver a sample that demonstrates this authorization delegation pattern.

[2021-02-12 01:55] jgrandja opened #227 "Update to Spring Boot 2.4.2"
Update to Spring Boot 2.4.2

[2021-02-12 01:56] jgrandja opened #228 "Update to Spring Framework 5.3.3"
Update to Spring Framework 5.3.3

[2021-02-12 01:57] jgrandja opened #229 "Update to Spring Security 5.4.2"
Update to Spring Security 5.4.2

[2021-02-12 01:58] jgrandja opened #230 "Update to Reactor 2020.0.3"
Update to Reactor 2020.0.3

[2021-02-12 01:58] jgrandja opened #231 "Update to oauth2-oidc-sdk 8.23.1"
Update to oauth2-oidc-sdk 8.23.1

[2021-02-12 01:59] jgrandja opened #232 "Update to nimbus-jose-jwt 9.1.3"
Update to nimbus-jose-jwt 9.1.3

[2021-02-12 02:00] jgrandja opened #233 "Update to javax.servlet-api 4.0.1"
Update to javax.servlet-api 4.0.1

[2021-02-12 02:00] jgrandja opened #234 "Update to junit 4.13.1"
Update to junit 4.13.1

[2021-02-12 02:01] jgrandja opened #235 "Update to assertj-core 3.18.1"
Update to assertj-core 3.18.1

[2021-02-12 02:02] jgrandja opened #236 "Update to mockito-core 3.6.28"
Update to mockito-core 3.6.28

[2021-02-12 02:02] jgrandja opened #237 "Update to okhttp3:mockwebserver 3.14.9"
Update to okhttp3:mockwebserver 3.14.9

[2021-02-12 02:03] jgrandja opened #238 "Update to okhttp3:okhttp 3.14.9"
Update to okhttp3:okhttp 3.14.9

[2021-02-12 02:04] jgrandja opened #239 "Update to json-path 2.4.0"
Update to json-path 2.4.0

[2021-02-12 02:12] #227 closed

[2021-02-12 02:12] #228 closed

[2021-02-12 02:12] #229 closed

[2021-02-12 02:12] #230 closed

[2021-02-12 02:12] #231 closed

[2021-02-12 02:12] #232 closed

[2021-02-12 02:12] #233 closed

[2021-02-12 02:12] #234 closed

[2021-02-12 02:12] #235 closed

[2021-02-12 02:12] #236 closed

[2021-02-12 02:12] #237 closed

[2021-02-12 02:12] #238 closed

[2021-02-12 02:12] #239 closed

[2021-02-15 12:22] anoopgarlapati commented on #139
@jgrandja I have a couple more customization suggestions:
1. Provide ability for custom `redirect_uri` matching: Currently (release `0.1.0`) the `redirect_uri` from authorization request is matched strictly against the registered values from `RegisteredClient`. However, there is a provision in [OAuth 2.1 draft spec](https://tools.ietf.org/html/draft-ietf-oauth-v2-1-01#section-10.3.3) which allows

[2021-02-16 16:35] dfcoffin opened #241 "Wiki Home and Feature List show raw HTML content when viewed with Chrome browser"
**Describe the bug**
When accessing the project's Wiki section the Home and Feature List pages do not properly format.  Rather than viewing formatted content, the browser displays the raw HTML coding

**To Reproduce**
Access the web pages:
https://github.com/spring-projects-experimental/spring-authorization-server/wiki
https://github.com/spring-projects-experimental/spring-authorization-server/wik

[2021-02-16 21:47] jgrandja commented on #241
@dfcoffin I was converting the wiki pages from Markdown to asciidoc format and some weird behaviour was happening at random times. Seems the wiki is a bit flaky. Sometimes it would render correctly and other times it wouldn't. Keeping the Home page as markdown and converting Feature List and Spec pages to asciidoc seems to work fine now.

[2021-02-16 21:47] #241 closed

[2021-02-17 10:27] jgrandja commented on #194
@BestLalaVm As a result of the [changes made](https://spring.io/blog/2020/10/29/notice-of-permissions-changes-to-repo-spring-io-fall-and-winter-2020) to the Spring Artifactory instance (repo.spring.io), the builds will not work for release tags 0.0.3 or previous.

Either way, please use the latest release 0.1.0 or master as there have been many changes to the codebase.

[2021-02-17 10:27] #194 closed

[2021-02-17 10:46] jgrandja commented on #218
Thanks for the details @metacubed.

I agree that we do need the capability to restrict/reduce/add scopes and/or claims during the authorization process. I have captured this in #139 at a very high level:

Instead of a `TokenScopeCustomizer`, I would prefer to design a high-level abstraction around Policy Enforcement so it can fulfill many uses cases.

Would you mind logging the details in this tic

[2021-02-17 11:02] jgrandja commented on #206
@TakahikoKawasaki I agree that a JAR can provide an added level of security for Authentication Requests. I'm curious how widely used is this capability? Do you know of any OIDC providers that have implemented this? if os, can you please provide a link?

Can you be more specific on what you mean by "considerably big impact"?

[2021-02-17 11:16] jgrandja commented on #207
@TakahikoKawasaki I'm curious which well-known OIDC providers have implemented this? Are you able to provide me a list of providers?

[2021-02-17 11:30] jgrandja commented on #208
@TakahikoKawasaki

The Warning section in the JARM draft states:

Based on this, I'm reluctant to implement this at the moment. It seems that it's still early in the review phase. However, I do see value in providing an extension point that would allow an Authorization Server implementation to customize the Authorization response parameters using JARM or `response_mode=form_post` #207

[2021-02-17 11:31] jgrandja commented on #208
Related #207

[2021-02-17 11:43] jgrandja commented on #209
Closing as duplicate of #59

[2021-02-17 11:43] #209 closed

[2021-02-17 11:55] jgrandja commented on #210
@TakahikoKawasaki Given that PAR is still in early draft phase, I'm curious if you know of any well-known OIDC providers that have implemented this as an experimental feature?

[2021-02-17 12:29] TakahikoKawasaki commented on #206
[Financial-grade API](https://fapi.openid.net/) (FAPI) Part 2 requires that an authorization request utilize "Request Object" (JAR is a successor of Request Object). This means that at least all of the[ certified FAPI OPs](https://openid.net/certification/#FAPI_OPs) support Request Object. Open Banking in UK, CDR (Consumer Data Right) in AU, FDX (Financial Data Exchange) in US, and other entities

[2021-02-17 12:32] TakahikoKawasaki commented on #207
Not limited to but at least the [certified OPs](https://openid.net/certification/#OPs) whose "Form Post OP" column is checked support OAuth 2.0 Form Post Response Mode.

[2021-02-17 12:39] TakahikoKawasaki commented on #210
PAR is still in draft state but stable. CDR (Consumer Data Right) in Australia has adopted PAR. The official OpenID conformance suite already contains test cases for PAR. It has been determined that PAR will become a component of the next version of [Financial-grade API](https://fapi.openid.net/) (FAPI).

Authlete, Connect2id and node oidc-provider are examples that support PAR.

[2021-02-17 12:47] TakahikoKawasaki commented on #208
In spite of the excerpted sentence, the specification itself is stable. JARM is mentioned in the [Financial-grade API](https://fapi.openid.net/) (FAPI) specification. Authorization servers that support FAPI Part 2 must support JARM or be able to issue an ID token from the authorization endpoint.

[2021-02-17 13:28] jgrandja commented on #212
Related #176

[2021-02-17 13:35] jgrandja commented on #211
Related #53 #57 #205

[2021-02-17 14:03] jgrandja commented on #208
@TakahikoKawasaki As an FYI - so you're more familiar with our development process - new feature development starts off with a closed API and we incrementally open it up when it becomes more stable and requires end-consumer customization. Hence, the reason why you cannot customize the Authorization Request or Response at the moment.

#139 captures end-consumer customization requirements at a high-

[2021-02-17 16:18] jgrandja commented on #206
Thank you for the details @TakahikoKawasaki and for your explanation on "considerably big impact".

This makes sense. As briefly mentioned in this [comment](https://github.com/spring-projects-experimental/spring-authorization-server/issues/208#issuecomment-780577717), we follow a methodical development process so re-writes won't happen.

Another thing to be aware of is that this project is in the

[2021-02-17 16:44] TakahikoKawasaki commented on #206
No, sorry. I'm not evaluating this project. I registered issues (#206 ~ #212) only because I was asked by a Japanese guy to share my knowledge with the Spring community although there was no benefit to me.

[2021-02-17 23:37] metacubed commented on #139
#### Provide a generic mechanism to reduce<sup>++</sup> the granted scopes present in a token

For either client- or user-based grants, the list of granted scopes is initially populated with those available to the client. This list is then filtered by other constraints, such as:

- The resource-owner consenting to only a subset of scopes
- The `scope` claim in the token request (#212)
- Custom pol

[2021-02-17 23:47] metacubed commented on #218
Reworded and moved over to the umbrella ticket [here](https://github.com/spring-projects-experimental/spring-authorization-server/issues/139#issuecomment-780925433).

Re. a single interface for all token customization, not sure if that will help or harm usability. I can see it becoming quite intimidating 😄.

And yes, let me know how I can help with the Policy Enforcement investigation, @jgrandja.

[2021-02-17 23:47] #218 closed

[2021-02-18 14:17] jgrandja commented on #218
Thanks @metacubed.

I just realized that the recently added `OAuth2TokenCustomizer` could very well realize your use case.

A `@Bean` of type `OAuth2TokenCustomizer<JwtEncodingContext>` will allow you to customize the `scope` claim in the `Jwt`.

Follow the conversation in this [thread](https://github.com/spring-projects-experimental/spring-authorization-server/issues/199#issuecomment-773554288) t

[2021-02-19 03:21] gth7754125 opened #242 "How can i implement Single Sign On with multiple login ways ?"
**Describe the Problem**
This project seems to put all OAuth2 logic to Security Filter Chain.
So how can i put my login Apis such as **Username/Password** / **third Party Platform Scan Code** etc with the chain ?
It seems not suitable to write my code on Controller Layer.

**Expected behavior**
Can i use some exposed Services to write my code ?
Or some other way to put my custom login logic to imp

[2021-02-19 12:14] jgrandja commented on #242
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it).

[2021-02-19 12:14] #242 closed

[2021-02-19 20:46] jgrandja commented on #139
@anoopgarlapati

Yes, this is needed. I have it in the list "Provide plugin mechanism for Customizing the Token Response".

FYI, `OAuth2AuthorizationServerConfigurer` needs to be enhanced in order to allow for easy configuration / customization for the `Filter`'s, `AuthenticationProvider`'s, etc. I'm planning this work early next month and hoping to get something in for next release.

This will be

[2021-02-22 15:41] amit-github-personal commented on #60
Hi @jgrandja, let me know whenever you want to work on this epic. I would love to raise a PR for this.

[2021-02-22 17:36] anoopgarlapati opened #243 "Redirect URI validation for loopback address"
**Expected Behavior**
As per [OAuth 2.1 section-10.3.3](https://tools.ietf.org/html/draft-ietf-oauth-v2-1-01#section-10.3.3)

   time of the request for loopback IP redirect URIs, to accommodate
   clients that obtain an available ephemeral port from the operating
   system at the time of the request.

**Current Behavior**
Loopback address redirect URIs are also matched with exact string matching

[2021-02-22 20:13] jgrandja commented on #60
Thanks for your interest @amit-github-personal. The are a few higher priority features at the moment but will let you know when this one gets closer to scheduling for a release.