[2021-02-25 06:51] lanmingle commented on #214
还是太复杂了！

OAuth2Authorization.tokens 和 OAuth2Authorization.attributes 无法简单地进行转换。

OAuth2Authorization.attributes 应独立对象，不与OAuth2Authorization 直接关联，可以提供外部存储，如 redis 等。

另外是否改进 OAuth2AuthorizationService.findByToken 变得使用容易。

---

It's still too complicated!

OAuth2Authorization.tokens and OAuth2Authorization.attributes cannot be easily converted.

OAuth2Authorization.attributes should be an independen

[2021-02-25 06:54] lanmingle commented on #214
eg(RegisteredClient):

[code]

[2021-02-25 19:26] jgrandja opened #245 "Provide JDBC implementation of OAuth2AuthorizationService"
We need to provide a JDBC implementation of `OAuth2AuthorizationService` that may be used for production deployments.

The `JdbcOAuth2AuthorizationService` should follow a similar implementation as [JdbcOAuth2AuthorizedClientService](https://github.com/spring-projects/spring-security/blob/42a787d1f6f76d670f0d43797a4321e4563443d4/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth

[2021-02-25 19:32] jgrandja commented on #214
@lanmingle I logged a new ticket that will provide a JDBC implementation.

I'll close this as a duplicate of #245

[2021-02-25 19:32] #214 closed

[2021-02-26 06:08] lanmingle commented on #245
very good !

[2021-03-02 01:30] qq329401134 opened #247 "Spring Authorization Server is compatible with Spring Boot 2.3.2.release？"
Spring Authorization Server how to compatible with Spring Boot 2.3.2.release？ @jgrandja

[2021-03-02 14:20] giorgimoreira commented on #199
Good morning, would anyone have an example that how to use JWT customization(claims) after successful authentication? Thank you so much!

[2021-03-02 17:57] joshuatcasey commented on #199
@giorgimoreira are you looking for a specific code example? There are a few in the tests, if you look for usages of `OAuth2TokenCustomizer<JwtEncodingContext>`. Just provide a `@Bean` that implements that interface and it will be autoconfigured.

Here's an example that relies on authentication, is this helpful?

[code]

[2021-03-03 02:32] littlefisher666 opened #248 "Is there any plan to release a version which can be used in production environment?"

[2021-03-03 19:08] jgrandja commented on #247
@qq329401134 The [sample](https://github.com/spring-projects-experimental/spring-authorization-server/tree/master/samples/boot/oauth2-integration) is using [2.4.2](https://github.com/spring-projects-experimental/spring-authorization-server/blob/master/gradle.properties#L2)

[2021-03-03 19:08] #247 closed

[2021-03-03 21:24] idosal commented on #176
Hey @jgrandja, after reviewing the spec I started playing around with the code. I have  a few questions I'd like to clear up:
1. Where should I get the claims? Is it implemented elsewhere, or is it a part of this task?
2. I'm unclear about this passage: ```If the UserInfo Response is signed and/or encrypted, then the Claims are returned in a JWT and the content-type MUST be application/jwt. The re

[2021-03-04 02:31] gth7754125 opened #251 "Could not jump into login page after Authorization Code Granted."
**Describe the Problem**
I custom the login form page and some OAuth2Authorization filter, and the program can not redirect to the login page.

**To Reproduce**
[code]

[2021-03-04 04:13] joshuatcasey commented on #251
Hi @gth7754125 are you able to reproduce this issue with only Spring and Spring Security? In other words, are you able to reproduce this without Spring Authorization Server?

My project has something similar with a custom login page and haven't had any issues with Spring Authorization Server. Could you describe the error you are seeing?

[2021-03-08 14:31] jgrandja commented on #248
@littlefisher666 We're targeting for an MVP release mid year, which will be very close to production ready. By the end of the year, we should have a full feature set and code should be stable and ready for production.

[2021-03-08 14:31] #248 closed

[2021-03-08 19:26] jgrandja commented on #176
@idosal

It is part of this task. The **"source"** for the claims will come from the attributes in the Resource Owner's `Authentication`, specifically `Authentication.getPrincipal()`. Given that `Authentication.getPrincipal()` could be different types of `Principal` objects, this will need to be configurable and the application would need to supply the "Mapper" instance.

For example, let's assume

[2021-03-09 08:46] zhangzp-handsome opened #255 "When I entered the correct account password to log in, it still jumped back to the login page"
**Describe the bug**
I modified the sample code, removed OIDC related parts, and only kept the authorization code part. After running the program, input the correct account password, but still redirected to the login page.

**To Reproduce**
Firstly, i changed the 'application.yml' and 'SecurityConfig.java' in the client code.

_application.yml_

[code]

_SecurityConfig.java_

[code]

Secondly, i c

[2021-03-11 02:04] xzxiaoshan commented on #255
我也遇到了这样的问题！
我阅读了代码，知道原因，但是我不确定这是作者就是这样设计的，还是确实是bug。
原因：客户端进行跳转的条件是识别不到session中的用户信息，因为只有使用OIDC方式进行的登录才会返回id_token，在客户端里只会解析id_token得到用户信息后存入session，直接进行code授权，返回结果中不包含id_token，所以没有用户信息。
而我认为：是否授权的判断不应该拿id_token中的用户存入session来判断，而应该使用access_token作为识别的依据，因为access_token是授权过肯定有的。对OIDC的Controller接收方法来说，应该可以拿到id_token里的信息、access_token和refresh_token，对code的接收Controller方法来说，应该可以access_token和refresh_token（由客

[2021-03-11 19:14] jgrandja commented on #203
Closing as per [comment](https://github.com/spring-projects-experimental/spring-authorization-server/pull/217#issuecomment-796893680)

[2021-03-11 19:14] #203 closed

[2021-03-12 08:28] gth7754125 commented on #251
Problem solved.
It seems i need to add url to
[code]
Not the antMatchers settings on spring security.

[2021-03-12 08:28] #251 closed

[2021-03-12 10:52] jgrandja commented on #255
@zhangzp-handsome Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

Having said that, there is an issue in this part of the configuration:

`oauth2Login.loginPage("/oauth2/authorization/messaging-client-authorization-code"))`

`oauth2Login()`

[2021-03-12 10:52] #255 closed

[2021-03-12 13:21] Kehrlann opened #256 "Align dependencies with the version of Spring Security being used"
Currently, `spring-authorization-server` is not compatible with `spring-security:5.4.5`. Setting `springSecurityVersion=5.4.5` in `gradle.properties` make the tests fail.

This is due to Spring Security 5.4.5 downgrading `com.nimbusds:nimbus-jose-jwt` to 8+ from 9+ ; and `spring-authorization-server` pins `com.nimbusds:nimbus-jose-jwt` to 9.1.3 .

For info, Spring Boot 2.4.3 pulls in Security 5.4.

[2021-03-12 15:19] jgrandja opened #258 "Add integration test support"
We should provide an easy way to start up an Authorization Server instance for the purpose of running integration tests.

An integration test scenario will require the Authorization Server instance to be configured in such a way to meet the requirements of the test(s). Therefore, we need to provide a way for the Authorization Server instance to consume a custom configuration at startup.

***** **U

[2021-03-15 08:20] xuningfans opened #259 "Can we have password grant type flow?"
I found password grant type in org.springframework.security.oauth2.core.AuthorizationGrantType#PASSWORD, but it does not have a implement, is it my mistake or it will coming soon？

[2021-03-15 15:23] jgrandja commented on #259
Close as duplicate #115 . See [comment](https://github.com/spring-projects-experimental/spring-authorization-server/pull/115#issuecomment-696009503)

[2021-03-15 15:23] #259 closed

[2021-03-16 11:29] pstetsuk opened #260 "Provide the ability to customize AuthenticationEntryPoint"
**Expected Behavior**
Need to have an ability to customize login URL

**Current Behavior**
`/login` always used for login

[2021-03-16 16:01] #256 closed

[2021-03-16 20:32] jgrandja commented on #260
@pstetsuk

This is already possible.

See below which provides default Authorization Server configuration and `HttpSecurity` for further customization.

[code]

[2021-03-16 20:32] #260 closed

[2021-03-16 23:51] pstetsuk commented on #260
It doesn't work. `OAuth2AuthorizationServerConfigurer` overwrite the changes in `configure()` because it applied later.
The only possible way to overwrite it is create additional customizer and apply it after `OAuth2AuthorizationServerConfigurer`.

But much easy way is create a  `AuthenticationEntryPoint` bean and then use it as default entry point in `OAuth2AuthorizationServerConfigurer`

[2021-03-17 00:32] jgrandja commented on #260
@pstetsuk If you're still having an issue, please create a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) and share it via GitHub. This will allow me to see your exact configuration and provide a solution.

[2021-03-17 07:50] pstetsuk commented on #260
@jgrandja I've create PR. There are 2 commits. In the first I added test to show that the approach you suggested doesn't work. In the second I added fix this issue.

[2021-03-17 08:35] gth7754125 opened #262 "How to clear session when revoke token ?"
**Describe the bug**
The revoke token api seems need these arguments:
1) tokenValue
2) token_type_hint
3)client id and client secret
Can it remove client id and client secret ? my client just keep a client id, it can not access Authentication Server directly bacause it lacks of **client secret**.

**Expected behavior**
Can it just pass a token and token_type_hint to revoke token ?
Or else i can no

[2021-03-19 12:37] nor-ek opened #263 "Invalid link for Downloading Artifacts in readme"
**Describe the bug**
Link under "downloading Spring artifacts" is redirecting to wrong [page](https://github.com/spring-projects/spring-framework/wiki).

**To Reproduce**
Try to use link in [Downloading Artifacts section](https://github.com/spring-projects/spring-framework/wiki/Spring-Framework-Artifacts).

**Expected behavior**
Redirect to: https://github.com/spring-projects/spring-framework/wiki

[2021-03-19 18:11] #263 closed

[2021-03-19 18:18] jgrandja commented on #262
@gth7754125 The client MUST authenticate at the Revocation endpoint.

See [2.1.  Revocation Request:](https://tools.ietf.org/html/rfc7009#section-2.1)

   in Section 2.3. of [RFC6749]

Please review the spec for more details.

[2021-03-19 18:18] #262 closed

[2021-03-23 19:23] rlewczuk opened #265 "Provide JDBC implementation of RegisteredClientRepository"
This would be useful in real-world workloads where clients are registered and maintained at runtime, without restarting server.

In fact, I've implemented it as I'm evaluating new spring authorization server in my (not-yet-production) projects. It follows  `userdetails.jdbc.JdbcDaoImpl` implementation and only uses Spring `JdbcTemplate`.

If there are no objections, I would be happy to submit pull

[2021-03-24 20:55] mcginkel opened #266 "Implement end_session_endpoint for RP-Initiated Logout"
**Expected Behavior**
Implement the end_session endpoint to support rp initiated logout according to the spec in https://openid.net/specs/openid-connect-rpinitiated-1_0.html#rfc.section.2

Scope: implement MUST and enough SHOULD so the scenario described in context is supported

**Current Behavior**
Not yet supported.

**Context**
When I use the spring-authorization-server to facilitate aso via op

[2021-03-24 20:56] mcginkel commented on #266
And I would be interested in helping to implement this feature

[2021-03-25 03:22] pangyiwei commented on #106
I had tried something similar to this out. What I did was rather straightforward:

1. Add spring-boot-starter-oauth2-client to the authorization project dependencies
2. Configure the default security filter chain with the oauth2Login().
3. Update `application.yml ` with the oauth2 client registration config (With your Google OAuth2 Credentials)

Would this be right for the sample? Would be glad to

[2021-03-25 09:35] jgrandja commented on #106
@pangyiwei The sample you created does not integrate Authorization Server. It simply uses client features only. We would need the authorization related data to be stored via `OAuth2AuthorizationService`. The sample you have stores the data via `OAuth2AuthorizedClientService`.

[2021-03-25 10:08] pangyiwei commented on #106
@jgrandja Ahh I see. I had the impression that this could be done similarly to how the sample was for the form login where the resource owner will have to be authenticated (by Google) first before the authorization is saved by `OAuth2AuthorizationService`. Noted that this was the flow done in `processAuthorizationRequest()` in the `OAuth2AuthorizationEndpointFilter` class. Hence, I thought that th

[2021-03-25 19:55] #243 closed

[2021-03-26 11:55] jgrandja commented on #265
Thanks @rlewczuk. I've scheduled this for `0.1.2` so we can implement alongside gh-245.

Please see the comment in gh-245 related to `JdbcOAuth2AuthorizedClientService`.

Feel free to submit the PR after we get `0.1.1` out.
Thanks!

[2021-03-26 12:09] jgrandja commented on #266
Thanks for the detailed report @mcginkel !

We will need to implement this feature.

However, the focus at this time is the login-specific features before we build out the logout features, since the initial implementation of OIDC is quite minimal.

I'll be sure to reach out when we are ready to implement this.

If you see another login-specific feature you would like to work on then please let me

[2021-03-26 15:08] jgrandja opened #267 "Login page should not be configured in OAuth2AuthorizationServerConfigurer"
The login page should not be defaulted in `OAuth2AuthorizationServerConfigurer`.

The custom application configured with `OAuth2AuthorizationServerConfigurer` is responsible for configuring the `AuthenticationEntryPoint`'s.

[2021-03-26 15:09] #267 closed

[2021-03-26 15:31] jgrandja commented on #260
@pstetsuk Thanks for providing the sample. This demonstrated a bug in `OAuth2AuthorizationServerConfigurer`, which is now resolved in gh-267.

You can now configure a custom `AuthenticationEntryPoint` using standard Spring Security configuration, e.g. `formLogin.loginPage("/login/custom")`.

I'm going to close your PR as those changes are not needed.

Thanks for reporting this issue!

[2021-03-26 15:31] jgrandja commented on #260
Duplicate of gh-267

[2021-03-29 17:10] rlewczuk commented on #59
I've implemented client authentication part of this specification. If there are no objections, I'm ready to issue PR as soon as 0.1.2 cycle starts.

This implementation contains significant amount of duplicated code (PKCE related) that needs to be factored out, I'm aware of that and plan to take care of it.

Branch implementing this feature is here: https://github.com/rlewczuk/spring-authorization

[2021-03-30 06:30] lu-cheng opened #268 "Why did the revoke endpoint not trigger the remove method"
Why did the revoke endpoint not trigger the remove method.

http://localhost:9000/oauth2/revoke

InMemoryOAuth2AuthorizationService
[code]

[2021-03-30 07:57] littlefisher666 opened #269 "What can I do for spring-authorization-server?"
I want to do something for spring-authorization-server, what can I do?
I know what the OAuth2.0 is and I used the spring-security-oauth2 in my company code which create the new grant type.  I think maybe I can do something for spring-authorization-server.
I hope the spring-authorization-server release the code as soon as possible, because I don't want to use the deprecated code.

[2021-03-30 09:39] lanmingle commented on #269
我觉得这个起码需要到 0.1.2 版本才可以使用，主要来源于 #245 这个实现，对于源码阅读多几次就会觉得其实没啥变化，使用难度不大，添加多几个过滤器，如果有问题或者不满足需要可以覆盖实现。

[2021-03-30 09:42] lanmingle commented on #269
另外这个是开源~请把说词换一下。

[2021-03-30 17:56] metacubed commented on #265
@rlewczuk, what are your thoughts on.using the `ARRAY` database type for the `scopes` and `authorities` columns? It makes it easier to query/filter scopes during token generation.

[2021-03-30 23:56] littlefisher666 commented on #269
@lanmingle 因为我这边在使用spring-security-oauth2的时候，遇到了一些不太好扩展的地方，所以如果有机会参与项目的话，借此机会对我遇到的问题进行优化。另外“请把说词换一下”指的是什么？我是希望对这个项目提供帮助，而非对个人的

[2021-03-31 07:08] zhangzp-handsome commented on #265
@rlewczuk
Why did you add two more `AuthorizationGrantType` and `ClientAuthenticationMethod` types ? Where can i get more information?

About:

[code]

[2021-03-31 07:36] xzxiaoshan commented on #265
Current implementation: https://github.com/rlewczuk/spring-authorization-server/tree/gh-265-jdbc-client-repository

----------

@rlewczuk

Refer to the previous official table definition rule:
spring-security-oauth2-client-5.4.5.jar/org.springframework.security.oauth2.client/oauth2-client-schema.sql

It is indicated that the best choice is `oauth2_` For prefixes, intuitive semantics are recommende

[2021-03-31 09:10] rlewczuk opened #271 "Use PasswordEncoder to verify client credentials"
Now client credentials are kept in clear text and verified using simple string comparison. Provide possibility to inject proper PasswordEncoder implementation.

[2021-03-31 11:23] jgrandja commented on #271
Yes, please submit PR @rlewczuk. Thanks!

[2021-03-31 19:27] rlewczuk commented on #265
@xzxiaoshan Database object names have been fixed. Thank you for review.

[2021-04-01 06:38] czh249899518 commented on #165
hellow，I have a question，”OAuth2Authentication “ as a paramter , how to put it in paramter？When was it constructed？which one inceptor or filter？Why can I get the value directly？

[2021-04-01 06:51] avpdiver opened #273 "Sample auth server doesn't work"
Calling /oauth2/authorize doesn't redirect to login page and always fires 401 HTTP error.
Example of request:
[code]
I've changed the creation of RegisteredClient a little bit to simplify testing:
[code]

[2021-04-01 07:15] avpdiver commented on #273
I run the sample server at http://37.235.203.176:8888/ if someone would like to reproduce the error :)

[Configuration](http://37.235.203.176:8888/.well-known/openid-configuration) and [/oauth2/authorize](http://37.235.203.176:8888/oauth2/authorize?response_type=code&client_id=messaging-client&scope=openid&state=state&redirect_uri=https://openidconnect.net/callback).

[2021-04-01 15:48] Kehrlann commented on #273
This is a regression in the samples due to 8d57c893fb54525ffcd94ef9574a20b5a7dd066c , which disallows "localhost" has a redirect-uri host.

A proposed solution could be #275

[2021-04-01 16:58] avpdiver commented on #273
I am afraid, it's not. As I mentioned, I changed a redirect URI to "https://openidconnect.net/callback". No loopbacks.
And login page is accessible. There is no need to 'permitAll' it ;)

[2021-04-01 19:58] Kehrlann commented on #273
Ah my bad, I thought you had tried this change _after_ noticing the samples were broken.

I cannot access your example, it times out:
[code]

For the `.permitAll()`, you are correct, the login page is indeed accessible if you hit `/login` directly ; or try to access an invalid endpoint `/foob/bar`.

However, when trying to access `/oauth2/authorize?...` as a non-logged in user, we should get a red

[2021-04-02 05:25] avpdiver commented on #273
Sorry for that. The server is on my personal PC, I turned it off last night. I've run it again.

Yes, that's the case. Any other pages fire login page, as does /oauth2/authorize with invalid GET-params.

I have tried, nothing changed.

[2021-04-02 11:16] rlewczuk commented on #59
Here is another part of this epic - JWT assertion grant type: https://github.com/rlewczuk/spring-authorization-server/tree/jwt-assertion-grant

In both parts I had to make some design decisions that really need to be reviewed and discussed. Plus I have to review it once again for  compliance with RFC (especially error codes). If you have time some time next week, we can start working on this. Gran

[2021-04-02 15:56] Kehrlann commented on #273
Thanks for opening it up. I've looked into it, I don't know why I believed `permitAll()` changed anything. It doesn't. My bad.

The problem is linked to 85d6a1200021ceb10b41c2e708d036b7cfd7b97a . **tl;dr** do not use that commit until we fix it, I have to check with Joe what would the best approach be.

---

Longer explanation:

The sample relies on `OAuth2AuthorizationServerConfiguration` to buil

[2021-04-02 17:59] Kehrlann commented on #273
For info I have an open PR, #275 , but it's not in a good place yet.

[2021-04-05 11:08] jgrandja commented on #59
Thanks @rlewczuk !

Let's focus on JWT client authentication for `0.1.2`. I'm not sure when JWT authorization grant will get scheduled at this point.

I'm pretty backlogged over the next 2 weeks. After `0.1.1` is out, please submit PR for JWT client authentication. Thanks!

[2021-04-05 11:39] jgrandja commented on #269
@littlefisher666 The best place to start is [Getting Started](https://github.com/spring-projects-experimental/spring-authorization-server#getting-started) and [Feature Planning](https://github.com/spring-projects-experimental/spring-authorization-server#feature-planning) outlines the feature roadmap.

[2021-04-05 11:39] #269 closed

[2021-04-05 11:46] jgrandja commented on #268
@lu-cheng The client needs to authenticate in order to be able to revoke a token. Please see usage in the integration tests in `OAuth2TokenRevocationTests`.

[2021-04-05 11:46] #268 closed

[2021-04-05 20:19] jgrandja commented on #273
@avpdiver @Kehrlann This is now fixed via 2d8d568

[2021-04-05 20:19] #273 closed

[2021-04-07 14:07] m-pavel opened #278 "Implicit grant"
In according to https://github.com/spring-projects/spring-security/wiki/OAuth-2.0-Features-Matrix Implicit grant is not going to be implemented.
But, I think design should allow to implement it (or whatever response type I need).
Currently 'response_type' is hardcoded in OAuth2AuthorizationEndpointFilter and I don't see how to add implicit flow support in my server without re-writing lot of code.

[2021-04-08 10:05] Benzenes commented on #278
The Implicit grant is not recommended to use. (https://oauth.net/2/grant-types/implicit/); duplicate issue, see [comment](https://github.com/spring-projects-experimental/spring-authorization-server/pull/115#issuecomment-709558240)

[2021-04-09 12:28] pkostrzewa commented on #101
Has it already been assigned to someone? I'd like to give it a try.

[2021-04-12 08:08] Benzenes commented on #176
any update on this?

[2021-04-12 08:26] idosal commented on #176
@Benzenes I'm on it. I was a little delayed due to personal circumstances, but I'll open a draft in the next few days.

[2021-04-12 10:06] jgrandja opened #279 "Consider support for Resource Indicators for OAuth 2.0"
This ticket will consider adding support for [Resource Indicators for OAuth 2.0](https://tools.ietf.org/html/rfc8707).

[2021-04-12 12:53] jgrandja commented on #101
Thanks for the offer @pkostrzewa. I likely need to split this ticket up into 2 separate tasks. I'll get back to you sometime next week with a plan on how to implement this feature. Thanks!

[2021-04-12 16:01] dfcoffin commented on #279
@jgrandja Should we reference RFC 8707 in the description or EPIC project entry since it defines how Resource Indicators function?

[2021-04-12 20:01] jgrandja commented on #279
@dfcoffin I'm not using Epic's any longer to group major features. I felt it was easy enough to simply use issues and link to other related issues if part of a bigger feature.

[2021-04-20 21:06] roll57 opened #281 "Oauth2 Client expects "expires_in" to be a number"
**Describe the bug**
The field expires_in from the POST /oauth2/token is a string, whereas some system expect a number (example Webswing oidc module) which is using [google-oauth-java-client](https://github.com/googleapis/google-oauth-java-client/blob/267b6f462722b5b610857259855036c182e3cb23/google-oauth-client/src/main/java/com/google/api/client/auth/oauth2/TokenResponse.java)

**To Reproduce**
[

[2021-04-24 16:35] LORJIM opened #282 "Validate Client with BBDD instead of InMemory info"
Hi,

I'm not sure if this feature is already implemented on the project, but so far i didn't found anything about it.
Basically there is no "elegant" way of configuring a ClientDetailsService so we use the clients on the database instead of creating a InMemoryRegisteredClientRepository.

By my point of view, it should be something like in the previous versions of AuthorizationServer:

We have this

[2021-04-26 14:06] #52 closed

[2021-04-27 00:42] jgrandja opened #283 "Provide configuration for custom Authorization Consent page"
We need to provide the capability for an application to configure a custom Authorization Consent page.

[2021-04-27 13:31] jgrandja commented on #278
@m-pavel Regarding your comment:

Customization hooks will be coming at a later point. See gh-139

Closing this as duplicate

[2021-04-27 13:31] #278 closed

[2021-04-27 13:40] jgrandja commented on #282
@LORJIM A JDBC implementation of `RegisteredClientRepository` is coming in the `0.1.2` release. See gh-265.

Closing as duplicate.

[2021-04-27 13:40] #282 closed

[2021-04-27 14:02] jgrandja commented on #281
Thanks for the report @roll57. I logged an issue in Spring Security as this needs to be fixed there. See [spring-security#9685](https://github.com/spring-projects/spring-security/issues/9685).

We might be able to get a temporary fix in here until it's fixed there.

[2021-04-27 20:43] rwinch opened #284 "master->main"
We should rename master branch to main

[2021-04-27 20:45] #284 closed

[2021-04-28 13:51] braunsonm commented on #139
Great work on this project so far! I've been following it closely and am looking forward to using it. I'm wondering if there will be similar support as in spring security for providing an AuthenticationCustomizer. I would like to extend some of the authentication logic to authenticate a user based on the presence of a header and setup their security context based around that.

[2021-04-30 12:37] jgrandja commented on #139
Thanks @braunsonm! Can you provide more specific details on the customization you're looking to perform so I can better understand.

[2021-04-30 13:27] braunsonm commented on #139
Hey @jgrandja basically I would like to do custom authentication logic based on the presence of headers in the request. For instance if our LB terminates mTLS and sets a header to denote the user, I would have logic to read that header and setup the security context based on that username in the header. After that all the same logic of the authorization server should still work and issue a token
H

[2021-04-30 15:08] jgrandja commented on #139
@braunsonm Can you please log a new issue and provide as much detail as possible and we'll continue the discussion there. Thanks.

[2021-04-30 16:09] braunsonm opened #285 "Support for AbstractPreAuthenticatedProcessingFilter"
**Expected Behavior**
In spring security you can provide filters that extend `AbstractPreAuthenticatedProcessingFilter` to add custom authentication logic. For example, if the header `User` is provided, I would like to set the principal up for that username provided so tokens issued are for the user authenticated by the header.

**Current Behavior**
Unknown, just a question.

**Context**
I would l

[2021-05-05 14:37] gvermoen opened #286 "client_secret_post is supported but doesn't work."
**Describe the bug**
According to http://auth-server:9000/.well-known/openid-configuration, both client_secret_basic and client_secret_post should be supported, however client_secret_post doesnt seem to work.
[code]

**To Reproduce**
Run the sample authorization server. Execute the following:
[code]
The server responds with 401 {"error":"invalid_client"}

**Expected behavior**
I would expect to ge

[2021-05-05 17:42] anoopgarlapati commented on #286
@gvermoen The `messaging-client` in the sample is configured only with `ClientAuthenticationMethod.BASIC` by default. You would need to edit the `AuthorizationServerConfig` and add `ClientAuthenticationMethod.POST` to the `messaging-client` registration.

[2021-05-05 17:58] gvermoen commented on #286
Hi @anoopgarlapati you're absolutely correct! Thanks

[2021-05-05 17:58] #286 closed

[2021-05-10 15:52] anoopgarlapati opened #287 "Refresh token grant may issue ID token"
As per [OpenID Connect Core 1.0 section 12.2](https://openid.net/specs/openid-connect-core-1_0.html#RefreshTokenResponse), `refresh_token` grant should issue ID token if the scope of the original request contains `openid`.
The following requirements apply to the issued ID token in refresh token response:
- its `iss` Claim Value MUST be the same as in the ID Token issued when the original authentic

[2021-05-10 16:14] anoopgarlapati opened #288 "The authorize request should fail if scope request parameter is not provided"
Currently a client performing authorize request can omit the `scope` parameter and receive an access token without any scopes. This is neither useful nor the expected behavior for many authorization servers.
As per [RFC 6749 section 3.3](https://datatracker.ietf.org/doc/html/rfc6749#section-3.3 ):

   authorization, the authorization server MUST either process the
   request using a pre-defined de

[2021-05-10 17:16] anoopgarlapati commented on #288
@jgrandja Yes, I'm interested in submitting a PR for this.

[2021-05-11 16:22] AlekseyMishanin opened #290 "OAuth2AuthorizationCodeAuthenticationProvider should check if the code has expired"
Hi guys! Glad to see you all.
When a client exchanges an authorization code for an access token, we forget to check the expiration date of the authorization code. Perhaps
`if (authorizationCode.isInvalidated()) { throw new OAuth2AuthenticationException(new OAuth2Error(OAuth2ErrorCodes.INVALID_GRANT)); }` you can replace like this `if (authorizationCode.isInvalidated() || authorizationCode.isExpire

[2021-05-11 19:50] wsaca commented on #139
My use case is related to #279, I'm trying to add **dynamically scopes** to the access token using information of the user who was logged in and the target audience passed as parameter. For now it is not possible to do it because if a client request a scope then it should be in **RegisteredClient** or the invalid scope exception is thown.

[2021-05-12 14:05] hofsa opened #292 "Authorization Code Flow with Proof Key for Code Exchange (PKCE) does not support refresh token"
**Describe the bug**
The  Authorization Code Flow with Proof Key for Code Exchange (PKCE) allows an Angular-Client to successfully receive an ID-Token, an Access-Token and a Refresh-Token.

But when the client uses the Refresh-Token, he receives a http-StatusCode '401'.

Looks like the problem is in
[code]
, which has a special-case for the initial PKCE-request (authenticatePkceIfAvailable()) to h

[2021-05-12 14:23] wsaca commented on #292
Refresh tokens are only supported with confidential clients (with client_secret), its not secure to use refresh tokens with public clients but its possible following this recommendations:
- https://datatracker.ietf.org/doc/html/draft-ietf-oauth-browser-based-apps-07#section-8

I also would like to see this options implemented, but now I'm authenticating again in bakground before the token expires.

[2021-05-12 14:45] ovidiupopa91 commented on #245
Hi @jgrandja . If  this issue is available I would like to work on it.

[2021-05-12 14:49] jgrandja commented on #245
Thanks @ovidiupopa91. I'll assign this task to you.

[2021-05-16 19:07] foogabrielbar316 commented on #292
Public clients must also have access to refresh_token.

Consider the following scenario: The user downloads your application from the app store, and every hour he has to go through the flow again (because of the short lifetime of the access_token).

Certainly, because of the bad experience, the application will receive a bad rating.

[2021-05-16 21:36] bschoenmaeckers commented on #292
Native apps do have the same recommendations as browser-based apps. So native apps should support refresh tokens with extending lifetime.

https://datatracker.ietf.org/doc/html/rfc8252

[2021-05-17 06:22] robbydf opened #294 "Add support for localhost/loopback addresses as redirect URI for certain scenarios/Spring profiles"
**Expected Behavior**
The acceptance of localhost/loopback address as a redirect URI should be configurable (yet still defaults to false).

**Current Behavior**
In `OAuth2AuthorizationEndpointFilter.isValidRedirectUri(String, RegisteredClient)`, localhost/loopback address will always return `false`.

**Context**
While the backend developers are not really affected here, the developers of the front

[2021-05-17 20:17] sjohnr commented on #294
Hi @robbydf. Unfortunately, it looks as though this functionality is quite intentional. Here is the comment in that particular section of code:

[code]

Any way you can use loopback IP or add an entry to your DNS host file for a domain you have set up with the provider?

[2021-05-18 01:33] robbydf commented on #294
Hello @sjohnr. Thanks but correct me If I'm wrong. I think loopback addresses are also invalid:

        		if (!LOOPBACK_ADDRESS_PATTERN.matcher(requestedRedirectHost).matches()) {
        			// As per https://tools.ietf.org/html/draft-ietf-oauth-v2-1-01#section-9.7
        			// When comparing client redirect URIs against pre-registered URIs
        			// authorization servers MUST utilize exact

[2021-05-18 08:28] litchi0509 opened #295 "authorization_code mode access code does not properly guide the user to login"
When I use the authorization code mode to get the code, if the user is not logged in, the response is 401, shouldn't it be a jump to the login page?

I get the authorization code this way:
[code]
Configuration is as follows:
[code]

[2021-05-18 23:09] sjohnr commented on #294
Hi @robbydf.  I re-read that [section of the spec](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-01#section-9.7.1) again just to be sure. I think it is actually allowed to use e.g. `127.0.0.1` in the redirect URI. Here's what it says:

    rather than "localhost" avoids inadvertently listening on network
    interfaces other than the loopback interface.  It is also less
   susceptibl

[2021-05-19 02:03] robbydf commented on #294
Hello @sjohnr. I retried using `127.0.0.1` and yes, it works. Thanks for pointing that out. I'll be closing this issue.

Regarding contribution, I'll certainly look in to it. Thanks again.

[2021-05-19 02:03] #294 closed

[2021-05-19 02:22] #295 closed

[2021-05-19 02:33] litchi0509 commented on #295
I figured it out. Instead of reconfiguring the login page, I went straight to the default configuration page in the example.
[code]

[2021-05-19 11:09] jgrandja commented on #139
@wsaca The `OAuth2TokenCustomizer` gives you full control on enhancing the claims in the `Jwt` access token. It also provides you contextual information (e.g. the current user) that you may use to determine which claims to dynamically add/update/remove. Please see [comment](https://github.com/spring-projects-experimental/spring-authorization-server/pull/289#issuecomment-843992970).

[2021-05-19 11:15] jgrandja commented on #139
@anoopgarlapati Instead of the framework defining a customization for a pre-defined default value for `scope`, I think this responsibility should be left to the custom `OAuth2TokenCustomizer` configured in the application. Thoughts?

[2021-05-19 14:08] anoopgarlapati commented on #139
@jgrandja With the changes in #289, if the default behavior would be to reject the request when no scope is provided in authorize request, then it would not be possible for an application to customize default scopes using `OAuth2TokenCustomizer` as the execution never reaches there.
My comment was to allow the restriction to be added in #289 as default behavior of the server (like Okta does for ex

[2021-05-19 14:14] jgrandja commented on #139
@anoopgarlapati Can you provide a link to the Okta docs so I can see how they implement.

[2021-05-19 14:42] anoopgarlapati commented on #139
Hi @jgrandja You can find the [Okta developer documentation for authorize endpoint](https://developer.okta.com/docs/reference/api/oidc/#request-parameters) state that `scope` parameter is REQUIRED.
I have just tested it as well on my Okta dev server where I just provide `response_type`, `redirect_uri` and `client_id` without the `scope` parameter.
When I execute the request, I get `error=invalid_s

[2021-05-19 16:07] wsaca commented on #139
@jgrandja In my example, if the requested scope was not added statically to "RegisteredClient" the client get an invalid scope error and OAuth2TokenCustomizer is never executed. A client will not always request scopes registered previously in a specific "RegisteredClient" instance because these are dynamically resolved, when #279 is implemented my case will be clearer.

[2021-05-20 10:01] jgrandja commented on #139
@anoopgarlapati @wsaca Thank you for the detailed explanations.

@anoopgarlapati

Agreed.

I think we could implement this as a policy where it's configured by default but may be customized. This would fulfill @wsaca use case, where this specific policy could be disabled in order to allow the execution to proceed to the `OAuth2TokenCustomizer` and scopes can be added there in a dynamic or default

[2021-05-20 10:08] jgrandja commented on #176
@idosal How are things coming along? Were you able to make any progress?

[2021-05-20 11:48] jgrandja commented on #285
@braunsonm Take a look at the Authorization Server sample configuration:

https://github.com/spring-projects-experimental/spring-authorization-server/blob/7933cb8c4b3b6eee0becfa0412fdd633c6df1def/samples/boot/oauth2-integration/authorizationserver/src/main/java/sample/config/AuthorizationServerConfig.java#L52

You have full access to `HttpSecurity` after (or before) you apply `OAuth2AuthorizationS

[2021-05-20 12:20] jgrandja opened #296 "OAuth2AuthorizationCodeAuthenticationProvider should not issue refresh token to public client"
The current implementation of `OAuth2AuthorizationCodeAuthenticationProvider` will issue a refresh token to a public client (authenticated via PKCE). This should not be allowed as there are a number of inherent risks with public clients and issuing a refresh token increases the risk to another level.

However, this capability may be introduced at a later point by implementing best practices outlin

[2021-05-20 12:21] jgrandja opened #297 "Implementation guidelines for Browser-Based Apps (SPA)"
The [OAuth 2.0 for Browser-Based Apps](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-browser-based-apps-10) specification details the security considerations and best practices when developing browser-based applications that use OAuth 2.0.

The purpose of this issue is to:
1. Provide a summary of the key points detailed in the specification.
2. List the currently supported and unsupported

[2021-05-20 12:35] jgrandja commented on #292
@hofsa Thank you for reporting this as you uncovered a bug. I'm going to close this in favour of gh-296.

Also, see gh-297 as `refresh_token` capability for public clients will be implemented at a later point.

[2021-05-20 12:35] #292 closed

[2021-05-20 12:41] jgrandja opened #298 "Implement security features for Native Apps"
This ticket is a placeholder for implementing one or more security features outlined in [OAuth 2.0 for Native Apps](https://datatracker.ietf.org/doc/html/rfc8252).

[2021-05-20 12:49] jgrandja commented on #290
Thank you for reporting this @AlekseyMishanin. This is a bug and should be `authorizationCode.isActive()`.

[2021-05-20 13:09] jgrandja commented on #287
@anoopgarlapati Where in [Section 12.2. Successful Refresh Response](https://openid.net/specs/openid-connect-core-1_0.html#RefreshTokenResponse) does it state:

I see:

which states that it might not contain the id_token, which implicitly means it's not required to be returned.

[2021-05-20 13:15] anoopgarlapati commented on #287
@jgrandja Yes, it is not mandatory to return an ID token. However, the same section of the specification states

`non-normative` indicating not a normal behavior to omit ID token for an OpenID Connect compliant provider.

I have checked the behavior in [Okta](https://developer.okta.com/docs/guides/refresh-tokens/use-refresh-token/) and [Auth0](https://auth0.com/learn/refresh-tokens/) and they issu

[2021-05-20 17:38] jgrandja commented on #101
@pkostrzewa Apologies for the long delay in my response.

I'm going to be taking on this feature as part of a POC that I'll be starting next week. The POC involves integration with [SPIFFE / SPIRE](https://spiffe.io/).

If there are any other tasks you're interested in please let me know.

[2021-05-21 03:57] Moss-Lee opened #300 "what time authorization type implements the password grant"
what time authorization type implements the password grant

[2021-05-21 03:58] Moss-Lee opened #301 "what time authorization type implements the password grant"
what time authorization type implements the password grant

[2021-05-21 03:58] Moss-Lee opened #302 "what time authorization type implements the password grant"
what time authorization type implements the password grant

[2021-05-21 03:58] #302 closed

[2021-05-21 03:59] Moss-Lee commented on #302
repeated submit

[2021-05-21 03:59] Moss-Lee commented on #301
repeated submit

[2021-05-21 04:00] Moss-Lee commented on #301
repeated submit

[2021-05-21 04:00] #301 closed

[2021-05-21 06:31] anoopgarlapati commented on #300
`password` grant is not recommended. Please see [comment](https://github.com/spring-projects-experimental/spring-authorization-server/pull/115#issuecomment-696009503).

[2021-05-21 10:44] jgrandja commented on #300
Closing as duplicate #115

[2021-05-21 10:44] #300 closed

[2021-05-21 11:16] pkostrzewa commented on #101
@jgrandja Yes, I can take something else.

[2021-05-22 11:29] idosal commented on #176
Hey,
I opened draft #303 to see if I'm on the right track. I apologize it's been longer than anticipated, but once I have your guidance I'll get this done ASAP. Thanks!

[2021-05-25 02:43] robbydf opened #305 "Upgrade to Spring Security 5.5"
**Expected Behavior**
Using Spring Security 5.5, the Spring Boot app containg Spring Security 5.5 and Spring Authorization 0.1.1 should start normally

**Current Behavior**
Spring Authorization Server produces a NullPointerException with Spring Security 5.5 (Which Spring Boot 2.5.0 uses) which prevents startup

**Context**
For context, I am developing a Spring Boot app containing both the authoriz

[2021-05-25 05:56] anoopgarlapati commented on #305
https://github.com/spring-projects-experimental/spring-authorization-server/blob/5e0fe9c8622b6f31de86e981cb10f0e425c425a3/oauth2-authorization-server/src/main/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/authorization/OAuth2AuthorizationServerConfigurer.java#L279
Looks like its due to this broken behavior reported in https://github.com/spring-projects/spring-se

[2021-05-25 07:43] robbydf commented on #305
got it. will close this then

[2021-05-26 09:12] gth7754125 opened #306 "Please add a mechanism to maintain authentication in cluster environment during oauth-authorization-code flow"
**Current Behavior**
If the authorization server needs to deploy in cluster's environment, i need to remove session mechanism.However, when i set
[code]
spring security can not trace my authentication info between login and authorization-code grant behaviour because the info lost between two requests, so it will loop on the login behaviour forever. Is that any way to deal with it?

[2021-05-26 17:50] #290 closed, assigned to sjohnr

[2021-05-27 02:43] vnobo opened #307 "OAuth2TokenEndpointFilter is empty, java.lang.NullPointerException: null"
**Describe the bug**
spring boot version 2.5.0

When my project OAuth2TokenEndpointFilter does not exist,.

will OAuth2AuthorizationServerConfigurer go to register OAuth2TokenIntrospectionEndpointFilter

java.lang.NullPointerException: null

this code:
`OAuth2TokenIntrospectionEndpointFilter tokenIntrospectionEndpointFilter =
				new OAuth2TokenIntrospectionEndpointFilter(
						authenticationMana

[2021-05-27 06:26] anoopgarlapati commented on #307
This is a regression in Spring Security 5.5. Please see [comment](https://github.com/spring-projects-experimental/spring-authorization-server/issues/305#issuecomment-847559263).

[2021-05-27 07:55] jgrandja commented on #307
Thanks @anoopgarlapati for pointing this out. Closing as duplicate gh-305

[2021-05-27 07:55] #307 closed

[2021-05-27 13:46] pxzxj commented on #306
I think the spring-session project can solve the authentication problem in the cluster environment. The key problem is that the [OAuth2AuthorizationService](https://github.com/spring-projects-experimental/spring-authorization-server/blob/main/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/OAuth2AuthorizationService.java) interface has only one me

[2021-05-27 21:08] softwaresale opened #308 "Fatal NullPointerException while initializing application context"
**Describe the bug**
I got the following `NullPointerException` while trying to initialize my Authorization server:
[code]
Specifically, the error happened while trying to start the `ApplicationContext`.

**To Reproduce**
I followed [Baeldung's Spring OAuth Server tutorial](https://www.baeldung.com/spring-security-oauth-auth-server) verbatium. I ran the application via `gradle bootRun`.

Spring bo

[2021-05-28 03:02] gth7754125 commented on #306
I have already written a simple **RedisOAuth2AuthroizationService** implementation, and I don't want to import a **spring-session** to the server project, so now I just custom a **KwAuthenticationSuccessHandler** , **AuthenticationEntryPoint**, and add a custom filter which added before **OAuth2AuthorizationEndpointFilter** to get back the redirectUrl. Although it seems not a good way to alternate

[2021-05-28 08:28] anoopgarlapati commented on #308
This is a regression in Spring Security 5.5. Please see [comment](https://github.com/spring-projects-experimental/spring-authorization-server/issues/307#issuecomment-849363782).

[2021-05-28 10:49] jgrandja commented on #308
Closing as duplicate #307

[2021-05-28 10:49] #308 closed

[2021-06-01 10:32] litchi0509 opened #309 "In authorization_code mode, what happens if the client applies for a permission that the user does not have?"
In authorization_code mode, what happens if the client applies for a permission that the user does not have?
E.g:
  1. All users have ```message.read, message.write``` and other permissions
  2. The client is configured with all the permissions in 1 above
  3. There is now a user Tom who only has ``message.read`` permission
  4. The client uses scope=message.write to apply for authorization. At th

[2021-06-01 18:06] jgrandja commented on #309
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

[2021-06-01 18:06] #309 closed

[2021-06-02 02:04] litchi0509 commented on #309
@jgrandja Hello, I do want to enhance the existing function, because I found that when the user authorization page is authorized, it only verifies that the registered client has this permission, but in fact the user does not have this permission at all, which is equivalent to that the user grants a permission to the client that he does not have.

[2021-06-04 10:42] #283 closed

[2021-06-09 14:07] jgrandja commented on #288
@anoopgarlapati I've been giving this some further thought and I now feel that we should not add this `scope` validation.

There are use cases where the `scope` parameter will not be used at all and the authorities assigned to the access token will be derived from other sources, e.g. authorities from user, resource indicators #279, custom data source, etc.

If we add this `scope` validation then t

[2021-06-09 14:22] jgrandja commented on #309
@litchi0509 The issue you described is a duplicate of gh-187.

Please see the following comments ([gh-289](https://github.com/spring-projects-experimental/spring-authorization-server/pull/289#issuecomment-838689119), [gh-139](https://github.com/spring-projects-experimental/spring-authorization-server/issues/139#issuecomment-780925433)) for further context.

[2021-06-11 13:04] anoopgarlapati commented on #288
@jgrandja I agree with both the parts. It does seem to be too restrictive to reject the request as default behavior and as long as it is easily customizable it should not be much of a hassle for product teams to define this behavior if they want.
I am closing the issue and linked merge request.

[2021-06-11 13:04] #288 closed

[2021-06-11 14:02] jgrandja commented on #139
@wsaca FYI, see [comment](https://github.com/spring-projects-experimental/spring-authorization-server/issues/288#issuecomment-857725029)

[2021-06-15 10:53] Ravis22 opened #310 "Roadmap for production use"
Hi Team,
   I wish to know what is the plan for having release that is ready for production use.

[2021-06-15 12:21] khaelys opened #311 "Gradle build failed with 401 Unauthorized"
**Describe the bug**
Gradle build failed with 401 Unauthorized

**To Reproduce**
Just run `gradlew build` from root. I am on windows and aligned to main.

Short error description:
Could not HEAD 'https://repo.spring.io/plugins-snapshot/com/fasterxml/jackson/core/jackson-databind/2.11.4/jackson-databind-2.11.4.pom'. Received status code 401 from server: Unauthorized

[2021-06-15 22:43] #245 closed

[2021-06-16 13:06] bschoenmaeckers opened #312 "Scopes encoded with application/x-www-form-urlencoded will not get parsed correctly"
When the scope parameter is encoded with application/x-www-form-urlencoded () the space delimiter will be encoded as a plus sign (+) instead of %20. Currently this will break the scope validation because it will not recognize the delimiter between different scopes. The authorization server should accept both encodings.

[2021-06-16 14:03] jgrandja opened #313 "Provide JDBC implementation of OAuth2AuthorizationConsentService"
We need to provide a JDBC implementation of `OAuth2AuthorizationConsentService` that may be used for production deployments.

Related gh-283 gh-304

[2021-06-16 14:06] ovidiupopa91 commented on #313
Hi @jgrandja . I can work on this one.

[2021-06-16 14:07] jgrandja commented on #313
Thanks for all your help @ovidiupopa91 !

[2021-06-18 16:46] #313 closed

[2021-06-18 18:05] sjohnr commented on #306
Hi @gth7754125. I believe there are two main issues you're facing:

1. Session management
2. Shared access to authorization state

As @pxzxj pointed out, session management can easily be distributed using the spring-session project. This solves the problem of tying things like the `state` and `redirect_uri` parameters back to a particular browser in the `authorization_code` flow. There is state in

[2021-06-18 18:05] #306 closed

[2021-06-18 18:20] sjohnr commented on #310
Hi @Ravis22. I don't have any specifics at this time. In the near term, please keep an eye on [0.1.2](https://github.com/spring-projects-experimental/spring-authorization-server/milestone/6) and [0.2.0](https://github.com/spring-projects-experimental/spring-authorization-server/milestone/7) milestones as they progress in the coming months.

You can also check out recent and ongoing work for client

[2021-06-18 18:20] #310 closed

[2021-06-18 19:02] jgrandja commented on #310
@Ravis22 We are targeting the upcoming `0.2.0` release to be production-ready.

[2021-06-19 09:24] manhnv94 opened #316 "spring-authorization-server 0.1.1 authorization code not working"
Hi team,

I'm using the sample spring-authorization-server 0.1.1...
I put that link "localhost:9000/oauth2/authorize?response_type=code&client_id=messaging-client&scope=read" to browser, its redirect to login page... then i use default username/password to login, but not return to authorization code,  it return error 500.

Please support me,

Thanks

[2021-06-20 17:56] bschoenmaeckers opened #317 "Authorization server metadata endpoint does not take into account the context path"
When your run spring under a different context path using for example the property `server.servlet.context-path=/api`, the url in de metadata do not match the actual path anymore.

A current workaround would be to include the context path in the issuer setting of `ProviderSettings`. But I would like to see the metadata include the context path by itself when you set it using the above property.

[2021-06-22 10:11] jgrandja opened #319 "Provide capability for customizing the token endpoint"
We should provide the capability to customize the processing of the Access Token Request and Response.

Related gh-139

[2021-06-22 10:48] #319 closed

[2021-06-22 17:32] #265 closed

[2021-06-22 17:43] sjohnr opened #320 "LobCreatorArgumentPreparedStatementSetter class is duplicated"
`LobCreatorArgumentPreparedStatementSetter` is duplicated in the following locations:
* JdbcOAuth2AuthorizationService
* JdbcRegisteredClientRepository

It is also duplicated in spring-security:
* JdbcOAuth2AuthorizedClientService

Ideally, it would exist in only one location, possibly spring-security-oauth2-core.

[2021-06-22 17:44] sjohnr commented on #320
This was suggested in discussion on #291.

[2021-06-22 21:18] sjohnr commented on #316
Hi @manhnv94. Could you provide a bit more detail on your issue?

Are you typing that URL from the description directly into a browser? Or are you using an OAuth 2.0 client to initiate this request? Are you sending a state parameter? Can you describe your specific steps to reproduce?

[2021-06-22 21:20] sjohnr commented on #312
Hi @bschoenmaeckers, thanks for the report. Would you be interested in submitting a pull request to fix this issue?

[2021-06-22 21:29] sjohnr commented on #311
Hi @khaelys. Can you describe your setup a bit more? Do you have any credentials stored in a gradle.properties on your machine, or anything else that might be impacting the build?

[2021-06-22 21:35] sjohnr commented on #317
Hi @bschoenmaeckers. Thanks for the report. Given that the workaround is quite easy, and you would typically be providing the `ProviderSettings#issuer` anyway, I've marked this as an enhancement request for now. Would you be interested in submitting a PR?

[2021-06-23 12:26] bschoenmaeckers commented on #317
Hi! Thanks for your response. What would be a desirable solution, just adding the context path to the issuer and so fix all the other urls or leave the issuer as it and add the context path to the endpoint uris directly?

[2021-06-23 12:48] ovidiupopa91 commented on #313
hi @jgrandja . Let me know when you have something planned for the `0.2.0` release. Unfortunately for the `0.1.2` release I won't be able to help anymore as I will be off next week.

[2021-06-23 12:50] jgrandja commented on #313
@ovidiupopa91 Please ping me when you return from your time off. Enjoy!

[2021-06-23 15:09] bschoenmaeckers commented on #312
I'm getting the same error when building current master without any changes.

[2021-06-23 16:21] LinhVu1027 commented on #311
Hi @sjohnr, I had the same issue 3 days ago. I didn't do anything special, just cloned this project and built it by `./gradlew`. Now, it turned into:
[code]

[2021-06-23 21:56] rajagopalanvivek opened #323 "OidcProviderConfigurationEndpointFilter: TokenSigning Algorithm is hardcoded as RSA and doesn't support ECC"
**Describe the bug**
org.springframework.security.oauth2.server.authorization.oidc.web.OidcProviderConfigurationEndpointFilter: TokenSigning Algorithm is hardcoded as RSA and doesn't support ECC
Line: 90
				.idTokenSigningAlgorithm(SignatureAlgorithm.RS256.getName())

**To Reproduce**
org.springframework.security.oauth2.server.authorization.oidc.web.OidcProviderConfigurationEndpointFilter: TokenS

[2021-06-25 09:34] bschoenmaeckers commented on #311
I'm getting the same error when building current master without any changes.

[2021-06-25 12:45] jgrandja commented on #311
@khaelys @LinhVu1027 @bschoenmaeckers I haven't seen any issues on my end and I had a colleague just try it out with no issues. I would imagine there would be a lot more users reporting the same issue if it was related to the current build setup.

I suspect that it might be related to your environment? Have you tried building in another environment?

[2021-06-25 12:54] eiswind commented on #311
I saw the same issue on my site last week!

[2021-06-25 13:04] jgrandja commented on #311
@eiswind There were some infrastructure changes last week/weekend so it might have just be an intermittent problem. Are you seeing issues this week?

[2021-06-25 13:13] bschoenmaeckers commented on #311
Deleting the .gradle folder in my home directory fixed the problem.

[2021-06-25 13:18] ddubson opened #324 "OAuth2AuthorizationCodeAuthenticationProvider does not properly deserialize OAuth2Authorization object attributes"
**Describe the bug**

When using the JDBC implementation for `OAuth2AuthorizationService`, the `OAuth2AuthorizationCodeAuthenticationProvider` is not able to properly deserialize the stored attributes within `OAuth2Authorization` object upon authentication. Specifically, the attributes within OAuth2Authorization object are stored as `LinkedHashMap`s, and when it comes time for `OAuth2Authorization

[2021-06-25 13:28] jgrandja commented on #311
Thanks @bschoenmaeckers.

I'm going to close this as I believe this is related to the infrastructure changes on our end that caused an intermittent problem and/or it's related to the user's environment.

[2021-06-25 13:28] #311 closed

[2021-06-25 13:29] eiswind commented on #311
When I run today I get
[code]

Only custom thing I can see at my side is a gitlabPrivateToken in gradle.properties

[2021-06-25 13:31] jgrandja commented on #311
@eiswind Can you try the same thing that @bschoenmaeckers  did in this [comment](https://github.com/spring-projects-experimental/spring-authorization-server/issues/311#issuecomment-868490608)

[2021-06-25 13:40] bschoenmaeckers commented on #312
Sorry, it was a problem on my side. The + sign on my side got escaped to %2B which will correctly decode to a + sign in the authorization filter. This is the correct behavior because only unescaped + signs should be decoded to spaces as is the case now, so closing I will close this issue. Thanks anyway!

[2021-06-25 13:40] #312 closed

[2021-06-25 13:42] jgrandja commented on #324
Thanks for the report @ddubson. We discovered the bug as well and are currently working on a fix.

[2021-06-25 13:54] bschoenmaeckers opened #325 "RegisteredClientRepository and OAuth2AuthorizationService should have a method to query all active entries."
It is currently not possible to get a list of all registered clients and/or active authorizations (with their corresponding tokens).

RegisteredClientRepository should have a method to get all registered clients. And the OAuth2AuthorizationService should have a method to get all (active) authorizations or all (active) authorizations for a given principal.

[2021-06-25 13:58] eiswind commented on #311
Thx. this helped!

[2021-06-25 14:08] jgrandja commented on #325
@bschoenmaeckers A `findAll()` operation is not needed by the framework at the moment and I'm not anticipating it will be needed.

I see this more of an admin operation, where admins want to view all granted tokens and possibly revoke some. This would be the responsibility of the admin app to extend `OAuth2AuthorizationService` and provide the extension operations.

I'm going to close this as it's

[2021-06-25 14:08] #325 closed

[2021-06-25 14:12] bschoenmaeckers commented on #325
Makes sense! I missed the latest commit which made both JDBC implementations non-final so this should be possible now.

[2021-06-25 14:27] bschoenmaeckers commented on #325
Nevermind... 473dedb

[2021-06-25 14:52] jgrandja commented on #325
@bschoenmaeckers We reverted the commit for now but it will be merged in 3 separate commits and the classes will be made non-final.

[2021-06-25 15:04] bschoenmaeckers commented on #325
@jgrandja Will the findBy methods be accessible to the subclasses as well? This would make it considerable easier to make custom query methods.

[2021-06-25 15:16] jgrandja commented on #325
Yes, we'll make the methods `protected` wherever it makes sense. cc/ @sjohnr

[2021-06-25 15:29] bschoenmaeckers commented on #325
Excellent!

[2021-06-25 15:41] khaelys commented on #311
You are right, I'll answer on this issue when I find a solution

[2021-06-25 15:43] jgrandja commented on #317
@bschoenmaeckers

This is the intended customization required by the application. As @sjohnr mentioned, you would simply configure `ProviderSettings#issuer()` by including the context path. You could simply lookup the Spring Boot property `server.servlet.context-path` and use that to configure the `issuer`.

I'm going to close this as this is the responsibility of the application to configure the

[2021-06-25 15:43] #317 closed

[2021-06-25 17:16] jgrandja commented on #323
@rajagopalanvivek

`OidcProviderConfiguration.idTokenSigningAlgorithm` defaults to `RS256` as this is the default algorithm as defined in OpenId Connect 1.0 spec in section [3.1.3.7.  ID Token Validation](https://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation):

However, you can customize the default algorithm `RS256` to `EC` using an [OAuth2TokenCustomizer](https://github.com/spr

[2021-06-25 17:16] #323 closed

[2021-06-25 18:50] rajagopalanvivek commented on #323
@jgrandja
Thank you. I am also aware that it can be customized in many ways, which I did already for many samples.
ECC has been into the market for sometime, and it might replace RSA completely after few years. Hence, it is high time to support them as defaults rather than hardcoding.
As "spring-authorization-server project" is something vey new and is experimental, having default support for both

[2021-06-25 19:17] rajagopalanvivek commented on #323
@jgrandja
One more question: As it's an experimental project.

I understand that the default support for this project would be JWKS and JWS.
We can customize it for JWS+JWE also in some way.

Do you see any future plans for more support on JWE?

[2021-06-25 19:21] sjohnr opened #326 "JdbcRegisteredClientRepository throws NPE when saving public client"
Saving a `RegisteredClient` with null `clientSecret` (e.g. a public client using PKCE) throws `NullPointerException`.

[2021-06-25 19:22] sjohnr commented on #326
Related gh-324

[2021-06-25 19:38] sjohnr commented on #325
Yes, I will fold that in, as that makes a lot of sense for the use case under discussion here. Thanks @bschoenmaeckers!

[2021-06-26 18:44] bschoenmaeckers opened #328 "Attributes column of the authorization table is to small"
The attributes column defined [here](https://github.com/spring-projects-experimental/spring-authorization-server/blob/473dedb9addae1c8f048df8333b7c08a16f49996/oauth2-authorization-server/src/main/resources/org/springframework/security/oauth2/server/authorization/oauth2-authorization-schema.sql#L6) is to small. It is now only 1000 chars long but on my setup it surpasses that (roughly 1100-1200 char

[2021-06-27 08:50] ejiyuan opened #329 "Provide sample based on JDBC"
**Expected Behavior**

**Current Behavior**

**Context**

[2021-06-27 08:56] bschoenmaeckers opened #330 "Settings in RegisteredClient are not json serializable with Jackson"
ClientSettings and TokenSettings are not serializable with the BeanSerializer because they do not have getter methods prefixed with "get". This prevents me from serializing a RegisteredClient to json in a custom RestController.

[2021-06-27 08:57] bschoenmaeckers commented on #330
I can submit a PR for a jackson module that can serialize all the Settings classes if you want me to.

[2021-06-28 13:57] vrapalis commented on #316
i have the same problem i use keycloak, in keycloak you can set up external idp (authorization server), when i will redirect from keyclok to  authotization server login form, after submit the form i not redirected back to keycloak for some reason. The redirect_url specified in the request and also in the client registration.

[2021-06-28 17:37] #326 closed

[2021-06-28 18:48] sjohnr commented on #328
Thanks for the report @bschoenmaeckers. I ran into the same. I'll be including a fix for this along with the fix for gh-324 as I'll be expanding the number of characters used even further.

[2021-06-28 21:12] #324 closed

[2021-06-28 21:12] #328 closed

[2021-06-28 21:16] sjohnr commented on #330
@bschoenmaeckers I just merged gh-331 which includes a start for the Jackson module. I think you could go ahead and get a head start on `ClientSettings` and `TokenSettings`, as well as `RegisteredClient`, and add them to that module. However, I don't think we will be able to include this in the next release. We can potentially look at including it in 0.2.0.

[2021-06-28 21:19] sjohnr commented on #329
Hi @ejiyuan,

I will be updating the samples to utilize the new JDBC implementations. Hopefully that will address this request.

[2021-06-28 21:22] sjohnr commented on #320
At the moment, this is no longer the case due to 67e62a2f21dcbbb4534afb0007f6a28fa800c876. In light of that, I'm going to close this for now.

[2021-06-28 21:22] #320 closed

[2021-06-28 22:22] sjohnr commented on #316
@vrapalis Can you provide a minimal sample that reproduces the issue without keycloak? I don't seem to see this issue with the samples, as @manhnv94 is seeing, so more information would be needed.

[2021-06-29 05:49] sjohnr commented on #330
Just another note on this: while I think you could get started creating the mixin (since you need it for yourself), it may not be needed in the framework right now. We may need to wait and see if it shows up as a need before we would want to look at it.

[2021-06-29 11:10] jrmcdonald opened #332 "OAuth2Authorization Token throws ClassCastException when isBeforeUse is called"
**Describe the bug**
I think the cast of the token metadata to (Instant) in [OAuth2Authorization.Token#isBeforeUse]() can cause a class cast exception when used in conjunction with the newly implemented JdbcOAuth2AuthorizationService.

**To Reproduce**
The JDBC implementation writes the token metadata to the database as a string, using ObjectMapper to transform the map of metadata. This means that

[2021-06-29 15:43] sjohnr commented on #325
@bschoenmaeckers After discussion, and considering previous comments on this issue, I won't be making any changes related to this. Reason being (as @jgrandja mentioned) this is a product feature needed by an admin application, and should not be provided by the framework. I recommend extending the interface and providing the `findAll()` functionality in your own application. Sorry about the confusi

[2021-06-29 16:13] bschoenmaeckers commented on #325
Hi @sjohnr, I understand your decision. But it will still help to make some helper methods and getters in the JDBC implementation accessible by subclasses. Are you still planning to that or not? Thanks anyway!

[2021-06-29 16:38] sjohnr commented on #325
Yes, I am working on that now. Again, sorry for the confusion :smile:, I was just referring to the `findAll()` discussion.

[2021-07-01 17:05] nguyentriloi opened #336 "I can not get token using client_credentials"
`@Bean
  public RegisteredClientRepository registeredClientRepository() {
    RegisteredClient registeredClient = RegisteredClient.withId(UUID.randomUUID().toString())
        .clientId("client")
        .clientSecret("secret")
        .clientAuthenticationMethod(ClientAuthenticationMethod.CLIENT_SECRET_BASIC)
        .authorizationGrantType(AuthorizationGrantType.AUTHORIZATION_CODE)
        .auth

[2021-07-01 19:21] #329 closed

[2021-07-01 23:08] sjohnr commented on #336
@nguyentriloi, thanks for reaching out. This question is better suited for [stackoverflow](http://stackoverflow.com/questions/tagged/spring-security) with the spring-security tag. We prefer to use GitHub for enhancements and bug reports.

[2021-07-01 23:08] #336 closed

[2021-07-02 06:59] bf39l commented on #292
I got a question about this rule

written in [Oauth-browser-based-apps section 8](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-browser-based-apps-08#section-8)
in their example: (init) 1hr access_token + 24hr refresh_token => (later) 1hr access_token + 23hr refresh_token

What's the difference between "given browser based apps a 24hr refresh_token + 1hr access_token" and "given 24hr acce

[2021-07-04 04:58] manhnv94 commented on #316
@sjohnr sorry, its my bad, i fixed it

Thank you

[2021-07-05 12:06] ghartz-hz opened #339 "RegisteredClient should be an interface like ClientDetails in the old Oauth library"
**Expected Behavior**
The original deprecated OAuth library used an interface for representing registered clients, which enabled better integration stories with existing systems, including the use of Spring Data repositories to back the client storage (for consistent auditing, etc).  Spring Authorization Server is using a concrete type to represent clients, which locks implementers into using the

[2021-07-05 13:33] ovidiupopa91 commented on #313
Hi @jgrandja . I'm back from my PTO. Let me know when you have something that I can take a look at.

[2021-07-05 22:25] jgrandja opened #340 "Extract AuthenticationProvider from OAuth2AuthorizationEndpointFilter"
We need to extract the necessary code from `OAuth2AuthorizationEndpointFilter` and create a new `AuthenticationProvider`.

[2021-07-06 14:24] #340 closed

[2021-07-06 16:13] #316 closed

[2021-07-06 17:30] jgrandja opened #342 "Provide capability for customizing the authorization endpoint"
We should provide the capability to customize the processing of the Authorization Request and Response.

Related gh-139 gh-208

[2021-07-07 07:57] #342 closed

[2021-07-07 10:27] #287 closed

[2021-07-07 12:15] #281 closed

[2021-07-07 13:26] jgrandja opened #344 "Update dependencies for 0.1.2 release"
Update dependencies for `0.1.2` release

[2021-07-07 15:55] #344 closed

[2021-07-07 16:56] sjohnr commented on #332
@jrmcdonald, I believe this bug was filed based on the initial implementation prior to 232b3b7ac6ff6d4eb465d3219c823d4cfd3fa01c, which supports proper serialization. You can check out e.g. [OAuth2TokenIntrospectionTests.java#L155](https://github.com/spring-projects-experimental/spring-authorization-server/blob/41dd68903c5b3401009253712f3a581024234668/oauth2-authorization-server/src/test/java/org/s

[2021-07-07 16:56] #332 closed

[2021-07-07 17:10] jrmcdonald commented on #332
Hi @sjohnr, thanks for such a detailed response. That definitely sounds like it fixes the issue as I described it!

[2021-07-07 17:14] jgrandja commented on #313
Hi @ovidiupopa91 . Let me get back to you this Friday after I release `0.1.2`. Hope you enjoyed your time off :)

[2021-07-07 17:19] sjohnr commented on #330
@bschoenmaeckers, while this suggestion would be nice to have, this is not an immediate need in the framework itself (that I'm aware of). I'm going to close this for now. I will keep an eye on whether this pops up as a need, and reopen if that is the case.

[2021-07-07 17:19] #330 closed

[2021-07-07 19:12] sjohnr commented on #339
@ghartz-hz, thanks for your interest in the project.

Currently, the framework creates a `RegisteredClient` (not marked as `final`) in two places:
* [JdbcRegisteredClientRepository.java#L193](https://github.com/spring-projects-experimental/spring-authorization-server/blob/41dd68903c5b3401009253712f3a581024234668/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/a

[2021-07-07 19:12] #339 closed

[2021-07-07 22:28] ghartz-hz commented on #339
The problem with RegisteredClient being a concrete type (even if not final) is that essentially every method in it ends up having to be overridden to add annotations to them, if your persistence engine needs annotations (like Spring Data JPA).  Its a sloppy and fragile solution, because there's no contract to guarantee that functional changes aren't made to the underlying class.

There's no reason

[2021-07-07 22:30] ghartz-hz commented on #339
Just to clarify, what I mean (as an example) is the library adding a new field to RegisteredClient in the future -- and because there's an implementation of it in the superclass, a subclass of it won't produce a compiler error, and data may not get persisted, audited, or some other similar bug, whereas the interface change would cause a compiler error.

[2021-07-08 09:47] ovidiupopa91 commented on #313
Hi @jgrandja, sure. Yes, it was a great. A well deserved break :)

[2021-07-09 18:24] jgrandja commented on #313
Hi @ovidiupopa91, I'm on PTO all of next week. I'll plan `0.2.0` tasks when I return and will follow up with you then. Thanks.

[2021-07-09 18:30] ovidiupopa91 commented on #313
Enjoy your time off @jgrandja !

[2021-07-11 08:40] mpv945 opened #345 "How does Chunyun Gateway integrate?"
At present, we are ready to upgrade the boot to version 2.5.2.
Can there be examples for the unified authentication and authorization of the microservice architecture gateway?

[2021-07-12 17:09] jzheaux commented on #345
Thanks for getting in touch! It feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to [use GitHub issues only for bugs and enhancements](https://github.com/spring-projects/spring-framework/blob/master/CONTRIBUTING.md#discuss). Feel free to update this issue with a link to the re-posted question (so that other people can find it).

[2021-07-12 17:09] #345 closed

[2021-07-13 12:18] jrmcdonald opened #346 "Cannot request access token for client with CLIENT_SECRET_BASIC"
**Describe the bug**
The [ClientSecretBasicAuthenticationConverter#L89](https://github.com/spring-projects-experimental/spring-authorization-server/blob/77208f05d91210b156c2ce4475793c7d0a0f2c33/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/web/ClientSecretBasicAuthenticationConverter.java#L89) uses the deprecated ClientAuthenticationMethod.BASIC

[2021-07-13 12:26] GrmpfNarf opened #347 "Exception Invalid Column Type when reading Authorizationcode from Oracle DB"
Hello everbody,
I get an exception when I try to obtain an Accesstoken from an Authorizationcode. In the moment when the `JdbcOAuth2AuthorizationService` tries to read the Authorizration from the table an exception occours.

`org.springframework.jdbc.UncategorizedSQLException: PreparedStatementCallback; uncategorized SQLException for SQL [SELECT id, registered_client_id, principal_name, authorizat

[2021-07-14 04:25] q2587218416 opened #349 "When will the password mode be launched?"
When will the password mode be launched?

[2021-07-14 14:22] GrmpfNarf commented on #347
I have investigated a little bit further and it seems that there is a problem with filtering on LOBs (CLOB and BLOB) in Oracle.
I've writen a custom `JdbcOauth2AuthorizationService` which uses JPA Data. And even there I got an issue when I try to filter by a LOB.
`ORA-00932: inconsistent datatypes: expected - got BLOB`

In the "old" Spring Security `TokenStore` it works because the filter does not

[2021-07-15 02:47] heanbian opened #351 "Upgrade version 0.1.2, login appears / error type = none, status = 999"
Upgrade version 0.1.2, login appears / error type = none, status = 999
eg:  spring boot version 2.5.2

[2021-07-15 18:54] sjohnr commented on #349
@q2587218416, we will not be providing support for the `password` grant as it is deprecated in OAuth 2.1. See [this comment](https://github.com/spring-projects-experimental/spring-authorization-server/pull/115#issuecomment-696009503).

I'm going to close this issue. If you have questions about how to support the `password` grant or other questions related to this project, feel free to use [stackov

[2021-07-15 18:54] #349 closed

[2021-07-15 22:57] sjohnr commented on #351
Hi @heanbian, thanks for the report. Can you please provide more details on your issue. Can you provide a [minimal, reproducible sample](https://stackoverflow.com/help/minimal-reproducible-example)?

[2021-07-16 22:45] sjohnr commented on #346
@jrmcdonald, thanks for the bug report! As you can see, a community member is already working on this.

[2021-07-18 10:40] bibibiu2017 commented on #347
Hi,
I am also getting a similar error when using `JdbcOAuth2AuthorizationService ` with mariadb.
`Caused by: java.sql.SQLSyntaxErrorException: (conn=76) Can only convert a byte[] to BINARY, VARBINARY or LONGVARBINARY
	at org.mariadb.jdbc.internal.util.exceptions.ExceptionFactory.createException(ExceptionFactory.java:62) ~[mariadb-java-client-2.7.3.jar:na]
	at org.mariadb.jdbc.internal.util.excepti

[2021-07-18 11:04] bibibiu2017 opened #352 "Jackson Exception When Creating Client"
**Describe the bug**
Jackson Mapping Exception when creating `RegisteredClient` with settings that contain collection created by `List.of()` or `Set.of()`

`Caused by: java.lang.IllegalArgumentException: The class with java.util.ImmutableCollections$List12 and name of java.util.ImmutableCollections$List12 is not in the allowlist. If you believe this class is safe to deserialize, please provide an

[2021-07-19 06:39] #351 closed

[2021-07-19 06:42] heanbian commented on #351
Replace "ClientAuthenticationMethod.BASIC" with "ClientAuthenticationMethod.CLIENT_SECRET_BASIC"

[2021-07-19 10:34] jgrandja commented on #351
Thanks @heanbian. This is one of the cleanup tasks that I have on my list for `0.2.0` release.

[2021-07-19 22:10] sjohnr commented on #347
@GrmpfNarf, as mentioned in this [comment](https://github.com/spring-projects/spring-security/issues/8539#issuecomment-631030998):

Take a look at `JdbcOAuth2AuthorizationServiceTests.tableDefinitionWhenCustomThenAbleToOverride()`, which provides a test on how to override the table definition altogether. There are tests in that class that demonstrate how to customize further. Additionally, your ap

[2021-07-19 22:10] #347 closed

[2021-07-20 09:49] jrmcdonald commented on #346
Hi @sjohnr, thanks for that, do you know which milestone this is likely to be included in?

[2021-07-20 10:53] #346 closed

[2021-07-20 10:56] jgrandja commented on #346
@jrmcdonald This is now merged and ready for `0.2.0`.

[2021-07-21 02:00] endymuhardin opened #353 "Authorization Code grant returns invalid_client"
**Describe the bug**
I adopt authserver sample from this repo, and add minor modification (use flyway to setup the database with custom schema for login and permission, oauth tables are created using default schema). Try to obtain access token, but getting 401 with invalid_client message.

**To Reproduce**

1. Open authorization URL in browser :
`http://auth-server:9000/oauth2/authorize?client_id=

[2021-07-21 09:35] jgrandja commented on #313
Hi @ovidiupopa91. The plan for `0.2.0` is mostly polish and technical debt tasks as we are preparing the release to be production-ready. New features are on hold until after `0.2.0` is out.

One task on the list is adding update support in `JdbcRegisteredClientRepository.save()`. It currently only supports insert. Would this be of interest?

We also need to implement the [Client Configuration Endp

[2021-07-21 10:30] jgrandja opened #354 "Rename OAuth2TokenIntrospectionClaimAccessor.getScope() to getScopes()"
Rename `OAuth2TokenIntrospectionClaimAccessor.getScope()` to `getScopes()`

[2021-07-21 10:38] #354 closed

[2021-07-21 11:03] ovidiupopa91 commented on #313
Hi @jgrandja, welcome back. I am ok with both of them 👍

[2021-07-21 12:04] jgrandja commented on #313
Great @ovidiupopa91. Can you log the issues and then I can assign to you.

[2021-07-21 12:10] ovidiupopa91 opened #355 "Implement Client Configuration Endpoint"
This issue will deliver [ClientConfigurationEndpoint](https://openid.net/specs/openid-connect-registration-1_0.html#ClientConfigurationEndpoint)

[2021-07-21 12:12] ovidiupopa91 opened #356 "Add update support in JdbcRegisteredClientRepository"
`JdbcRegisteredClientRepository.save()` it currently supports only inserts. With this feature, `RegisteredClient` updates should also be possible

[2021-07-21 12:13] ovidiupopa91 commented on #313
@jgrandja issues opened: [gh-355](https://github.com/spring-projects-experimental/spring-authorization-server/issues/355) and [gh-356](https://github.com/spring-projects-experimental/spring-authorization-server/issues/356)

[2021-07-21 12:15] ovidiupopa91 commented on #356
hi @jgrandja . I can work on this task.

[2021-07-21 12:15] ovidiupopa91 commented on #355
hi @jgrandja . I can work on this feature.

[2021-07-21 13:33] jgrandja opened #357 "Move AuthenticationConverter's to web.authentication package"
Move `AuthenticationConverter`'s to `..web.authentication` package.

[2021-07-21 13:42] #357 closed

[2021-07-21 14:44] jgrandja opened #358 "Reduce visibility of default endpoint URI constants"
Reduce visibility of default endpoint `URI` constants in `*EndpointFilter`'s.

[2021-07-21 14:47] #358 closed

[2021-07-21 15:09] jgrandja opened #359 "Make Filter implementations final"
Make `Filter` implementations `final`

[2021-07-21 15:12] #359 closed

[2021-07-21 15:27] jgrandja opened #360 "Make AuthenticationProvider implementations final"
Make `AuthenticationProvider` implementations `final`

[2021-07-21 15:30] #360 closed

[2021-07-21 16:04] sjohnr commented on #352
@bibibiu2017, thanks for the report.

This project currently supports JDK 8, which would make compiling against code using `List.of`, `Set.of`, and the underlying types in `ImmutableCollections` quite difficult. We could possibly provide serializers/deserializers for `Set` and `List` in a generic way, however this is not done by Spring Security in `SecurityJackson2Modules`. It seems that it's just

[2021-07-21 17:37] jgrandja opened #361 "Remove OAuth2ParameterNames2"
Remove (the temporary) `OAuth2ParameterNames2`

[2021-07-21 17:41] #361 closed

[2021-07-21 17:56] jgrandja opened #362 "Remove deprecated code"
Remove `@Deprecated` code

[2021-07-21 17:58] #362 closed

[2021-07-21 18:38] jgrandja opened #363 "Rename ClientSettings.requireUserConsent() to requireAuthorizationConsent()"
Rename `ClientSettings.requireUserConsent()` to `requireAuthorizationConsent()`

[2021-07-21 18:39] #363 closed

[2021-07-21 18:50] bibibiu2017 commented on #353
Hi, @endymuhardin I was able to pull the [sample](http://github.com/endymuhardin/belajar-spring-authorization-server) project and reproduce the issue you are facing.  The reason you are getting an `invalid client` error is cause the provided client can not be successfully authenticated, which could be due to a number of things:
1. The client requesting authorization `belajar` does not match the na

[2021-07-21 19:00] bibibiu2017 commented on #352
There is no reason why my application requires non-java 8 collection types. I guess I will just create a Jackson Mixin.

[2021-07-21 22:36] endymuhardin commented on #353
Hello @bibibiu2017
I have tested it again by injecting `PasswordEncoder` and changing client authentication method to `BASIC` instead of `CLIENT_SECRET_BASIC`. It is working successfully. Apparently I don't realize that RegisteredClient will use the existing `PasswordEncoder` when there is one already available. And I am not aware of bug #346 either.

I already merged your PR. Thanks a lot

[2021-07-21 22:36] #353 closed

[2021-07-22 08:04] jgrandja opened #364 "Use OAuth2Token in OAuth2Authorization"
Replace usages of `AbstractOAuth2Token` in `OAuth2Authorization` with `OAuth2Token`.

[2021-07-22 08:10] #364 closed

[2021-07-23 09:51] jgrandja opened #366 "Make Settings implementations immutable"
Make `*Settings` implementations immutable.

[2021-07-23 09:54] #366 closed

[2021-07-23 10:18] jgrandja opened #367 "Remove OAuth2RefreshToken2"
Remove `OAuth2RefreshToken2`

[2021-07-23 10:21] #367 closed

[2021-07-23 10:25] jgrandja opened #368 "Remove OAuth2ErrorCodes2"
Remove `OAuth2ErrorCodes2`

[2021-07-23 10:27] #368 closed

[2021-07-23 14:37] sjohnr commented on #352
Ok. If you can think of a way to specifically support `List.of`, `Set.of` in a Jackson module (e.g. not just generic `List`, `Set` support), while still compiling against Java 8 I'd be very interested. I'll leave this open for a bit and we can think about it, but I'm not currently sure it's worth doing until we drop support for Java 8, which would not be for some time I imagine.

[2021-07-23 14:51] jgrandja opened #369 "Extract constants from Settings implementations"
Extract constants from `*Settings` implementations.

[2021-07-23 14:53] #369 closed

[2021-07-24 10:51] bibibiu2017 opened #370 "Return registration_endpoint in OidcProviderConfigurationEndpointFilter"
**Describe the bug**
OpenId configuration metadata endpoint does not return registration endpoint even though dynamic client registration it was implemented in gh-189

**To Reproduce**
http://auth-server/.well-known/openid-configuration
returns

[code]

**Expected behavior**
Should contain the client registration endpoint

[2021-07-26 13:46] TianLiangZhou opened #372 "ClientSecretBasicAuthenticationConverter method convert error return"
[code]

Parameter 3 should not be `ClientAuthenticationMethod.BASIC`, it should be `ClientAuthenticationMethod.CLIENT_SECRET_BASIC`

[2021-07-26 15:51] jgrandja commented on #372
@TianLiangZhou It was updated recently and is now [ClientAuthenticationMethod.CLIENT_SECRET_BASIC](https://github.com/spring-projects-experimental/spring-authorization-server/blob/5593208e616ab2977809c21ef74421e0966e8727/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/web/authentication/ClientSecretBasicAuthenticationConverter.java#L92).

[2021-07-26 15:51] #372 closed

[2021-07-27 08:28] jgrandja opened #374 "Introduce OAuth2AuthenticationValidator"
Introduce `OAuth2AuthenticationValidator` providing the ability to validate attribute(s) associated in an `Authentication`.

`OAuth2AuthenticationValidator` is initially used in `OAuth2AuthorizationCodeRequestAuthenticationProvider`, allowing for custom validation of Authorization Request parameters `redirect_uri` and `scope`.

[2021-07-27 08:33] #374 closed

[2021-07-27 08:59] jgrandja opened #375 "Remove Context.of()"
Remove `Context.of()`

[2021-07-27 09:04] #375 closed

[2021-07-28 08:55] jgrandja opened #376 "Provide configuration for authorization code generator"
Provide configuration for authorization code generator in `OAuth2AuthorizationCodeRequestAuthenticationProvider`.

[2021-07-28 08:59] #376 closed

[2021-07-28 10:02] jgrandja opened #377 "Provide configuration for refresh token generator"
Provide configuration for refresh token generator in `OAuth2RefreshTokenAuthenticationProvider` and `OAuth2AuthorizationCodeAuthenticationProvider`.

[2021-07-28 10:06] #377 closed

[2021-07-28 13:07] ovidiupopa91 opened #378 "Hash RegisteredClient client_secret on save"
Set `PasswordEncoder` in `JdbcRegisteredClientRepository.RegisteredClientParametersMapper` and use it to hash the `client_secret` before saving it.

[2021-07-28 13:11] GrmpfNarf commented on #347
Hi,
I've tried your solution and had the same issues and then I started digging.
The main problem is that Oracle does not allow condition comparision on LOBs.
[Documentation](https://docs.oracle.com/en/database/oracle/oracle-database/19/sqlrf/Comparison-Conditions.html#GUID-828576BF-E606-4EA6-B94B-BFF48B67F927)

Which means as long you are using LOBs to filter the tokens there will be no Oracle su

[2021-07-29 14:23] jgrandja opened #380 "Provide capability for customizing client authentication"
We should provide the capability to customize client authentication.

Related gh-139

[2021-07-29 14:29] #380 closed

[2021-07-29 17:23] #356 closed

[2021-07-30 13:54] jgrandja opened #382 "OAuth2ClientAuthenticationToken should support any type of credentials"
`OAuth2ClientAuthenticationToken` should support any type of credentials, e.g. `client-secret`, `Jwt`, `X509Certificate`, etc.

[2021-07-30 14:02] #382 closed

[2021-07-30 14:02] #296 closed

[2021-07-30 15:19] #378 closed

[2021-07-31 13:06] oridool opened #383 "IllegalStateException when using WebSecurityConfigurerAdapter"
**Describe the bug**
I'm not sure it is a bug, or maybe I'm doing something wrong.
I'm building an application that is both utilizing the authorization server, but also contains additional REST controller.
In that manner, I guess my app plays both the role of authorization server and resource server.

I've just upgraded to latest code of spring-authorization-server, it used to work for me in the p

[2021-08-02 04:49] edwardzjl commented on #383
Spring Security 5.4 adds support for publishing a SecurityFilterChain bean; but there is no clear way to order SecurityFilterChain beans and WebSecurityConfigurerAdapter beans. So you need to pick one or the other.

The problem is, you are configuring your REST endpoints inside an auth-server endpoint matcher.
(the `requestMatcher(endpointsMatcher)` line)

In order to achieve your goal, you can de

[2021-08-03 03:09] jacksoncastro opened #384 "Wrong JWT token sub attribute after second authentication"
**Describe the bug**

I have an environment composed of a SPA, a resource server and an authorization server using Spring's new library.
SPA authorizes using the Authorization Code + PKCE flow.

Lib versions:

`spring-boot-starter-parent: 2.5.2`
`spring-security-oauth2-authorization-server: 0.1.0`

I'm having a somewhat complex problem to explain, but come on.

During the first authorization of th

[2021-08-03 10:16] CaptainStevenRogers-ZZP opened #385 "The JDBC-based sample code does not work properly"
**Describe the bug**
When I run `'authorizationServer'`, `'resourceserver'` and `'client'` in the sample code, I found that I still jump back to the login page even after I log in with the correct account and password. But when I run the `'authorizationserver-custom-consent-page'`, the authorization process works correctly.

[2021-08-03 20:09] oridool commented on #383
@edwardzjl ,
Thank you very much for the detailed explanation!
I was able to configure spring security in both ways you mentioned and it works well for me.

Issue can be closed :)

[2021-08-03 20:09] #383 closed

[2021-08-04 03:30] robintian-bud opened #386 "Use the mobile phone number and verification code to log in"
**Expected Behavior**

  It is hoped that mobile phone number and verification code can be used for login in the future
**Current Behavior**

Most websites in China support the system login by using the mobile phone number and the verification code sent by the service provider. I hope it can be supported in the native framework. Before this, we need to extend the original framework in the developm

[2021-08-04 19:17] clgraf opened #387 "JdbcOAuth2AuthorizationService should not use Blob"
JdbcOAuth2AuthorizationService persists the tokens as Blobs (authorization_code_value, oidc_id_token_value, refresh_token_value and authorization_code_value).

It works great with H2 but I'm not sure if it works with Postgres (my case) or even another database.
Other point, it's harder to query the database directly, for maintenence or debugging. I'm not sure about performance.

All above fields c

[2021-08-05 09:36] eiswind commented on #292
@hofsa May I ask you to point me to an example with an Angular Client?
I try https://github.com/manfredsteyer/angular-oauth2-oidc/ but I desperatley fail at doing so.

[2021-08-06 08:59] luyanfeng commented on #386
之前用老项目扩展了下手机验证码登录，真的是好啰嗦啊。希望可以直接提供下。

[2021-08-06 11:02] edwardzjl commented on #386
This project aims to provide oauth support, basic authentication workflow is out of the project's scope.

You should open this issue to [spring security](https://github.com/spring-projects/spring-security)

[2021-08-07 10:27] vrapalis commented on #386
I am not expert of this project, but in spring you can customize many things, here you need custom login form and custom filter and authentication provider?

[2021-08-08 23:54] mikee commented on #385
I can replicate - swapping to the InMemoryRegisteredClientRepository to match the custom consent sample seems to fix it for me, so possibly an issue with the JDBC version

[2021-08-09 11:02] ovidiupopa91 opened #389 "Client secret double encoding issue when updating an existing registered client"
When an existing client is updated via `save()`, the client-secret is double encoded.

The `client_secret` should be checked if its already encoded or not. If its already encoded, it should not be encoded again.

[2021-08-09 13:38] jgrandja commented on #385
Thanks for the report @CaptainStevenRogers-ZZP.

This is now fixed via ea7c689

[2021-08-09 13:38] #385 closed

[2021-08-09 14:36] jgrandja commented on #386
Thanks for the suggestion @robintian-bud. However, @edwardzjl is correct, this project strictly focuses on OAuth and OpenID Connect support only.

Please see the following for further information:

- [spring-security#2603](https://github.com/spring-projects/spring-security/issues/2603)
- [spring-security#6842](https://github.com/spring-projects/spring-security/pull/6842)
- [spring-security-samples

[2021-08-09 14:36] #386 closed

[2021-08-09 14:54] jgrandja commented on #387
@clgraf We've aligned `JdbcOAuth2AuthorizationService` with [JdbcOAuth2AuthorizedClientService](https://github.com/spring-projects/spring-security/blob/006b9b960797d279b31cf8c8d16f1549c5632b2c/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/JdbcOAuth2AuthorizedClientService.java#L70) (in `spring-security-oauth2-client`) as they both use `blob` for storing token creden

[2021-08-09 14:54] #387 closed

[2021-08-09 15:16] jgrandja commented on #384
@jacksoncastro The current behaviour is correct. When the client performs the `client_credentials` grant flow, it is acting on behalf of itself NOT on behalf of the user (`authorization_code` grant flow). Therefore, the `sub` in the token when the `client_credentials` grant flow is performed will be the `client_id`.

Take a look at the `refresh_token` grant flow, as this might be what you need to

[2021-08-09 15:16] #384 closed

[2021-08-09 16:59] neblaz opened #390 "Authorization Server 0.1.2 - On startup The Apache Tomcat Native library could not be found using names"
I tried a Spring Security OAuth2 example from here
https://www.baeldung.com/spring-security-oauth-auth-server
https://github.com/Baeldung/spring-security-oauth/tree/master/oauth-authorization-server

and with 0.1.2 I get on startup an error
main] o.a.catalina.core.AprLifecycleListener   : The Apache Tomcat Native library could not be found using names...

as described here
https://stackoverflow.co

[2021-08-09 18:12] jgrandja commented on #390
Thanks for getting in touch @neblaz, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

It seems the issue is environment related. The [sample](https://github.com/spring-projects-experimental/spring-authorization-server/tree/main/samples/boot/oauth2-integration) runs witho

[2021-08-09 18:12] #390 closed

[2021-08-09 19:21] jacksoncastro commented on #384
After upgrading to version `0.1.2` the error no longer exists, even if it is a client request (SPA).

Detail any new request to `/oauth2/authorize` (`authorization_code`) returns the `sub` correctly with this new version.

So in that case who is with the correct behavior?

[2021-08-10 08:49] jgrandja opened #391 "Polish JwtEncoder APIs"
API and implementation updates to `JoseHeader`, `JwtClaimsSet` and `NimbusJwsEncoder`.

[2021-08-10 08:52] #391 closed

[2021-08-10 13:28] jgrandja opened #392 "Validate redirect_uri on dynamic client registration"
Validate `redirect_uri`(s) when a client is dynamically registered via `OidcClientRegistrationAuthenticationProvider`.

[2021-08-10 13:34] #392 closed

[2021-08-11 18:18] ddubson opened #393 "Cancel consent button does not submit form"
**Describe the bug**

On the sample project: `spring-security-samples-boot-oauth2-integrated-authorizationserver-custom-consent-page`, upon landing on the custom consent page, the 'Cancel' button does not submit the consent form, but rather clears all form elements, as it is set to `type=reset`. This issue also extends to the default consent page as defined in `OAuth2AuthorizationEndpointFilter` c

[2021-08-12 05:18] jacksoncastro opened #394 "Refresh Token Flow failed in anonymous browsing"
**Describe the bug**

The authorization server generates a session cookie which is blocked during `refresh token`  flow

**To Reproduce**

I have an environment composed of a SPA, a resource server and an authorization server using Spring's new library.
SPA authorizes using the Authorization Code + PKCE flow.

Lib versions:

`spring-boot-starter-parent`: `2.5.2`
`spring-security-oauth2-authorizati

[2021-08-12 10:45] xlizju commented on #205
Hi,

When will this feature be implemented? I tried to use id_token as my response_type but 400 Bad Request was returned

[2021-08-13 08:56] jgrandja opened #395 "Move OAuth2AuthorizationCode"
Move `OAuth2AuthorizationCode` to `org.springframework.security.oauth2.core`.

[2021-08-13 08:58] #395 closed

[2021-08-16 11:44] hofsa commented on #292
@eiswind I used the "angular-oauth2-oidc" - library from the link you mentioned. I followed the steps on the project-page and was able to get the client up-and-running without any problems. Maybe you should use another authorization-server first. I used the one from OKTA.

[2021-08-16 16:59] Basit-Mahmood opened #397 "Getting error java.lang.IllegalArgumentException For Authorization Code flow with JDBCUserDetailService, JDBC Registered Client and JDBCAutjorization Service: The class with pk.training.basit.jpa.entity.UserPrincipal and name of pk.training.basit.jpa.entity.UserPrincipal is not in the allowlist."
**Describe the bug**
With JDBCUserDetailService, JdbcRegisteredClientRepository with AuthorizationGrantType.AUTHORIZATION_CODE and JdbcOAuth2AuthorizationConsentService. While fetching the token will result in following error

`java.lang.IllegalArgumentException: The class with pk.training.basit.jpa.entity.UserPrincipal and name of pk.training.basit.jpa.entity.UserPrincipal is not in the allowlist

[2021-08-17 09:41] jimrinhealthcare commented on #397
You should be able to add a mixin for your class as follows in your auth server config:

[code]

[2021-08-17 14:03] jgrandja opened #398 "Disable Oidc client registration by default"
The `OidcClientRegistrationEndpointFilter` should be disabled by default, as this helps enforce secure defaults.

[2021-08-17 14:13] #398 closed

[2021-08-18 09:00] hoanghuycptqt opened #399 "Not support change client domain and got CORS error"
**Describe the bug**
Access to XMLHttpRequest at 'http://localhost:9090/oauth2/token' from origin 'http://localhost:8080' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: Redirect is not allowed for a preflight request

**To Reproduce**
I try to setup client is a Angular app at:  http://localhost:8080  and call the POST method to get token: http://l

[2021-08-18 11:42] xpp1109 opened #400 "请问使用文档在哪"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Sample**

A link to a GitHub repository with a [minimal, reproducible sample](https://stackoverflow.com/help/minimal-reproducible-example).

Reports that include a sample will take prior

[2021-08-18 13:48] jgrandja commented on #393
Thanks for the report @ddubson.

The Cancel button should clear the checkboxes and then submit. It only resets at the moment as I haven’t gotten around to adding the javascript to perform that action. Would you be interested in submitting a PR for this?

[2021-08-18 17:41] jgrandja opened #401 "Replace stream usage with for loops"
Replace `stream()` usage with `for` loops. See [spring-security#7154](https://github.com/spring-projects/spring-security/issues/7154)

[2021-08-18 17:54] #401 closed

[2021-08-18 19:23] jgrandja opened #402 "Use OAuth2AuthenticationException(String errorCode)"
Prefer usage of `OAuth2AuthenticationException(String errorCode)` vs. `OAuth2AuthenticationException(OAuth2Error error)`.

[2021-08-18 19:27] #402 closed

[2021-08-18 20:05] jgrandja opened #403 "Update to Spring Framework 5.3.9"
Update to Spring Framework `5.3.9`

[2021-08-18 20:06] jgrandja opened #404 "Update to Spring Security 5.5.2"
Update to Spring Security `5.5.2`

[2021-08-18 20:06] jgrandja opened #405 "Update Reactor to 2020.0.10"
Update Reactor to `2020.0.10`

[2021-08-18 20:07] jgrandja opened #406 "Update to Spring Boot 2.5.3"
Update to Spring Boot `2.5.3`

[2021-08-18 20:08] jgrandja opened #407 "Update to jackson-bom 2.12.4"
Update to jackson-bom `2.12.4`

[2021-08-18 20:09] jgrandja opened #408 "Update to nimbus-jose-jwt 9.10.1"
Update to nimbus-jose-jwt `9.10.1`

[2021-08-18 20:16] #403 closed

[2021-08-18 20:16] #404 closed

[2021-08-18 20:16] #405 closed

[2021-08-18 20:16] #406 closed

[2021-08-18 20:16] #407 closed

[2021-08-18 20:16] #408 closed

[2021-08-18 23:59] jgrandja opened #409 "Authorization failure should not clear current Authentication"
The current `Authentication` should not be cleared if an authorization attempt fails.

[2021-08-19 00:08] #409 closed

[2021-08-19 02:24] Benzenes opened #410 "Can I find the 0.2.0 release version in the maven center?"
Can I find the 0.2.0 release version in the maven center?
![image](https://user-images.githubusercontent.com/22295395/129997496-3bfca339-15e0-4f05-b245-be33ae6abeb7.png)

[2021-08-19 07:10] xialugui commented on #400
目前官方只提供了几个例子：https://github.com/spring-projects/spring-authorization-server/tree/main/samples/boot/oauth2-integration

还有这个可以参考：

https://gitee.com/xialugui/implementing-domain-driven-design/tree/master/identity-access/src/main/java/cn/xialugui/identityaccess/infrastructure/oauth2

https://segmentfault.com/a/1190000040357845

[2021-08-19 07:22] xialugui commented on #410
lasted version has been published 6 hours,  plz wait.
![image](https://user-images.githubusercontent.com/14935553/130025168-28d61012-2867-4a0d-a953-dc8a473051b1.png)
![image](https://user-images.githubusercontent.com/14935553/130025185-6e51356f-f7c8-4d0c-84ff-fd3a6dba8a52.png)

[2021-08-19 07:33] xpp1109 commented on #400
目前我也没有发现文档，并且0.2.0版本的jar在公共maven仓库上并没有上传，想用的话得自己用源码打包。或者等几天吧，没准过几天官方就上传了。

[2021-08-19 07:54] xialugui commented on #400
我试了下，0.1.2有很多问题，可以研究研究。

[2021-08-19 08:48] jgrandja commented on #400
@xpp1109 I'm going to close this since no description has been provided. Please log a new issue with a detailed description in english please.

[2021-08-19 08:48] #400 closed

[2021-08-19 13:47] #410 closed

[2021-08-19 14:27] jgrandja commented on #410
@Benzenes The index might not have been updated yet, hence why you are not seeing it in the search.

It has been published -> https://repo1.maven.org/maven2/org/springframework/security/spring-security-oauth2-authorization-server/

[2021-08-20 01:18] Benzenes commented on #410
thx,I have seen it, and the dependency download is worked for me.

[2021-08-20 07:09] Ynnck123 commented on #399
Have you tried to add the following to your SecurityFilterChain?

`OAuth2AuthorizationServerConfiguration.applyDefaultSecurity(http.cors().and())`

[2021-08-20 07:17] hoanghuycptqt commented on #399
I need to disable csrf and it worked
`http.csrf().disable().cors().and()`

[2021-08-20 07:52] Ynnck123 opened #412 "Encoded secret doesn't match BCryptPattern for "/oauth2/token""
**Describe the bug**
Since version 0.2.0 introduced automatic encoding of the client secret, I experience a bug that that the encoded secret doesn't match the Bcrypt Pattern when I set BCryptPasswordEncoder with 10 rounds as passwort encoder bean.

**To Reproduce**
Set password encoder bean
[code]

Set raw secret e.g.:

[code]

Set breakpoint in the BCryptPasswordEncoder `matches()` method.

Run t

[2021-08-20 08:12] Ynnck123 commented on #412
**Update**:
I managed to solve the problem by manually assigning the password encoder to the `RegisteredClientParametersMapper` in the declaration of the `RegisteredClientRepository` bean.

Assuming the password encoder is provided like in my example from the original post via:

[code]

[code]

Nevertheless, I was assuming the underlying passwordEncoder would automatically get fetched by the provi

[2021-08-20 10:02] GrmpfNarf opened #413 "Token not found in Oracle Databases solution"
https://github.com/spring-projects/spring-authorization-server/blob/8e8979af60d3c8396e8a29bda63b4750bdc94a3e/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/JdbcOAuth2AuthorizationService.java#L256

Is it possible to change this line to
`PreparedStatementSetter pss = new LobCreatorArgumentPreparedStatementSetter(getLobHandler().getLobCreator(), pa

[2021-08-20 11:00] GrmpfNarf opened #414 "Seperate JWT Token generation"
**Expected Behavior**
It would be nice when the JWT Token generation from ``OAuth2ClientCredentialsAuthenticationProvider`` and ``OAuth2AuthorizationCodeAuthenticationProvider`` is moved to a sperate class so I can reuse it e.g. for an custom AuthenticationProvider
**Current Behavior**
Currently the JWT Token generation for the Access Token is inside the ``authenticate`` method of the both classes

[2021-08-20 12:39] #413 closed

[2021-08-20 12:40] GrmpfNarf commented on #413
I have overseen that i also edited the filter so this request does not solves the issue.

[2021-08-20 12:42] GrmpfNarf commented on #413
If someone looks at this again maybe it is possible to implement the 3 enhancement suggestions in #347

[2021-08-20 13:42] jgrandja commented on #205
@xlizju I think it will be implemented in `0.2.1` or `0.2.2`.

[2021-08-20 14:30] jgrandja commented on #397
@jimrinhealthcare Thanks for providing the sample configuration !

@Basit-Mahmood Since `pk.training.basit.jpa.entity.UserPrincipal` is defined by your application, it needs to be explicitly configured in `ObjectMapper`. This [sample configuration](https://github.com/spring-projects/spring-authorization-server/issues/397#issuecomment-900148920) is exactly how you would go about configuring it alon

[2021-08-20 14:30] #397 closed

[2021-08-20 14:45] jgrandja commented on #394
@jacksoncastro

It's not clear to me the issue you are having. It seems that the SPA was able to obtain the initial access token:

But it fails when it tries to refresh the access token after it expires.

If this is a CORS issue then you wouldn't be able to obtain the access token to begin with since the `/oauth2/token` endpoint is called in both flows.

To better understand your application setup

[2021-08-20 14:51] jgrandja commented on #399
@hoanghuycptqt I'm going to close this since this is a misconfiguration issue in the user application.

[2021-08-20 14:51] #399 closed

[2021-08-20 14:59] jgrandja commented on #412
@Ynnck123 Since your application configures `JdbcRegisteredClientRepository`, it also needs to be configured with the `BCryptPasswordEncoder`, as you have done.

I'm glad you figured it out. I'll close this.

[2021-08-20 14:59] #412 closed

[2021-08-20 15:14] jgrandja commented on #414
Thanks for the report @GrmpfNarf.

Hiding the `Jwt` token generation in the `AuthenticationProvider`'s was intentional. However, the plan is to introduce an interface, e.g. `OAuth2TokenIssuer`, which can support any type of token. We'll soon be introducing opaque token support which will trigger some re-factoring.

Rest assured, the `Jwt` token generation will be extracted into a re-useable compon

[2021-08-20 16:04] sjohnr commented on #352
@bibibiu2017, I'm going to close this issue based on what we discussed. If you have any ideas please feel free to add a comment. If it becomes a bigger issue, we can take a look and reopen if needed.

[2021-08-20 16:04] #352 closed

[2021-08-21 12:08] kubboadam opened #415 "OAuth2 implicit flow"
**Describe the bug**
Hello.
Maybe it is a stupid question, but I would like to ask, if "OAuth2 implicit flow" is supported by "spring-authorization-server".
I tried to set ".authorizationGrantType(AuthorizationGrantType.IMPLICIT)" for my registered client, but the flow always end with HTTP 500 Error. I know that this grant type is marked as deprecated, but I expected that it will work.

**To Repro

[2021-08-21 15:22] dfcoffin commented on #415
@kubboadam The Authorization Server project will not be providing support for the Implicit grant as it is deprecated and removed from OAuth 2.1.  However, customization capability has been added (see [gh-139](https://github.com/spring-projects/spring-authorization-server/issues/139)).

[2021-08-22 12:22] 403Unauthorized opened #416 "New Feature: password grant type"
** Feature Request **
I noticed that there are only `authorization_code`, `client_credentials` and `refresh_token` for grant type. Will you plan to add `password` to grant type?

[2021-08-23 03:23] xialugui commented on #416
The Resource Owner Password Credentials grant is omitted from this specification,
see https://oauth.net/2.1/

[2021-08-23 06:02] srempfer commented on #416
If you need it for your custom authorization server, perhaps the issue #343 helps you to implement it

[2021-08-23 06:09] 403Unauthorized commented on #416
Thanks!

[2021-08-23 08:50] GrmpfNarf opened #417 "Allow adding an AuthenticationProvider and AuthenticationConverter"
**Expected Behavior**
IT would be nice if we just can add a single (or multiple) AuthenticationProviders/AuthenticationConverters and not override the default ones.
**Current Behavior**
Currently I'm just able to use the default ones OR custom ones but I cannot mix. When I want to use the default ones and just want to add a custom one I have to copy the initalisation of the default ones:
Example:

[2021-08-24 02:47] sjohnr commented on #416
Thanks for the request, @403Unauthorized. I'll go ahead and close this issue as a duplicate. See #343 for context.

[2021-08-24 02:47] #416 closed

[2021-08-24 06:14] #415 closed

[2021-08-24 06:15] kubboadam commented on #415
Thank you for the answer

[2021-08-24 06:18] opcooc commented on #417
`
        authorizationServerConfigurer
                .tokenEndpoint(tokenEndpoint -> tokenEndpoint
                        .accessTokenResponseHandler(customAuthenticationSuccessHandler())
                        .errorResponseHandler(customAuthenticationFailureHandler())
                        .accessTokenRequestConverter(new DelegatingAuthenticationConverter(

[2021-08-24 06:18] opcooc commented on #417
`
        authorizationServerConfigurer
                .tokenEndpoint(tokenEndpoint -> tokenEndpoint
                        .accessTokenResponseHandler(customAuthenticationSuccessHandler())
                        .errorResponseHandler(customAuthenticationFailureHandler())
                        .accessTokenRequestConverter(new DelegatingAuthenticationConverter(

[2021-08-24 06:19] opcooc commented on #417
`        authorizationServerConfigurer
                .tokenEndpoint(tokenEndpoint -> tokenEndpoint
                        .accessTokenResponseHandler(customAuthenticationSuccessHandler())
                        .errorResponseHandler(customAuthenticationFailureHandler())
                        .accessTokenRequestConverter(new DelegatingAuthenticationConverter(
                                A

[2021-08-24 06:19] opcooc commented on #417
https://github.com/spring-projects/spring-authorization-server/pull/343

[2021-08-24 06:59] 403Unauthorized opened #418 "Support of WebFlux"
** Purpose**
Are you planning to add support for WebFlux?

I'm currently using Spring WebFlux in my application, so I really need that support.

**Expected**
If you've already had support for it, can you please refer me a doc to it?

If not, I want to be a part of contributor for this enhancement if you are planning to do it.

[2021-08-24 12:48] jgrandja commented on #418
@403Unauthorized Closing as duplicate of gh-152. See [comment](https://github.com/spring-projects/spring-authorization-server/issues/152#issuecomment-727957644)

[2021-08-24 12:48] #418 closed

[2021-08-25 10:08] xpp1109 opened #419 "unsupport password grant_type?"
the response error is :
{
    "error_description": "OAuth 2.0 Parameter: grant_type",
    "error": "unsupported_grant_type",
    "error_uri": "https://datatracker.ietf.org/doc/html/rfc6749#section-5.2"
}

[2021-08-25 10:10] xpp1109 commented on #419
grant_type:  authorization_code、client_credentials is ok, others is not ok

[2021-08-25 12:44] jgrandja commented on #419
Thanks for explaining @ovidiupopa91 !

[2021-08-25 12:44] #419 closed

[2021-08-27 14:02] vladimir-cirkovic opened #420 "Authorization server can't run on PostgresSQL out of the box"
**Expected Behavior**
Plug and Play postgres database.

**Current Behavior**
_JdbcOAuth2AuthorizationService_ doesn't allow changing of _authorizationRowMapper_, _authorizationParametersMapper_ to support usage of databases which doesn't have **blob** type. When those mappers are changed, objectMapper return following issue
`The class with org.springframework.security.ldap.userdetails.LdapUserDeta

[2021-08-30 08:10] vladimir-cirkovic commented on #420
Here is my draft code

Changed SQL table
`CREATE TABLE oauth2_authorization (
			id varchar(100) NOT NULL,
			registered_client_id varchar(100) NOT NULL,
			principal_name varchar(200) NOT NULL,
			authorization_grant_type varchar(100) NOT NULL,
			attributes varchar(4000) DEFAULT NULL,
			state varchar(500) DEFAULT NULL,
			authorization_code_value varchar(2000) DEFAULT NULL,
			authorization_cod

[2021-08-30 10:01] ovidiupopa91 commented on #389
hi @jgrandja . I was on PTO last 2 weeks. I am back now, ready for work.

I have one question: is the `upgradeEncoding` method from the `PasswordEncoder` enough to check if the presented password should be encoded or not?
As far as I am aware, there's no straightforward way to check if a value is encoded or not.

[2021-08-30 11:11] ovidiupopa91 commented on #420
hi. This is the default behavior. `JdbcOAuth2AuthorizationService` is aligned with [JdbcOAuth2AuthorizedClientService ](https://github.com/spring-projects/spring-security/blob/006b9b960797d279b31cf8c8d16f1549c5632b2c/oauth2/oauth2-client/src/main/java/org/springframework/security/oauth2/client/JdbcOAuth2AuthorizedClientService.java#L70)(in `spring-security-oauth2-client`) as they both use blob for

[2021-08-31 07:09] vladimir-cirkovic commented on #420
Thanks, I saw mentioned issues, this one is enhancement which I think may be useful to have it.

There is workaround for this, just maybe to consider adding the better way to override behavior, this way I had to take a lot of code from JdbcOAuth2AuthorizationService in order to have working solution.

[2021-08-31 12:10] ggrujic opened #422 "Annotate RegisteredClient with @Entity for custom jpa, crud etc. repository use"
**Expected Behavior**
As a developer, I want to use some regular repository methods such as findAll and build some custom repository methods.

**Current Behavior**
There is no way to build JpaRepository, CrudRepository, etc. because it is failing on:
`java.lang.IllegalArgumentException: Not a managed type RegisteredClient` because there is no annotation as an Entity.

**Context**
I'm building my o

[2021-08-31 15:51] bschoenmaeckers commented on #422
You should extend the RegisteredClientRepository and implement your own findAll methods as discussed in this issue: #325. Nevertheless I don't think that making RegisteredClient an Entity is a bad idea.

[2021-08-31 17:31] jgrandja commented on #389
Hey @ovidiupopa91. I'll get back to you later this week. I'm just in the middle of preparing for our SpringOne presentation. Thanks.

[2021-09-01 05:57] ovidiupopa91 commented on #389
Good luck with your presentation @jgrandja . I am sure it will be great 😃

[2021-09-01 09:39] luyanfeng opened #423 "使用password 模式时，clientSecret值的验证逻辑是否有问题"
**Describe the bug**
1. JdbcRegisteredClientRepository 保存clientSecret时行进了encode()(会有‘{bcrypt}’）

2. 我在用密码模式 获取token时，发现没有过滤{bcrypt}就进行了比较，结果返回： Encoded password does not look like BCrypt。

![image](https://user-images.githubusercontent.com/5779510/131648661-25f64774-302e-42c6-8eda-71834f6486a5.png)
![image](https://user-images.githubusercontent.com/5779510/131648688-089199aa-d709-44e4-8143-fea6cc0

[2021-09-01 14:08] asterisk360-admin opened #424 "Code Exchange error"
Hello

I'm trying to exchange the code at token endpoint but this message is responded:
**{  "error": "invalid_client"  }**

I enable the secuity debug for find more information about the error cause:
logging.level.org.springframework.security=DEBUG
logging.level.org.springframework.security.web.FilterChainProxy=DEBUG

There is other option to enable specific debug in the auth server filter?

****

[2021-09-01 16:38] imtiazShakil opened #425 "GET /messages/ received 401 when sample Authorization Server works also as sample Resource Server"
**Describe the bug**
I want to merge resource server into authorization server as my ultimate goal is to create a [userinfo endpoint](https://openid.net/specs/openid-connect-core-1_0.html#UserInfo) which will be used by client for getting user information.

To include resource server inside authorization server I tested with sample application provided. Everything works except when I want to retre

[2021-09-01 20:13] asterisk360-admin commented on #297
Add a "**response_type=jwtCookie**" in the authorize endpoind can be helpfull for javascript applications with common domain (currently very used)

This cookie can be added using HTTP-only, SameSite and Secure options.

[2021-09-02 03:03] robintian-bud commented on #386
@jgrandja @edwardzjl  thanks a lot

[2021-09-02 04:22] xenoterracide opened #426 "Authorization Code Flow with PKCE"
https://auth0.com/docs/authorization/flows/authorization-code-flow-with-proof-key-for-code-exchange-pkce#how-it-works

Is this supported? Trying to use this for my test suite, but auth0 is going to be my real production? If it's not supported, is it planned? I was doing some code autocompletion, but I didn't see it as an option, but I might be looking for the wrong thing, or in the wrong place.

I

[2021-09-02 06:07] sionguo commented on #423
如果你自己定义了passwordEncoder这个bean，就要把自定义的放到参数映射里面
[code]

[2021-09-02 06:12] luyanfeng commented on #423
那我当前这么写是不是有问题的：
[code]

[2021-09-02 06:33] luyanfeng commented on #423
多谢，确实是

[2021-09-02 06:33] #423 closed

[2021-09-02 13:06] jimreader commented on #426
Yes, this is in and working. See `org.springframework.security.oauth2.server.authorization.authentication.OAuth2ClientAuthenticationProvider`

[2021-09-02 13:18] jimreader commented on #420
The ObjectMapper issue can be resolved by creating a mixin for `LdapUserDetailsImpl` and then setting it on the ObjectMapper in the `OAuth2AuthorizationService ` as described in [this comment](https://github.com/spring-projects/spring-authorization-server/issues/397#issuecomment-900148920)

[2021-09-02 16:25] imtiazShakil commented on #425
Here is the exception stack trace that I get from sample client application:
[code]

[2021-09-02 17:10] asterisk360-admin commented on #424
Related with #159

[2021-09-02 17:30] #425 closed

[2021-09-02 18:55] jgrandja commented on #389
@ovidiupopa91

No, this wouldn't be the method to call to determine if it's encoded.

Take a look at `DelegatingPasswordEncoder.encode()` as it formats the encoding with a prefix as such:

`{bcrypt}$2a$10$x27xSzWVIdmj9bOTHk2STeQCGIiPZ0o2kOX1ewr.aFUOe2ohbnfxa`

This indicates that it's bcrypt encoded.

I think we could simply check for `{ }` to determine if it's already encoded.

FYI, I'm on PTO st

[2021-09-02 21:28] Basit-Mahmood opened #428 "In Oracle database 12C for Authorization Code flow. select * from oauth2_authorization where authorization_code_value = 'xxx' is giving error"
**Describe the bug**
I am using oarcle database 12C. In original oauth2_authorization table. attributes column is of type varchar. I changed it to clob. The authorization saved in database fine. But when tried to find the oauth2_authorization  by token. The following query makes

`SELECT id, registered_client_id, principal_name, authorization_grant_type, attributes, state, authorization_code_value

[2021-09-03 03:12] Ravis22 opened #429 "Authorization code flow not working if consent is false for client"
**Describe the bug**
Authorization code flow not working if **consent is false** for client when requesting token.

**To Reproduce**

Get the authorization code using below get request in browser:
Update the hosts file to map
127.0.0.1        auth-server

http://auth-server:9000/oauth2/authorize?grant_type=authorization_code&client_id=client&client_secret=secret&redirect_url=http://my-server:8080/

[2021-09-03 03:53] asterisk360-admin opened #430 "Auth Flow Programmatically"
Hi everyone

I'm looking to perform the authentication flow through an internal process (Programmatically)

It's possible to extend or create a custom authorize process?

Thanks

[2021-09-03 06:54] octopusthu opened #431 "authenticationDetailsSource of OAuth2TokenEndpointFilter should be customizable"
**Expected Behavior**

The `authenticationDetailsSource` field of `OAuth2TokenEndpointFilter` should be made customizable by removing the final modifier from the field and adding a setter method for it. This would allow richer information other than just the IP address and session ID to be included in an authentication request.

[code]

**Current Behavior**

The `authenticationDetailsSource` field

[2021-09-03 07:27] octopusthu commented on #431
Further, if `OAuth2TokenEndpointFilter` could be made non-final, it should provide a protected method to build authentication details, instead of directly building it in the `doFilterInternal` method. This is what `UsernamePasswordAuthenticationFilter` does in Spring Security.

[code]

This would allow greater flexibility when using the class. For example, in certain scenarios if a developer would

[2021-09-03 09:27] Basit-Mahmood commented on #428
I tried it to change the data type of `authorization_code_value varchar2(4000) DEFAULT NULL,`. Originally it was blob, I changed it to `clob`. But with both `blob` and `clob` at database level error is coming. I changed it to `varcahr2` to see if it works. But at database level it works. But now in the code. I am getting the following exception `org.springframework.jdbc.UncategorizedSQLException:

[2021-09-03 09:50] Basit-Mahmood commented on #428
Also I noted that all the constants in `JdbcOAuth2AuthorizationService` are private. I override the `findByToken()` method and I need to declare all the constants and findBy() method which is private in this class. Instead of it if there is a way to just modify the `private static final String AUTHORIZATION_CODE_FILTER = "authorization_code_value = ?";` then I can simply change this constant to `p

[2021-09-03 10:58] Ravis22 commented on #429
On debugging noticed that when consent is not needed in that case while creating the OAuth2Authorization state value is not saved, but when requested for token in that case the state value is expected

[2021-09-03 13:46] asterisk360-admin commented on #430
Resolved with information at #343

https://github.com/Basit-Mahmood/spring-authorization-server-password-grant-type-support

It would be great if this is included in the standar package without having to do an extra implementation

[2021-09-03 13:46] #430 closed

[2021-09-03 14:50] spring-projects-issues commented on #394
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2021-09-03 14:50] #394 closed

[2021-09-03 15:31] sjohnr commented on #430
@asterisk360-admin, thanks for the feedback and glad you found an answer. I would also encourage you to look into `client_credentials` grant, as it sounds possibly like an option for you.

It's not something we have a sample of currently, but if you want to authenticate normal users with a chosen client using `client_credentials`, you can implement a `RegisteredClientRepository` that delegates to

[2021-09-03 15:59] sjohnr commented on #207
See [this minimal implementation](https://github.com/sjohnr/spring-authorization-server/blob/springone-2021/samples/boot/oauth-security-topics/honest-sso/src/main/java/com/example/honest/config/FormPostResponseModeAuthenticationSuccessHandler.java#L44) as a starting point.

[2021-09-04 06:50] Ravis22 commented on #429
I have got it working now. Issue was the the flow

[2021-09-04 06:50] #429 closed

[2021-09-04 21:38] hannsl commented on #420
Technically the only thing that would need to be done is to use TYPES.BINARY instead of TYPES.BLOB. This is already possible for the save method, but the findBy method doesn't provide a hook for us to substitute BINARY for BLOB. Please consider providing some form of hook to allow us to to do so.

[2021-09-05 04:25] ufkl opened #432 "Refreshed access token is inactive after token revocation"
**Describe the bug**
After revoking access token, any new access token generated by exchanging refresh token is invalid.

Artifact: spring-security-oauth2-authorization-server
Version: 0.2.0

**To Reproduce**
1. Initiate authorization code flow
2. Exchange authorization code with access token & refresh token
3. Invoke token invocation API using access token
4. Generate new access token by exchangi

[2021-09-06 08:11] ufkl commented on #432
Or maybe we should look at why we still allow to exchange refresh token for new access token?

[2021-09-06 12:31] larsw commented on #59
What's the status for this feature?

[2021-09-07 12:37] nickmelis opened #434 "After upgrading 0.1.0 -> 0.2.0, 401 when hitting /oauth2/authorize"
**Describe the bug**
I have upgraded my application to the latest release (0.2.0), and since then I've noticed that all the calls to `/oauth/authorize` fail with a 401 status code. If I'm not mistaken, the previous behaviour was a plain redirect to the login page if not authenticated, and a plain redirect to `redirect_uri` when user is authenticated. Something has changed in between the two versio

[2021-09-08 09:36] tofdragon opened #435 "OAuth2AuthorizationService Using redis store OAuth2Authorization, using json serialize"
**Expected Behavior**
no error

**Current Behavior**
An error was reported when using JSON serialization

**Context**
version :  0.2.0

[code]

[2021-09-08 23:38] fwollsch opened #436 "Make OAuth2AuthorizationConsent customizable"
**Expected Behavior**
When sending additional parameters from a consent-form, these additional parameters should by accessable by User-Code.
The OAuth2AuthorizationConsent should be customizable by a user-definable component before being passed to the OAuth2AuthorizationService.

**Current Behavior**
When sending additional parameters from a consent-form, these additional parameters are present in

[2021-09-09 02:05] jymot opened #437 "OAuth2TokenEndpointConfigurer custom AuthenticationProvider"
**Expected Behavior**
I want to add a custom `AuthenticationProvider`through the `authenticationProvider` method of `OAuth2TokenEndpointConfigurer`, and I want to keep the `AuthenticationProvider` provided by default.

**Current Behavior**
If I add a new `AuthenticationProvider` I cannot keep the default`AuthenticationProvider`, because I see the following code from `OAuth2TokenEndpointConfigurer`

[2021-09-09 15:02] sjohnr commented on #434
Hi @nickmelis, thanks for the report. Would you be able to provide a more concrete sample? The provided code leaves a few things out, for example `new ClientAuthenticationMethod(...)`. You'll want to make sure that you have provided a complete [minimal, reproducible sample](https://stackoverflow.com/help/minimal-reproducible-example).

[2021-09-09 15:16] sjohnr commented on #435
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to the re-posted question (so that other people can find it) or add a [minimal sample](https://stackoverflow.com/help/minimal-reproducible-example) tha

[2021-09-09 15:16] #435 closed

[2021-09-09 15:29] sjohnr commented on #434
@nickmelis, one additional thing to check. It looks like you're importing the default configuration using `@Import` which does not add form login support. Instead try the following:

[code]

[2021-09-09 15:39] sjohnr commented on #424
Hi @asterisk360-admin, thanks for the report.

You can try enabling trace logging in Spring Security via: `logging.level.org.springframework.security=TRACE`. This will not increase the output from the Spring Authorization Server project, but it should point you at the filter that is the problem (likely the `OAuth2TokenEndpointFilter`).

Note that there are quite a few validation checks in that fil

[2021-09-09 15:39] #424 closed

[2021-09-09 15:42] nickmelis commented on #434
Hi @sjohnr, thanks for the reply. I have updated my first comment in regards to ClientAuthenticationMethod. I generally use "basic". Also, I am indeed `@Import` -ing `OAuth2AuthorizationServerConfiguration`, and then defining my formLogin in the `defaultSecurityFilterChain` method. It used to work with the previous 0.1.0 version, so I'm not quite clear if something has changed in the meantime.
I'l

[2021-09-09 19:26] sjohnr commented on #434
There are in fact a number of things that have changed. Using "basic" is now deprecated, as we have constants for `ClientAuthenticationMethod.CLIENT_SECRET_BASIC` => "client_secret_basic", etc. that are used instead. I'm not sure the difference in behavior between 0.1.0 and 0.2.0, but I would encourage you to start fresh from the samples available in this project with 0.2.0 and build back up from

[2021-09-10 09:39] yangyaofei commented on #422
Needed!  Working with spring-data-elasticsearch,  this drive me crazy ..........

[2021-09-10 16:14] sjohnr commented on #422
Hi @ggrujic, thanks for the suggestion.

This framework is designed to be independent of technologies like Spring Data. However, you're welcome to use them in your own implementations.

You can implement the interface and provide this functionality by mapping/delegating to a custom repository. Here is a gist which could get you started: [JpaOAuth2AuthorizationService](https://gist.github.com/sjohn

[2021-09-10 16:14] #422 closed

[2021-09-10 18:16] asterisk360-admin commented on #430
@sjohnr  Thanks really appreciate this new option.

At this time I'm trying to register this new DaoRegisteredClientRepository but can't find any example.

The current examples show the inMemory way:

@Bean
public RegisteredClientRepository registeredClientRepository() {
       return new InMemoryRegisteredClientRepository(clientx);
}

is any way to configure this custom clientRepository.

Thanks

[2021-09-10 22:12] sjohnr commented on #420
Hi @vladimir-cirkovic, thanks for your interest in the project. As @ovidiupopa91 mentioned, our current approach is to provide a standard sql implementation using JDBC, which is also consistent with the corresponding component in Spring Security. We will however take your feedback under advisement, so thanks for providing it.

You may also be interested in implementing this using Spring Data. See

[2021-09-10 22:12] #420 closed

[2021-09-10 22:24] sjohnr commented on #428
Hi @Basit-Mahmood, as mentioned in this [comment](https://github.com/spring-projects/spring-security/issues/8539#issuecomment-631030998):

Your comments show that you've made some good progress customizing for yourself. However, if you're still having trouble, take a look at `JdbcOAuth2AuthorizationServiceTests.tableDefinitionWhenCustomThenAbleToOverride()`, which provides a test on how to overrid

[2021-09-10 22:24] #428 closed

[2021-09-10 22:46] sjohnr commented on #426
Hi @xenoterracide, thanks for your interest in the project. As @jimreader mentioned it is supported during client authentication. It is not required by default, so if you're using a public client, you may want to look at making it required on the `RegisteredClient.Builder`, e.g.

[code]

I'm going to close this, but if there's anything specific you're having trouble figuring out, feel free to add

[2021-09-10 22:46] #426 closed

[2021-09-11 22:25] xenoterracide commented on #426
Thanks guys, I'll see if I can't work it out here soon. It just wasn't an obvious API from what was shared in the blog post.

Can't wait for the reference documentation 😊😉

[2021-09-12 14:10] Sm0keySa1m0n opened #438 "OAuth2 token introspection assuming issuer claim is present"
**Descrition**
In `OAuth2TokenIntrospectionAuthenticationProvider::withActiveTokenClaims`, `jwtClaims.getIssuer().toExternalForm()` is called but `JwtClaimAccessor::getIssuer` can be null therefore a `NullPointerException` is thrown when the issuer claim is not present.

**To Reproduce**
By default no issuer claim is appended to the JWT claims, therefore this problem occurs with the default author

[2021-09-13 01:29] yangyaofei commented on #422
@sjohnr  hi, I don't think that create a new class is a good idea, it's like copy source code from this project. And if the code is changed, that code should be changed by hand.

**There is a way to use `RegisteredClient` without any extra support**, is extend `RegisteredClient` and That subclass can add any annotation for JPA or other things, but `RegisteredClient` did not have a Constructor to n

[2021-09-13 10:11] nickmelis commented on #434
Ok, apparently what brought my authorisation server back to life was a combination of [@sjohnr 's comment](https://github.com/spring-projects/spring-authorization-server/issues/434#issuecomment-916205101), plus the fact that, when defining the `RegisteredClient`, the `clientSecret` now seems to have to go through `passwordEncoder`, which wasn't the case before:
[code]
Unfortunately I only realised

[2021-09-13 13:47] fyeeme commented on #434
@nickmelis  you saved my time!

just change

[code]
to
[code]

and the problem will be solved.

in fact  if  I debug `OAuth2ClientAuthenticationProvider`, I'll find why  this will happen

[2021-09-13 14:09] sjohnr commented on #434
Thanks @nickmelis. I'm going to close this, but feel free to add any additional clarifying comments if it's helpful in moving past this issue for other folks.

[2021-09-13 14:09] #434 closed

[2021-09-13 14:41] sjohnr commented on #430
Yep. You can use method injection and replace InMemory with a custom one:

[code]

[2021-09-14 05:33] lu-cheng commented on #306
I also have this problem. oauth2 solved the session problem, but now it has reintroduced the session problem. Can you consider abstracting the action of getting the code so that people with the same problem can solve the session problem through extension. At present, this action is integrated in the Filter and is not extensible.

[2021-09-15 11:04] jgrandja commented on #59
@larsw This is scheduled for `0.2.1` as indicated in the Milestone.

[2021-09-15 14:26] andifalk opened #439 "Support JSON Web Token (JWT) Profile for OAuth 2.0 Access Tokens"
**Expected Behavior**
There is a new IETF specification for [JSON Web Token (JWT) Profile for OAuth 2.0 Access Tokens](https://datatracker.ietf.org/doc/draft-ietf-oauth-access-token-jwt/) which has already been approved by the IESG and will be published as final RFC very soon.
This specification aims to provide a standardized and interoperable profile as an alternative to the proprietary JWT acces

[2021-09-15 15:12] sjohnr commented on #306
@lu-cheng does this commit (06ad211) associated with #376 apply to your question?

[2021-09-16 15:28] gsdukbh commented on #439
good , I'm really looking forward to it.

[2021-09-16 15:31] gsdukbh commented on #439
Recently, I have been thinking about how to use what I have to achieve the effect of JWT, but I am not very satisfied.

[2021-09-17 12:57] mrth1995 opened #440 "Support JPA to manage `RegisteredClient`"
Hello, can i get confirmation if `RegisteredClientRepository` supports JPA?

Looks like current implementation of authorization server is using `JDBCTemplate` to do operation related to RegisteredClient.

I would like to implement this authorization with my project that using JPA to manage data. If i use this implementations looks like i'll have two database connection, from JPA and JDBC and i don

[2021-09-17 20:46] sjohnr commented on #440
Hi @mrth1995, thanks for your interest in the project.

Per [this comment](https://github.com/spring-projects/spring-authorization-server/issues/422#issuecomment-917029019):

Do you have interest in working up a similar example for `RegisteredClientRepository`? Some of these types of "recipes" for implementation may be helpful for our upcoming documentation effort.

[2021-09-18 17:13] lu-cheng commented on #306
Can refer to this mechanism to separate Session？

``
 .../oauth2/authorize?...  -->  /login?client_id=...  -->  authenticate and codeflow  -->  /oauth2/consent?redirect_uri=...?code=...  -->  redirect_uri?code=...
``

state parameters can guarantee safety ...

[2021-09-20 09:13] Basit-Mahmood commented on #428
@sjohnr  Hi, Thanks for your response. I have done it.  I changed all the blob columns to clob in the database script. In-fact I also changed one varchar column to clob. I extend the JdbcOAuth2AuthorizationService. Override the findByToken() method. Adjust the blob parameters. Similarly customize the OAuth2AuthorizationParametersMapper and OAuth2AuthorizationRowMapper. Changed all the blob handlin

[2021-09-20 11:11] anoopgarlapati commented on #210
OAuth 2.0 Pushed Authorization Requests is now published as [RFC 9126](https://datatracker.ietf.org/doc/html/rfc9126).

[2021-09-20 13:29] sjohnr commented on #428
@Basit-Mahmood no problem, glad it helped! Thanks for the feedback.

[2021-09-20 13:40] sjohnr commented on #306
Hi @lu-cheng, I'm not quite following your question. I believe the commit I referenced is what you're looking for, as it introduces the ability to plug in a custom `authorization_code` generator. If you have a different enhancement suggestion, please open another issue and we'll take a look. If you have a question, please open a [Stack Overflow](https://stackoverflow.com/tags/spring-security) ques

[2021-09-21 19:55] jgrandja commented on #437
Closing as duplicate of #417

[2021-09-21 19:55] #437 closed

[2021-09-21 20:01] jgrandja commented on #438
@Sm0keySa1m0n Were you able to reproduce the `NullPointerException`? can you provide a test that demonstrates there is a bug?

[2021-09-22 02:57] lu-cheng opened #442 "Authentication should not rely on Security"
Should authentication and authorization be decoupled? Should it be decoupled from Spring Security?

[2021-09-22 05:27] santhosh1215 commented on #420
Congratulations to the core team for bringing out the Authorization server out !!! Even when we try to change the BLOB to the other supported datatypes like BYTEA / varchar, since the type conversion was strict, its not allowing to use other BLOB equivalent data types and its better the framework uses ORM specifications (JPA) so that most of the databases are supported.
Request the team to please

[2021-09-22 09:08] tofdragon commented on #435
@sjohnr
The problem is clear from the description, and it is easy to determine whether the problem is a bug or an enhancement. I did not flag the bug because it is not provided in the current version, but the original Spring Security supports Redis storage, so this should be an enhancement as well

[2021-09-22 10:30] Sm0keySa1m0n commented on #438
Simply introspect a token with no issuer claim and the exception will be thrown. (/oauth2/introspect)

[2021-09-22 12:46] suhasbhairav opened #443 "Role Mappings"
Dear Spring Developers,

I'd like to know if there is any possibility of incorporating roles for users in the coming spring security versions? For e.g., admin, normal-user, etc.

[2021-09-22 15:11] #432 closed

[2021-09-22 15:12] jgrandja commented on #432
Thanks for the report @ufkl ! This is now fixed via e4ce97b.

[2021-09-22 16:58] jgrandja opened #444 "Support JPA (other types of) repository implementations"
There have been a few requests to support JPA (other types of) repository implementations of `RegisteredClientRepository`, `OAuth2AuthorizationService` and `OAuth2AuthorizationConsentService`.

See gh-420, gh-422, gh-428, gh-440

This issue is to re-state that we will not be providing any further implementations for the following reasons:

1) `RegisteredClient`, `OAuth2Authorization` and `OAuth2Au

[2021-09-22 16:58] #444 closed

[2021-09-22 18:03] jgrandja commented on #420
@santhosh1215 Please see gh-444

[2021-09-22 19:14] jgrandja commented on #101
See sample implementation:
https://github.com/jgrandja/spring-authorization-server/commits/springone-2021

[2021-09-22 19:39] jgrandja commented on #442
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

[2021-09-22 19:39] #442 closed

[2021-09-22 19:42] jgrandja commented on #443
@suhasbhairav Can you please provide more detail. I'm not following your description.

[2021-09-22 19:51] jgrandja commented on #439
Thanks @andifalk ! We'll look at implementing this in one of the upcoming releases.

[2021-09-22 20:11] jgrandja commented on #436
Thanks for the report @fwollsch.

I understand that you're looking to customize the `OAuth2AuthorizationConsent` using input from `OAuth2AuthorizationCodeRequestAuthenticationToken`. Is my understanding correct?

[2021-09-23 07:42] fwollsch commented on #436
Hello @jgrandja ,

yes, exactly.

In my case it's the `OAuth2AuthorizationCodeRequestAuthenticationToken#getAdditionalParameters()` which contains all not explicitly mapped Parameters sent the `POST /oauth2/authorize`.

It doesn't have to be the `OAuth2AuthorizationConsentService` which receives these parameters. It can be a entirely new type of Component, if that fits the design better. It's just

[2021-09-23 10:37] #438 closed

[2021-09-23 10:38] jgrandja commented on #438
Thanks for the report @Sm0keySa1m0n. This is now fixed via 4ccdd2b.

[2021-09-23 12:08] jgrandja commented on #436
This makes sense @fwollsch.

I was expecting to introduce a `Customizer` component for `OAuth2AuthorizationConsent` at some point. It's very common to have different types of authority information presented to the user during consent, other than `scope`.

I will get to this shortly and propose a design that you can review and validate.

[2021-09-23 14:41] wsaca commented on #440
@sjohnr Before adding a new issue I would like to understand why redirectUri in RegisteredClient builder is mandatory only for AUTHORIZATION_CODE grant, was it a design decision? When I have multiple grants enabled I need to create a new RegisteredClient without redirectUris to avoid forcing the user to enter it.

[2021-09-23 15:11] sjohnr commented on #440
@wsaca if you don't mind, please go ahead and create a new issue directly related to that topic, and we can discuss it.

[2021-09-23 15:38] sjohnr commented on #417
Hi @GrmpfNarf, thanks for the suggestion. I've thought about this a bit, and I feel that focusing on **just** changing the `authenticationProvider(...)` method would make other customizations harder. For example, if we changed it to "add" instead of "replace" providers, we would have the opposite problem, e.g. "How do I replace them with only my own custom one?" etc.

Instead, one idea is that we

[2021-09-23 15:52] sjohnr commented on #431
@octopusthu thanks for the suggestions. I think we can definitely discuss allowing the `authenticationDetailsSource` to be customizable.

As far as removing `final` from the class, I will say that the filter follows the same pattern as that used in Spring Security, though perhaps there are some older implementations that aren't as consistent with that, such as the one you mentioned. If we were to

[2021-09-23 16:26] #393 closed

[2021-09-23 16:48] wsaca opened #445 "Make redirectUri optional in RegisteredClient"
**Expected Behavior**
RegisteredClient created with an empty redirectUris collection.

**Current Behavior**
RegisteredClient builder throws an error if authorization_code grant is specified and no redirectUri is added.

**Context**
I'm trying to create a RegisteredClient inside a custom JPA RegisteredClientRepository with optional redirect URI. If the RegisteredClient has an empty redirectUris col

[2021-09-23 18:02] #389 closed

[2021-09-23 18:36] sjohnr commented on #445
Hi @wsaca, thanks for opening this (related #440).

I'd like a little more info on this one. What is the context under which an empty collection of redirect uris would be present (in the database) such that you need to create a `RegisteredClient` with no redirect uris? Further, what would be the value of having that `RegisteredClient` around so that it can reject all attempts to authenticate using

[2021-09-23 20:50] wsaca commented on #445
Now we can create a `RegisteredClient` with multiple grants, but the redirect URI is not mandatory for all of them. The related database column in `JdbcRegisteredClientRepository` is nullable because its only required by the Authorization Code grant. The reason is to make easier the UI implementation avoiding to remember the relation between one specific grant and the redirect URI.

The request co

[2021-09-23 21:13] sjohnr opened #446 "Provide an easier way to configure an ObjectPostProcessor"
**Expected Behavior**

Using an `ObjectPostProcessor` should be as easy as possible, in order to allow less verbose and error-prone overrides or additional configuration of framework-provided components. Ideally, it would be possible with a lambda expression.

Given:

[code]

Perhaps we could provide a lambda expression with the target type in the signature. For example:

[code]

Or the alternate

[2021-09-23 21:30] sjohnr commented on #445
@wsaca, thanks for the response.

That definitely makes sense as an application concern. However, I'm not sure the framework should be changed to accommodate that type of downstream requirement. At some point prior to loading the data into Spring Authorization Server, I would expect the application to validate it and provide the end-user with a good experience around fixing the issue. That would b

[2021-09-23 21:30] #445 closed

[2021-09-24 08:01] suhasbhairav commented on #443
@jgrandja Thanks for getting back. For e.g., in Keycloak [(link)](https://www.keycloak.org/docs/latest/server_admin/) , we have the option of setting roles and role mappings that typically identify the category of the user in the Authorization server. An example would be Admin, user, manager, and employee. I was wondering if there is any plan to introduce something similar in Spring OAuth 2.1?

Th

[2021-09-24 09:37] jgrandja commented on #443
@suhasbhairav Spring Authorization Sever leverages Spring Security for Authentication and this is where you would configure custom mapping of roles for authenticated users.

For example, the [sample](https://github.com/spring-projects/spring-authorization-server/tree/main/samples/boot/oauth2-integration) is configured with `formLogin()` as the authentication mechanism and the configured [UserDetai

[2021-09-24 09:37] #443 closed

[2021-09-24 10:05] jgrandja commented on #446
I think this is a great idea @sjohnr that will allow for easier configuration.

I wonder if there is time to introduce this into Spring Security's `AbstractHttpConfigurer` before we release `5.6.0-RC1`? It seems like it would be a fairly straight forward addition?

[2021-09-24 14:12] sjohnr commented on #446
Absolutely! I'll look into that.

[2021-09-26 16:39] arfatbk opened #447 "Improvements to Key rotation logic"
As per my understanding, Currently, We can rotate keys in a way that all users will be logged out. (Please correct me if I am wrong)

## Context: RSA key pair (same can be applied to others)
# Proposal:

## Case 1: Force rotate

In case of attack detected (or any emergency), we should have an endpoint to completely delete existing keys and generate a new one. Users will be forced to log back in as

[2021-09-28 09:09] notbeenfound commented on #422
Hi! Why can't make org.springframework.security.oauth2.server.authorization.client.RegisteredClient interface (like org.springframework.security.core.userdetails.UserDetails)? What difficulties will arise?

[2021-09-28 12:49] nickcaballero commented on #439
Most of the required claims are there, except for client_id and jti.

[code]

[2021-09-28 15:26] igloo12 commented on #273
I am running to this same problem on the 0.2.0 release

[2021-09-28 23:37] sjohnr commented on #422
@notbeenfound can you clarify the question? Are you asking if `RegisteredClient` can be made into an interface?

[2021-09-29 06:39] notbeenfound commented on #422
@sjohnr, instead of the `RegisteredClient` class make an interface with getters, this will allow programmers to describe a stored class as they want.

[2021-09-29 14:45] sjohnr commented on #422
Thanks for the clarification, @notbeenfound.

[2021-09-30 10:27] octopusthu commented on #431
Hi @sjohnr , thanks for the reply! Yes I'm interested in working on this. I'll open a PR, then. :)

[2021-09-30 15:09] spring-projects-issues commented on #440
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-09-30 15:44] spring-projects-issues commented on #417
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2021-09-30 16:58] sjohnr commented on #417
Hi @GrmpfNarf, did you have a chance to review my comment above?

[2021-10-01 10:40] natami commented on #106
Any progress/timeline on this issue?

[2021-10-02 15:30] deejonz commented on #176
will this userinfo endpoint return the user authorities as well? i.e. roles
I tried the snapshot and I don't see them in the response

[2021-10-03 16:13] sundarvc opened #449 "WebFlux Resource Server"
Hi Team,

Can you let me know how I can modify the resource server to make it work with spring-webflux ?
I have an existing webflux resource server on which I want to enable oauth.

Thanks,
Sundar

[2021-10-04 14:33] sjohnr commented on #176
@deejonz, work on this endpoint has not been merged to main yet. In the PR, authorities would not be returned by default. However, the PR currently exposes a customization hook allowing you to provide your own mapper in which you could add anything you wish to the endpoint's response.

[2021-10-04 17:04] xenoterracide commented on #426
Can't wait for reference docs btw

[2021-10-04 20:56] sjohnr commented on #426
@xenoterracide, stay tuned! 📘

[2021-10-05 11:59] deejonz commented on #176
@sjohnr Hi, do you mean the userInfoMapper? Otherwise can you point me to this hook you're talking about? Thanks.

[2021-10-05 13:22] ddubson commented on #447
To add to this, the current logic states that there can only be one key-pair of a particular algorithm. For example, you can only have one RSA key-pair, but no more. At time of JWT signing, the JWK selection process short-circuits if it finds multiple keys of the same algorithm in the JWK Set. This limits the potential for graceful key rotation mechanisms, in which the system can be set up in such

[2021-10-05 13:37] Kehrlann opened #453 "Require code_verifier if code_challenge provided"
Current "requireProofKey" setting for clients is slightly unclear in the javadoc, it says:

## Current Behavior

### When requireProofKey = true:

- in the authorization code request
  - a `code_challenge` is REQUIRED
- in the token request
  - if the client is authenticated (e.g. through `client_secret`), then do not check the `code_verifier` (so the name "requireProofKey" is a bit misleading, it

[2021-10-05 13:58] sjohnr commented on #176
@deejonz, yes, that is the one.

[2021-10-05 17:43] ddubson commented on #447
After some discussions with @jgrandja and digging into the code, it's fully feasible to implement your own key rotation mechanism with the current release of spring-authorization-server. Here's an unofficial overview of the approach I took to do this:

Create your own implementation of `JWKSource` and wire it up as a bean in your spring-authorization-server application. `JWKSource` has a method to

[2021-10-05 18:01] deejonz commented on #176
thanks @sjohnr can you please give me an example how to call it? I really don't find a way.

[2021-10-05 20:11] sjohnr commented on #176
Hi @deejonz,

[This test](https://github.com/spring-projects/spring-authorization-server/pull/441/files#diff-d116d3a3d330e085ec1410d9e72110b26dc68d638ac76f065b46529b1daa351bR130) demonstrates it. Perhaps you're asking how to use the [configurer](https://github.com/spring-projects/spring-authorization-server/pull/441/files#diff-e4a2fecdce26e457dc385c5a320c95ded2c178d79d3e719876a2a99a6c49af22R77)? Y

[2021-10-05 20:26] sjohnr commented on #440
@mrth1995, check out [this gist](https://gist.github.com/sjohnr/0c6065d90d11a0f24bd3f15cbbaa8527) to see an example `JpaRegisteredClientRepository` implementation. I'm going to close this issue for now. Let me know if you have any feedback on the sample code.

[2021-10-05 20:26] #440 closed

[2021-10-05 20:34] sjohnr commented on #449
Hi @sundarvc, the [Spring Security project](https://github.com/spring-projects/spring-security/) has support for a webflux resource server. See [this sample](https://github.com/spring-projects/spring-security-samples/tree/main/reactive/webflux/java/oauth2/resource-server).

Were you perhaps intending to ask about a webflux authorization server? That question was asked in #152. See this [comment](h

[2021-10-05 20:34] #449 closed

[2021-10-06 02:08] fwollsch opened #454 "Not re-consented scopes are taken over from existing consent"
Disclaimer: I don't know for sure if this is a bug or wanted behavior.

**Describe the bug**
When a user already has given *some* consent for a client before and the client requests additional scopes via an authorization_code Flow and the user consents to less scopes than he originally had, the scopes from the existing consent will be saved regardless.

Even if the client didn't request its existi

[2021-10-06 20:02] deejonz commented on #176
Hi @sjohnr, it wasn't very straightforward but I managed to implement it, thanks a lot for our help!

[2021-10-07 04:05] bostandyksoft opened #455 "JdbcOAuth2AuthorizationService.findBy should use LobCreatorArgumentPreparedStatementSetter"
When service performs search authorization it used parameters Types.BLOB
When this type used in insert/update statements, code is working correctly, because parameters were processed by LobCreatorArgumentPreparedStatementSetter
But when calls method "findBy" with if branch, that used Types.BLOB, application raised exception, because ArgumentPreparedStatementSetter sets arrays of bytes.

there is j

[2021-10-08 08:01] deejonz commented on #176
Hi @sjohnr sorry another question, why don't you leave OidcUserInfoClaimsMapper free to be extended for this purpose?

[2021-10-08 11:18] jymot opened #456 "OAuth2AuthorizationCodeAuthenticationProvider Failed to inject ProviderSettings"
**Describe the bug**
`OAuth2AuthorizationCodeAuthenticationProvider` cannot inject `ProviderSettings`
[code]
`OAuth2AuthorizationCodeAuthenticationProvider` is instanced in `OAuth2TokenEndpointConfigurer` and is not injected into the container.

**Expected behavior**
Hope that after `OAuth2TokenEndpointConfigurer` instance `OAuth2AuthorizationCodeAuthenticationProvider`, manually call setProviderS

[2021-10-08 14:57] sjohnr commented on #176
Thanks for your interest, @deejonz. There are several reasons, but the primary reason is that we always start with implementations that are closed, and slowly open up things that make sense to once APIs stabilize.

If you have a specific use case you're trying to achieve with the User Info Endpoint, let's wait until we get this merged, and you can open an issue with a description of that use case

[2021-10-08 17:48] sjohnr commented on #273
@igloo12, the [sample in this repo](https://github.com/spring-projects/spring-authorization-server/blob/main/samples/boot/oauth2-integration/authorizationserver/src/main/java/sample/config/AuthorizationServerConfig.java#L62) works, so make sure you're configured similarly. Also, make sure your `redirect_uri` is configured with `127.0.0.1` and not `localhost`, like [this sample](https://github.com/

[2021-10-08 23:09] sjohnr opened #457 "Jackson throws IllegalArgumentException exception when loading OAuth2Authorization from JdbcOAuth2AuthorizationService"
**Describe the bug**

After requesting a token with the `client_credentials` grant type and a `scope` parameter in the request, received the following error from Jackson when using the `/oauth2/introspect` endpoint:

[code]

**To Reproduce**

1. Register `@Bean` `JdbcOAuth2AuthorizationService`
2. Obtain token using `client_credentials` grant with a `scope` parameter provided in the request (e.g.

[2021-10-08 23:11] sjohnr commented on #457
Note: The `OAuth2AuthorizationServerJackson2Module` does not have a mixin registered for `LinkedHashSet`. Works when I add:

[code]

[2021-10-09 02:26] jymot commented on #456
Of course, I have submitted PR.

[2021-10-11 01:46] zhenchuan9r opened #459 "Implement Password Auth Flow"
There are four standard auth flows in OAuth 2. But only AUTHORIZATION_CODE is implemented. Although password auth flow is said to be 'unrecommended', it is useful for extending other features and it is easy to be implemented. Thus I am requesting an implementation of this feature.

[2021-10-12 08:55] ChainFoxBot opened #461 "Authorization Code Flow needed to receive redirect_uri with urlEncode"
**Expected Behavior**
when sending params to `OAuth2AuthorizationEndpointFilter`, redirect_uri parameter needed to be urlencode.

**Current Behavior**
`OAuth2AuthorizationEndpointFilter` accept raw params and just directly match the redirect_uri on DB.
[code]

**Context**
[code]
`OAuth2AuthorizationRequestRedirectFilter` in this package don't encode redirect_uri either.

[2021-10-13 19:20] #459 closed, assigned to jgrandja

[2021-10-14 10:44] moccaplusplus commented on #461
Hi,
can I take this issue?
(It seems to be an easy starter - this would be my first commit in this project.)

[2021-10-15 21:51] metacubed opened #462 "Federated authentication using external identity providers"
Is it possible to configure the Spring Authorization Server to delegate authentication to an external identity provider?

When configured, the "/login" endpoint of the Spring Authorization Server would serve a page showing various login options:

- `[ Log in using a local user ]`
  - _`[ username ]`_
  - _`[ password ]`_
- `[ Log in using <Company> SSO ]`
- `[ Log in using Google ]`

Identity fede

[2021-10-16 09:57] #456 closed

[2021-10-18 09:32] #461 closed, assigned to jgrandja

[2021-10-18 10:11] jgrandja commented on #462
@metacubed Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

The quick answer is Yes, it is possible to configure multiple identity providers in order to federate authentication. However, this is a Spring Security concern, not Spring Authoriza

[2021-10-18 10:11] #462 closed

[2021-10-18 16:01] adakevms opened #463 "OAuth2AuthorizationServerConsentTests fails when trying to retrieve buttons"
This is my first time submitting an issue.  I hope I have followed the guidelines correctly. There was no need to submit a working example in this case, as the bug is reproducible as-is.

**Describe the bug**
The following lines fail in OAuth2AuthorizationServerConsentTests with a NullPointerException.
In whenUserConsentsToAllScopesThenReturnAuthorizationCode():

[code]

In whenUserCancelsConsentT

[2021-10-19 01:20] bostandyksoft commented on #455
Yes, I would

[2021-10-20 10:00] moccaplusplus commented on #461
Hi @jgrandja

as it occured that this is not a valid issue - maybe you could suggest an issue, not hard for first contribution.

Cheers, Tomasz

[2021-10-21 18:44] jgrandja commented on #461
@moccaplusplus There is some technical debt like this one in [OAuth2ClientAuthenticationFilter](https://github.com/spring-projects/spring-authorization-server/blob/7680505eedc2116d012f0f3598361a84e2a31c9d/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/server/authorization/web/OAuth2ClientAuthenticationFilter.java#L166). Are you interested in this one?

[2021-10-21 23:59] #455 closed

[2021-10-22 03:39] xialugui commented on #463
obviously your OAuth2AuthorizationEndpointFilter.java is not lastest:
![c4acab13f50498e3986f5398458bf09](https://user-images.githubusercontent.com/14935553/138389289-3b6cc190-56f3-423f-9afb-14b8904793a8.png)
there is my test:
![image](https://user-images.githubusercontent.com/14935553/138389530-2a078b80-8e30-4fa9-bc13-20449613b51e.png)
![image](https://user-images.githubusercontent.com/14935553/13

[2021-10-22 23:23] jackdpeterson opened #466 "password grant type unsupported, but constants exist when creating a registered client"
**Expected Behavior**
I'd expect one of two paths forward:
1. Spring Authorization Server should fully support the password grant (my personal preference for upgradability reasons from Spring OAuth2 to this Authorization Server) and retain ```AuthorizationGrantType.PASSWORD``` along with a deprecation warning about the constant that points to the [OAuth 2.0 best practice recommendation against usi

[2021-10-24 11:16] phuongdpham opened #467 "JdbcOAuth2AuthorizationService in postgresql cannot casting type `blob`"
Caused by: org.postgresql.util.PSQLException: Cannot cast an instance of [B to type Types.BLOB

When I set datasource to Postgres, then

`
private OAuth2Authorization findBy(String filter, List<SqlParameterValue> parameters) {
		PreparedStatementSetter pss = new ArgumentPreparedStatementSetter(parameters.toArray());
		List<OAuth2Authorization> result = this.jdbcOperations.query(LOAD_AUTHORIZATION_

[2021-10-25 10:10] jgrandja opened #468 "client_secret_basic authentication failures should return challenge"
As per section [3.2.3.1.  Error Response](https://datatracker.ietf.org/doc/html/draft-ietf-oauth-v2-1-04#section-3.2.3.1):

         client, no client authentication included, or unsupported
         authentication method).  The authorization server MAY return an
         HTTP 401 (Unauthorized) status code to indicate which HTTP
         authentication schemes are supported.  If the client attemp

[2021-10-25 10:49] pengliaoye opened #469 "org.springframework.security.ldap.userdetails.Person is not in the allowlist"
**Describe the bug**

using ldap login, Person class  jackson issue

**To Reproduce**
using LdapAuthenticationProvider

**Expected behavior**

**Sample**

A link to a GitHub repository with a [minimal, reproducible sample](https://stackoverflow.com/help/minimal-reproducible-example).

Reports that include a sample will take priority over reports that do not.
At times, we may require a sample, so i

[2021-10-25 19:29] #463 closed, assigned to jgrandja

[2021-10-25 19:50] #466 closed, assigned to sjohnr

[2021-10-25 19:58] #454 closed, assigned to jgrandja

[2021-10-26 02:46] #467 closed, assigned to sjohnr

[2021-10-26 03:10] #469 closed, assigned to sjohnr

[2021-10-28 01:20] DamianSheldon opened #472 "Add an OAuth 2 Provider sample"
**Expected Behavior**

A  sample show how to implement OAuth 2.0 Provider.
**Current Behavior**

The current sample is OpenID Connect Provider.
**Context**

I' m trying to implement an OAuth 2 Provider based on Spring Authorization Server to authentication microservice but not sure what is best practice.

[2021-10-28 08:40] ShannonHung opened #473 "401 when hitting /oauth2/token with PKCE authorization_flow"
Describe the bug
I want to implement PKCE flow in authorization server. I have already set `ClientSettings.builder().requireProofKey(true)`. After request with code_challenge and get the code. I use postman Post to `/auth2/token` with code_verifier.
The way to make code_verifier and code_challege is implemented from this video
https://www.youtube.com/watch?v=xEw5m1EV7ZY&t=1279s

However, when i wa

[2021-10-28 11:31] #473 closed, assigned to jgrandja

[2021-11-02 09:04] littlefisher666 opened #474 "How to config consent page with separation of front-end and backend?"
There is a sample to config the consent page, but I want to know how to config the consent page with separation of front-end and backend.
https://github.com/spring-projects/spring-authorization-server/blob/c7f01f07954d9ac26fca480dea2d1071f8a330ac/samples/boot/oauth2-integration/authorizationserver-custom-consent-page/src/main/java/sample/config/AuthorizationServerConfig.java#L56-L74

[2021-11-02 10:24] xialugui commented on #474
just replace the CUSTOM_CONSENT_PAGE_URI with absolute address which like https://www.baidu.com
[code]
also see my project:

https://github.com/xialugui/implementing-domain-driven-design/blob/7460518817aea330b97c08ceeb99cf0df7dfe34c/identity-access/src/main/java/cn/xialugui/identityaccess/infrastructure/oauth2/AuthorizationServerConfig.java#L49-L68

NOTE:
https://github.com/spring-projects/spring-

[2021-11-02 11:03] edwardzjl opened #475 "Delete registered client"
Currently RegisteredClientRepository exposes 3 methods, `save`, `findById` and `findByClientId`.

The problem is, once a client was created, there's no way to delete it. (Correct me if I'm wrong)

Should we add deletion support on the repository?

[2021-11-02 17:55] arfatbk opened #476 "Allow Token Revocation to be customized"
**Expected Behavior**
Successful refresh Token Revocation should provide a token blocklist implementation for all related access tokens. Or Raise an Event, which then can be consumed to implement a custom token blocklist.

**Current Behavior**
After Refresh Token revocation, the access token remains valid and can be used by OAuth2 Resource servers.

**Context**
If we go with the 'Event' approach,

[2021-11-02 19:48] jgrandja commented on #472
Thanks for getting in touch @DamianSheldon, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

**NOTE:** The current [sample](https://github.com/spring-projects/spring-authorization-server/tree/main/samples/boot/oauth2-integration) configures OAuth 2.0 `authorization_code`

[2021-11-02 19:48] #472 closed

[2021-11-03 02:38] #431 closed

[2021-11-03 03:21] littlefisher666 commented on #474
Oh my god. I'm sorry. I need config login page, not consent page.

[2021-11-03 04:29] xialugui commented on #474
@littlefisher666 there is a same way:
[code]
MOST IMPORTANT:
[code]
the loginPage's argument is string.
also see: https://docs.spring.io/spring-security/site/docs/current/reference/html5/#servlet-authentication-form

[2021-11-03 06:25] jackdpeterson opened #477 "Documentation topics to address for >=0.2.2"
This is a work-in-progress issue based on what I'm observing is non-obvious in my testing while implementing / upgrading the Spring Authorization server

### Useful information for Resource Servers
- [ ] End-to-end documentation from Authorities / scopes to Spring Security hasRole or hasPermission filters
Given an endpoint that supplies information about the authenticated principal, The authoritie

[2021-11-03 06:31] littlefisher666 commented on #474
I have another question. Why create two bean with SecurityFilterChain. One in `AuthorizationServerConfig` and another in `DefaultSecurityConfig`

[2021-11-03 06:58] xialugui commented on #474
@littlefisher666 there is no need to create two `SecurityFilterChain`, I'll fix it in my project.

[2021-11-03 08:10] littlefisher666 commented on #474
Thank you. I'm waiting for you.

[2021-11-03 08:46] xialugui commented on #474
@littlefisher666 done，see [this folder](https://github.com/xialugui/implementing-domain-driven-design/tree/master/identity-access/src/main/java/cn/xialugui/identityaccess/infrastructure/oauth2) and [the code](https://github.com/xialugui/implementing-domain-driven-design/blob/47c69295e0bf27dfe39662c2bba6c9aa7aad017d/identity-access/src/main/java/cn/xialugui/identityaccess/infrastructure/oauth2/Auth

[2021-11-03 09:07] littlefisher666 commented on #474
@xialugui perfect. I will have a look.

[2021-11-03 11:22] #453 closed

[2021-11-03 18:13] jgrandja commented on #474
@xialugui Thanks for all your comments!

Thanks for getting in touch @littlefisher666, but it feels like this is a question that would be better suited to [Stack Overflow](https://stackoverflow.com/). We prefer to use GitHub issues only for bugs and enhancements.

[2021-11-03 18:13] #474 closed

[2021-11-03 18:21] jgrandja commented on #475
@edwardzjl At the moment, there is no functionality requiring the ability to delete a `RegisteredClient`, hence, the reason why there is no `RegisteredClientRepository.remove()` operation.

This might be needed later if a feature requires it, but for now, it's not needed so we won't be adding it.

If you require delete capability, you can simply provide your own implementation of `RegisteredClient

[2021-11-03 18:21] #475 closed

[2021-11-03 20:53] gabydinu opened #478 "JdbcOAuth2AuthorizationService does not work with postgresql"
**Describe the bug**
When using JdbcOAuth2AuthorizationService with PostgreSQL database, blob columns in table should be defined as bytea.
When a request is provided to exchange authorization_code to authorization_token, method findByToken is called.

[code]
Which is calling _findBy_:
[code]

This way in PGPrepareStatement will break as it receive byte[] :
[code]
** Posible fix **
defining _findBy

[2021-11-04 02:41] lu-cheng opened #479 "Support resolving issuer from current request"
The current issuer needs to be set in the configuration, can it be changed to dynamic? Or change ProviderSettings to be extensible.
Refer：[ControllerLinkBuilder](https://github.com/spring-projects/spring-hateoas/blob/0.19.0.RELEASE/src/main/java/org/springframework/hateoas/mvc/ControllerLinkBuilder.java#L187-L231)

[2021-11-04 08:55] edwardzjl commented on #475
Extending `RegisteredClientRepository` sounds good to me, but I think `spring-authorization-server` should consider providing such function. As if a user found his client's credentials have been leaked, there's no way to disable (remove) the leaking client now.

[2021-11-04 09:06] ovidiupopa91 commented on #478
Hi. This was fixed in [455](https://github.com/spring-projects/spring-authorization-server/issues/455). commit [](https://github.com/spring-projects/spring-authorization-server/commit/33bac0f7c214bf63a36639084551b00642d341f9).

It will be released in `0.2.1`

[2021-11-04 09:08] gabydinu commented on #478
thank you

[2021-11-04 09:08] #478 closed

[2021-11-04 11:15] jgrandja commented on #475
@edwardzjl We are planning on adding a validation on whether a client is disabled before allowing access to a protected resource, e.g. /oauth2/token, /oauth2/revoke, /oauth2/introspect, etc.

[2021-11-04 13:57] jgrandja commented on #476
Thanks for getting in touch @arfatbk.

Spring Authorization Server does revoke the associated access token during a refresh token revocation (see [test](https://github.com/spring-projects/spring-authorization-server/blob/7680505eedc2116d012f0f3598361a84e2a31c9d/oauth2-authorization-server/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/authorization/OAuth

[2021-11-04 15:00] jgrandja commented on #479
@lu-cheng Can you provide more detail on why the issuer needs to be resolved at runtime? Typically, the issuer is a host/domain name and is known at configuration/deployment time. Are you resolving using IP address? Is this for non-production environment?

[2021-11-04 15:00] arfatbk commented on #476
Thanks for your response. I will look for references.

[2021-11-04 15:22] ovidiupopa91 opened #480 "Change blob datatype to varchar when saving Oauth2Authorization to the database"
Few issues were logged for `JdbcOAuth2AuthorizationService` as it does not work out of the box with PostgreSQL. Although customization is possible, we should change the schema from blob to varchar OR another standard SQL datatype that will work by default with PostgreSQL and most other databases

[2021-11-04 15:37] lu-cheng commented on #479
@jgrandja Yes, part of the reason is due to environmental issues. If the IP address is fixed, it can be solved by passing parameters at runtime, but when the IP changes frequently and there is no fixed domain name, it is difficult to deal with. The other case is multi-tenancy (saas product), each tenant uses a different subdomain, and the auth-server uses the same set of service instances. At this

[2021-11-04 16:02] arfatbk commented on #476
I am not able to find exact implementation by other providers. Closest I could manage is to route `revocation` request though Spring Cloud Gateway and on successful revocation, propagate the event to all resource servers.

Resource servers may store this in memory blacklist or Centralized cache.

I think this is interesting use-case. We certainly don't want to call OAuth server on each request to

[2021-11-04 19:42] jgrandja commented on #476
@arfatbk

I'll get back to you after I've thought of an approach to implement this.

[2021-11-04 19:45] jgrandja commented on #479
Thanks for the details @lu-cheng.
Let me think about this and I'll get back to you shortly.

[2021-11-04 19:53] arfatbk commented on #476
I'll be more than happy to contribute. Thanks

[2021-11-04 19:57] jgrandja commented on #476
Sounds good @arfatbk :+1:

[2021-11-04 20:51] colin-riddell opened #481 "RegisteredClient object doesn't deserialize without error"
**Describe the bug**
`RegisteredClient` isn't deserializing properly, and throwng an unexpected error

**To Reproduce**
Run this test in a spring boot application
[code]

The JSON object was created with this code: https://gist.github.com/sjohnr/0c6065d90d11a0f24bd3f15cbbaa8527

**Expected behavior**
I am not an expert, but I'd expect that object to deserialize correctly?

**Sample**

https://gist

[2021-11-04 20:59] sjohnr commented on #481
Hi @colin-riddell. I don't believe that you can deserialize complex objects like this one without mixins, due to nested JSON structures. We have `OAuth2AuthorizationServerJackson2Module` for this purpose.

If you run that test in a project with the authorization server dependency, you can register the mixin and try it again. See [OAuth2AuthorizationServerJackson2ModuleTests](https://github.com/spr

[2021-11-04 21:05] colin-riddell commented on #481
Ah, I wasn't aware of that. I'll give it a try and report back. Thanks

[2021-11-05 03:51] mbarringer opened #482 "OAuth2ClientAuthenticationToken should not be persisted across requests"
**Describe the bug**
Sometimes the server returns a 500 error with the message:

**To Reproduce**

I encountered the bug while testing a resource server in conjunction with a new Spring Authorization Server's authorization code flow. The API tool I use automatically does the OAuth2 authentication, using the same session cookie from last time when it gets a new token, and that then stops working du

[2021-11-05 09:35] jvalkeal commented on #479
It would be nice if `uri` could be resolved from request as my attempt to run server on k8s and them attempted to point my boot app(running locally) to it. I did modify my `/etc/hosts` to point issue to localhost so that I can access minikube nodeport but boot app blows up with:

[code]
When I had setting:
[code]
i.e. keycloak changes things in `.well-known/openid-configuration` based on request w

[2021-11-05 09:40] jgrandja commented on #479
Thanks for the additional details @jvalkeal. I'll resolve this soon.

[2021-11-05 10:50] colin-riddell commented on #481
Thanks @sjohnr After registering the mixin the error changes slightly to

 `Caused by: com.fasterxml.jackson.databind.exc.InvalidTypeIdException: Could not resolve subtype of [simple type, class org.springframework.security.oauth2.server.authorization.client.RegisteredClient]: missing type id property '@class'`

Perhaps `RegisteredClient` deserialization isn't supported by that custom jackson modu

[2021-11-05 14:24] sjohnr commented on #482
Thanks for the report, @mbarringer.

I was able to reproduce this with the existing sample, and created a reproducible collection in postman. I don't yet have a reason for the issue, so more research is needed. I feel this is an issue we will need to solve because it seems like it could happen in a public client like a single page application from the browser, which would conceivably be reusing co

[2021-11-05 14:39] sjohnr commented on #481
After registering the mixin, you'll get different JSON if you serialize it first. Thinking more about this though, I don't believe our mixin by itself is able to deserialize a `RegisteredClient`, as that's not the use case for it. It's designed for only attributes and metadata of the domain objects we persist via JDBC.

I'm assuming you're trying to serialize/deserialize the entire RegisteredClien

[2021-11-05 14:39] #481 closed

[2021-11-05 15:03] colin-riddell commented on #481
That's correct. Got the JPA stuff happening on another service, and experimenting with using Feign to retrieve the RegisteredClient. Wouldn't deserialization support for `RegisteredClient` be something handy to have in authorization-server?

 I've been investigating what the mixin is able to deserialize, and yes `RegisteredClient` isn't supported. So I've been having a stab at creating a `Registra

[2021-11-05 16:00] sjohnr commented on #481
Right, I don't see any problem with that. If you do create your own mixins, keep in mind you will have to share them in both places, as well as add the dependency on authorization server to your other service. It's often simpler to use your own pojo for data transport in these types of cases.

[2021-11-05 16:40] colin-riddell commented on #481
Looking at it again think it might be a little messy-er to have a custom pojo to replace the `RegisteredClient`, actually.

 Especially since the pattern on the authorization server side starts by creating a `RegisteredClientRepository`. I wanted to inherit from `RegisteredClientRepository` meaning that a `CustomClientRepository` doesn't need to duplicate types and can remain polymorphic. That way

[2021-11-05 17:38] sjohnr commented on #481
Hi @colin-riddell. The goal of this framework is to support a spec-compliant authorization server implementation. We have not yet come across a use-case for serializing the entire `RegisteredClient` to JSON. The pattern used in the framework is to store the `registeredClientId`, and use the `RegisteredClientRepository` to look up the `RegisteredClient` when needed. This provides applications with

[2021-11-06 04:16] ShannonHung commented on #383
i am curious how to configure AuthenticationManagerBuilder without extends WebSecurityConfigurerAdapter
[code]

[2021-11-06 06:58] ShannonHung commented on #163
i am curious how to configure AuthenticationManagerBuilder without extends WebSecurityConfigurerAdapter.
I am facing the same question about IllegalStateException when using WebSecurityConfigurerAdapter.
Because I want to use my own UserDetailsService. But i have no idea to set the userDetailsService by SecurityFilterChain.
[code]

[2021-11-06 15:53] amexboy opened #484 "Supported a post-processing the `OAuth2AuthorizationCodeRequestAuthenticationToken`"
**Expected Behavior**
Supported a pluggable way to post-process the `OAuth2AuthorizationCodeRequestAuthenticationToken` in `OAuth2AuthorizationEndpointFilter`

**Current Behavior**
No way to post-process the token

**Context**
I am trying to create a custom authorization code grant flow in which I show different login views based on the details in the authorization code. I also would like to valid

[2021-11-08 10:06] edwardzjl commented on #383
In my project I can config `AuthenticationManagerBuider` without extending `WebSecurityConfigurerAdapter` like this:

[code]

But I'm not sure whether it's the recommended way to do that.

[2021-11-08 19:11] jgrandja commented on #484
@amexboy You could post-process the `OAuth2AuthorizationCodeRequestAuthenticationToken` by setting a custom `AuthenticationConverter` via `OAuth2AuthorizationEndpointFilter.setAuthenticationConverter()`. The custom `AuthenticationConverter` could delegate to the default `OAuth2AuthorizationCodeRequestAuthenticationConverter` and then post-process the returned `OAuth2AuthorizationCodeRequestAuthent

[2021-11-08 19:11] #484 closed

[2021-11-08 19:26] amexboy commented on #484
@jgrandja I missed that one! That works very well for my case, thank you for your assistance!

[2021-11-09 11:01] jgrandja opened #485 "Restructure samples"
The samples need to be restructured.

[2021-11-09 11:06] #485 closed

[2021-11-10 02:25] muthu3107 commented on #480
👍🏻

Kindly address this issue, have tries customizing it, but not able to get the result as expected, tried with all suggested solutions.

Changing from blob to VARCHAR would make up for most standard sql databases.

[2021-11-10 03:40] littlefisher666 opened #486 "Can it be released on time on December 1, 2021?"
I can see on zenhub that the time set for version 0.2.1 is December 1. Can it be released on time? I hope to use oidc in my project.

[2021-11-10 19:16] jgrandja commented on #486
@littlefisher666 Yes, we're planning on releasing `0.2.1` on Dec 1.

[2021-11-10 19:16] #486 closed

[2021-11-10 19:39] jgrandja commented on #476
@arfatbk We could add `OAuth2TokenRevocationEndpointFilter.setAuthenticationSuccessHandler(AuthenticationSuccessHandler)`, which would provide the hook you're looking for. It would be a similar implementation as `OAuth2TokenEndpointFilter` and it's `OAuth2TokenEndpointConfigurer`. How does this sound?

[2021-11-10 23:26] haroldjcastillo opened #487 "How to select the value of 'alg' header based on the JWKSource?"
**Describe the bug**
I'm trying to change the `JWKSet`, instead of using `Jwks.generateRsa()` I want use `Jwks.generateEc()` but throws and exception `org.springframework.security.oauth2.jwt.JwtEncodingException: An error occurred while attempting to encode the Jwt: Failed to select a JWK signing key`

**To Reproduce**
Change the key of the bean `jwkSource()` to `ECKey rsaKey = Jwks.generateEc();`

[2021-11-11 03:08] enlightenedmouse opened #488 "Authorization server metadata is missing userinfo_endpoint"
**Describe the bug**
Now that the user info endpoint has been implemented, Issue #176; I believe the authorization server metadata (OidcProviderConfiguration) should also include the userinfo_endpoint.

[2021-11-11 05:01] arfatbk commented on #476
Cool. Sounds great.👍

[2021-11-11 10:11] arfatbk commented on #476
#490

@jgrandja Please review and suggest.
Thanks
This is my first contribution to Spring Framework

[2021-11-12 12:28] ovidiupopa91 commented on #480
hi @jgrandja. As we'll drop blob datatype for the various code values following constructor
[code]
should be flagged as deprecated? (as the `LobHandler` is not needed anymore when persisting or fetching the data)

[2021-11-12 12:44] ovidiupopa91 commented on #480
hi @jgrandja. Would you prefer to not use the `LobHandler` at all? I think we should still use it and write the values using `setClobAsString` and `getClobAsString` to read the data.  If `wrapasLob` is `false` (which is by default) it will delegate to getString and setString methods. If it's true, it will try to set a clob.

In this way, the schema can be changed to use something else than `varcha

[2021-11-12 16:44] jgrandja opened #492 "Allow subclassing OAuth2AuthenticationContext"
We should allow subclassing of `OAuth2AuthenticationContext`.

[2021-11-12 16:49] #492 closed

[2021-11-12 17:13] #436 closed

[2021-11-12 17:44] markhobson commented on #479
Another use case, related to #258, is being able to set the issuer to `local.server.port` when running integration tests against the authorization server. The `ProviderSettings` must be configured on application startup, but the random port isn't known until after startup.

[2021-11-12 20:38] jgrandja commented on #480
@ovidiupopa91 It doesn't look like Postgres supports CLOB? If `wrapasLob` is `false`, will it work for Postgres?

I don't mind keeping `LobHandler`, I just want to ensure the solution works for Postgres by default.

[2021-11-14 15:04] zf1976 opened #493 "Allow Token Introspection to be customized"
- How can I return the information of the custom token？

- code
[code]

- return
[code]

- should return
[code]

[2021-11-15 09:58] ovidiupopa91 commented on #480
@jgrandja  I did check and it works by default with Postgress when token values are defined as `varchar(1000)` in the oauth2-authorization-schema.
 The reason why I think it's a good idea to keep the `LobHandler` is that it will make life easier in extending the `JdbcOauth2AuthozarionService` if a DB that supports `clob` is used.
The only thing that needs to be done is to set `wrapAsLob` to `true`

[2021-11-15 20:51] jgrandja commented on #479
@lu-cheng @jvalkeal @markhobson This is now resolved via 666d569.

Can you please confirm the enhancement resolves your specific issue? Thanks!

[2021-11-15 21:22] jgrandja commented on #480
@ovidiupopa91

Please open a new issue for this fix. Thanks for catching that!

Just a heads up that I'm on PTO Nov 19-24 (inclusive) and have a couple of priority issues to resolve this week. I'll try to review this week but it may be when I return from PTO.

[2021-11-16 00:11] dallasvaughan opened #494 "Documentation links in README.adoc to Spring Security are broken"
In the **Documentation** section, the links to https://docs.spring.io/spring-security/site/docs/current/reference/html5/ return 404.

[2021-11-16 05:11] ovidiupopa91 opened #495 "Registration access token cannot be de-serialized when calling Client Configuration Endpoint"
Because the initial registration access token saves the authorized scope in a `SingletonSet` when calling the Client Configuration Endpoint the access token cannot be deserialized because there's no Mixin registered.

A new mixin and custom deserializer should be registered in `OAuth2AuthorizationServerJackson2Module`

[2021-11-16 05:12] ovidiupopa91 commented on #480
[495](https://github.com/spring-projects/spring-authorization-server/issues/495) raised to track the issue.

[2021-11-16 12:57] jgrandja commented on #495
@ovidiupopa91 Instead of

Changing `Collections.singleton()` to new `HashSet()` would be the easiest fix.

[2021-11-16 13:40] ovidiupopa91 commented on #495
@jgrandja that's true. This is how it was initially, but in your polish commit you've changed it and I think it makes sense to have an immutable `Set` here. I can change it to `Collections.unmodifiableSet`

[2021-11-16 13:52] jgrandja opened #496 "Deprecate PasswordEncoder in JdbcRegisteredClientRepository"
We should `@Deprecate` `PasswordEncoder` in `JdbcRegisteredClientRepository` as sensitive information (e.g. `client_secret`) should be encoded externally from the underlying implementation of `RegisteredClientRepository`.

[2021-11-16 13:56] #496 closed

[2021-11-17 03:14] littlefisher666 opened #498 "Allow JwtUtils,OAuth2EndpointUtils,and other utils to be use"
**Expected Behavior**
If I need to add new grant type, and have to use such as JwtUtils, I found the class not public.

I have to use the utils below:
`org.springframework.security.oauth2.server.authorization.authentication.JwtUtils`
`org.springframework.security.oauth2.server.authorization.web.authentication.OAuth2EndpointUtils`
`org.springframework.security.oauth2.server.authorization.authentica

[2021-11-17 09:51] jgrandja opened #499 "Add reference documentation"
This issue will serve to provide a content outline for the reference documentation.

Our goal is to avoid the "fluff" and only write content that will be valuable to our users and community. The only way to achieve this is too directly involve our users in driving out the content they want to see.

**We'll be prioritizing the "How-to" Guides based on upvotes.** Please log an issue for a new How-to

[2021-11-17 09:59] jgrandja opened #500 "Support opaque access tokens"
The currently supported format for access tokens is JWT. We should also support opaque access tokens.

Related gh-414

[2021-11-17 10:35] #494 closed

[2021-11-17 10:36] jgrandja commented on #494
Thanks for the report @dallasvaughan. This is now fixed.

[2021-11-17 11:10] jgrandja commented on #493
Thanks for the report @zf1976. At the moment, the Token Introspection endpoint cannot be customized. We will look at adding this support soon.

In the meantime, the JWT received by the Resource Server should be able to parse the claims and authorize on the `authorities`?

[2021-11-17 13:51] ufkl opened #501 "Support OpenID Connect 1.0 prompt=none parameter"
**Expected Behavior**
To support silent authentication on Authorization Code Flow with PKCE.
Reference: https://auth0.com/docs/login/configure-silent-authentication

**Current Behavior**
Single Page Application(SPA) is public client. As it can't hold secret, the SPA need integrate with Authorization Server using Authorization Code Flow with PKCE. When access token is expired, SPA need to redirect

[2021-11-17 14:35] amitkhurana92 opened #502 "Add user authorities and roles in Access Token"
**Expected Behavior**
The access token returned by the auth server should contain the authorities and roles which are provided to the specific user.

**Current Behavior**
I have created a below user

User
[code]
Client
[code]
The payload of the access token is

[code]
So it basically contains only the scope defined in the client and does not contain the roles and authorities (ADMIN, READ, WRITE) o

[2021-11-17 14:47] zf1976 commented on #493
Thanks for your advice.

[2021-11-17 15:26] jgrandja commented on #493
@zf1976 Just confirming that you no longer need this customization capability since you closed the issue?

[2021-11-17 16:12] jgrandja commented on #502
@amitkhurana92 You can customize the `Jwt` claims by registering a `@Bean` of type `OAuth2TokenCustomizer<JwtEncodingContext>`. This [test](https://github.com/spring-projects/spring-authorization-server/blob/d4357197c9673eb1c040938859c726beb3e4337c/oauth2-authorization-server/src/test/java/org/springframework/security/config/annotation/web/configurers/oauth2/server/authorization/OAuth2Authorizatio

[2021-11-17 16:12] #502 closed

[2021-11-18 05:31] zf1976 commented on #493
I needed to introspect the endpoint to verify whether the token was revoked, and based on the above problem, I found a solution to manually parse to obtain the AUTHORITIES attribute

[2021-11-18 05:32] zf1976 commented on #493
I want the endpoint to be able to return custom attributes

[2021-11-18 11:21] jgrandja commented on #493
@zf1976

Reopening and will look at adding this capability soon.

[2021-11-18 14:15] colin-riddell commented on #481
For anyone who finds this and wants to be able to deserialize RegisteredClient objects: https://gist.github.com/colin-riddell/b80dcd9f07a0a28850cd745b5efc519a

[2021-11-19 08:22] guo-jun-airwallex opened #503 "Missing state parameter in Authorization Consent request throws 500"
**Describe the bug**
If client not pass state when authorization, it throws 500 error when user click cancel button in consent page.

The error was throwed in OAuth2AuthorizationCodeRequestAuthenticationToken
[code]
![image](https://user-images.githubusercontent.com/89910782/142587857-2932d285-0278-4b80-8fdf-aeb3dad60351.png)
![image](https://user-images.githubusercontent.com/89910782/142587917-f4

[2021-11-19 12:40] markhobson commented on #436
Hi, I've just absorbed this change whilst testing 0.2.1 for another issue. I'm not using this customisation but my deny consent flow now breaks. This is due to [the change in OAuth2AuthorizationCodeRequestAuthenticationProvider](https://github.com/spring-projects/spring-authorization-server/commit/4ce999c01498d13c1c4c4580fd18b19a339eb485#diff-c9b8470e58b8678be868d91539ca2b6ee1033f6d2143849e2051e8d

[2021-11-19 13:02] markhobson commented on #479
Hi @jgrandja, thanks for the change! I've tried my authorization server integration tests against 0.2.1-SNAPSHOT and they work fine when omitting the explicit issuer configuration and infer the random port.

A couple of 0.2.1 related issues I encountered on upgrading, in case it helps others here:
1. #496 requires client secrets to be encoded externally
2. [Deny consent flow breaks when additional

[2021-11-19 16:05] Cesco94 opened #505 "Support password grant type"
Hello,
I tried to add `AuthorizationGrantType.PASSWORD` while building the `RegisteredClient` object, like this:

[code]

Using Postman, the error I get is:
[code]

Any plans for future baselines to support this grant type?
Thank you!

[2021-11-20 01:47] dattebayorob commented on #505
See #466

[2021-11-20 19:15] sharetute opened #506 "Table OAUTH2_REGISTERED_CLIENT not found when using JdbcOAuth2AuthorizationService with h2"
## Describe the bug

I try to use the JDBC implementation of the different services into the authorisation server config.
I'm facing a strange issue with JdbcOAuth2AuthorizationService. The table is well populated once the user is connected but I get an Exception :

`Caused by: org.h2.jdbc.JdbcSQLSyntaxErrorException: Table "OAUTH2_REGISTERED_CLIENT" not found; SQL statement:`

I don't know if it

[2021-11-20 21:58] sharetute commented on #506
The problem seems to be related to the H2 in memory database, it doesn't happen with a MySQL server.

[2021-11-22 09:08] Cesco94 commented on #505
I see, thank you. So it would be nice to remove the constant `AuthorizationGrantType.PASSWORD` to avoid misunderstanding. Thanks!

[2021-11-22 17:30] sjohnr commented on #436
Hi @markhobson. Thanks for bringing it up.

This is a bit tricky, because this feature of adding support for custom authorization consent is essentially making authorized scopes not required, which per the spec, they are not. Therefore, we are looking for either scopes or some additional parameters to be present to determine whether to process the request as a consent. I don't know of any other si

[2021-11-22 20:21] ledengesd commented on #383
@oridool Hi Ori, I'm facing a similar issue. I couldn't get my authorization server working with WebSecurityConfigurer. Do you mind sharing your WebSecurityConfigurer details for Authorization Server? Thanks and appreciate it.

[2021-11-23 01:09] lutics commented on #383
@ledengesd

[code]

[2021-11-23 02:08] edwardzjl commented on #506
Have you tried uncomment `spring.jpa.defer-datasource-initialization: true` in your configuration?

You may also want to check [this doc](https://docs.spring.io/spring-boot/docs/current/reference/html/howto.html#howto.data-initialization.using-basic-sql-scripts).

[2021-11-23 03:44] edwardzjl commented on #482
I ran into the same issue.

I found that there's some difference on the `attributes` column of the `oauth2_authorization` table between the fresh request of an access token (no session yet, and will succeed) and the following requests (which will fail).

The fresh request will persist attibures with `java.security.Principal` of `org.springframework.security.authentication.UsernamePasswordAuthentic

[2021-11-23 06:50] sharetute commented on #506
This option is used to generate the schema from entities with JPA before using the files schema and data Sql, but it is not the case here. I noticed that one of the samples use a Jdbc implementation with H2 and it works perfectly, so I'll check the differences more further to see what 's wrong in my config.

[2021-11-23 07:57] edwardzjl commented on #482
It seems that the `attributes` column is not properly (serialized and) deserialized. I'm interested in making a PR of this issue.

[2021-11-23 14:54] phuongdpham commented on #266
Hi @jgrandja,
Will we have logout endpoint at this moment?

[2021-11-23 16:53] sjohnr commented on #482
Thanks @edwardzjl. I believe that is likely the explanation for what's going on. Ultimately, there may be something we need to check to ensure consistency between requests, but I think it's reasonable for now to add the `OAuth2ClientAuthenticationToken` as a class that can be serialized. Take it away!

[2021-11-24 15:44] colin-riddell commented on #482
Hi folks. Using @sjohnr's `JpaOAuth2AuthorizationService` gist I'm getting a similar, but slightly different issue (de)serializing `OAuth2Authorization` objects:

[code]

I don't get why it's `JwtAuthenticationToken` that's coming up as the issue since I'm (to my knowledge) not using that domain object - and isn't it a resource server object?

Applying one or two of the mixins from @edwardzjl's PR

[2021-11-25 02:28] edwardzjl commented on #482
Thanks for the feedback. I opened #507 with code working in my project, but it may contain unnecessary mixins which the core team don't want. Once I have your guidance I'll improve the code and get this done. Thanks!

[2021-11-25 16:36] jgrandja commented on #266
@phuongdpham This issue is still on hold. Please see previous [comment](https://github.com/spring-projects/spring-authorization-server/issues/266#issuecomment-808166963) for additional details.

[2021-11-25 16:46] maio opened #508 "Claims with null value are not allowed"
There is an assert not null check in claims setter, but I have claims with null value. Any idea why is this prohibited? I tried to find something in spec, but couldn't find anything.

https://github.com/spring-projects/spring-authorization-server/blob/9053e3188dbc59163fccafc1e543752bb71b9f94/oauth2-authorization-server/src/main/java/org/springframework/security/oauth2/jwt/JwtClaimsSet.java#L165

T

[2021-11-25 16:47] jgrandja commented on #506
@sharetute

The [messages sample](https://github.com/spring-projects/spring-authorization-server/tree/main/samples) uses H2 (in-memory) as defined in the [configuration](https://github.com/spring-projects/spring-authorization-server/blob/main/samples/default-authorizationserver/src/main/java/sample/config/AuthorizationServerConfig.java#L108) and is working. The issue you are facing is likely a mis

[2021-11-25 16:47] #506 closed

[2021-11-25 17:02] sharetute commented on #506
Thanks, I will use your sample.

[2021-11-25 20:05] jgrandja commented on #505
Closing as duplicate of gh-343

[2021-11-25 20:05] #505 closed

[2021-11-25 20:16] jgrandja commented on #436
Thanks for the report @markhobson. We'll address this before we release `0.2.1` next week.

[2021-11-25 20:32] jgrandja commented on #503
@guo-jun-airwallex You are correct, the `state` parameter is not required in the Authorization Request, however, a **_different_** `state` parameter is required for the **Authorization Consent Request**.

The assertion check:

[code]

is applied against the Authorization Consent Request **NOT the Authorization Request**. FYI, the spec does not outline how to implement the Authorization Consent flo